## 初期設定

In [3]:
# --- Notebook初期設定 ---
%load_ext autoreload
%autoreload 2
import src.config as cfg
import src.data_loader as dl
import src.cleaning_utils as cu
print("🔁 autoreload 有効化完了")
import yaml
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
🔁 autoreload 有効化完了

In [4]:
# 設定読み込み
settings = cfg.load_settings("setting.yaml")
display(settings)

{'project_name': 'stock_screening_preproc',
 'data_path': './data',
 'years': [2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024,
  2025],
 'files': ['fy-balance-sheet.csv',
  'fy-cash-flow-statement.csv',
  'fy-profit-and-loss.csv',
  'fy-stock-dividend.csv'],
 'files_reference': ['CodeData.csv'],
 'na_values': ['-', '0', 'NaN', ''],
 'output': {'base_path': './output',
  'files': {'fy-balance-sheet.csv': 'all_fy-balance-sheet.csv',
   'fy-cash-flow-statement.csv': 'all_fy-cash-flow-statement.csv',
   'fy-profit-and-loss.csv': 'all_fy-profit-and-loss.csv',
   'fy-stock-dividend.csv': 'all_fy-stock-dividend.csv'}}}

## 本ファイルの説明
データが最低限の品質基準を満たしているかを迅速かつ網羅的に確認します。

### データのロードの確認

In [ ]:
# 財務データ 結合前
for file in settings["files"]:
    df = dl.load_data_by_files(settings["data_path"], settings["years"], file, [""])
    print(file, df[].shape)
    #display(df[year]["コード"].unique())
    display(df[year]["コード"].nunique())
    display(df[year]["年度"].nunique())

(3034, 8)

3034

12

(3101, 8)

3101

12

(3138, 8)

3138

12

(3220, 8)

3220

12

(3258, 8)

3258

12

(3321, 8)

3321

12

(3399, 8)

3399

12

(3479, 8)

3479

12

(3582, 8)

3582

12

(3652, 8)

3652

12

(3645, 8)

3645

12

(3618, 8)

3618

12

(3606, 8)

3606

12

(3606, 8)

3606

12

(3574, 8)

3574

12

(3846, 8)

3846

31

In [ ]:
# 財務データ ファイルごとの結合
df_DATAs_BY_FILEs = dl.load_yearly_data(settings["data_path"], settings["years"], settings["files"],)
for filename in df_DATAs_BY_FILEs:
    print(filename, df_DATAs_BY_FILEs[filename].shape)
    display(df_DATAs_BY_FILEs[filename])
    display(df_DATAs_BY_FILEs[filename]["コード"].unique())
    display(df_DATAs_BY_FILEs[filename]["年度"].nunique())

fy-balance-sheet.csv (63377, 10)

,コード,年度,総資産,純資産,株主資本,利益剰余金,短期借入金,長期借入金,BPS,自己資本比率
0,1301,2010/03,6.430100e+10,1.853800e+10,1.839100e+10,1.258900e+10,2.672400e+10,2.712000e+09,1651.87,28.1
1,1332,2010/03,3.839240e+11,7.956700e+10,6.976600e+10,3.253000e+10,1.146390e+11,1.069930e+11,231.06,16.0
2,1333,2010/03,1.136840e+11,2.443500e+10,NaN,NaN,NaN,NaN,NaN,21.5
3,1352,2010/03,1.196700e+10,5.439000e+09,5.268000e+09,1.561000e+09,NaN,4.970000e+08,628.95,44.0
4,1375,2010/03,3.208300e+10,6.318000e+09,6.307000e+09,3.056000e+09,NaN,7.786000e+09,1.62,19.0
...,...,...,...,...,...,...,...,...,...,...
63372,9993,2025/02,5.557700e+10,2.596900e+10,2.583000e+10,2.145900e+10,8.100000e+09,3.620000e+09,2407.43,46.7
63373,9994,2025/03,6.694200e+10,3.733000e+10,3.472400e+10,2.567000e+10,3.100000e+09,2.968000e+09,3251.97,52.7
63374,9995,2024/03,4.905900e+10,2.659300e+10,2.458000e+10,1.370700e+10,1.152400e+10,NaN,901.34,54.2
63375,9996,2025/03,3.559724e+10,2.626856e+10,2.616686e+10,2.431879e+10,6.830000e+08,NaN,3149.63,73.8
63376,9997,2025/03,3.124620e+11,1.416560e+11,1.401490e+11,1.189560e+11,2.484900e+10,1.028530e+11,1468.53,45.2

array(['1301', '1332', '1333', ..., '431A', '436A', '5016'],
      shape=(4461,), dtype=object)

188

fy-cash-flow-statement.csv (61550, 8)

,コード,年度,営業CF,投資CF,財務CF,設備投資,現金同等物,営業CFマージン
0,1301,2010/03,2.326000e+09,-4.515000e+09,1.142000e+09,NaN,2.672000e+09,1.60
1,1332,2010/03,3.355000e+10,-2.877100e+10,-1.568100e+10,-1.958800e+10,2.095200e+10,6.97
2,1352,2010/03,1.370000e+09,-2.205000e+09,-5.550000e+08,-1.985000e+09,8.240000e+08,3.78
3,1375,2010/03,3.434000e+09,-9.790000e+08,-1.597000e+09,-5.240000e+08,1.969000e+09,13.14
4,1376,2010/05,2.376787e+09,5.599700e+07,-1.082478e+09,-1.760820e+08,2.352426e+09,5.17
...,...,...,...,...,...,...,...,...
61545,9993,2025/02,3.317000e+09,-2.396000e+09,-1.200000e+09,-2.797000e+09,5.333000e+09,3.23
61546,9994,2025/03,2.807000e+09,-1.780000e+09,-1.977000e+09,-1.905000e+09,1.258800e+10,1.75
61547,9995,2024/03,-7.329000e+09,6.530000e+08,6.294000e+09,-9.200000e+07,5.219000e+09,-9.99
61548,9996,2025/03,-2.301360e+08,-3.780844e+09,-3.509370e+08,-8.860000e+08,7.221621e+09,-0.47
61549,9997,2025/03,9.689000e+09,-1.779200e+10,6.721000e+09,-1.522800e+10,3.621300e+10,4.60

array(['1301', '1332', '1352', ..., '431A', '436A', '5016'],
      shape=(4461,), dtype=object)

188

fy-profit-and-loss.csv (63366, 9)

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
0,1301,2010/03,1.457780e+11,2.180000e+09,2.550000e+09,1.086000e+09,99.38,6.02,1.69
1,1332,2010/03,4.815740e+11,6.227000e+09,6.174000e+09,4.400000e+07,0.16,0.07,0.01
2,1333,2010/03,1.749070e+11,NaN,-5.040000e+08,7.420000e+08,2.47,NaN,0.65
3,1352,2010/03,3.625300e+10,2.710000e+08,3.830000e+08,2.270000e+08,27.09,4.31,1.90
4,1375,2010/03,2.614000e+10,2.701000e+09,NaN,1.143000e+09,0.29,18.12,3.56
...,...,...,...,...,...,...,...,...,...
63361,9993,2025/02,1.025580e+11,-8.210000e+08,-4.070000e+08,-2.617000e+09,-242.76,NaN,NaN
63362,9994,2025/03,1.601640e+11,5.425000e+09,5.566000e+09,3.644000e+09,336.12,10.34,5.44
63363,9995,2024/03,7.336100e+10,8.620000e+08,1.067000e+09,9.940000e+08,34.93,3.74,2.03
63364,9996,2025/03,4.913719e+10,1.667976e+09,1.945411e+09,1.315196e+09,157.69,5.01,3.69
63365,9997,2025/03,2.108560e+11,1.188700e+10,1.325500e+10,8.797000e+09,91.24,6.23,2.82

array(['1301', '1332', '1333', ..., '431A', '436A', '5016'],
      shape=(4460,), dtype=object)

188

fy-stock-dividend.csv (55079, 8)

        コード       年度  一株配当        剰余金の配当        自社株買い     配当性向   総還元性向  純資産配当率
0      1301  2010/03  50.0  5.290000e+08          NaN    48.71    48.7     NaN
1      1332  2010/03  10.0  2.764000e+09    3000000.0  6281.82  6288.6     NaN
2      1352  2010/03  20.0  1.670000e+08          NaN    73.57     NaN     NaN
3      1375  2010/03   0.1  2.970000e+08  264000000.0    25.98    49.1     NaN
4      1376  2010/05  19.0  1.982400e+08     277000.0    20.20    20.2     NaN
...     ...      ...   ...           ...          ...      ...     ...     ...
55074  9993  2025/02  27.0  2.910000e+08          NaN      NaN     NaN     1.1
55075  9994  2025/03  54.0  5.960000e+08          NaN    16.10     NaN     1.7
55076  9995  2023/03  12.0  3.120000e+08          NaN    35.10    35.1     1.4
55077  9996  2025/03  45.0  3.502930e+08     196000.0    28.50    28.5     1.5
55078  9997  2025/03  29.0  2.386000e+09  345000000.0    31.80    35.7     2.0

[55079 rows x 8 columns]

array(['1301', '1332', '1352', ..., '7409', '7709', '9168'],
      shape=(4275,), dtype=object)

188

In [ ]:
# 財務データ　全結合
df_ALL_DATAs = dl.merge_all_data(df_DATAs_BY_FILEs)
print(df_ALL_DATAs.shape)
#display(df_ALL_DATAs)
display(df_ALL_DATAs["コード"].unique())
display(df_ALL_DATAs["年度"].nunique())

(78079, 29)

array(['1301', '130A', '1332', ..., '9995', '9996', '9997'],
      shape=(4461,), dtype=object)

188

In [ ]:
# 上場企業の情報
df = dl.load_code_list_info(settings["data_path"], settings["files_reference"][0])
print(settings["files_reference"][0], df.shape)
display(df)

CodeData.csv (4403, 10)

,日付,コード,銘柄名,市場・商品区分,33業種コード,33業種区分,17業種コード,17業種区分,規模コード,規模区分
0,20250930,1301,極洋,プライム（内国株式）,50,水産・農林業,1,食品,7,TOPIX Small 2
1,20250930,1305,ｉＦｒｅｅＥＴＦ ＴＯＰＩＸ（年１回決算型）,ETF・ETN,-,-,-,-,-,-
2,20250930,1306,ＮＥＸＴ ＦＵＮＤＳ ＴＯＰＩＸ連動型上場投信,ETF・ETN,-,-,-,-,-,-
3,20250930,1308,上場インデックスファンドＴＯＰＩＸ,ETF・ETN,-,-,-,-,-,-
4,20250930,1309,ＮＥＸＴ ＦＵＮＤＳ ＣｈｉｎａＡＭＣ・中国株式・上証５０連動型上場投信,ETF・ETN,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
4398,20250930,9991,ジェコス,プライム（内国株式）,6050,卸売業,13,商社・卸売,7,TOPIX Small 2
4399,20250930,9993,ヤマザワ,スタンダード（内国株式）,6100,小売業,14,小売,-,-
4400,20250930,9994,やまや,スタンダード（内国株式）,6100,小売業,14,小売,-,-
4401,20250930,9996,サトー商会,スタンダード（内国株式）,6050,卸売業,13,商社・卸売,-,-
4402,20250930,9997,ベルーナ,プライム（内国株式）,6100,小売業,14,小売,6,TOPIX Small 1

### データ型の整合性チェック

### 初期品質の概要把握