## åˆæœŸè¨­å®š

In [14]:
# --- NotebookåˆæœŸè¨­å®š ---
%load_ext autoreload
%autoreload 2
import src.config as cfg
import src.data_loader as dl
import src.data_cleaning_utils as cu
print("ğŸ” autoreload æœ‰åŠ¹åŒ–å®Œäº†")
import yaml
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from collections import defaultdict

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
ğŸ” autoreload æœ‰åŠ¹åŒ–å®Œäº†

In [15]:
# è¨­å®šèª­ã¿è¾¼ã¿
settings = cfg.load_settings("setting.yaml")
display(settings)

{'project_name': 'stock_screening',
 'data_path': {'raw': './data/raw',
  'interim': './data/interim',
  'processed': './data/processed',
  'reference': './data/reference'},
 'files': {'raw': ['fy-balance-sheet.csv',
   'fy-cash-flow-statement.csv',
   'fy-profit-and-loss.csv',
   'fy-stock-dividend.csv'],
  'reference': 'CodeData.csv',
  'interim': None,
  'processed': None},
 'years': [2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024,
  2025],
 'na_values': [''],
 'output': {'base_path': './output'}}

## æœ¬ãƒ•ã‚¡ã‚¤ãƒ«ã®èª¬æ˜
ãƒ‡ãƒ¼ã‚¿ãŒæœ€ä½é™ã®å“è³ªåŸºæº–ã‚’æº€ãŸã—ã¦ã„ã‚‹ã‹ã‚’ç¶²ç¾…çš„ã«ç¢ºèªã—ã€ãƒ•ã‚¡ã‚¤ãƒ«ãƒ­ãƒ¼ãƒ‰ã‹ã‚‰ã‚¯ãƒªãƒ¼ãƒ‹ãƒ³ã‚°ã¾ã§ã®ãƒ—ãƒ­ã‚»ã‚¹ã‚’æ±ºå®šã—ã¾ã™ã€‚

<details>
<summary><b>çµæœ</b></summary>


</details>

### ãƒ‡ãƒ¼ã‚¿ã®ãƒ­ãƒ¼ãƒ‰ã®ç¢ºèª
ãƒ•ã‚¡ã‚¤ãƒ«é‡è¤‡ã‚„ãƒ•ã‚¡ã‚¤ãƒ«æ¬ æã€ç ´å£ŠãŒãªã„ã‹ã‚’ç¢ºã‹ã‚ã€ãƒ—ãƒ­ã‚»ã‚¹ã‚’ç¢ºå®šã—ã¾ã™ã€‚
<details>
<summary><b>çµæœ</b></summary>

ãƒ•ã‚¡ã‚¤ãƒ«ã®é‡è¤‡ã‚„æ¬ æã¯ãªãã€æ­£ã—ããƒ­ãƒ¼ãƒ‰ã•ã‚Œã¾ã—ãŸã€‚  
ä¿®æ­£å‡¦ç†ã¯ä¸è¦ã§ã™ã€‚
</details>

In [16]:
print("\nãƒ•ã‚¡ã‚¤ãƒ«æ¯ã«ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™")
df_DATAs_BY_ALL_FILEs = {
    (filename, year): dl.load_on_startup(settings["data_path"]["raw"], str(year), filename,header=1)
    for filename in settings["files"]["raw"]
    for year in settings["years"]
}
#display(df_DATAs_BY_ALL_FILEs)

print("\næ¬¡ã«æ¬ ã‘ã¦ã‚‹ãƒ•ã‚¡ã‚¤ãƒ«ãŒãªã„ã‹ç¢ºèªã—ã¾ã™")
if all(dl.chk_file_missing(df) for df in df_DATAs_BY_ALL_FILEs.values()):
    print("âœ… ãƒ•ã‚¡ã‚¤ãƒ«æ¬ æã¯ã‚ã‚Šã¾ã›ã‚“ã§ã—ãŸã€‚")

print("\né‡è¤‡ãƒ•ã‚¡ã‚¤ãƒ«ãŒãªã„ã‹ç¢ºèªã—ã¾ã™")
duplicates = dl.chk_duplicate_dfs(df_DATAs_BY_ALL_FILEs, False,False)
if duplicates:
    print("ğŸ” é‡è¤‡ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ãŒè¦‹ã¤ã‹ã‚Šã¾ã—ãŸï¼š\n")
    for h, key_group in duplicates.items():
        print(f"ãƒãƒƒã‚·ãƒ¥: {h}")
        for key in key_group:
            print(key)
else:
    print("âœ… é‡è¤‡ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã¯ã‚ã‚Šã¾ã›ã‚“ã€‚")
print("\nãƒ‡ãƒ¼ã‚¿ãƒ­ãƒ¼ãƒ‰ã®ç¢ºèªã‚’çµ‚äº†ã—ã¾ã™ã€‚")

ãƒ•ã‚¡ã‚¤ãƒ«æ¯ã«ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™

æ¬¡ã«æ¬ ã‘ã¦ã‚‹ãƒ•ã‚¡ã‚¤ãƒ«ãŒãªã„ã‹ç¢ºèªã—ã¾ã™
âœ… ãƒ•ã‚¡ã‚¤ãƒ«æ¬ æã¯ã‚ã‚Šã¾ã›ã‚“ã§ã—ãŸã€‚

é‡è¤‡ãƒ•ã‚¡ã‚¤ãƒ«ãŒãªã„ã‹ç¢ºèªã—ã¾ã™
âœ… é‡è¤‡ãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã¯ã‚ã‚Šã¾ã›ã‚“ã€‚

ãƒ‡ãƒ¼ã‚¿ãƒ­ãƒ¼ãƒ‰ã®ç¢ºèªã‚’çµ‚äº†ã—ã¾ã™ã€‚

### æ¬ æå€¤è¡¨ç¾ã®ç¢ºèªã¨å‡¦ç†
æ¬ æå€¤ã®è¡¨ç¾ã‚’ç¢ºèªã—ã€ä¿®æ­£ãƒ—ãƒ­ã‚»ã‚¹ã‚’æ±ºå®šã—ã¾ã™ã€‚

<details>
<summary><b>çµæœ</b></summary>

"-"ãŒæ¬ æå€¤ã¨ã—ã¦ä½¿ã‚ã‚Œã¦ã„ã¾ã™ã€‚  
ã“ã‚Œã¯setting.yamlã®nan_valuesã«ç™»éŒ²ã—æ¬ æå€¤ã¨ã—ã¦èª­ã¿è¾¼ã¿ã¾ã™ã€‚  
  
ã¾ãŸã€ã‚¼ãƒ­ã‚‚ä½¿ã‚ã‚Œã¦ã„ã¾ã™ã€‚  
ã‚¼ãƒ­ã¯å€¤ã¨ã—ã¦æ®‹ã—ã€å¿…è¦ã«å¿œã˜ã¦features_generatorã§å†è¨ˆç®—ã—æ›´æ–°ã—ã¾ã™ã€‚

ä»¥ä¸‹ãŒã‚¼ãƒ­ãŒä½¿ã‚ã‚Œã¦ã„ã‚‹é …ç›®ã§ã™ã€‚  
{'fy-balance-sheet.csv': ['BPS', 'çŸ­æœŸå€Ÿå…¥é‡‘', 'ç·è³‡ç”£', 'è‡ªå·±è³‡æœ¬æ¯”ç‡', 'é•·æœŸå€Ÿå…¥é‡‘']  
'fy-cash-flow-statement.csv': ['å–¶æ¥­CF', 'å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³', 'æŠ•è³‡CF', 'ç¾é‡‘åŒç­‰ç‰©', 'è¨­å‚™æŠ•è³‡', 'è²¡å‹™CF']  
'fy-profit-and-loss.csv': ['EPS', 'ROA', 'ROE', 'å–¶æ¥­åˆ©ç›Š', 'å£²ä¸Šé«˜', 'ç´”åˆ©ç›Š', 'çµŒå¸¸åˆ©ç›Š'],  
'fy-stock-dividend.csv': ['ä¸€æ ªé…å½“', 'å‰°ä½™é‡‘ã®é…å½“', 'ç´”è³‡ç”£é…å½“ç‡', 'ç·é‚„å…ƒæ€§å‘', 'è‡ªç¤¾æ ªè²·ã„', 'é…å½“æ€§å‘']}
</details>

In [17]:
print("\nãƒ•ã‚¡ã‚¤ãƒ«æ¯ã«ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™")
df_DATAs_BY_ALL_FILEs = {
    (filename, year): dl.load_on_startup(settings["data_path"]["raw"], str(year), filename,header=1)
    for filename in settings["files"]["raw"]
    for year in settings["years"]
}
#display(df_DATAs_BY_ALL_FILEs)

print("\nãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã«å„æ–‡å­—åˆ—ã®å€‹æ•°ã‚’ã‚«ã‚¦ãƒ³ãƒˆã—ã¾ã™")
df_placeholder_counts = pd.DataFrame()
for (filename,year), df in df_DATAs_BY_ALL_FILEs.items():
    df_tmp = cu.chk_missing_values_expression(df, filename, year)
    df_placeholder_counts = pd.concat([df_placeholder_counts,df_tmp], axis=0)
#display(df_placeholder_counts)

print("\næ¬ æå€¤ã¨ç–‘ã‚ã‚Œã‚‹æ–‡å­—ã¨è©²å½“ã™ã‚‹åˆ—ã‚’å‡ºåŠ›ã—ã¾ã™ã€‚")
result = cu.chk_missing_and_suspect(df_placeholder_counts)
# ä¾‹: "æ¬ æã‚³ãƒ¼ãƒ‰A" ã«è©²å½“ã™ã‚‹åˆ—ãƒªã‚¹ãƒˆ
#display(result)

ãƒ•ã‚¡ã‚¤ãƒ«æ¯ã«ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™

ãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã«å„æ–‡å­—åˆ—ã®å€‹æ•°ã‚’ã‚«ã‚¦ãƒ³ãƒˆã—ã¾ã™

æ¬ æå€¤ã¨ç–‘ã‚ã‚Œã‚‹æ–‡å­—ã¨è©²å½“ã™ã‚‹åˆ—ã‚’å‡ºåŠ›ã—ã¾ã™ã€‚
-           167782
0             4155
alphabet      1940
dtype: object

In [18]:
# ã‚¼ãƒ­å€¤ã®ãƒã‚§ãƒƒã‚¯
#del list
df_merge = defaultdict(list)
for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
    df_merge[filename].append(df)
# ãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã«çµåˆï¼ˆè¡Œæ–¹å‘ï¼‰
df_final = {fname: pd.concat(dfs, ignore_index=True) for fname, dfs in df_merge.items()}
#display(df_final["fy-balance-sheet.csv"])

print("\nãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã«ã‚¼ãƒ­ã‚’å«ã‚€ã‚³ãƒ¼ãƒ‰ã‚’ãƒã‚§ãƒƒã‚¯ã—ã¾ã™ã€‚")
filename = settings["files"]["raw"][0]
print(f"å¯¾è±¡ãƒ•ã‚¡ã‚¤ãƒ«: {filename}")

df_all = df_final[filename]
result_list = []  # çµæœã‚’æ ¼ç´ã™ã‚‹ãƒªã‚¹ãƒˆ
for col in df_all:
    df_zero = df_all[df_all[col] == "0"]
    codes_with_zero = df_zero["ã‚³ãƒ¼ãƒ‰"].unique()
    for code in codes_with_zero:
        df_code = df_all.query("ã‚³ãƒ¼ãƒ‰ == @code").copy()
        df_code["å¯¾è±¡åˆ—"] = col
        result_list.append(df_code)
# ã™ã¹ã¦ã®çµæœã‚’ã¾ã¨ã‚ã‚‹
if result_list:
    df_result = pd.concat(result_list, ignore_index=True)
else:
    print("ã‚¼ãƒ­ã‚’å«ã‚€ã‚³ãƒ¼ãƒ‰ã¯è¦‹ã¤ã‹ã‚Šã¾ã›ã‚“ã§ã—ãŸã€‚")
display(df_result[df_result["å¯¾è±¡åˆ—"] == "ç·è³‡ç”£"])

ãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã«ã‚¼ãƒ­ã‚’å«ã‚€ã‚³ãƒ¼ãƒ‰ã‚’ãƒã‚§ãƒƒã‚¯ã—ã¾ã™ã€‚
å¯¾è±¡ãƒ•ã‚¡ã‚¤ãƒ«: fy-balance-sheet.csv

,ã‚³ãƒ¼ãƒ‰,å¹´åº¦,ç·è³‡ç”£,ç´”è³‡ç”£,æ ªä¸»è³‡æœ¬,åˆ©ç›Šå‰°ä½™é‡‘,çŸ­æœŸå€Ÿå…¥é‡‘,é•·æœŸå€Ÿå…¥é‡‘,BPS,è‡ªå·±è³‡æœ¬æ¯”ç‡,å¯¾è±¡åˆ—
0,9164,2020/12,0,-,-,-,-,-,-,-1481,ç·è³‡ç”£
1,9164,2021/12,68349000000,17372000000,17372000000,-533000000,-,32963000000,173.72,25.4,ç·è³‡ç”£
2,9164,2022/12,74638000000,21026000000,21026000000,3088000000,800000000,31620000000,210.26,28.2,ç·è³‡ç”£
3,9164,2023/12,79947000000,25927000000,25927000000,7989000000,-,29648000000,259.27,32.4,ç·è³‡ç”£
4,9164,2024/12,77563000000,27845000000,27845000000,10906000000,-,25765000000,278.45,35.9,ç·è³‡ç”£
5,9164,2024/12,77563000000,27845000000,27845000000,10906000000,-,25765000000,278.45,35.9,ç·è³‡ç”£

In [19]:
# ã‚¢ãƒ«ãƒ•ã‚¡ãƒ™ãƒƒãƒˆå€¤ã®ãƒã‚§ãƒƒã‚¯
print("")
print("ã‚¢ãƒ«ãƒ•ã‚¡ãƒ™ãƒƒãƒˆãŒå«ã¾ã‚Œã¦ã„ã‚‹ã‚³ãƒ¼ãƒ‰ã‚’å‡ºåŠ›ã—ã¾ã™ã€‚")
code_list = []
for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
    df_tmp = df[df["ã‚³ãƒ¼ãƒ‰"].str.contains("[A-Za-z]", na=False)]
    code_list = code_list + df_tmp["ã‚³ãƒ¼ãƒ‰"].unique().tolist()
print(code_list)

ã‚¢ãƒ«ãƒ•ã‚¡ãƒ™ãƒƒãƒˆãŒå«ã¾ã‚Œã¦ã„ã‚‹ã‚³ãƒ¼ãƒ‰ã‚’å‡ºåŠ›ã—ã¾ã™ã€‚
['297A', '297A', '297A', '297A', '297A', '297A', '297A', '281A', '297A', '130A', '138A', '141A', '142A', '145A', '146A', '148A', '149A', '153A', '155A', '184A', '190A', '281A', '297A', '130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '248A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '276A', '280A', '281A', '285A', '286A', '290A', '297A', '298A', '319A', '130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '166A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '208A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '254A', '255A', '256A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '272A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '289A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '330A', '331A', '332A', '334A', '335A', '336A', '338A', '339A', '340A', '341A', '343A', '350A', '352A', '353A', '365A', '366A', '367A', '368A', '369A', '372A', '373A', '378A', '386A', '387A', '391A', '402A', '407A', '409A', '410A', '414A', '423A', '429A', '431A', '436A', '297A', '297A', '297A', '297A', '297A', '297A', '297A', '297A', '297A', '211A', '281A', '285A', '297A', '130A', '138A', '145A', '146A', '148A', '149A', '153A', '155A', '186A', '190A', '211A', '281A', '285A', '297A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '248A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '276A', '280A', '281A', '285A', '286A', '290A', '297A', '298A', '319A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '166A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '208A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '254A', '255A', '256A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '272A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '289A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '330A', '331A', '332A', '334A', '335A', '336A', '338A', '339A', '340A', '341A', '343A', '350A', '352A', '353A', '365A', '366A', '367A', '368A', '369A', '372A', '373A', '378A', '386A', '387A', '391A', '402A', '407A', '409A', '410A', '414A', '423A', '429A', '431A', '436A', '297A', '297A', '297A', '297A', '297A', '297A', '297A', '281A', '297A', '130A', '138A', '141A', '142A', '145A', '146A', '148A', '149A', '153A', '155A', '184A', '190A', '281A', '297A', '130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '248A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '276A', '280A', '281A', '285A', '286A', '290A', '297A', '298A', '319A', '130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '166A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A', '130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '208A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '255A', '256A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '272A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '289A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '330A', '331A', '332A', '334A', '335A', '336A', '338A', '339A', '340A', '341A', '343A', '350A', '352A', '353A', '365A', '366A', '367A', '368A', '369A', '372A', '373A', '378A', '386A', '387A', '391A', '402A', '407A', '409A', '410A', '414A', '423A', '429A', '431A', '436A', '297A', '297A', '297A', '297A', '297A', '146A', '160A', '173A', '176A', '189A', '246A', '261A', '262A', '285A', '297A', '146A', '160A', '173A', '176A', '177A', '189A', '242A', '250A', '261A', '262A', '276A', '297A', '319A', '331A', '146A', '160A', '173A', '176A', '177A', '189A', '242A', '246A', '250A', '261A', '262A', '276A', '285A', '297A', '319A', '141A', '146A', '160A', '173A', '176A', '177A', '189A', '197A', '202A', '211A', '242A', '246A', '250A', '261A', '262A', '276A', '285A', '286A', '296A', '297A', '300A', '319A', '331A', '141A', '146A', '160A', '173A', '175A', '176A', '177A', '189A', '197A', '202A', '211A', '242A', '246A', '250A', '261A', '262A', '269A', '276A', '286A', '296A', '297A', '300A', '319A', '331A', '138A', '141A', '146A', '156A', '157A', '160A', '166A', '173A', '176A', '177A', '189A', '197A', '202A', '205A', '211A', '212A', '231A', '242A', '246A', '250A', '261A', '262A', '268A', '269A', '274A', '276A', '285A', '286A', '287A', '296A', '297A', '300A', '319A', '331A', '138A', '141A', '146A', '147A', '151A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '189A', '192A', '197A', '202A', '205A', '208A', '211A', '212A', '231A', '242A', '246A', '247A', '250A', '255A', '256A', '261A', '262A', '268A', '269A', '272A', '274A', '276A', '285A', '286A', '287A', '289A', '296A', '297A', '300A', '319A', '331A', '334A', '365A', '366A', '368A', '369A', '372A', '378A', '386A', '391A', '407A', '409A', '410A', '414A', '423A', '429A']

### ãƒ‡ãƒ¼ã‚¿å‹ã®æ•´åˆæ€§ç¢ºèª
ãƒ­ãƒ¼ãƒ‰ã—ãŸãƒ•ã‚¡ã‚¤ãƒ«ã®æ–¹ãŒå„åˆ—ã§å…±é€šã«ãªã‚‹ã‚ˆã†ã«ã—ã¾ã™ã€‚
<details>
<summary><b>çµæœ</b></summary>
ä»¥ä¸‹ã®ã‚ˆã†ã«å‡¦ç†ã—ã¦ã„ã¾ã™ã€‚

- ã‚³ãƒ¼ãƒ‰ï¼šstring
- å¹´åº¦ï¼štimestump
- ãã®ä»–ï¼šfloat
</details>

In [20]:
print("\nãƒ•ã‚¡ã‚¤ãƒ«æ¯ã«ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™")
df_DATAs_BY_ALL_FILEs = {
    (filename, year): dl.load_on_startup(settings["data_path"]["raw"], str(year), filename,header=1)
    for filename in settings["files"]["raw"]
    for year in settings["years"]
}

ãƒ•ã‚¡ã‚¤ãƒ«æ¯ã«ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™

In [21]:
print("\nãƒã‚¤ãƒ•ãƒ³ã‚’æ¬ æå€¤ã«ã—ã¾ã™ã€‚")
df_missing_value_change = {
    (filename, year): df.replace("-", pd.NA)
    for (filename, year), df in df_DATAs_BY_ALL_FILEs.items()
}
for (filename, year), df in df_missing_value_change.items():
    df_type = cu.chk_dtype(df, filename, year, False)
    #display(df_type)
#display(df_missing_value_change)

ãƒã‚¤ãƒ•ãƒ³ã‚’æ¬ æå€¤ã«ã—ã¾ã™ã€‚

In [22]:
print("\nã‚³ãƒ¼ãƒ‰ã¨å¹´åº¦ä»¥å¤–ã‚’floatåŒ–")
except_codes= ["ã‚³ãƒ¼ãƒ‰", "å¹´åº¦"]
df_type_change = {
    key: cu.convert_columns_type(df, df.drop(columns=except_codes, errors="ignore").columns, "float", False)
    for key, df in df_missing_value_change.items()
}
for (filename, year), df in df_type_change.items():
    df_type = cu.chk_dtype(df, filename, year, False)
    #display(df_type)
#display(df_type_change)

ã‚³ãƒ¼ãƒ‰ã¨å¹´åº¦ä»¥å¤–ã‚’floatåŒ–

In [23]:
print("\nã‚³ãƒ¼ãƒ‰ã‚’stringåŒ–")
df_type_change = {
    key: df.assign(ã‚³ãƒ¼ãƒ‰=df["ã‚³ãƒ¼ãƒ‰"].astype("string"))
    for key, df in df_type_change.items()
}
for (filename, year), df in df_type_change.items():
    df_type = cu.chk_dtype(df, filename, year, False)
    display(df_type)

ã‚³ãƒ¼ãƒ‰ã‚’stringåŒ–

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2010     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2010      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2010     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2010     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2010    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2010   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2010   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2010   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2010     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2010  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2011     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2011      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2011     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2011     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2011    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2011   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2011   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2011   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2011     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2011  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2012     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2012      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2012     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2012     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2012    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2012   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2012   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2012   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2012     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2012  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2013     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2013      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2013     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2013     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2013    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2013   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2013   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2013   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2013     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2013  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2014     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2014      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2014     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2014     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2014    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2014   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2014   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2014   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2014     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2014  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2015     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2015      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2015     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2015     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2015    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2015   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2015   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2015   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2015     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2015  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2016     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2016      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2016     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2016     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2016    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2016   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2016   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2016   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2016     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2016  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2017     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2017      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2017     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2017     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2017    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2017   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2017   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2017   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2017     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2017  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2018     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2018      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2018     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2018     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2018    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2018   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2018   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2018   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2018     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2018  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2019     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2019      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2019     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2019     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2019    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2019   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2019   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2019   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2019     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2019  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2020     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2020      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2020     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2020     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2020    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2020   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2020   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2020   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2020     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2020  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2021     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2021      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2021     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2021     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2021    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2021   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2021   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2021   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2021     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2021  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2022     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2022      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2022     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2022     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2022    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2022   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2022   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2022   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2022     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2022  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2023     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2023      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2023     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2023     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2023    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2023   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2023   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2023   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2023     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2023  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2024     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2024      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2024     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2024     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2024    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2024   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2024   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2024   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2024     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2024  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

                  ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-balance-sheet.csv   2025     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-balance-sheet.csv   2025      å¹´åº¦          object    [<class 'str'>]
2  fy-balance-sheet.csv   2025     ç·è³‡ç”£         Float64  [<class 'float'>]
3  fy-balance-sheet.csv   2025     ç´”è³‡ç”£         Float64  [<class 'float'>]
4  fy-balance-sheet.csv   2025    æ ªä¸»è³‡æœ¬         Float64  [<class 'float'>]
5  fy-balance-sheet.csv   2025   åˆ©ç›Šå‰°ä½™é‡‘         Float64  [<class 'float'>]
6  fy-balance-sheet.csv   2025   çŸ­æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
7  fy-balance-sheet.csv   2025   é•·æœŸå€Ÿå…¥é‡‘         Float64  [<class 'float'>]
8  fy-balance-sheet.csv   2025     BPS         Float64  [<class 'float'>]
9  fy-balance-sheet.csv   2025  è‡ªå·±è³‡æœ¬æ¯”ç‡         Float64  [<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2010,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2010,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2010,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2010,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2010,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2010,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2010,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2010,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2011,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2011,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2011,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2011,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2011,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2011,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2011,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2011,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2012,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2012,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2012,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2012,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2012,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2012,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2012,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2012,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2013,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2013,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2013,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2013,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2013,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2013,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2013,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2013,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2014,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2014,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2014,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2014,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2014,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2014,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2014,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2014,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2015,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2015,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2015,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2015,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2015,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2015,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2015,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2015,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2016,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2016,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2016,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2016,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2016,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2016,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2016,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2016,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2017,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2017,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2017,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2017,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2017,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2017,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2017,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2017,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2018,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2018,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2018,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2018,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2018,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2018,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2018,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2018,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2019,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2019,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2019,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2019,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2019,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2019,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2019,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2019,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2020,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2020,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2020,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2020,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2020,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2020,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2020,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2020,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2021,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2021,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2021,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2021,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2021,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2021,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2021,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2021,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2022,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2022,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2022,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2022,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2022,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2022,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2022,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2022,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2023,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2023,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2023,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2023,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2023,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2023,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2023,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2023,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2024,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2024,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2024,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2024,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2024,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2024,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2024,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2024,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2025,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2025,å¹´åº¦,object,[<class 'str'>]
2,fy-cash-flow-statement.csv,2025,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2025,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2025,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2025,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2025,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2025,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2010   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2010    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2010   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2010  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2010  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2010   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2010   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2010   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2010   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2011   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2011    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2011   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2011  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2011  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2011   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2011   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2011   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2011   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2012   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2012    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2012   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2012  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2012  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2012   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2012   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2012   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2012   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2013   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2013    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2013   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2013  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2013  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2013   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2013   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2013   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2013   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2014   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2014    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2014   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2014  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2014  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2014   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2014   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2014   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2014   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2015   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2015    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2015   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2015  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2015  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2015   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2015   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2015   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2015   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2016   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2016    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2016   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2016  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2016  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2016   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2016   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2016   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2016   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2017   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2017    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2017   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2017  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2017  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2017   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2017   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2017   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2017   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2018   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2018    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2018   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2018  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2018  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2018   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2018   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2018   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2018   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2019   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2019    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2019   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2019  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2019  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2019   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2019   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2019   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2019   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2020   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2020    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2020   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2020  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2020  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2020   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2020   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2020   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2020   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2021   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2021    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2021   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2021  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2021  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2021   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2021   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2021   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2021   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2022   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2022    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2022   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2022  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2022  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2022   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2022   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2022   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2022   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2023   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2023    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2023   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2023  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2023  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2023   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2023   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2023   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2023   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2024   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2024    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2024   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2024  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2024  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2024   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2024   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2024   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2024   ROA         Float64  [<class 'float'>]

                    ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤    åˆ—å           dtype       sample_types
0  fy-profit-and-loss.csv   2025   ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-profit-and-loss.csv   2025    å¹´åº¦          object    [<class 'str'>]
2  fy-profit-and-loss.csv   2025   å£²ä¸Šé«˜         Float64  [<class 'float'>]
3  fy-profit-and-loss.csv   2025  å–¶æ¥­åˆ©ç›Š         Float64  [<class 'float'>]
4  fy-profit-and-loss.csv   2025  çµŒå¸¸åˆ©ç›Š         Float64  [<class 'float'>]
5  fy-profit-and-loss.csv   2025   ç´”åˆ©ç›Š         Float64  [<class 'float'>]
6  fy-profit-and-loss.csv   2025   EPS         Float64  [<class 'float'>]
7  fy-profit-and-loss.csv   2025   ROE         Float64  [<class 'float'>]
8  fy-profit-and-loss.csv   2025   ROA         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2010     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2010      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2010    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2010  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2010   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2010    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2010   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2010  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2011     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2011      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2011    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2011  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2011   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2011    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2011   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2011  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2012     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2012      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2012    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2012  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2012   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2012    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2012   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2012  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2013     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2013      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2013    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2013  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2013   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2013    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2013   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2013  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2014     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2014      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2014    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2014  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2014   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2014    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2014   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2014  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2015     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2015      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2015    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2015  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2015   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2015    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2015   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2015  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2016     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2016      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2016    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2016  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2016   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2016    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2016   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2016  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2017     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2017      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2017    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2017  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2017   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2017    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2017   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2017  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2018     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2018      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2018    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2018  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2018   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2018    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2018   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2018  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2019     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2019      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2019    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2019  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2019   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2019    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2019   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2019  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2020     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2020      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2020    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2020  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2020   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2020    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2020   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2020  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2021     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2021      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2021    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2021  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2021   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2021    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2021   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2021  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2022     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2022      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2022    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2022  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2022   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2022    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2022   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2022  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2023     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2023      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2023    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2023  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2023   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2023    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2023   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2023  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2024     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2024      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2024    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2024  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2024   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2024    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2024   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2024  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

                   ãƒ•ã‚¡ã‚¤ãƒ«å ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤      åˆ—å           dtype       sample_types
0  fy-stock-dividend.csv   2025     ã‚³ãƒ¼ãƒ‰  string[python]    [<class 'str'>]
1  fy-stock-dividend.csv   2025      å¹´åº¦          object    [<class 'str'>]
2  fy-stock-dividend.csv   2025    ä¸€æ ªé…å½“         Float64  [<class 'float'>]
3  fy-stock-dividend.csv   2025  å‰°ä½™é‡‘ã®é…å½“         Float64  [<class 'float'>]
4  fy-stock-dividend.csv   2025   è‡ªç¤¾æ ªè²·ã„         Float64  [<class 'float'>]
5  fy-stock-dividend.csv   2025    é…å½“æ€§å‘         Float64  [<class 'float'>]
6  fy-stock-dividend.csv   2025   ç·é‚„å…ƒæ€§å‘         Float64  [<class 'float'>]
7  fy-stock-dividend.csv   2025  ç´”è³‡ç”£é…å½“ç‡         Float64  [<class 'float'>]

In [24]:
print("\nå¹´åº¦ã‚’datetimeåŒ–")
df_type_change = {
    key: df.assign(å¹´åº¦=pd.to_datetime(df["å¹´åº¦"], format="%Y/%m"))
    for key, df in df_type_change.items()
}
for (filename, year), df in df_type_change.items():
    df_type = cu.chk_dtype(df, filename, year, False)
    display(df_type)

å¹´åº¦ã‚’datetimeåŒ–

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2010,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2010,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2010,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2010,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2010,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2010,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2010,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2010,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2010,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2010,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2011,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2011,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2011,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2011,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2011,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2011,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2011,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2011,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2011,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2011,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2012,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2012,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2012,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2012,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2012,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2012,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2012,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2012,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2012,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2012,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2013,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2013,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2013,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2013,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2013,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2013,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2013,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2013,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2013,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2013,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2014,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2014,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2014,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2014,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2014,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2014,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2014,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2014,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2014,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2014,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2015,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2015,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2015,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2015,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2015,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2015,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2015,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2015,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2015,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2015,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2016,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2016,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2016,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2016,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2016,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2016,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2016,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2016,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2016,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2016,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2017,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2017,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2017,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2017,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2017,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2017,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2017,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2017,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2017,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2017,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2018,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2018,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2018,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2018,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2018,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2018,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2018,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2018,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2018,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2018,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2019,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2019,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2019,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2019,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2019,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2019,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2019,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2019,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2019,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2019,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2020,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2020,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2020,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2020,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2020,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2020,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2020,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2020,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2020,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2020,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2021,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2021,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2021,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2021,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2021,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2021,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2021,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2021,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2021,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2021,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2022,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2022,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2022,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2022,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2022,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2022,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2022,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2022,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2022,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2022,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2023,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2023,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2023,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2023,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2023,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2023,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2023,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2023,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2023,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2023,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2024,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2024,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2024,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2024,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2024,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2024,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2024,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2024,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2024,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2024,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-balance-sheet.csv,2025,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-balance-sheet.csv,2025,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-balance-sheet.csv,2025,ç·è³‡ç”£,Float64,[<class 'float'>]
3,fy-balance-sheet.csv,2025,ç´”è³‡ç”£,Float64,[<class 'float'>]
4,fy-balance-sheet.csv,2025,æ ªä¸»è³‡æœ¬,Float64,[<class 'float'>]
5,fy-balance-sheet.csv,2025,åˆ©ç›Šå‰°ä½™é‡‘,Float64,[<class 'float'>]
6,fy-balance-sheet.csv,2025,çŸ­æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
7,fy-balance-sheet.csv,2025,é•·æœŸå€Ÿå…¥é‡‘,Float64,[<class 'float'>]
8,fy-balance-sheet.csv,2025,BPS,Float64,[<class 'float'>]
9,fy-balance-sheet.csv,2025,è‡ªå·±è³‡æœ¬æ¯”ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2010,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2010,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2010,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2010,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2010,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2010,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2010,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2010,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2011,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2011,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2011,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2011,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2011,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2011,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2011,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2011,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2012,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2012,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2012,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2012,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2012,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2012,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2012,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2012,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2013,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2013,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2013,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2013,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2013,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2013,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2013,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2013,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2014,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2014,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2014,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2014,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2014,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2014,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2014,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2014,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2015,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2015,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2015,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2015,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2015,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2015,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2015,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2015,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2016,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2016,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2016,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2016,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2016,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2016,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2016,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2016,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2017,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2017,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2017,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2017,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2017,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2017,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2017,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2017,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2018,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2018,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2018,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2018,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2018,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2018,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2018,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2018,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2019,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2019,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2019,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2019,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2019,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2019,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2019,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2019,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2020,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2020,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2020,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2020,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2020,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2020,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2020,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2020,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2021,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2021,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2021,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2021,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2021,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2021,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2021,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2021,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2022,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2022,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2022,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2022,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2022,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2022,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2022,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2022,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2023,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2023,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2023,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2023,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2023,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2023,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2023,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2023,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2024,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2024,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2024,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2024,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2024,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2024,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2024,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2024,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-cash-flow-statement.csv,2025,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-cash-flow-statement.csv,2025,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-cash-flow-statement.csv,2025,å–¶æ¥­CF,Float64,[<class 'float'>]
3,fy-cash-flow-statement.csv,2025,æŠ•è³‡CF,Float64,[<class 'float'>]
4,fy-cash-flow-statement.csv,2025,è²¡å‹™CF,Float64,[<class 'float'>]
5,fy-cash-flow-statement.csv,2025,è¨­å‚™æŠ•è³‡,Float64,[<class 'float'>]
6,fy-cash-flow-statement.csv,2025,ç¾é‡‘åŒç­‰ç‰©,Float64,[<class 'float'>]
7,fy-cash-flow-statement.csv,2025,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2010,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2010,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2010,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2010,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2010,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2010,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2010,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2010,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2010,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2011,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2011,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2011,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2011,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2011,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2011,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2011,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2011,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2011,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2012,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2012,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2012,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2012,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2012,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2012,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2012,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2012,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2012,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2013,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2013,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2013,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2013,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2013,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2013,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2013,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2013,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2013,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2014,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2014,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2014,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2014,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2014,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2014,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2014,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2014,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2014,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2015,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2015,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2015,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2015,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2015,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2015,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2015,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2015,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2015,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2016,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2016,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2016,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2016,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2016,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2016,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2016,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2016,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2016,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2017,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2017,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2017,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2017,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2017,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2017,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2017,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2017,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2017,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2018,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2018,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2018,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2018,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2018,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2018,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2018,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2018,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2018,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2019,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2019,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2019,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2019,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2019,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2019,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2019,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2019,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2019,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2020,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2020,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2020,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2020,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2020,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2020,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2020,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2020,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2020,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2021,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2021,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2021,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2021,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2021,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2021,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2021,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2021,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2021,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2022,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2022,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2022,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2022,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2022,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2022,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2022,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2022,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2022,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2023,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2023,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2023,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2023,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2023,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2023,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2023,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2023,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2023,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2024,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2024,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2024,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2024,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2024,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2024,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2024,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2024,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2024,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-profit-and-loss.csv,2025,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-profit-and-loss.csv,2025,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-profit-and-loss.csv,2025,å£²ä¸Šé«˜,Float64,[<class 'float'>]
3,fy-profit-and-loss.csv,2025,å–¶æ¥­åˆ©ç›Š,Float64,[<class 'float'>]
4,fy-profit-and-loss.csv,2025,çµŒå¸¸åˆ©ç›Š,Float64,[<class 'float'>]
5,fy-profit-and-loss.csv,2025,ç´”åˆ©ç›Š,Float64,[<class 'float'>]
6,fy-profit-and-loss.csv,2025,EPS,Float64,[<class 'float'>]
7,fy-profit-and-loss.csv,2025,ROE,Float64,[<class 'float'>]
8,fy-profit-and-loss.csv,2025,ROA,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2010,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2010,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2010,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2010,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2010,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2010,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2010,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2010,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2011,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2011,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2011,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2011,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2011,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2011,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2011,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2011,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2012,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2012,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2012,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2012,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2012,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2012,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2012,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2012,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2013,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2013,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2013,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2013,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2013,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2013,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2013,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2013,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2014,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2014,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2014,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2014,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2014,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2014,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2014,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2014,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2015,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2015,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2015,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2015,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2015,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2015,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2015,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2015,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2016,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2016,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2016,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2016,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2016,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2016,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2016,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2016,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2017,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2017,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2017,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2017,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2017,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2017,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2017,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2017,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2018,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2018,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2018,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2018,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2018,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2018,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2018,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2018,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2019,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2019,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2019,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2019,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2019,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2019,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2019,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2019,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2020,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2020,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2020,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2020,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2020,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2020,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2020,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2020,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2021,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2021,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2021,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2021,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2021,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2021,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2021,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2021,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2022,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2022,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2022,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2022,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2022,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2022,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2022,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2022,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2023,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2023,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2023,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2023,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2023,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2023,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2023,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2023,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2024,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2024,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2024,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2024,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2024,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2024,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2024,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2024,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,fy-stock-dividend.csv,2025,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
1,fy-stock-dividend.csv,2025,å¹´åº¦,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
2,fy-stock-dividend.csv,2025,ä¸€æ ªé…å½“,Float64,[<class 'float'>]
3,fy-stock-dividend.csv,2025,å‰°ä½™é‡‘ã®é…å½“,Float64,[<class 'float'>]
4,fy-stock-dividend.csv,2025,è‡ªç¤¾æ ªè²·ã„,Float64,[<class 'float'>]
5,fy-stock-dividend.csv,2025,é…å½“æ€§å‘,Float64,[<class 'float'>]
6,fy-stock-dividend.csv,2025,ç·é‚„å…ƒæ€§å‘,Float64,[<class 'float'>]
7,fy-stock-dividend.csv,2025,ç´”è³‡ç”£é…å½“ç‡,Float64,[<class 'float'>]

### åˆæœŸå“è³ªã®ç¢ºèª

æŒ‡æ¨™ã¨ãªã‚‹ä»¥ä¸‹ã®æ•°ã‚’ç¢ºèªã—ã€å¿…è¦ãªå‡¦ç†ã®ãƒ—ãƒ­ã‚»ã‚¹ã‚’æ±ºå®šã—ã¾ã™ã€‚

- ã‚³ãƒ¼ãƒ‰
- å¹´åº¦
- åˆ—

<summary><b>çµæœ</b></summary>

</details>

In [25]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_rows', 60)
print("\nå‡¦ç†æ¸ˆã¿ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™ã€‚")
df_PROCESSED = df_type_change
#display(df_PROCESSED)


print("\nä¼æ¥­ã‚³ãƒ¼ãƒ‰æ•°ã€ã‚¨ãƒ³ãƒ‰ã®æ•°ã€åˆ—æ•°ã‚’ãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã«ã¾ã¨ã‚ã¾ã™ã€‚")
df_file_info = pd.DataFrame([
    {"file": filename, "year": year, "code_counts": df["ã‚³ãƒ¼ãƒ‰"].nunique(), "year_counts": df["å¹´åº¦"].nunique(), "column_counts": df.columns.nunique()}
    for (filename, year), df in df_PROCESSED.items()
])
#display(df_file_info)

print("\nå„ãƒ•ã‚¡ã‚¤ãƒ«ã®å¹´æ¨ç§»ã‚’å¯è¦–åŒ–ã—ã¾ã™ã€‚")
for col in ["code_counts", "year_counts", "column_counts"]:
    fig = px.line(df_file_info, x="year", y=col, color="file", title=col)
    #fig.show()

print("\næœ€æ–°å¹´ã®ãƒ•ã‚¡ã‚¤ãƒ«ã«ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹å¹´åº¦ã‚’è¡¨ç¤ºã—ã¾ã™ã€‚")
df = df_PROCESSED[(settings["files"]["raw"][0],2025)]
#display(df["å¹´åº¦"].unique())

print("\næœ€æ–°å¹´ã«ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹éå»ã®å¹´åº¦ã¨éå»ã®ãƒ‡ãƒ¼ã‚¿ãŒåŒã˜ã‹ç¢ºèªã—ã¾ã™")
print("ã¾ãšã¯ã€å¹´åº¦ã‚’é™å®šã—ã¦ã€ã‚³ãƒ¼ãƒ‰ã®ä¸€è¦§ã‚’è¦‹ã¾ã™")
#display(df[df["å¹´åº¦"]=="2024/12"]["ã‚³ãƒ¼ãƒ‰"])

print("\nã‚³ãƒ¼ãƒ‰ã‚’é™å®šã—ã€éå»ã®ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ã¨åŒã˜ã‹ã©ã†ã‹èª¿ã¹ã¾ã™ã€‚")
df = df_PROCESSED[(settings["files"]["raw"][0],2025)]
#display(df[df["ã‚³ãƒ¼ãƒ‰"]=="130A"])
df = df_PROCESSED[(settings["files"]["raw"][0],2024)]
#display(df[df["ã‚³ãƒ¼ãƒ‰"]=="130A"])

print("\næœ€æ–°å¹´åº¦ã«ã‚ã‚‹éå»ã®ãƒ‡ãƒ¼ã‚¿ã‚’å–å¾—ã—ã€éå»ã®ãƒ‡ãƒ¼ã‚¿ã‚’æ›´æ–°ã—ã¾ã™")
def update_df(df_by_files, latest_year):
    cutoff = pd.to_datetime(f"{latest_year}-01-01")
    return {
        (file, year): (
            (df_by_files[(file, year)]
             .set_index(["ã‚³ãƒ¼ãƒ‰", "å¹´åº¦"])
             .update(
                df_by_files.get((file, latest_year), pd.DataFrame())
                .loc[lambda d: d["å¹´åº¦"] < cutoff]
                .set_index(["ã‚³ãƒ¼ãƒ‰", "å¹´åº¦"])
             ) or df_by_files[(file, year)].set_index(["ã‚³ãƒ¼ãƒ‰", "å¹´åº¦"])).reset_index()
        )
        for file in {f for f, _ in df_by_files.keys()}
        for year in {y for f, y in df_by_files.keys() if f == file}
        if (file, year) in df_by_files
    }
df_PROCESSED_AFTER = update_df(df_PROCESSED, 2025)

print("\næ­£ã—ãå‡¦ç†ãŒè¡Œã‚ã‚Œã€æœ€æ–°å¹´ã«ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹éå»ã®å¹´åº¦ã¨éå»ã®ãƒ‡ãƒ¼ã‚¿ãŒåŒã˜ã‹ç¢ºèªã—ã¾ã™ã€‚")
df = df_PROCESSED_AFTER[(settings["files"]["raw"][0],2025)]
display(df[df["ã‚³ãƒ¼ãƒ‰"]=="130A"])
df = df_PROCESSED_AFTER[(settings["files"]["raw"][0],2024)]
display(df[df["ã‚³ãƒ¼ãƒ‰"]=="130A"])

print("\næœ€å¾Œã«æœ€æ–°å¹´åº¦ã«ã‚ã‚‹éå»ã®ãƒ‡ãƒ¼ã‚¿ã‚’æ¶ˆå»ã—ã¾ã™ã€‚")
cutoff_date = pd.to_datetime("2025-01-01")
df_PROCESSED_AFTER = {
    (file, year): (df[df["å¹´åº¦"] >= cutoff_date] if year == 2025 else df)
    for (file, year), df in df_PROCESSED_AFTER.items()
}

print("")
print("å„ãƒ•ã‚¡ã‚¤ãƒ«ã®å¹´æ¨ç§»ã‚’ã‚‚ã†ä¸€åº¦å¯è¦–åŒ–ã—ã€æ”¹å–„ã—ã¦ã„ã‚‹ã“ã¨ã‚’ç¢ºã‹ã‚ã¾ã™ã€‚")
df_file_info_after = pd.DataFrame([
    {"file": filename, "year": year, "code_counts": df["ã‚³ãƒ¼ãƒ‰"].nunique(), "year_counts": df["å¹´åº¦"].nunique(), "column_counts": df.columns.nunique()}
    for (filename, year), df in df_PROCESSED_AFTER.items()
])
df_file_info_after["åŒºåˆ†"] = "å‡¦ç†å¾Œ"
df_file_info_after = df_file_info_after.set_index(["file", "year"]).sort_index()

df_file_info = pd.DataFrame([
    {"file": filename, "year": year, "code_counts": df["ã‚³ãƒ¼ãƒ‰"].nunique(), "year_counts": df["å¹´åº¦"].nunique(), "column_counts": df.columns.nunique()}
    for (filename, year), df in df_PROCESSED.items()
])
df_file_info["åŒºåˆ†"] = "å‡¦ç†å‰"
df_file_info = df_file_info.set_index(["file", "year"]).sort_index()
df_compare = pd.concat([df_file_info,df_file_info_after]).reset_index()
display(df_compare)
fig = px.line(df_compare, x="year", y="code_counts", color="file", line_dash="åŒºåˆ†", markers=True)
fig.update_layout(title="å‡¦ç†å‰å¾Œã®ã‚³ãƒ¼ãƒ‰æ•°æ¨ç§»", xaxis_title="å¹´åº¦", yaxis_title="ã‚³ãƒ¼ãƒ‰æ•°")
fig.show()

å‡¦ç†æ¸ˆã¿ãƒ‡ãƒ¼ã‚¿ã‚’ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™ã€‚

ä¼æ¥­ã‚³ãƒ¼ãƒ‰æ•°ã€ã‚¨ãƒ³ãƒ‰ã®æ•°ã€åˆ—æ•°ã‚’ãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã«ã¾ã¨ã‚ã¾ã™ã€‚

å„ãƒ•ã‚¡ã‚¤ãƒ«ã®å¹´æ¨ç§»ã‚’å¯è¦–åŒ–ã—ã¾ã™ã€‚

æœ€æ–°å¹´ã®ãƒ•ã‚¡ã‚¤ãƒ«ã«ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹å¹´åº¦ã‚’è¡¨ç¤ºã—ã¾ã™ã€‚

æœ€æ–°å¹´ã«ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹éå»ã®å¹´åº¦ã¨éå»ã®ãƒ‡ãƒ¼ã‚¿ãŒåŒã˜ã‹ç¢ºèªã—ã¾ã™
ã¾ãšã¯ã€å¹´åº¦ã‚’é™å®šã—ã¦ã€ã‚³ãƒ¼ãƒ‰ã®ä¸€è¦§ã‚’è¦‹ã¾ã™

ã‚³ãƒ¼ãƒ‰ã‚’é™å®šã—ã€éå»ã®ãƒ‡ãƒ¼ã‚¿ãƒ•ã‚¡ã‚¤ãƒ«ã¨åŒã˜ã‹ã©ã†ã‹èª¿ã¹ã¾ã™ã€‚

æœ€æ–°å¹´åº¦ã«ã‚ã‚‹éå»ã®ãƒ‡ãƒ¼ã‚¿ã‚’å–å¾—ã—ã€éå»ã®ãƒ‡ãƒ¼ã‚¿ã‚’æ›´æ–°ã—ã¾ã™

æ­£ã—ãå‡¦ç†ãŒè¡Œã‚ã‚Œã€æœ€æ–°å¹´ã«ç™»éŒ²ã•ã‚Œã¦ã„ã‚‹éå»ã®å¹´åº¦ã¨éå»ã®ãƒ‡ãƒ¼ã‚¿ãŒåŒã˜ã‹ç¢ºèªã—ã¾ã™ã€‚

,ã‚³ãƒ¼ãƒ‰,å¹´åº¦,ç·è³‡ç”£,ç´”è³‡ç”£,æ ªä¸»è³‡æœ¬,åˆ©ç›Šå‰°ä½™é‡‘,çŸ­æœŸå€Ÿå…¥é‡‘,é•·æœŸå€Ÿå…¥é‡‘,BPS,è‡ªå·±è³‡æœ¬æ¯”ç‡
1,130A,2024-12-01,2248958000.0,2209548000.0,2209548000.0,-203393000.0,<NA>,<NA>,340.61,98.2

,ã‚³ãƒ¼ãƒ‰,å¹´åº¦,ç·è³‡ç”£,ç´”è³‡ç”£,æ ªä¸»è³‡æœ¬,åˆ©ç›Šå‰°ä½™é‡‘,çŸ­æœŸå€Ÿå…¥é‡‘,é•·æœŸå€Ÿå…¥é‡‘,BPS,è‡ªå·±è³‡æœ¬æ¯”ç‡
1,130A,2024-12-01,2248000000.0,2209000000.0,2209548000.0,-203393000.0,<NA>,<NA>,340.61,98.2

æœ€å¾Œã«æœ€æ–°å¹´åº¦ã«ã‚ã‚‹éå»ã®ãƒ‡ãƒ¼ã‚¿ã‚’æ¶ˆå»ã—ã¾ã™ã€‚

å„ãƒ•ã‚¡ã‚¤ãƒ«ã®å¹´æ¨ç§»ã‚’ã‚‚ã†ä¸€åº¦å¯è¦–åŒ–ã—ã€æ”¹å–„ã—ã¦ã„ã‚‹ã“ã¨ã‚’ç¢ºã‹ã‚ã¾ã™ã€‚

                      file  year  code_counts  year_counts  column_counts   åŒºåˆ†
0     fy-balance-sheet.csv  2010         3406           12             10  å‡¦ç†å‰
1     fy-balance-sheet.csv  2011         3513           12             10  å‡¦ç†å‰
2     fy-balance-sheet.csv  2012         3589           12             10  å‡¦ç†å‰
3     fy-balance-sheet.csv  2013         3679           12             10  å‡¦ç†å‰
4     fy-balance-sheet.csv  2014         3780           12             10  å‡¦ç†å‰
..                     ...   ...          ...          ...            ...  ...
123  fy-stock-dividend.csv  2021         3618           12              8  å‡¦ç†å¾Œ
124  fy-stock-dividend.csv  2022         3606           12              8  å‡¦ç†å¾Œ
125  fy-stock-dividend.csv  2023         3606           12              8  å‡¦ç†å¾Œ
126  fy-stock-dividend.csv  2024         3574           12              8  å‡¦ç†å¾Œ
127  fy-stock-dividend.csv  2025         2738            8              8  å‡¦ç†å¾Œ

[128 rows x 6 columns]

### ä¸Šå ´ä¼æ¥­ãƒ‡ãƒ¼ã‚¿ã®ã‚¯ãƒªãƒ¼ãƒ‹ãƒ³ã‚°

<summary><b>çµæœ</b></summary>

</details>

In [26]:
print("\nãƒ­ãƒ¼ãƒ‰ã—ã¾ã™ã€‚")
df_code_info = dl.load_on_startup(settings["data_path"]["reference"], "", settings["files"]["reference"],header=0)
#display(df_code_info)
dl.chk_file_missing(df_code_info)

print("\næ¬ æå€¤è¡¨ç¾ã‚’ç¢ºèªã—ã¾ã™ã€‚")
df_missing_values_expression = cu.chk_missing_values_expression(
    df_code_info, filename=settings["files"]["reference"], option_value=""
)
#display(df_missing_values_expression)

print("\næ¬ æå€¤å‡¦ç†ã‚’ã—ã¾ã™ã€‚")
df_code_info_missing_change = df_code_info.replace({"-": pd.NA, "": pd.NA})

print("\næ•°å€¤åˆ—ã‚’ Int64 ã«å¤‰æ›ã—ã¾ã™ã€‚")
numeric_cols = ["17æ¥­ç¨®ã‚³ãƒ¼ãƒ‰", "è¦æ¨¡ã‚³ãƒ¼ãƒ‰"]
df = df_code_info_missing_change
df = cu.convert_columns_type(df, numeric_cols, "int", True)

print("\nstring å‹ã«çµ±ä¸€ã—ã¾ã™ã€‚")
df = df.assign(**{col: df[col].astype("string") for col in df.columns if col not in numeric_cols})

print("\næ—¥ä»˜åˆ—ã‚’ datetime ã«å¤‰æ›ã—ã¾ã™ã€‚")
df["æ—¥ä»˜"] = pd.to_datetime(df["æ—¥ä»˜"], errors="coerce", format="%Y%m%d")
df_type_change = df

print("\næ¬ æå€¤è¡¨ç¾ã‚’ç¢ºèªã—ã¾ã™ã€‚")
df_missing_values_expression = cu.chk_missing_values_expression(df_type_change, filename=settings["files"]["reference"], option_value="")
display(df_missing_values_expression)

print("\nãƒ‡ãƒ¼ã‚¿å‹ã‚’ç¢ºèªã—ã¾ã™ã€‚")
df_type = cu.chk_dtype(df=df_type_change,filename=settings["files"]["reference"],option_value="",na_drop=True)
display(df_type)

display(df_type_change)

ãƒ­ãƒ¼ãƒ‰ã—ã¾ã™ã€‚

æ¬ æå€¤è¡¨ç¾ã‚’ç¢ºèªã—ã¾ã™ã€‚

æ¬ æå€¤å‡¦ç†ã‚’ã—ã¾ã™ã€‚

æ•°å€¤åˆ—ã‚’ Int64 ã«å¤‰æ›ã—ã¾ã™ã€‚

åˆ— '17æ¥­ç¨®ã‚³ãƒ¼ãƒ‰' ã‚’ int ã«å¤‰æ›ä¸­...
done

åˆ— 'è¦æ¨¡ã‚³ãƒ¼ãƒ‰' ã‚’ int ã«å¤‰æ›ä¸­...
done

string å‹ã«çµ±ä¸€ã—ã¾ã™ã€‚

æ—¥ä»˜åˆ—ã‚’ datetime ã«å¤‰æ›ã—ã¾ã™ã€‚

æ¬ æå€¤è¡¨ç¾ã‚’ç¢ºèªã—ã¾ã™ã€‚

,col,empty,space,-,â€•,â€”,--,Na,na,N/A,n/a,None,none,NULL,null,0,0.0,alphabet,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤
0,æ—¥ä»˜,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CodeData.csv,
1,ã‚³ãƒ¼ãƒ‰,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,257,CodeData.csv,
2,éŠ˜æŸ„å,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CodeData.csv,
3,å¸‚å ´ãƒ»å•†å“åŒºåˆ†,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,614,CodeData.csv,
4,33æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,467,CodeData.csv,
5,33æ¥­ç¨®åŒºåˆ†,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,467,CodeData.csv,
6,17æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,467,CodeData.csv,
7,17æ¥­ç¨®åŒºåˆ†,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,467,CodeData.csv,
8,è¦æ¨¡ã‚³ãƒ¼ãƒ‰,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2731,CodeData.csv,
9,è¦æ¨¡åŒºåˆ†,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,4403,CodeData.csv,

ãƒ‡ãƒ¼ã‚¿å‹ã‚’ç¢ºèªã—ã¾ã™ã€‚

,ãƒ•ã‚¡ã‚¤ãƒ«å,ã‚ªãƒ—ã‚·ãƒ§ãƒ³å€¤,åˆ—å,dtype,sample_types
0,CodeData.csv,,æ—¥ä»˜,datetime64[ns],[<class 'pandas._libs.tslibs.timestamps.Timest...
1,CodeData.csv,,ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
2,CodeData.csv,,éŠ˜æŸ„å,string[python],[<class 'str'>]
3,CodeData.csv,,å¸‚å ´ãƒ»å•†å“åŒºåˆ†,string[python],[<class 'str'>]
4,CodeData.csv,,33æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,string[python],[<class 'str'>]
5,CodeData.csv,,33æ¥­ç¨®åŒºåˆ†,string[python],[<class 'str'>]
6,CodeData.csv,,17æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,Int64,[<class 'int'>]
7,CodeData.csv,,17æ¥­ç¨®åŒºåˆ†,string[python],[<class 'str'>]
8,CodeData.csv,,è¦æ¨¡ã‚³ãƒ¼ãƒ‰,Int64,[<class 'int'>]
9,CodeData.csv,,è¦æ¨¡åŒºåˆ†,string[python],[<class 'str'>]

,æ—¥ä»˜,ã‚³ãƒ¼ãƒ‰,éŠ˜æŸ„å,å¸‚å ´ãƒ»å•†å“åŒºåˆ†,33æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,33æ¥­ç¨®åŒºåˆ†,17æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,17æ¥­ç¨®åŒºåˆ†,è¦æ¨¡ã‚³ãƒ¼ãƒ‰,è¦æ¨¡åŒºåˆ†
0,2025-09-30,1301,æ¥µæ´‹,ãƒ—ãƒ©ã‚¤ãƒ ï¼ˆå†…å›½æ ªå¼ï¼‰,50,æ°´ç”£ãƒ»è¾²æ—æ¥­,1,é£Ÿå“,7,TOPIX Small 2
1,2025-09-30,1305,ï½‰ï¼¦ï½’ï½…ï½…ï¼¥ï¼´ï¼¦ã€€ï¼´ï¼¯ï¼°ï¼©ï¼¸ï¼ˆå¹´ï¼‘å›æ±ºç®—å‹ï¼‰,ETFãƒ»ETN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,2025-09-30,1306,ï¼®ï¼¥ï¼¸ï¼´ã€€ï¼¦ï¼µï¼®ï¼¤ï¼³ã€€ï¼´ï¼¯ï¼°ï¼©ï¼¸é€£å‹•å‹ä¸Šå ´æŠ•ä¿¡,ETFãƒ»ETN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,2025-09-30,1308,ä¸Šå ´ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ãƒ•ã‚¡ãƒ³ãƒ‰ï¼´ï¼¯ï¼°ï¼©ï¼¸,ETFãƒ»ETN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,2025-09-30,1309,ï¼®ï¼¥ï¼¸ï¼´ã€€ï¼¦ï¼µï¼®ï¼¤ï¼³ã€€ï¼£ï½ˆï½‰ï½ï½ï¼¡ï¼­ï¼£ãƒ»ä¸­å›½æ ªå¼ãƒ»ä¸Šè¨¼ï¼•ï¼é€£å‹•å‹ä¸Šå ´æŠ•ä¿¡,ETFãƒ»ETN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...
4398,2025-09-30,9991,ã‚¸ã‚§ã‚³ã‚¹,ãƒ—ãƒ©ã‚¤ãƒ ï¼ˆå†…å›½æ ªå¼ï¼‰,6050,å¸å£²æ¥­,13,å•†ç¤¾ãƒ»å¸å£²,7,TOPIX Small 2
4399,2025-09-30,9993,ãƒ¤ãƒã‚¶ãƒ¯,ã‚¹ã‚¿ãƒ³ãƒ€ãƒ¼ãƒ‰ï¼ˆå†…å›½æ ªå¼ï¼‰,6100,å°å£²æ¥­,14,å°å£²,<NA>,<NA>
4400,2025-09-30,9994,ã‚„ã¾ã‚„,ã‚¹ã‚¿ãƒ³ãƒ€ãƒ¼ãƒ‰ï¼ˆå†…å›½æ ªå¼ï¼‰,6100,å°å£²æ¥­,14,å°å£²,<NA>,<NA>
4401,2025-09-30,9996,ã‚µãƒˆãƒ¼å•†ä¼š,ã‚¹ã‚¿ãƒ³ãƒ€ãƒ¼ãƒ‰ï¼ˆå†…å›½æ ªå¼ï¼‰,6050,å¸å£²æ¥­,13,å•†ç¤¾ãƒ»å¸å£²,<NA>,<NA>
4402,2025-09-30,9997,ãƒ™ãƒ«ãƒ¼ãƒŠ,ãƒ—ãƒ©ã‚¤ãƒ ï¼ˆå†…å›½æ ªå¼ï¼‰,6100,å°å£²æ¥­,14,å°å£²,6,TOPIX Small 1