## ÂàùÊúüË®≠ÂÆö

In [1]:
# --- NotebookÂàùÊúüË®≠ÂÆö ---
%load_ext autoreload
%autoreload 2
import src.config as cfg
import src.data_loader as dl
import src.cleaning_utils as cu
print("üîÅ autoreload ÊúâÂäπÂåñÂÆå‰∫Ü")
import yaml
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from collections import defaultdict
import hashlib

üîÅ autoreload ÊúâÂäπÂåñÂÆå‰∫Ü

In [2]:
# Ë®≠ÂÆöË™≠„ÅøËæº„Åø
settings = cfg.load_settings("setting.yaml")
display(settings)

{'project_name': 'stock_screening',
 'data_path': {'raw': './data/raw',
  'interim': './data/interim',
  'processed': './data/processed'},
 'files': {'raw': ['fy-balance-sheet.csv',
   'fy-cash-flow-statement.csv',
   'fy-profit-and-loss.csv',
   'fy-stock-dividend.csv'],
  'reference': ['CodeData.csv'],
  'interim': None,
  'processed': None},
 'years': [2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024,
  2025],
 'na_values': [''],
 'output': {'base_path': './output'}}

## Êú¨„Éï„Ç°„Ç§„É´„ÅÆË™¨Êòé
„Éá„Éº„Çø„ÅåÊúÄ‰ΩéÈôê„ÅÆÂìÅË≥™Âü∫Ê∫ñ„ÇíÊ∫Ä„Åü„Åó„Å¶„ÅÑ„Çã„Åã„ÇíÁ∂≤ÁæÖÁöÑ„Å´Á¢∫Ë™ç„Åó„ÄÅ„Éï„Ç°„Ç§„É´„É≠„Éº„Éâ„Åã„Çâ„ÇØ„É™„Éº„Éã„É≥„Ç∞„Åæ„Åß„ÅÆ„Éó„É≠„Çª„Çπ„ÇíÊ±∫ÂÆö„Åó„Åæ„Åô„ÄÇ

<details>
<summary><b>ÁµêÊûú</b></summary>


</details>

### „Éá„Éº„Çø„ÅÆ„É≠„Éº„Éâ„ÅÆÁ¢∫Ë™ç
„Éï„Ç°„Ç§„É´ÈáçË§á„ÇÑ„Éï„Ç°„Ç§„É´Ê¨†Êêç„ÄÅÁ†¥Â£ä„Åå„Å™„ÅÑ„Åã„ÇíÁ¢∫„Åã„ÇÅ„ÄÅ„Éó„É≠„Çª„Çπ„ÇíÁ¢∫ÂÆö„Åó„Åæ„Åô„ÄÇ
<details>
<summary><b>ÁµêÊûú</b></summary>

„Éï„Ç°„Ç§„É´„ÅÆÈáçË§á„ÇÑÊ¨†Êêç„ÅØ„Å™„Åè„ÄÅÊ≠£„Åó„Åè„É≠„Éº„Éâ„Åï„Çå„Åæ„Åó„Åü„ÄÇ  
‰øÆÊ≠£Âá¶ÁêÜ„ÅØ‰∏çË¶Å„Åß„Åô„ÄÇ
</details>

In [3]:
print("")
print("„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„Çí„É≠„Éº„Éâ„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.load_data_by_files(
    settings["data_path"]["raw"],settings["years"],settings["files"]["raw"]
)
display(df_DATAs_BY_ALL_FILEs)

print("")
print("Ê¨°„Å´Ê¨†„Åë„Å¶„Çã„Éï„Ç°„Ç§„É´„Åå„Å™„ÅÑ„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô")
def chk_file_missing(df_DATAs_BY_ALL_FILEs):
    flg = True
    for (filename,year), df in df_DATAs_BY_ALL_FILEs.items():
        if df.empty:
            print("‚ùå ".filename,year,"„Éá„Éº„Çø„Éï„É¨„Éº„É†„ÅåÁ©∫„Åß„Åô")
            flg = False
    if flg:
        print("‚úÖ „Éï„Ç°„Ç§„É´Ê¨†Êêç„ÅØ„ÅÇ„Çä„Åæ„Åõ„Çì„ÄÇ")
chk_file_missing(df_DATAs_BY_ALL_FILEs)

print("")
print("ÈáçË§á„Éï„Ç°„Ç§„É´„Åå„Å™„ÅÑ„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô")
def df_hash(df, ignore_order=False):
    data_only = df.copy().fillna("").astype(str)
    if ignore_order:
        # Ë°åÈ†Ü„ÇÇÁÑ°Ë¶ñÔºàÂÖ®Âàó„ÇΩ„Éº„Éà„Åó„Å¶„Åã„ÇâÊØîËºÉÔºâ
        data_only = data_only.sort_values(by=data_only.columns.tolist()).reset_index(drop=True)
    # ÂàóÂêç„ÇíÁÑ°Ë¶ñ„Åó„Å¶ÂÜÖÂÆπ„Å†„Åë„Åß„Éè„ÉÉ„Ç∑„É•„ÇíÁîüÊàê
    h = hashlib.md5(pd.util.hash_pandas_object(data_only, index=True).values)
    return h.hexdigest()
hash_map = defaultdict(list)
for (fname, year), df in df_DATAs_BY_ALL_FILEs.items():
    h = df_hash(df, ignore_order=False)  # ‚ÜêË°åÈ†Ü„ÇíÁÑ°Ë¶ñ„Åó„Åü„ÅÑ„Å™„Çâ True „Å´
    hash_map[h].append((fname, year))
duplicates = {h: keys for h, keys in hash_map.items() if len(keys) > 1}
if duplicates:
    print("üîç Âêå„ÅòÂÜÖÂÆπ„ÅÆ„Éá„Éº„Çø„Éï„É¨„Éº„É†Ôºà„Éò„ÉÉ„ÉÄ„ÉºÁÑ°Ë¶ñÔºâ„ÅåË¶ã„Å§„Åã„Çä„Åæ„Åó„ÅüÔºö\n")
    for h, key_group in duplicates.items():
        print(f"„Éè„ÉÉ„Ç∑„É•: {h}")
        for fname, year in key_group:
            print(f"  - {fname}Ôºà{year}Ôºâ")
        print()
else:
    print("‚úÖ ÈáçË§á„Éá„Éº„Çø„Éï„É¨„Éº„É†„ÅØ„ÅÇ„Çä„Åæ„Åõ„Çì„ÄÇ")

print("")
print("„Éá„Éº„Çø„É≠„Éº„Éâ„ÅÆÁ¢∫Ë™ç„ÇíÁµÇ‰∫Ü„Åó„Åæ„Åô„ÄÇ")

„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„Çí„É≠„Éº„Éâ„Åó„Åæ„Åô

{('fy-balance-sheet.csv',
  2010):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£          Á¥îË≥áÁî£         Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2010-03-01   64301000000  18538000000  18391000000  12589000000
 1     1332 2010-03-01  383924000000  79567000000  69766000000  32530000000
 2     1333 2010-03-01  113684000000  24435000000            -            -
 3     1352 2010-03-01   11967000000   5439000000   5268000000   1561000000
 4     1375 2010-03-01   32083000000   6318000000   6307000000   3056000000
 ...    ...        ...           ...          ...          ...          ...
 3401  9993 2010-03-01   39681154000  25865933000  25905452000  21401677000
 3402  9994 2010-03-01   33044000000  15750000000  15730000000   6427000000
 3403  9995 2010-03-01   36949822000  16216967000  16315762000   7883718000
 3404  9996 2010-03-01   25279430000  17036692000  17124079000  14463977000
 3405  9997 2010-03-01  119703000000  54217000000  55392000000  42578000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      26724000000    2712000000  1651.87   28.1
 1     114639000000  106993000000   231.06     16
 2                -             -        -   21.5
 3                -     497000000   628.95     44
 4                -    7786000000     1.62     19
 ...            ...           ...      ...    ...
 3401    1720000000             -  2359.47   65.2
 3402    3500000000    1808000000     1452   47.7
 3403     974997000     141673000   677.71   43.9
 3404     565000000             -   1861.4   67.4
 3405   12688000000    7537000000   479.03   45.3

 [3406 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2011):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£          Á¥îË≥áÁî£         Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2011-03-01   76925000000  17555000000  17785000000  12119000000
 1     1332 2011-03-01  401185000000  73214000000  64745000000  27512000000
 2     1333 2011-03-01  112409000000  25820000000            -            -
 3     1352 2011-03-01   12534000000   5414000000   5223000000   1517000000
 4     1375 2011-03-01   38001000000   5917000000   5875000000   3329000000
 ...    ...        ...           ...          ...          ...          ...
 3508  9993 2011-03-01   41978000000  26362000000  26386023000  21881422000
 3509  9994 2011-03-01   32593000000  16348000000  16332000000   7029000000
 3510  9995 2011-03-01   41559000000  16901000000  17107121000   8675617000
 3511  9996 2011-03-01   23861545000  17083700000  17184512000  14524587000
 3512  9997 2011-03-01  110595000000  57465000000  59029000000  46215000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      36102000000    3622000000  1562.75   22.2
 1     128588000000  118740000000   190.64   13.2
 2                -             -        -     23
 3                -     487000000   623.34   41.7
 4                -   12365000000     1.51   14.9
 ...            ...           ...      ...    ...
 3508    1340000000             -  2404.53   62.8
 3509    3300000000    1212000000  1507.13   50.2
 3510    8490951000      41677000    706.3   40.7
 3511     570000000             -  1866.53   71.6
 3512    4893000000    8494000000   507.72     52

 [3513 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2012):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£          Á¥îË≥áÁî£         Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2012-03-01   84937000000  17212000000  17683000000  12017000000
 1     1332 2012-03-01  403182000000  66530000000  63320000000  26089000000
 2     1333 2012-03-01  134504000000  20548000000            -            -
 3     1352 2012-03-01   14271000000   5499000000   5255000000   1549000000
 4     1375 2012-03-01   39503000000   2672000000   2811000000    458000000
 ...    ...        ...           ...          ...          ...          ...
 3584  9993 2012-03-01   46938000000  27692000000  27717461000  23213145000
 3585  9994 2012-03-01   33875000000  18321000000  18304000000   9005000000
 3586  9995 2012-03-01   44020000000  17317000000  17497558000   9066267000
 3587  9996 2012-03-01   27328798000  17554518000  17624789000  14964895000
 3588  9997 2012-03-01   99174000000  60805000000  61915000000  49761000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      39205000000    2797000000   1552.5     20
 1     120711000000  119792000000   175.02     12
 2                -             -        -     15
 3                -     264000000   627.28   36.8
 4                -   14181000000     0.72    6.6
 ...            ...           ...      ...    ...
 3584    1400000000             -  2525.49     59
 3585    1500000000     616000000  1689.04   54.1
 3586    4213375000    3000000000   723.68   39.3
 3587     580000000             -  1917.97   64.2
 3588    2560000000    6983000000   537.22   61.3

 [3589 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2013):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£          Á¥îË≥áÁî£         Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2013-03-01   83245000000  18683000000  18512000000  12846000000
 1     1332 2013-03-01  424108000000  66404000000  56815000000  19585000000
 2     1333 2013-03-01  124453000000  23415000000  29615000000   7885000000
 3     1352 2013-03-01   17146000000   5642000000   5336000000   1630000000
 4     1375 2013-03-01   38415000000    910000000    882000000  -1471000000
 ...    ...        ...           ...          ...          ...          ...
 3674  9993 2013-02-01   46967000000  28078000000  28063184000  23559079000
 3675  9994 2013-03-01   35728000000  20306000000  20197000000  10899000000
 3676  9995 2013-03-01   35865000000  17976000000  17895610000   9464325000
 3677  9996 2013-03-01   27788026000  18371136000  18356593000  15696707000
 3678  9997 2013-03-01  115079000000  66612000000  66835000000  54900000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      23191000000    8153000000   1687.1   22.1
 1     130736000000  131940000000   190.71   12.5
 2      39310000000   37801000000    76.54   18.4
 3        600000000    3126000000   638.62   31.2
 4                -   13494000000     0.23    2.2
 ...            ...           ...      ...    ...
 3674    4450000000             -  2560.29   59.7
 3675    2500000000             -  1872.04   56.8
 3676    1411661000    4000000000   751.21   50.1
 3677     580000000             -   2007.2   66.1
 3678    7456000000    5783000000   588.54   57.9

 [3679 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2014):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£          Á¥îË≥áÁî£         Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2014-03-01   84319000000  19930000000  20954000000  15289000000
 1     1332 2014-03-01  434597000000  87757000000  60813000000  23583000000
 2     1333 2014-03-01  151536000000  31492000000  33345000000  11615000000
 3     1352 2014-03-01   24423000000   5641000000   5294000000   1590000000
 4     1375 2014-03-01   36564000000   2636000000   2238000000   -115000000
 ...    ...        ...           ...          ...          ...          ...
 3775  9993 2014-02-01   52170000000  27958000000  27938509000  23434822000
 3776  9994 2014-03-01   71865000000  24246000000  22218000000  12922000000
 3777  9995 2014-03-01   36246000000  19327000000  18873000000  10442000000
 3778  9996 2014-03-01   27198621000  18823704000  18846053000  16186235000
 3779  9997 2014-03-01  130648000000  73480000000  72875000000  60941000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      19734000000   11997000000  1875.72   23.4
 1     127887000000  128259000000    254.6   16.2
 2      48807000000   44264000000   101.49   20.1
 3       2175000000    4993000000   635.27   21.8
 4                -   10332000000     0.58    7.2
 ...            ...           ...      ...    ...
 3775    6526000000    1054485000  2567.43   53.6
 3776    6800000000   10785000000  2057.58   31.1
 3777    1151000000    1000000000   808.08   53.3
 3778     585000000             -  2105.22   69.2
 3779    5829000000   19557000000   755.66   56.2

 [3780 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2015):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£           Á¥îË≥áÁî£         Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2015-03-01   88937000000   23069000000  22202000000  16537000000
 1     1332 2015-03-01  461889000000  109111000000  69536000000  32309000000
 2     1333 2015-03-01  502016000000  109177000000  78567000000  17971000000
 3     1352 2015-03-01   24313000000    5226000000   4831000000   1127000000
 4     1375 2015-09-01   34072000000    1929000000            -            -
 ...    ...        ...           ...           ...          ...          ...
 3884  9993 2015-02-01   53690000000   28068000000  27977000000  23472000000
 3885  9994 2015-03-01   69641000000   26446000000  23311000000  13993000000
 3886  9995 2015-03-01   37258000000   22999000000  21826000000  11785000000
 3887  9996 2015-03-01   28581878000   19668373000  19597089000  16937365000
 3888  9997 2015-03-01  152224000000   79510000000  78054000000  66120000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      21520000000   11834000000  2156.42   25.5
 1     139941000000  114399000000   326.37   19.5
 2     176444000000  113145000000  1688.57   17.7
 3       2100000000    4577000000   584.89   20.1
 4                -             -        -      -
 ...            ...           ...      ...    ...
 3884    6785000000     767000000   2577.1   52.2
 3885    8000000000    5482000000  2168.57   33.8
 3886    2254000000             -   870.73   61.7
 3887     590000000             -  2199.71   68.8
 3888    7672000000   31995000000   814.96   52.1

 [3889 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2016):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£           Á¥îË≥áÁî£         Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2016-03-01   94608000000   23065000000  23405000000  17739000000
 1     1332 2016-03-01  445707000000  114030000000  81282000000  44058000000
 2     1333 2016-03-01  485973000000  105666000000  79610000000  19922000000
 3     1352 2016-03-01   29526000000    5526000000   5065000000   1361000000
 4     1375 2016-03-01   36505000000    5880000000            -            -
 ...    ...        ...           ...           ...          ...          ...
 3994  9993 2016-02-01   52125000000   28188000000  28183000000  23677000000
 3995  9994 2016-03-01   69824000000   28847000000  25065000000  16009000000
 3996  9995 2016-03-01   33784000000   22921000000  22318000000  12278000000
 3997  9996 2016-03-01   29495080000   20415750000  20402288000  17742724000
 3998  9997 2016-03-01  161055000000   80646000000  80382000000  68449000000

              Áü≠ÊúüÂÄüÂÖ•Èáë        Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      14562000000  22177000000  2149.64   23.9
 1     137553000000  95104000000    343.6   21.3
 2     183253000000  98108000000   1618.5   17.5
 3       5800000000   6461000000   612.84   17.4
 4                -            -        -      -
 ...            ...          ...      ...    ...
 3994    5400000000   1109000000  2587.63     54
 3995    9300000000   4874000000  2324.11   36.1
 3996    1913000000            -   867.74   67.8
 3997     590000000            -  2283.33   69.2
 3998    8109000000  38359000000   824.56   49.8

 [3999 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2017):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£           Á¥îË≥áÁî£          Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2017-03-01   97386000000   25391000000   25301000000  19637000000
 1     1332 2017-03-01  451876000000  141205000000  108163000000  56666000000
 2     1333 2017-03-01  501303000000  122820000000   93511000000  33789000000
 3     1352 2017-03-01   33620000000    6154000000    5604000000   1900000000
 4     1375 2017-12-01   33562000000    7446000000             -            -
 ...    ...        ...           ...           ...           ...          ...
 4121  9993 2017-02-01   51799000000   29265000000   29190000000  24679000000
 4122  9994 2017-03-01   67852000000   31257000000   26449000000  17393000000
 4123  9995 2017-03-01   35326000000   23734000000   22833000000  12793000000
 4124  9996 2017-03-01   30294814000   21165214000   21107736000  18448432000
 4125  9997 2017-03-01  179024000000   87773000000   84969000000  63359000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      19359000000   18775000000  2378.04   25.6
 1     138440000000   69309000000   388.37   26.8
 2     149036000000  123172000000  1912.52   20.1
 3       5000000000   11474000000   679.71   16.9
 4                -             -        -      -
 ...            ...           ...      ...    ...
 4121    3300000000     853000000  2685.85   56.5
 4122    8200000000    3814000000   2456.1   39.3
 4123    1570000000             -   898.52   67.2
 4124     595000000             -  2367.21   69.9
 4125    5924000000   46157000000   872.86   47.4

 [4126 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2018):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£           Á¥îË≥áÁî£          Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2018-03-01  106297000000   29243000000   28828000000  22218000000
 1     130A 2018-12-01     233656000     192406000             -            -
 2     1332 2018-03-01  482233000000  157106000000  123305000000  71130000000
 3     1333 2018-03-01  516607000000  140049000000  107169000000  47523000000
 4     1352 2018-03-01   33471000000    6480000000    5860000000   2157000000
 ...    ...        ...           ...           ...           ...          ...
 4223  9993 2018-02-01   50906000000   29297000000   29221000000  24709000000
 4224  9994 2018-03-01   70744000000   35112000000   29428000000  20375000000
 4225  9995 2018-03-01   36045000000   24685000000   23771000000  13730000000
 4226  9996 2018-03-01   33505695000   22108779000   22007402000  19348317000
 4227  9997 2018-03-01  195946000000   93058000000   93374000000  71809000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      19384000000   19800000000  2678.89   27.2
 1                -             -        -   82.3
 2     115058000000   88807000000   442.13   28.6
 3     138199000000  127838000000  2193.78   22.3
 4       3820000000   10952000000   710.55   17.8
 ...            ...           ...      ...    ...
 4223    4270000000     537000000  2688.27   57.5
 4224    6700000000    1088000000  2735.67   41.9
 4225    2081000000             -   934.56   68.5
 4226     668000000             -  2472.79     66
 4227    7652000000   45472000000    949.7   47.1

 [4228 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2019):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£           Á¥îË≥áÁî£          Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2019-03-01  114673000000   31996000000   31346000000  24618000000
 1     130A 2019-12-01     873761000     814197000             -            -
 2     1332 2019-03-01  477913000000  166158000000  135960000000  83988000000
 3     1333 2019-03-01  520318000000  150379000000  121739000000  62113000000
 4     1352 2019-03-01   41689000000    6720000000    6029000000   2325000000
 ...    ...        ...           ...           ...           ...          ...
 4288  9993 2019-02-01   49397000000   28658000000   28619000000  24104000000
 4289  9994 2019-03-01   71454000000   38423000000   32167000000  23114000000
 4290  9995 2019-03-01   34004000000   23400000000   22774000000  14110000000
 4291  9996 2019-03-01   34187469000   23002280000   22930723000  20271699000
 4292  9997 2019-03-01  213786000000  100533000000  102215000000  80816000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      24469000000   23193000000  2941.17   27.7
 1                -             -        -   93.2
 2     104078000000   86979000000   470.28   30.6
 3     126186000000  137221000000  2381.94   24.1
 4       3000000000   17964000000   727.76   14.6
 ...            ...           ...      ...    ...
 4288    3920000000     526000000  2629.11     58
 4289    8100000000     295000000  2981.25   45.2
 4290    1630000000     476000000   978.53   68.8
 4291     698000000             -  2572.73   67.3
 4292   14368000000   45339000000  1028.56   46.7

 [4293 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2020):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£           Á¥îË≥áÁî£          Ê†™‰∏ªË≥áÊú¨        Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2020-03-01  111184000000   32593000000   32396000000  25895000000
 1     130A 2020-12-01     596249000     516291000             -            -
 2     1332 2020-03-01  491533000000  172300000000  148069000000  96237000000
 3     1333 2020-03-01  528063000000  158978000000  132747000000  73069000000
 4     1352 2020-03-01   40128000000    7097000000    6315000000   2612000000
 ...    ...        ...           ...           ...           ...          ...
 4269  9993 2020-02-01   50284000000   28162000000   28117000000  23590000000
 4270  9994 2020-03-01   63320000000   36659000000   31871000000  22832000000
 4271  9995 2020-03-01   32061000000   22550000000   22615000000  13864000000
 4272  9996 2020-03-01   32271030000   23710892000   23700101000  21041207000
 4273  9997 2020-03-01  223128000000  102525000000  106253000000  85177000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0      25594000000   19124000000  3046.12   29.4
 1                -             -        -   86.6
 2     120877000000  100361000000   492.22   31.2
 3     122510000000  139204000000  2520.27   25.1
 4       1940000000   19545000000   760.24   15.9
 ...            ...           ...      ...    ...
 4269    4550000000     410000000  2582.22     56
 4270    6000000000      49000000  2944.49   50.4
 4271    1531000000     404000000   934.81   70.3
 4272     683000000             -  2652.01   73.5
 4273   12046000000   55774000000  1054.14   45.7

 [4274 rows x 10 columns],
 ('fy-balance-sheet.csv',
  2021):        „Ç≥„Éº„Éâ         Âπ¥Â∫¶           Á∑èË≥áÁî£           Á¥îË≥áÁî£          Ê†™‰∏ªË≥áÊú¨         Âà©ÁõäÂâ∞‰ΩôÈáë  \
 0     1301 2021-03-01  116331000000   39975000000   35300000000   28737000000
 1     130A 2021-12-01    1754789000    1683971000    1683971000    -530225000
 2     1332 2021-03-01  475468000000  187779000000  159648000000  107781000000
 3     1333 2021-03-01  532866000000  166660000000  138081000000   76406000000
 4     1352 2021-03-01   41388000000    7855000000    6946000000    3243000000
 ...    ...        ...           ...           ...           ...           ...
 4219  9993 2021-02-01   50902000000   28732000000   28701000000   24173000000
 4220  9994 2021-03-01   57614000000   24378000000   23397000000   14343000000
 4221  9995 2021-03-01   33653000000   22501000000   22021000000   13184000000
 4222  9996 2021-03-01   31643755000   24081828000   24007340000   21348740000
 4223  9997 2021-03-01  240211000000  113231000000  115752000000   94667000000

              Áü≠ÊúüÂÄüÂÖ•Èáë         Èï∑ÊúüÂÄüÂÖ•Èáë      BPS Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
 0       8056000000   32720000000  3753.75   34.7
 1                -             -    306.1     96
 2      68577000000  112230000000   544.54   35.6
 3     135920000000  123917000000  2707.91   26.7
 4       1900000000   18787000000   834.05   16.9
 ...            ...           ...      ...    ...
 4219    3400000000     695000000  2634.55   56.4
 4220   10550000000     706000000  2188.21   41.2
 4221    3197000000     310000000   924.83   66.9
 4222     683000000             -  2693.56   76.1
 4223    5909000000   56797000000  1164.96   46.9

 [4224 rows x 10 columns],
 ('fy-balance-sheet.csv',

Ê¨°„Å´Ê¨†„Åë„Å¶„Çã„Éï„Ç°„Ç§„É´„Åå„Å™„ÅÑ„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô
‚úÖ „Éï„Ç°„Ç§„É´Ê¨†Êêç„ÅØ„ÅÇ„Çä„Åæ„Åõ„Çì„ÄÇ

ÈáçË§á„Éï„Ç°„Ç§„É´„Åå„Å™„ÅÑ„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô
‚úÖ ÈáçË§á„Éá„Éº„Çø„Éï„É¨„Éº„É†„ÅØ„ÅÇ„Çä„Åæ„Åõ„Çì„ÄÇ

„Éá„Éº„Çø„É≠„Éº„Éâ„ÅÆÁ¢∫Ë™ç„ÇíÁµÇ‰∫Ü„Åó„Åæ„Åô„ÄÇ

### Ê¨†ÊêçÂÄ§Ë°®Áèæ„ÅÆÁ¢∫Ë™ç„Å®Âá¶ÁêÜ
Ê¨†ÊêçÂÄ§„ÅÆË°®Áèæ„ÇíÁ¢∫Ë™ç„Åó„ÄÅ‰øÆÊ≠£„Éó„É≠„Çª„Çπ„ÇíÊ±∫ÂÆö„Åó„Åæ„Åô„ÄÇ

<details>
<summary><b>ÁµêÊûú</b></summary>

"-"„ÅåÊ¨†ÊêçÂÄ§„Å®„Åó„Å¶‰Ωø„Çè„Çå„Å¶„ÅÑ„Åæ„Åô„ÄÇ  
„Åì„Çå„ÅØsetting.yaml„ÅÆnan_values„Å´ÁôªÈå≤„ÅóÊ¨†ÊêçÂÄ§„Å®„Åó„Å¶Ë™≠„ÅøËæº„Åø„Åæ„Åô„ÄÇ  
  
„Åæ„Åü„ÄÅ„Çº„É≠„ÇÇ‰Ωø„Çè„Çå„Å¶„ÅÑ„Åæ„Åô„ÄÇ  
„Çº„É≠„ÅØÂÄ§„Å®„Åó„Å¶ÊÆã„Åó„ÄÅÂøÖË¶Å„Å´Âøú„Åò„Å¶features_generator„ÅßÂÜçË®àÁÆó„ÅóÊõ¥Êñ∞„Åó„Åæ„Åô„ÄÇ

‰ª•‰∏ã„Åå„Çº„É≠„Åå‰Ωø„Çè„Çå„Å¶„ÅÑ„ÇãÈ†ÖÁõÆ„Åß„Åô„ÄÇ  
{'fy-balance-sheet.csv': ['BPS', 'Áü≠ÊúüÂÄüÂÖ•Èáë', 'Á∑èË≥áÁî£', 'Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá', 'Èï∑ÊúüÂÄüÂÖ•Èáë']  
'fy-cash-flow-statement.csv': ['Âñ∂Ê•≠CF', 'Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥', 'ÊäïË≥áCF', 'ÁèæÈáëÂêåÁ≠âÁâ©', 'Ë®≠ÂÇôÊäïË≥á', 'Ë≤°ÂãôCF']  
'fy-profit-and-loss.csv': ['EPS', 'ROA', 'ROE', 'Âñ∂Ê•≠Âà©Áõä', 'Â£≤‰∏äÈ´ò', 'Á¥îÂà©Áõä', 'ÁµåÂ∏∏Âà©Áõä'],  
'fy-stock-dividend.csv': ['‰∏ÄÊ†™ÈÖçÂΩì', 'Ââ∞‰ΩôÈáë„ÅÆÈÖçÂΩì', 'Á¥îË≥áÁî£ÈÖçÂΩìÁéá', 'Á∑èÈÇÑÂÖÉÊÄßÂêë', 'Ëá™Á§æÊ†™Ë≤∑„ÅÑ', 'ÈÖçÂΩìÊÄßÂêë']}
</details>

In [4]:
# Ê¨†ÊêçÂÄ§„ÅÆË°®ÁèæÁ¢∫Ë™ç
print("")
print("„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„ÇíÂèñÂæó„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.load_data_by_files(
    settings["data_path"]["raw"],settings["years"],settings["files"]["raw"]
)
#display(df_DATAs_BY_ALL_FILEs)
print("")
print("„Éï„Ç°„Ç§„É´„Åî„Å®„Å´ÂêÑÊñáÂ≠óÂàó„ÅÆÂÄãÊï∞„Çí„Ç´„Ç¶„É≥„Éà„Åó„Åæ„Åô")
COUNT_COLUMNS = ["col","empty", "space", "-", "‚Äï", "‚Äî", "--", "Na", "na", "N/A", "n/a", "None", "none", "NULL", "null", "0", "alphabet"]
FINAL_COLUMNS = COUNT_COLUMNS + ["„Éï„Ç°„Ç§„É´Âêç", "‰ºöË®àÂπ¥"] # ËøΩË∑°„ÇíÊòéÁ¢∫„Å´„Åô„Çã„Åü„ÇÅ
df_placeholder_counts = pd.DataFrame(columns=FINAL_COLUMNS)
current_index = 0
for (filename,year), df in df_DATAs_BY_ALL_FILEs.items():
    for col in df:
        ser = df[col].fillna("")
        ser_str = ser.astype(str)
        #display(ser_str)
        row_data_tuple = (
            col,
            (ser_str == '').sum(), (ser_str == ' ').sum(),
            (ser_str == '-').sum(), (ser_str == '‚Äï').sum(), (ser_str == '‚Äî').sum(), (ser_str == '--').sum(),
            (ser_str == 'Na').sum(), (ser_str == 'na').sum(), (ser_str == 'N/A').sum(), (ser_str == 'n/a').sum(),
            (ser_str == 'None').sum(), (ser_str == 'none').sum(), (ser_str == 'NULL').sum(), (ser_str == 'null').sum(),
            (ser_str == '0').sum(), 
            ser_str.str.contains('[A-Za-z]', na=False).sum()
        )
        df_placeholder_counts.loc[current_index, COUNT_COLUMNS] = row_data_tuple
        df_placeholder_counts.loc[current_index, "„Éï„Ç°„Ç§„É´Âêç"] = filename
        df_placeholder_counts.loc[current_index, "‰ºöË®àÂπ¥"] = year

        current_index += 1
display(df_placeholder_counts)

„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„ÇíÂèñÂæó„Åó„Åæ„Åô

„Éï„Ç°„Ç§„É´„Åî„Å®„Å´ÂêÑÊñáÂ≠óÂàó„ÅÆÂÄãÊï∞„Çí„Ç´„Ç¶„É≥„Éà„Åó„Åæ„Åô

,col,empty,space,-,‚Äï,‚Äî,--,Na,na,N/A,n/a,None,none,NULL,null,0,alphabet,„Éï„Ç°„Ç§„É´Âêç,‰ºöË®àÂπ¥
0,„Ç≥„Éº„Éâ,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,fy-balance-sheet.csv,2010
1,Âπ¥Â∫¶,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,fy-balance-sheet.csv,2010
2,Á∑èË≥áÁî£,0,0,31,0,0,0,0,0,0,0,0,0,0,0,0,0,fy-balance-sheet.csv,2010
3,Á¥îË≥áÁî£,0,0,31,0,0,0,0,0,0,0,0,0,0,0,0,0,fy-balance-sheet.csv,2010
4,Ê†™‰∏ªË≥áÊú¨,0,0,159,0,0,0,0,0,0,0,0,0,0,0,0,0,fy-balance-sheet.csv,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,Ââ∞‰ΩôÈáë„ÅÆÈÖçÂΩì,0,0,465,0,0,0,0,0,0,0,0,0,0,0,1,0,fy-stock-dividend.csv,2025
556,Ëá™Á§æÊ†™Ë≤∑„ÅÑ,0,0,1385,0,0,0,0,0,0,0,0,0,0,0,8,0,fy-stock-dividend.csv,2025
557,ÈÖçÂΩìÊÄßÂêë,0,0,721,0,0,0,0,0,0,0,0,0,0,0,16,0,fy-stock-dividend.csv,2025
558,Á∑èÈÇÑÂÖÉÊÄßÂêë,0,0,763,0,0,0,0,0,0,0,0,0,0,0,135,0,fy-stock-dividend.csv,2025
559,Á¥îË≥áÁî£ÈÖçÂΩìÁéá,0,0,495,0,0,0,0,0,0,0,0,0,0,0,21,0,fy-stock-dividend.csv,2025

In [5]:
print("")
print("Ê¨†ÊêçÂÄ§„Å®Áñë„Çè„Çå„Çã„Ç≥„Éº„Éâ„ÇíÂá∫Âäõ„Åó„Åæ„Åô„ÄÇ")
df = df_placeholder_counts.drop(["„Éï„Ç°„Ç§„É´Âêç","‰ºöË®àÂπ¥"],axis=1)
df = df.groupby("col").sum().sum()
#display(df)

print("")
print("Áñë„Çè„Çå„Çã„Ç≥„Éº„Éâ„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„ÇãÂàó„ÇíÂá∫Âäõ„Åó„Åæ„Åô")
df = df_placeholder_counts.drop(["„Éï„Ç°„Ç§„É´Âêç","‰ºöË®àÂπ¥"],axis=1)
df = df.groupby("col").sum().sum()
pl_list = df[df >0].index.tolist()
df = df_placeholder_counts.drop(["„Éï„Ç°„Ç§„É´Âêç","‰ºöË®àÂπ¥"],axis=1)
for value in pl_list:
    list = df[df[value]>0]["col"].unique()
    #print("--------------",value,"„ÅÆ„ÉÅ„Çß„ÉÉ„ÇØ----------------------------")
    #display(list)

print("")
print("„Ç¢„É´„Éï„Ç°„Éô„ÉÉ„Éà„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Çã„Ç≥„Éº„Éâ„ÇíÂá∫Âäõ„Åó„Åæ„Åô„ÄÇ")
for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
    df_tmp = df[df["„Ç≥„Éº„Éâ"].str.contains("[A-Za-z]", na=False)]
    code_list = df_tmp["„Ç≥„Éº„Éâ"].to_list()
    #print(code_list)

print("")
print("„Çº„É≠„ÅåÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„Çã„Éï„Ç°„Ç§„É´„Å®Âàó„ÇíÂá∫Âäõ„Åó„Åæ„Åô„ÄÇ")
df = df_placeholder_counts
df_0 = df.groupby(["„Éï„Ç°„Ç§„É´Âêç","col"])["0"].sum()
df_0 = df_0[df_0>0].reset_index()
print(df_0)
print(df_0['col'].dtype)

# 'col' Âàó„ÅÆ„Åô„Åπ„Å¶„ÅÆË¶ÅÁ¥†„ÅÆ„Éá„Éº„ÇøÂûã„ÇíÂèñÂæó„Åó„ÄÅ„Åù„ÅÆÂá∫ÁèæÂõûÊï∞„Çí„Ç´„Ç¶„É≥„Éà
#type_counts = df_0['col'].apply(type).value_counts()
#print("--- 'col' Âàó„ÅÆË¶ÅÁ¥†„ÅÆ„Éá„Éº„ÇøÂûã„Ç´„Ç¶„É≥„Éà ---")
#print(type_counts)

print("")
print("4„Å§„ÅÆ„Éï„Ç°„Ç§„É´„Åî„Å®„Å´Ë©≤ÂΩìÂàó„ÅÆ„É™„Çπ„Éà„ÇíÊ∫ñÂÇô„Åó„Åæ„Åô")
#df_0['col'] = df_0['col'].astype(str) 
#df_0['col'] = df_0['col'].apply(lambda x: str(x) if x is not None else x)
df_temp = df_0[['„Éï„Ç°„Ç§„É´Âêç', 'col']]
grouped = df_temp.groupby('„Éï„Ç°„Ç§„É´Âêç')
col_lists = {
    filename: group['col'].tolist()  # ÂêÑ„Ç∞„É´„Éº„Éó„Åã„Çâ 'col' Âàó„ÇíÊäΩÂá∫„Åó„ÄÅtolist()„ÅßPython„É™„Çπ„Éà„Å´Â§âÊèõ
    for filename, group in grouped
}
print(col_lists)

print("")
print("„Çº„É≠„ÅÆÂê´„Åæ„Çå„Çã„Ç≥„Éº„Éâ„ÅÆ„Éá„Éº„Çø„ÇíÁ¢∫Ë™ç„Åó„Åæ„Åô„ÄÇ")
print("„Åæ„Åö„ÅØÂπ¥„Åß„Çè„Åã„Çå„ÅüÂêÑ„Éï„Ç°„Ç§„É´„Çí„Å§„Å™„ÅéÂêà„Çè„Åõ„Åæ„Åô")
df_merge = {}
for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
    if filename not in df_merge:
        df_merge[filename] = []
    df_merge[filename].append(df)
df_final = {}
for filename in df_merge:
    df_final[filename]  = pd.concat(df_merge[filename])
display(df_final["fy-balance-sheet.csv"])

print("")
print("„Éï„Ç°„Ç§„É´„Åî„Å®„Å´„Çº„É≠„Çí„ÇÇ„Å§„Ç≥„Éº„Éâ„ÅÆÂÄ§„Çí„ÉÅ„Çß„ÉÉ„ÇØ„Åó„Åæ„Åô„ÄÇ")
filename = "fy-profit-and-loss.csv"
print("„Éï„Ç°„Ç§„É´Âêç:",filename)
df_all = df_final[filename]
for col_value in col_lists[filename]:
    #print(filename, col)
    df = df_all[df_all[col_value] == "0"]
    code_list = df["„Ç≥„Éº„Éâ"].unique()
    print("-----------------------",col_value,"-----------------------")
    for code in code_list:
        display(df_all[df_all["„Ç≥„Éº„Éâ"] == code])

Ê¨†ÊêçÂÄ§„Å®Áñë„Çè„Çå„Çã„Ç≥„Éº„Éâ„ÇíÂá∫Âäõ„Åó„Åæ„Åô„ÄÇ

Áñë„Çè„Çå„Çã„Ç≥„Éº„Éâ„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„ÇãÂàó„ÇíÂá∫Âäõ„Åó„Åæ„Åô

„Ç¢„É´„Éï„Ç°„Éô„ÉÉ„Éà„ÅåÂê´„Åæ„Çå„Å¶„ÅÑ„Çã„Ç≥„Éº„Éâ„ÇíÂá∫Âäõ„Åó„Åæ„Åô„ÄÇ

„Çº„É≠„ÅåÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„Çã„Éï„Ç°„Ç§„É´„Å®Âàó„ÇíÂá∫Âäõ„Åó„Åæ„Åô„ÄÇ
                         „Éï„Ç°„Ç§„É´Âêç       col     0
0         fy-balance-sheet.csv       BPS     5
1         fy-balance-sheet.csv     Áü≠ÊúüÂÄüÂÖ•Èáë    12
2         fy-balance-sheet.csv       Á∑èË≥áÁî£     1
3         fy-balance-sheet.csv    Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá     1
4         fy-balance-sheet.csv     Èï∑ÊúüÂÄüÂÖ•Èáë    17
5   fy-cash-flow-statement.csv      Âñ∂Ê•≠CF     2
6   fy-cash-flow-statement.csv  Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥    21
7   fy-cash-flow-statement.csv      ÊäïË≥áCF    15
8   fy-cash-flow-statement.csv     ÁèæÈáëÂêåÁ≠âÁâ©     2
9   fy-cash-flow-statement.csv      Ë®≠ÂÇôÊäïË≥á   234
10  fy-cash-flow-statement.csv      Ë≤°ÂãôCF    11
11      fy-profit-and-loss.csv       EPS    12
12      fy-profit-and-loss.csv       ROA    13
13      fy-profit-and-loss.csv       ROE     6
14      fy-profit-and-loss.csv      Âñ∂Ê•≠Âà©Áõä     2
15      fy-profit-and-loss.csv       Â£≤‰∏äÈ´ò    11
16      fy-profit-and-loss.csv       Á¥îÂà©Áõä     2
17      fy-profit-and-loss.csv      ÁµåÂ∏∏Âà©Áõä     4
18       fy-stock-dividend.csv      ‰∏ÄÊ†™ÈÖçÂΩì   409
19       fy-stock-dividend.csv    Ââ∞‰ΩôÈáë„ÅÆÈÖçÂΩì   113
20       fy-stock-dividend.csv    Á¥îË≥áÁî£ÈÖçÂΩìÁéá   427
21       fy-stock-dividend.csv     Á∑èÈÇÑÂÖÉÊÄßÂêë  1193
22       fy-stock-dividend.csv     Ëá™Á§æÊ†™Ë≤∑„ÅÑ  1340
23       fy-stock-dividend.csv      ÈÖçÂΩìÊÄßÂêë   302
object

4„Å§„ÅÆ„Éï„Ç°„Ç§„É´„Åî„Å®„Å´Ë©≤ÂΩìÂàó„ÅÆ„É™„Çπ„Éà„ÇíÊ∫ñÂÇô„Åó„Åæ„Åô
{'fy-balance-sheet.csv': ['BPS', 'Áü≠ÊúüÂÄüÂÖ•Èáë', 'Á∑èË≥áÁî£', 'Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá', 'Èï∑ÊúüÂÄüÂÖ•Èáë'], 'fy-cash-flow-statement.csv': ['Âñ∂Ê•≠CF', 'Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥', 'ÊäïË≥áCF', 'ÁèæÈáëÂêåÁ≠âÁâ©', 'Ë®≠ÂÇôÊäïË≥á', 'Ë≤°ÂãôCF'], 'fy-profit-and-loss.csv': ['EPS', 'ROA', 'ROE', 'Âñ∂Ê•≠Âà©Áõä', 'Â£≤‰∏äÈ´ò', 'Á¥îÂà©Áõä', 'ÁµåÂ∏∏Âà©Áõä'], 'fy-stock-dividend.csv': ['‰∏ÄÊ†™ÈÖçÂΩì', 'Ââ∞‰ΩôÈáë„ÅÆÈÖçÂΩì', 'Á¥îË≥áÁî£ÈÖçÂΩìÁéá', 'Á∑èÈÇÑÂÖÉÊÄßÂêë', 'Ëá™Á§æÊ†™Ë≤∑„ÅÑ', 'ÈÖçÂΩìÊÄßÂêë']}

„Çº„É≠„ÅÆÂê´„Åæ„Çå„Çã„Ç≥„Éº„Éâ„ÅÆ„Éá„Éº„Çø„ÇíÁ¢∫Ë™ç„Åó„Åæ„Åô„ÄÇ
„Åæ„Åö„ÅØÂπ¥„Åß„Çè„Åã„Çå„ÅüÂêÑ„Éï„Ç°„Ç§„É´„Çí„Å§„Å™„ÅéÂêà„Çè„Åõ„Åæ„Åô

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Á∑èË≥áÁî£,Á¥îË≥áÁî£,Ê†™‰∏ªË≥áÊú¨,Âà©ÁõäÂâ∞‰ΩôÈáë,Áü≠ÊúüÂÄüÂÖ•Èáë,Èï∑ÊúüÂÄüÂÖ•Èáë,BPS,Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
0,1301,2010-03-01,64301000000,18538000000,18391000000,12589000000,26724000000,2712000000,1651.87,28.1
1,1332,2010-03-01,383924000000,79567000000,69766000000,32530000000,114639000000,106993000000,231.06,16
2,1333,2010-03-01,113684000000,24435000000,-,-,-,-,-,21.5
3,1352,2010-03-01,11967000000,5439000000,5268000000,1561000000,-,497000000,628.95,44
4,1375,2010-03-01,32083000000,6318000000,6307000000,3056000000,-,7786000000,1.62,19
...,...,...,...,...,...,...,...,...,...,...
4139,9993,2025-02-01,55577000000,25969000000,25830000000,21459000000,8100000000,3620000000,2407.43,46.7
4140,9994,2025-03-01,66942000000,37330000000,34724000000,25670000000,3100000000,2968000000,3251.97,52.7
4141,9995,2024-03-01,49059000000,26593000000,24580000000,13707000000,11524000000,-,901.34,54.2
4142,9996,2025-03-01,35597241000,26268555000,26166862000,24318790000,683000000,-,3149.63,73.8
4143,9997,2025-03-01,312462000000,141656000000,140149000000,118956000000,24849000000,102853000000,1468.53,45.2

„Éï„Ç°„Ç§„É´„Åî„Å®„Å´„Çº„É≠„Çí„ÇÇ„Å§„Ç≥„Éº„Éâ„ÅÆÂÄ§„Çí„ÉÅ„Çß„ÉÉ„ÇØ„Åó„Åæ„Åô„ÄÇ
„Éï„Ç°„Ç§„É´Âêç: fy-profit-and-loss.csv
----------------------- EPS -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2510,7847,2010-02-01,2629009000,-14942000,-2665000,-266854000,0,-,-
2612,7847,2011-02-01,3542672000,508957000,510613000,263862000,0,22.05,7.7
2680,7847,2012-02-01,4055008000,843361000,846047000,724075000,0,37.67,18.03
2768,7847,2013-02-01,3462211000,529420000,613467000,1229771000,177.06,39.4,28.82
2864,7847,2014-02-01,4523838000,1249910000,1358987000,1161089000,167.17,27.79,21.02
2968,7847,2015-02-01,4024300000,934694000,1032517000,673754000,102.85,15.93,12.03
3057,7847,2016-02-01,2770981000,62146000,47683000,16131000,2.51,0.39,0.32
3152,7847,2017-02-01,2946308000,326286000,362631000,248072000,38.58,5.86,4.62
3235,7847,2018-02-01,2921617000,414215000,400213000,257889000,40.11,5.91,4.82
3300,7847,2019-02-01,2965753000,356995000,376597000,249625000,38.82,5.61,4.57
3287,7847,2020-02-01,2542914000,61037000,60857000,45330000,7.02,1.04,0.85
3255,7847,2021-02-01,2604225000,198437000,195705000,126604000,19.58,2.9,2.3
3213,7847,2022-02-01,3332897000,704124000,757325000,516322000,79.85,10.86,8.58
3172,7847,2023-02-01,3551282000,770919000,895055000,614783000,95.07,12.09,9.54
3097,7847,2024-02-01,2652847000,152466000,236819000,175179000,27.03,3.58,2.9
3217,7847,2025-02-01,3074054000,534450000,558722000,376830000,58.1,7.47,5.56

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2592,7961,2010-03-01,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011-03-01,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012-03-01,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013-03-01,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014-03-01,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015-03-01,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016-03-01,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017-03-01,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018-03-01,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019-03-01,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020-03-01,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021-03-01,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022-03-01,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1110,3993,2013-09-01,10804000,-,145000,42000,0,-,0.69
1126,3993,2014-09-01,110640000,-,49209000,31405000,1.57,-,50.56
1138,3993,2015-09-01,292489000,149145000,149174000,100241000,5.01,75.21,42.92
1146,3993,2016-09-01,459665000,157750000,157750000,116188000,5.52,28.55,24.51
1158,3993,2017-09-01,934057000,395217000,384199000,268305000,12.49,4.85,4.58
1177,3993,2018-09-01,1503509000,596208000,588242000,611358000,23.55,9.86,9.08
1220,3993,2019-09-01,3061469000,720839000,592630000,409990000,15,1.54,1.35
1221,3993,2020-09-01,7393669000,634709000,602973000,1753805000,57.79,6.39,5.5
1211,3993,2021-09-01,8727071000,650311000,572337000,139431000,4.58,0.49,0.39
1188,3993,2022-09-01,11509927000,1565906000,1551423000,836612000,27.38,2.87,2.17
1173,3993,2023-09-01,13908918000,771146000,1824574000,4711000,0.15,0.02,0.01
1150,3993,2024-09-01,16893185000,3235694000,1936497000,2100104000,67.78,6.51,5.04
1204,3993,2024-09-01,16893185000,3235694000,1936497000,2100104000,67.78,6.51,5.04

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1275,4390,2013-03-01,2751768000,-,99569000,62159000,6.22,-,2.62
1294,4390,2014-03-01,2187744000,-,-134904000,-100505000,-10.06,-,-
1328,4390,2015-03-01,2587145000,-,51181000,8232000,0,-,-
1373,4390,2016-03-01,3590222000,331936000,217184000,84561000,0.01,17.56,2.28
1396,4390,2017-03-01,4160358000,513758000,520829000,289706000,0.03,38.23,6.66
1420,4390,2018-03-01,5327000000,902823000,819000000,480000000,9.61,38.23,11.31
1462,4390,2019-03-01,5780000000,945556000,1001000000,588000000,50.6,18.82,8.72
1463,4390,2020-03-01,6508000000,1070401000,1075000000,645000000,52.41,16.59,8.28
1450,4390,2021-03-01,9515000000,1921000000,2187000000,1487000000,120.21,28.02,12.64
1424,4390,2022-03-01,10728000000,2456000000,2897000000,1888000000,152.35,25.83,10.25
1405,4390,2023-03-01,12346000000,3311000000,3464000000,2292000000,184.44,24.5,9.12
1375,4390,2024-03-01,14117000000,3894000000,4427000000,2835000000,225.03,25.09,8.46
1445,4390,2025-03-01,15264000000,4413000000,4073000000,2544000000,197.1,16.69,6.05

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1404,4437,2016-03-01,-,-,-,-24000,0,-,-
1432,4437,2017-03-01,2988057000,-32183000,-27471000,-27777000,-4.63,-,-
1457,4437,2018-03-01,3823196000,136567000,147070000,99840000,16.64,16.66,6.23
1502,4437,2019-03-01,4992799000,310027000,300584000,198507000,37.39,14.64,7.75
1502,4437,2020-03-01,5758873000,381485000,383092000,255501000,38.69,15.2,9.02
1489,4437,2021-03-01,5442059000,159859000,160721000,26794000,4.05,1.57,0.89
1463,4437,2022-03-01,6108534000,449481000,471089000,291609000,43.34,14.07,8.36
1444,4437,2023-03-01,6391457000,546814000,549403000,359100000,53.34,14.84,9.21
1413,4437,2024-03-01,7449459000,502028000,481834000,300696000,44.6,11.08,5.95
1484,4437,2025-03-01,8805273000,605132000,550688000,337706000,49.69,11.13,6.1

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2664,7095,2016-04-01,6237000,-,32000,32000,0,-,0.23
2739,7095,2017-04-01,719559000,-,103636000,68215000,6.46,-,22.98
2818,7095,2018-04-01,3361812000,110590000,108978000,79525000,7.53,50.79,8.6
2877,7095,2019-04-01,4685217000,198550000,195754000,139447000,13.21,47.11,10.34
2866,7095,2020-04-01,6466000000,374269000,364000000,263000000,24.6,19.76,11.36
2839,7095,2021-04-01,9779000000,785695000,785000000,547000000,43.28,29,16.34
2793,7095,2022-04-01,14425000000,1237722000,1233000000,760000000,58.92,28.05,12.93
2753,7095,2023-04-01,19589000000,2162000000,2108000000,1567000000,120.53,19.35,8.88
2686,7095,2024-04-01,39405000000,3670000000,3668000000,2282000000,39.68,22.92,11.28
2798,7095,2025-04-01,51675000000,5171000000,4576000000,3443000000,243.37,28.23,14.93

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1174,4054,2015-06-01,1432834000,-,155300000,89674000,5.6,-,8.04
1186,4054,2016-06-01,1533419000,-,201710000,137558000,8.6,-,11.35
1198,4054,2017-06-01,1692348000,-,217237000,154477000,13.55,-,11.18
1218,4054,2018-06-01,1921079000,299644000,319224000,167510000,0,27.1,11.66
1260,4054,2019-06-01,2148160000,310039000,379083000,233740000,0.99,25.62,12.4
1261,4054,2020-06-01,2375552000,524801000,565775000,367542000,31.23,28.76,14.8
1251,4054,2021-06-01,2617526000,585806000,642419000,414947000,30.43,13.91,9.6
1228,4054,2022-06-01,3053753000,500963000,538181000,283406000,19.93,9.02,5.28
1212,4054,2023-06-01,3770377000,329719000,376010000,185313000,13.06,5.94,3.63
1188,4054,2024-06-01,4436894000,709517000,740273000,428987000,30.43,12.38,7.7
1244,4054,2025-06-01,5075000000,1004000000,1003000000,628000000,45.1,16.1,10.98

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2631,7049,2016-02-01,119653000,-,3039000,1880000,0.31,-,6.42
2703,7049,2017-02-01,317871000,-5690000,-7548000,-6682000,-1.01,-,-
2781,7049,2018-02-01,755023000,68425000,69320000,42255000,0,54.91,11.4
2838,7049,2019-02-01,1251679000,247227000,233902000,162700000,24.68,23.47,16.12
2826,7049,2020-02-01,1720447000,283221000,282133000,178925000,23.99,18.75,11.17
2799,7049,2021-02-01,2506000000,137471000,199371000,-41581000,-5.6,-,-
2753,7049,2022-02-01,3823773000,359917000,346988000,224911000,29.06,9.51,5.5
2714,7049,2023-02-01,4458325000,-57459000,-73095000,-252103000,-31.18,-,-
2647,7049,2024-02-01,4829829000,-113225000,-111191000,-97760000,-11.13,-,-
2759,7049,2025-02-01,5369123000,330878000,356562000,426572000,50.06,17.34,8.71

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
534,277A,2020-02-01,119008000,-,1216000,585000,0.23,-,2.82
533,277A,2021-02-01,84831000,-,153000,44000,0,-,0.12
520,277A,2022-05-01,417440000,-,106207000,77653000,3.11,-,18.16
512,277A,2023-05-01,2606586000,736270000,738367000,473606000,18.16,38.65,21.49
500,277A,2024-05-01,4175324000,369628000,378800000,260507000,9.99,17.47,10.04
519,277A,2025-05-01,8255896000,2800520000,2783476000,1768207000,64.5,30.74,20.17

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
767,319A,2019-06-01,-,-,-9000000,-10000000,-1.43,-,-
774,319A,2020-06-01,31000000,-,10000000,10000000,1.31,-,4.5
770,319A,2021-12-01,62000000,-,1000000,0,0,-,-
756,319A,2022-12-01,6804000000,460000000,541000000,148000000,19.05,11.19,1.61
747,319A,2023-12-01,9327000000,879000000,926000000,1613000000,205.23,53.53,10.94
733,319A,2024-12-01,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84
755,319A,2024-12-01,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84

----------------------- ROA -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2592,7961,2010-03-01,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011-03-01,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012-03-01,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013-03-01,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014-03-01,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015-03-01,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016-03-01,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017-03-01,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018-03-01,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019-03-01,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020-03-01,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021-03-01,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022-03-01,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
474,2795,2010-03-01,3835336000,71863000,85545000,24746000,4.48,0.6,0.44
480,2795,2011-03-01,4325780000,166740000,50345000,184000,0.03,0,0
482,2795,2012-03-01,4422583000,231978000,231918000,106832000,19.34,2.75,1.88
485,2795,2013-03-01,4650766000,327029000,588362000,380745000,68.93,8.88,6.14
488,2795,2014-03-01,4838531000,326271000,531801000,323669000,61.5,7.11,5.03
490,2795,2015-03-01,4866417000,424531000,838443000,555592000,105.57,11.07,8.13
490,2795,2016-03-01,5288465000,446489000,319958000,227621000,43.25,4.52,3.31
492,2795,2017-03-01,5185061000,421353000,474995000,318169000,60.46,6.01,4.46
506,2795,2018-03-01,5445840000,482758000,406809000,322586000,61.3,5.89,4.19
547,2795,2019-03-01,5932876000,531823000,666246000,462901000,87.96,7.99,5.71
544,2795,2020-03-01,6638551000,569232000,573115000,373143000,70.9,6.3,4.6
543,2795,2021-03-01,5188021000,313708000,383209000,239095000,45.43,3.85,2.94
530,2795,2022-03-01,5876945000,472571000,644995000,416529000,79.15,6.41,4.79
522,2795,2023-03-01,6172487000,522515000,634909000,396617000,75.36,5.77,4.32
510,2795,2024-03-01,6940408000,576985000,760879000,504383000,95.84,6.71,4.98
529,2795,2025-03-01,7093981000,549883000,584128000,408822000,77.68,5.18,3.94

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2380,7567,2010-03-01,4111985000,121524000,110307000,65757000,12.92,2.4,1.02
2480,7567,2011-03-01,5582705000,171683000,164306000,57646000,11.33,2.08,0.91
2545,7567,2012-03-01,4639064000,62214000,49565000,52000,0.01,0,0
2630,7567,2013-03-01,3773932000,-33084000,-38538000,-413484000,-81.23,-,-
2712,7567,2014-03-01,4392283000,113442000,176472000,-88598000,-17.43,-,-
2809,7567,2015-03-01,4878888000,141077000,148776000,134164000,26.4,5.46,2.71
2894,7567,2016-03-01,4903004000,119306000,135064000,104996000,20.66,4.2,2.21
2987,7567,2017-03-01,5194528000,159278000,155942000,131848000,25.95,4.97,2.64
3071,7567,2018-03-01,6195447000,177530000,191361000,148228000,29.18,5.2,2.71
3133,7567,2019-03-01,5929403000,124543000,134663000,105164000,20.71,3.7,2.05
3122,7567,2020-03-01,5452429000,84638000,85705000,66591000,13.11,2.35,1.34
3095,7567,2021-03-01,5623667000,122947000,137958000,116667000,22.97,3.89,2.21
3056,7567,2022-03-01,9007564000,687663000,699087000,531659000,104.68,15.06,8.11
3016,7567,2023-03-01,10839012000,881384000,900946000,651423000,128.26,15.74,8.75
2945,7567,2024-03-01,8366407000,319263000,341489000,230738000,45.43,5.06,3.06
3061,7567,2025-03-01,6428380000,63441000,84455000,37265000,7.34,0.83,0.56

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
3088,9274,2010-03-01,356242000000,2130000000,2166000000,425000000,6.34,1.4,0.24
3192,9274,2011-03-01,351981000000,2118000000,2456000000,763000000,11.38,2.6,0.44
3266,9274,2012-03-01,340503000000,1812000000,2152000000,1368000000,20.41,4.49,0.77
3357,9274,2013-03-01,327512000000,1793000000,2147000000,5000000,0.07,0.01,0
3455,9274,2014-03-01,375098000000,2565000000,3013000000,2032000000,30.32,5.33,1.11
3562,9274,2015-03-01,387594000000,1370000000,1957000000,1126000000,16.8,2.74,0.58
3670,9274,2016-03-01,389678000000,1516000000,1853000000,1215000000,18.13,2.97,0.66
3778,9274,2017-03-01,366777000000,1031000000,1114000000,2215000000,33.05,5.04,1.2
3872,9274,2018-03-01,377714000000,2362000000,3086000000,2433000000,36.3,5.12,1.23
3935,9274,2019-03-01,384973000000,2280000000,2518000000,2497000000,34.73,4.98,1.3
3917,9274,2020-03-01,381397000000,1850000000,2194000000,1232000000,16.85,2.61,0.65
3872,9274,2021-03-01,430404000000,-9035000000,-12041000000,1416000000,19.69,3.26,0.51
3817,9274,2022-03-01,563414000000,9379000000,8844000000,7497000000,104.38,13.32,2.58
3762,9274,2023-03-01,659656000000,20401000000,18404000000,15722000000,219.08,23.21,4.75
3658,9274,2024-03-01,644435000000,15819000000,12475000000,10613000000,149.23,12.97,3.08
3809,9274,2025-03-01,670042000000,13544000000,9712000000,7986000000,117.99,9.27,2.27

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2475,7769,2010-03-01,28383000000,1129000000,1333000000,1009000000,76.34,3.26,2.7
2575,7769,2011-03-01,27401000000,1212000000,1376000000,589000000,44.56,1.96,1.63
2640,7769,2012-03-01,29419000000,1374000000,1694000000,1010000000,76.41,3.24,2.51
2725,7769,2013-03-01,32432000000,1789000000,2051000000,1442000000,109.09,4.52,3.66
2818,7769,2014-03-01,33916000000,861000000,1347000000,851000000,73.6,2.5,1.86
2921,7769,2015-03-01,37392000000,897000000,1319000000,1061000000,92.09,2.91,2.25
3008,7769,2016-03-01,33338000000,553000000,769000000,1053000000,104.1,3.28,2.33
3101,7769,2017-03-01,33332000000,851000000,956000000,1000000,0.11,0,0
3184,7769,2018-03-01,31516000000,844000000,980000000,180000000,20.17,0.63,0.44
3247,7769,2019-03-01,31016000000,761000000,913000000,-264000000,-31.95,-,-
3235,7769,2020-03-01,29911000000,-234000000,-22000000,-1139000000,-137.87,-,-
3203,7769,2021-03-01,27304000000,318000000,588000000,-1262000000,-152.79,-,-
3161,7769,2022-03-01,29999000000,892000000,1286000000,1031000000,124.84,3.82,2.69
3121,7769,2023-03-01,31231000000,886000000,1246000000,794000000,96.15,2.75,2
3047,7769,2024-03-01,32602000000,730000000,1259000000,477000000,57.77,1.53,1.09
3166,7769,2025-03-01,32666000000,817000000,1160000000,758000000,91.83,2.42,1.68

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
608,3125,2010-03-01,4385151000,279415000,272855000,144994000,73.98,6.51,3.57
616,3125,2011-03-01,5246572000,315981000,314207000,178812000,91.24,7.56,4.08
618,3125,2012-03-01,4954232000,99501000,100549000,47419000,24.2,1.92,1.12
622,3125,2013-03-01,4758691000,179259000,182490000,93286000,47.6,3.7,2.16
628,3125,2014-03-01,5429079000,176975000,179074000,106610000,54.49,4.11,1.96
635,3125,2015-03-01,7290558000,176921000,189619000,108533000,55.48,4.01,2.05
640,3125,2016-03-01,6786606000,268006000,250540000,131493000,67.22,4.68,2.59
648,3125,2017-03-01,5944843000,174450000,179355000,90246000,46.14,3.15,1.92
666,3125,2018-03-01,4958505000,-25774000,-23171000,-23772000,-12.15,-,-
712,3125,2019-03-01,4961236000,435000,10433000,197000,0.1,0.01,0
719,3125,2020-03-01,4077286000,-85940000,-78526000,-213786000,-109.32,-,-
717,3125,2021-03-01,2939197000,-230351000,-214721000,-851832000,-435.61,-,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1945,5530,2018-06-01,6083084000,-,165039000,73400000,70.23,-,1.1
1994,5530,2019-06-01,6232749000,-,97014000,319000,0.31,-,0
1989,5530,2020-06-01,6414528000,-,-26728000,26548000,25.4,-,-
1971,5530,2021-06-01,6947155000,-89986000,-89543000,-339372000,-324.73,-,-
1938,5530,2022-06-01,6776406000,354532000,340145000,179380000,171.64,10.84,2.59
1915,5530,2023-06-01,6889820000,430310000,423988000,265821000,249.58,12.98,3.87
1865,5530,2024-06-01,7616755000,549641000,538465000,292862000,256.12,12.84,4.19
1956,5530,2025-06-01,7876897000,426209000,416305000,247048000,107.89,10.06,3.47

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
3728,9165,2017-12-01,3283427000,-,342806000,264073000,162.51,-,6.02
3814,9165,2018-12-01,3263052000,-,-53679000,50098000,27.76,-,1.2
3875,9165,2019-12-01,2994787000,-,-117409000,185000,0.09,-,0
3856,9165,2020-12-01,2920720000,-,26245000,-216197000,-102.95,-,-
3811,9165,2021-06-01,1475970000,57601000,55021000,63872000,30.42,3.33,1.94
3755,9165,2022-06-01,3155813000,348204000,339675000,327464000,155.94,14.57,9.64
3701,9165,2023-06-01,3274204000,304399000,295370000,210076000,100.04,8.83,6.61
3599,9165,2024-06-01,3623929000,381323000,366679000,270042000,115.79,8.56,6.52
3748,9165,2025-06-01,4025193000,384786000,384423000,219807000,93.53,6.71,5.06

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
755,3419,2010-10-01,1045740000,-,11102000,10130000,11.38,-,2.32
770,3419,2011-10-01,1065946000,-,38249000,12267000,13.78,-,2.83
773,3419,2012-10-01,1105591000,-,40988000,28385000,31.89,-,7.4
777,3419,2013-10-01,1249677000,46815000,45821000,40200000,45.17,23.43,9.45
788,3419,2014-10-01,1408468000,47365000,47013000,30379000,34.13,15.03,6.26
796,3419,2015-10-01,1686667000,59293000,57714000,45316000,50.92,18.31,8.14
802,3419,2016-10-01,1715402000,55875000,51334000,38124000,35.03,10.18,5.42
811,3419,2017-10-01,1734627000,62580000,60295000,40356000,36.01,9.72,4.68
829,3419,2018-10-01,1835565000,25246000,23014000,10614000,9.44,2.49,1.32
873,3419,2019-10-01,2023374000,43224000,41346000,16756000,14.86,3.77,1.88
882,3419,2020-10-01,1853127000,19927000,31044000,1648000,1.46,0.37,0.14
877,3419,2021-10-01,2073210000,21837000,33350000,15009000,13.22,3.24,1.31
861,3419,2022-10-01,2295786000,58500000,68132000,40436000,35.6,8.06,3.12
850,3419,2023-10-01,2484559000,15954000,13565000,57000,0.05,0.01,0
831,3419,2024-10-01,2516799000,38891000,36660000,14072000,12.01,2.7,1.04
865,3419,2024-10-01,2516799000,38891000,36660000,14072000,12.01,2.7,1.04

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2487,7816,2010-12-01,2943654000,-,85896000,-465818000,-16.54,-,-
2589,7816,2011-12-01,3250204000,-,50998000,22710000,0.81,-,-
2657,7816,2012-12-01,3692782000,36887000,218872000,132748000,4.71,11.36,3.35
2745,7816,2013-12-01,4486906000,113288000,288474000,177317000,6.3,13.21,4.06
2841,7816,2014-12-01,5559105000,231390000,272099000,116462000,5.56,5.38,2.33
2945,7816,2015-12-01,7854094000,568474000,517866000,284811000,10.82,7.01,4.16
3034,7816,2016-12-01,9222393000,853311000,805549000,485122000,17.33,10.96,5.85
3129,7816,2017-12-01,9910033000,-141507000,-38983000,-251447000,-8.98,-,-
3212,7816,2018-12-01,12070909000,920360000,883472000,478803000,16.77,7.53,3.92
3277,7816,2019-12-01,14260000000,924098000,962000000,425000000,13.43,4.98,2.85
3265,7816,2020-12-01,16764000000,1493240000,1551000000,1048000000,28.14,9.91,6.21
3233,7816,2021-12-01,25713000000,3819451000,4035000000,2727000000,72.16,19.7,12.79
3191,7816,2022-12-01,30773000000,3674000000,3606000000,1946000000,51.43,12.97,6.33
3151,7816,2023-12-01,25728000000,943000000,1192000000,1000000,0.03,0.01,0
3196,7816,2023-12-01,25728000000,943000000,1192000000,1000000,0.03,0.01,0

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1145,4124,2012-09-01,1160214000,-,71757000,8543000,12.77,-,1.33
1166,4124,2013-09-01,978073000,-,25292000,16489000,24.64,-,2.78
1183,4124,2014-09-01,1003577000,-,65967000,52008000,77.72,-,6.59
1208,4124,2015-09-01,1048399000,136220000,133463000,88628000,132.44,13.69,9.07
1227,4124,2016-09-01,1043088000,223667000,219406000,167915000,250.93,20.88,15.64
1240,4124,2017-09-01,1137551000,220307000,213313000,139723000,208.8,15.18,12.36
1261,4124,2018-09-01,1214679000,201841000,190434000,115617000,111.49,7.06,6.44
1303,4124,2019-09-01,1088259000,107686000,104277000,72901000,68.37,4.4,4.05
1304,4124,2020-09-01,1050767000,111839000,110510000,75295000,71.55,4.47,3.89
1295,4124,2021-09-01,1216131000,117851000,126464000,80409000,76.25,4.61,3.97
1271,4124,2022-09-01,1180143000,137470000,140001000,88229000,83.24,4.86,4.29
1255,4124,2023-09-01,1235059000,115369000,110934000,-8671000,-8.38,-,-
1230,4124,2024-09-01,987178000,18741000,19388000,62000,0.06,0,0
1290,4124,2024-09-01,987178000,18741000,19388000,62000,0.06,0,0

----------------------- ROE -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2592,7961,2010-03-01,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011-03-01,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012-03-01,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013-03-01,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014-03-01,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015-03-01,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016-03-01,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017-03-01,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018-03-01,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019-03-01,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020-03-01,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021-03-01,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022-03-01,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
474,2795,2010-03-01,3835336000,71863000,85545000,24746000,4.48,0.6,0.44
480,2795,2011-03-01,4325780000,166740000,50345000,184000,0.03,0,0
482,2795,2012-03-01,4422583000,231978000,231918000,106832000,19.34,2.75,1.88
485,2795,2013-03-01,4650766000,327029000,588362000,380745000,68.93,8.88,6.14
488,2795,2014-03-01,4838531000,326271000,531801000,323669000,61.5,7.11,5.03
490,2795,2015-03-01,4866417000,424531000,838443000,555592000,105.57,11.07,8.13
490,2795,2016-03-01,5288465000,446489000,319958000,227621000,43.25,4.52,3.31
492,2795,2017-03-01,5185061000,421353000,474995000,318169000,60.46,6.01,4.46
506,2795,2018-03-01,5445840000,482758000,406809000,322586000,61.3,5.89,4.19
547,2795,2019-03-01,5932876000,531823000,666246000,462901000,87.96,7.99,5.71
544,2795,2020-03-01,6638551000,569232000,573115000,373143000,70.9,6.3,4.6
543,2795,2021-03-01,5188021000,313708000,383209000,239095000,45.43,3.85,2.94
530,2795,2022-03-01,5876945000,472571000,644995000,416529000,79.15,6.41,4.79
522,2795,2023-03-01,6172487000,522515000,634909000,396617000,75.36,5.77,4.32
510,2795,2024-03-01,6940408000,576985000,760879000,504383000,95.84,6.71,4.98
529,2795,2025-03-01,7093981000,549883000,584128000,408822000,77.68,5.18,3.94

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2380,7567,2010-03-01,4111985000,121524000,110307000,65757000,12.92,2.4,1.02
2480,7567,2011-03-01,5582705000,171683000,164306000,57646000,11.33,2.08,0.91
2545,7567,2012-03-01,4639064000,62214000,49565000,52000,0.01,0,0
2630,7567,2013-03-01,3773932000,-33084000,-38538000,-413484000,-81.23,-,-
2712,7567,2014-03-01,4392283000,113442000,176472000,-88598000,-17.43,-,-
2809,7567,2015-03-01,4878888000,141077000,148776000,134164000,26.4,5.46,2.71
2894,7567,2016-03-01,4903004000,119306000,135064000,104996000,20.66,4.2,2.21
2987,7567,2017-03-01,5194528000,159278000,155942000,131848000,25.95,4.97,2.64
3071,7567,2018-03-01,6195447000,177530000,191361000,148228000,29.18,5.2,2.71
3133,7567,2019-03-01,5929403000,124543000,134663000,105164000,20.71,3.7,2.05
3122,7567,2020-03-01,5452429000,84638000,85705000,66591000,13.11,2.35,1.34
3095,7567,2021-03-01,5623667000,122947000,137958000,116667000,22.97,3.89,2.21
3056,7567,2022-03-01,9007564000,687663000,699087000,531659000,104.68,15.06,8.11
3016,7567,2023-03-01,10839012000,881384000,900946000,651423000,128.26,15.74,8.75
2945,7567,2024-03-01,8366407000,319263000,341489000,230738000,45.43,5.06,3.06
3061,7567,2025-03-01,6428380000,63441000,84455000,37265000,7.34,0.83,0.56

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2475,7769,2010-03-01,28383000000,1129000000,1333000000,1009000000,76.34,3.26,2.7
2575,7769,2011-03-01,27401000000,1212000000,1376000000,589000000,44.56,1.96,1.63
2640,7769,2012-03-01,29419000000,1374000000,1694000000,1010000000,76.41,3.24,2.51
2725,7769,2013-03-01,32432000000,1789000000,2051000000,1442000000,109.09,4.52,3.66
2818,7769,2014-03-01,33916000000,861000000,1347000000,851000000,73.6,2.5,1.86
2921,7769,2015-03-01,37392000000,897000000,1319000000,1061000000,92.09,2.91,2.25
3008,7769,2016-03-01,33338000000,553000000,769000000,1053000000,104.1,3.28,2.33
3101,7769,2017-03-01,33332000000,851000000,956000000,1000000,0.11,0,0
3184,7769,2018-03-01,31516000000,844000000,980000000,180000000,20.17,0.63,0.44
3247,7769,2019-03-01,31016000000,761000000,913000000,-264000000,-31.95,-,-
3235,7769,2020-03-01,29911000000,-234000000,-22000000,-1139000000,-137.87,-,-
3203,7769,2021-03-01,27304000000,318000000,588000000,-1262000000,-152.79,-,-
3161,7769,2022-03-01,29999000000,892000000,1286000000,1031000000,124.84,3.82,2.69
3121,7769,2023-03-01,31231000000,886000000,1246000000,794000000,96.15,2.75,2
3047,7769,2024-03-01,32602000000,730000000,1259000000,477000000,57.77,1.53,1.09
3166,7769,2025-03-01,32666000000,817000000,1160000000,758000000,91.83,2.42,1.68

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1145,4124,2012-09-01,1160214000,-,71757000,8543000,12.77,-,1.33
1166,4124,2013-09-01,978073000,-,25292000,16489000,24.64,-,2.78
1183,4124,2014-09-01,1003577000,-,65967000,52008000,77.72,-,6.59
1208,4124,2015-09-01,1048399000,136220000,133463000,88628000,132.44,13.69,9.07
1227,4124,2016-09-01,1043088000,223667000,219406000,167915000,250.93,20.88,15.64
1240,4124,2017-09-01,1137551000,220307000,213313000,139723000,208.8,15.18,12.36
1261,4124,2018-09-01,1214679000,201841000,190434000,115617000,111.49,7.06,6.44
1303,4124,2019-09-01,1088259000,107686000,104277000,72901000,68.37,4.4,4.05
1304,4124,2020-09-01,1050767000,111839000,110510000,75295000,71.55,4.47,3.89
1295,4124,2021-09-01,1216131000,117851000,126464000,80409000,76.25,4.61,3.97
1271,4124,2022-09-01,1180143000,137470000,140001000,88229000,83.24,4.86,4.29
1255,4124,2023-09-01,1235059000,115369000,110934000,-8671000,-8.38,-,-
1230,4124,2024-09-01,987178000,18741000,19388000,62000,0.06,0,0
1290,4124,2024-09-01,987178000,18741000,19388000,62000,0.06,0,0

----------------------- Âñ∂Ê•≠Âà©Áõä -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2056,6794,2010-03-01,88417000000,9090000000,9151000000,5736000000,244.02,17.9,11.13
2152,6794,2011-03-01,101379000000,7632000000,7599000000,4646000000,197.65,14.01,7.1
2215,6794,2012-03-01,119601000000,1816000000,2059000000,1123000000,47.78,3.4,1.6
2286,6794,2013-03-01,143542000000,5515000000,5316000000,3333000000,141.79,8.29,3.53
2342,6794,2014-03-01,167640000000,6021000000,6327000000,2321000000,99.49,5.12,2.37
2410,6794,2015-03-01,189124000000,9747000000,10398000000,4858000000,206.16,7.97,4.63
2477,6794,2016-03-01,190928000000,10351000000,10847000000,6833000000,255.4,10.87,6.92
2549,6794,2017-03-01,160896000000,2963000000,3017000000,1088000000,41.15,1.83,1.06
2627,6794,2018-03-01,184800000000,9307000000,9062000000,4265000000,165.76,6.87,4.23
2686,6794,2019-03-01,140303000000,3937000000,4318000000,-2026000000,-83.18,-,-
2674,6794,2020-03-01,107298000000,2064000000,2599000000,1565000000,69.15,2.91,1.94
2651,6794,2021-03-01,85220000000,0,219000000,-3363000000,-148.43,-,-
2608,6794,2022-03-01,91106000000,-7757000000,-7473000000,-7017000000,-315.51,-,-
2570,6794,2023-03-01,121338000000,2445000000,2327000000,848000000,38.22,1.66,0.91
2508,6794,2024-03-01,122447000000,4412000000,4305000000,2304000000,103.66,3.97,2.24
2615,6794,2025-03-01,137607000000,6796000000,7726000000,3902000000,174.96,6.41,3.65

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1109,4314,2010-12-01,104331000000,-1800000000,-24596000000,-2738000000,-1748.21,-,-
1169,4314,2011-12-01,33757000000,1470000000,-8769000000,6900000000,4405.64,-95.86,1.5
1206,4314,2012-12-01,14561000000,3541000000,-3558000000,1990000000,1270.61,-38.62,0.47
1229,4314,2013-12-01,202912000000,-31301000000,-44218000000,1701000000,1086.09,-50.53,1.21
1247,4314,2014-12-01,112735000000,1042000000,-48000000,6151000000,3927.41,216.28,63.03
1281,4314,2015-12-01,1475000000,121000000,-54000000,-2000000,-1.28,-,-
1318,4314,2016-12-01,7700000000,2141000000,1811000000,1792000000,1144.19,40.81,21.03
1340,4314,2017-12-01,1724000000,-224000000,-398000000,-257000000,-164.09,-,-
1364,4314,2018-12-01,1430000000,94000000,-300000000,-410000000,-261.78,-,-
1406,4314,2019-12-01,1049000000,-284000000,-621000000,-946000000,-604.02,-,-
1407,4314,2020-12-01,555000000,-336000000,-801000000,-975000000,-622.54,-,-
1395,4314,2021-12-01,361000000,45000000,-20000000,121000000,77.26,6.71,4.43
1370,4314,2022-12-01,212000000,-32000000,376000000,396000000,252.85,18.16,13.64
1353,4314,2023-12-01,234000000,-9000000,-10000000,3000000,1.92,0.14,0.1
1391,4314,2024-12-01,236000000,0,0,-97000000,-61.93,-,-

----------------------- Â£≤‰∏äÈ´ò -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2364,7177,2012-03-01,0,-,-51000000,-36000000,-2,-,-
2447,7177,2013-03-01,17927000000,-,4940000000,2889000000,160.41,-,0.96
2526,7177,2014-03-01,21456000000,5585000000,5466000000,3689000000,204.83,19.59,1.04
2610,7177,2015-03-01,24958000000,7747000000,7707000000,4855000000,43.13,25.09,1.04
2683,7177,2016-03-01,29017000000,10611000000,10570000000,6453000000,55.81,26.18,1.42
2766,7177,2017-12-01,21657000000,7462000000,7349000000,5141000000,43.17,16.56,0.93
2848,7177,2018-12-01,34787000000,11812000000,11849000000,7719000000,64.46,22.09,1.47
2907,7177,2019-12-01,32501000000,9762000000,9686000000,6073000000,51.42,16.57,1
2898,7177,2020-12-01,35988000000,12268000000,11806000000,7298000000,62.33,20.29,1.01
2873,7177,2021-12-01,45924000000,15396000000,16037000000,9858000000,86.9,24.22,0.99
2830,7177,2022-12-01,46533000000,9150000000,7875000000,1212000000,10.66,3.06,0.12
2790,7177,2023-12-01,51432000000,14451000000,14107000000,7649000000,65.41,16.47,0.68
2723,7177,2024-12-01,53269000000,8926000000,8433000000,4745000000,40.22,9.86,0.34
2835,7177,2024-12-01,53269000000,8926000000,8433000000,4745000000,40.22,9.86,0.34

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1209,4575,2010-06-01,148335000,-480948000,-481404000,53378000,18.34,1.53,1.45
1269,4575,2011-06-01,-,-1420189000,-1510366000,-1501513000,-515.9,-,-
1306,4575,2012-06-01,-,-1103100000,-1118334000,-1119584000,-384.67,-,-
1354,4575,2013-06-01,0,-651875000,-641857000,-643107000,-175.18,-,-
1398,4575,2014-06-01,0,-483814000,-480229000,-376269000,-101.46,-,-
1444,4575,2015-06-01,60958000,-283542000,-265714000,-266964000,-62.51,-,-
1497,4575,2016-06-01,105243000,-399115000,-413739000,-414989000,-85.78,-,-
1526,4575,2017-06-01,109852000,-406825000,-400652000,-419498000,-83.38,-,-
1552,4575,2018-06-01,110000000,-539456000,-547091000,-532087000,-96.7,-,-
1597,4575,2019-06-01,115550000,-533077000,-534958000,-456208000,-77.06,-,-
1596,4575,2020-06-01,110000000,-566800000,-573686000,-572790000,-83.64,-,-
1581,4575,2021-06-01,108945000,-547671000,-555112000,-531034000,-70.02,-,-
1552,4575,2022-06-01,-,-846438000,-854327000,-855577000,-88.32,-,-
1531,4575,2023-06-01,-,-965965000,-1283062000,-1244108000,-83.03,-,-
1499,4575,2024-06-01,-,-1262041000,-1208349000,-1209599000,-67.9,-,-
1571,4575,2025-06-01,-,-1109563000,-1156668000,-1157918000,-61.14,-,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2701,7342,2015-12-01,0,-,-65079000,-65818000,-2.74,-,-
2776,7342,2016-12-01,3007000,-,-353304000,-354254000,-7.67,-,-
2862,7342,2017-12-01,207048000,-,-762812000,-776375000,-15.76,-,-
2945,7342,2018-12-01,881171000,-1721482000,-1718020000,-1721820000,-28.82,-,-
3006,7342,2019-12-01,1552903000,-2061722000,-2057005000,-2060805000,-48.53,-,-
2997,7342,2020-12-01,2516709000,-978794000,-999410000,-1003210000,-23.58,-,-
2968,7342,2021-12-01,4647506000,-432702000,-491659000,-495459000,-10.85,-,-
2925,7342,2022-12-01,6573470000,209814000,214266000,289689000,6.07,2.64,1.12
2884,7342,2023-12-01,8167922000,523672000,519529000,375277000,7.65,3.09,1.16
2813,7342,2024-12-01,11166000000,844000000,424000000,508000000,8.83,1.75,0.78
2929,7342,2024-12-01,11166000000,844000000,424000000,508000000,8.83,1.75,0.78

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1462,4596,2015-12-01,-,-133000,-,-693000,-69300,-,-
1515,4596,2016-12-01,846254000,-4071000000,-,-3910726000,-104.52,-,-
1544,4596,2017-12-01,0,-3620000000,-,-3444615000,-90.85,-,-
1570,4596,2018-12-01,0,-3273854000,-,-3046403000,-78.42,-,-
1615,4596,2019-12-01,0,-3288407000,-,-3065570000,-73.06,-,-
1613,4596,2020-12-01,37786000,-2484044000,-,-2437424000,-56.9,-,-
1598,4596,2021-12-01,-,-2584705000,-,-2616451000,-57.46,-,-
1569,4596,2022-12-01,8254000,-2038020000,-,-2015906000,-40.92,-,-
1548,4596,2023-12-01,39887000,-1504006000,-,-1489602000,-26.79,-,-
1515,4596,2024-12-01,27000000,-1289000000,-,-1333000000,-23.66,-,-
1588,4596,2024-12-01,27189000,-1345491000,-,-1332852000,-23.65,-,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2860,7326,2017-03-01,0,-,-31000000,-8000000,-0.43,-,-
2943,7326,2018-03-01,62186000000,-,1059000000,724000000,38.47,2.34,0.43
3003,7326,2019-03-01,66388000000,-,2131000000,851000000,40.78,2.22,0.49
2994,7326,2020-03-01,70467000000,-,2360000000,335000000,14.39,0.81,0.19
2962,7326,2021-03-01,86657000000,-,3852000000,763000000,30.74,1.75,0.39
2919,7326,2022-03-01,88365000000,-,5925000000,891000000,35.9,2.07,0.46
2879,7326,2023-03-01,96110000000,-,6308000000,1240000000,49.96,3.2,0.65
2810,7326,2024-03-01,109339000000,-,8236000000,1450000000,58.42,3.64,0.69
2924,7326,2025-03-01,39566000000,-,9474000000,1988000000,80.1,4.69,0.91

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1282,4593,2011-12-01,-,-,-,230000,0.01,-,12.63
1320,4593,2012-12-01,-,-,-,-39654000,-1.32,-,-
1368,4593,2013-12-01,500000000,194936000,-,85141000,2.57,2.78,2.11
1413,4593,2014-12-01,279000000,-573409000,-,-480000000,-14.25,-,-
1459,4593,2015-12-01,98000000,-1060416000,-,-958000000,-25.6,-,-
1512,4593,2016-12-01,77000000,-3507464000,-,-3433000000,-84.32,-,-
1541,4593,2017-12-01,27000000,-2348000000,-,-1776000000,-39.72,-,-
1567,4593,2018-12-01,0,-5063000000,-,-5097000000,-103.52,-,-
1612,4593,2019-12-01,89000000,-4297000000,-,-4806000000,-95.86,-,-
1610,4593,2020-12-01,27000000,-4183000000,-,-5512000000,-107.2,-,-
1595,4593,2021-12-01,41000000,-5384000000,-,-4910000000,-93.36,-,-
1566,4593,2022-12-01,90000000,-5179000000,-,-5169000000,-90.67,-,-
1545,4593,2023-12-01,121000000,-3379000000,-,-3823000000,-56.22,-,-
1512,4593,2024-12-01,560000000,-2843000000,-,-4235000000,-47.87,-,-
1585,4593,2024-12-01,560000000,-2843000000,-,-4235000000,-47.87,-,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
866,339A,2021-03-01,0,-,-168000000,-167000000,-14.07,-,-
851,339A,2022-02-01,0,-,-,-73000000,-10.32,-,-
840,339A,2023-02-01,4780000000,1190000000,-,730000000,103.22,31.04,9.25
821,339A,2024-02-01,5116000000,1150000000,-,696000000,98.41,22.75,9.07
854,339A,2025-02-01,5649000000,914000000,-,584000000,82.58,15.97,6.61

----------------------- Á¥îÂà©Áõä -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2592,7961,2010-03-01,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011-03-01,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012-03-01,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013-03-01,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014-03-01,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015-03-01,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016-03-01,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017-03-01,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018-03-01,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019-03-01,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020-03-01,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021-03-01,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022-03-01,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023-03-01,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
767,319A,2019-06-01,-,-,-9000000,-10000000,-1.43,-,-
774,319A,2020-06-01,31000000,-,10000000,10000000,1.31,-,4.5
770,319A,2021-12-01,62000000,-,1000000,0,0,-,-
756,319A,2022-12-01,6804000000,460000000,541000000,148000000,19.05,11.19,1.61
747,319A,2023-12-01,9327000000,879000000,926000000,1613000000,205.23,53.53,10.94
733,319A,2024-12-01,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84
755,319A,2024-12-01,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84

----------------------- ÁµåÂ∏∏Âà©Áõä -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1934,6492,2010-11-01,12649948000,1579759000,1729536000,1018176000,567.86,12.05,8.4
2018,6492,2011-11-01,10195847000,803624000,939475000,384559000,214.48,4.44,3.45
2063,6492,2012-11-01,8347631000,338183000,458348000,197148000,109.95,2.27,1.85
2116,6492,2013-11-01,7404326000,134070000,304043000,187500000,106.12,2.13,1.68
2170,6492,2014-11-01,7437199000,159981000,351872000,197189000,112.1,2.22,1.83
2230,6492,2015-11-01,7624708000,373307000,615591000,342001000,196.97,3.76,3.07
2293,6492,2016-11-01,7501002000,113623000,419623000,226304000,130.36,2.46,2.02
2362,6492,2017-11-01,8304000000,234430000,373000000,193000000,111.19,2.05,1.37
2437,6492,2018-11-01,7577000000,-67930000,0,165000000,95.07,1.73,1.19
2497,6492,2019-11-01,6663000000,-872933000,-792000000,-983000000,-567.26,-,-
2489,6492,2020-11-01,6362000000,147000000,251000000,375000000,217.67,4.25,2.98
2467,6492,2021-11-01,5850000000,365000000,445000000,303000000,177.47,3.37,2.51
2428,6492,2022-11-01,6887000000,488000000,562000000,483000000,290.53,5.11,3.9
2393,6492,2023-11-01,7407000000,812000000,910000000,697000000,433.24,6.96,5.49
2336,6492,2024-11-01,8169000000,1185000000,1283000000,1102000000,688.48,9.59,7.76
2437,6492,2024-11-01,8169000000,1185000000,1283000000,1102000000,688.48,9.86,7.76

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
2950,8836,2010-03-01,2057000000,23000000,49000000,55000000,0.82,1.45,1.09
3054,8836,2011-03-01,564000000,-98000000,-102000000,-341000000,-5.08,-,-
3123,8836,2012-03-01,380000000,-89000000,-45000000,-40000000,-0.6,-,-
3210,8836,2013-03-01,560000000,51000000,92000000,94000000,1.41,2.76,2.28
3307,8836,2014-03-01,592000000,58000000,73000000,74000000,1.57,2.25,1.89
3411,8836,2015-03-01,424000000,14000000,26000000,29000000,0.62,0.88,0.75
3500,8836,2016-03-01,447000000,123000000,115000000,71000000,1.39,2.1,1.79
3595,8836,2017-03-01,246000000,-162000000,-161000000,-162000000,-1.69,-,-
3677,8836,2018-03-01,515000000,-138000000,-143000000,179000000,1.86,8.61,7.12
3739,8836,2019-03-01,141000000,-103000000,-107000000,-109000000,-1.14,-,-
3721,8836,2020-03-01,294000000,-50000000,-54000000,172000000,1.79,8.03,6.73
3675,8836,2021-03-01,360000000,-14000000,0,-52000000,-0.54,-,-
3621,8836,2022-03-01,362000000,-6000000,-8000000,-53000000,-0.55,-,-
3571,8836,2023-03-01,339000000,3000000,10000000,24000000,0.25,1.16,1
3473,8836,2024-03-01,349000000,15000000,13000000,-11000000,-0.11,-,-
3616,8836,2025-03-01,383000000,34000000,34000000,9000000,0.09,0.55,0.49

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1656,6029,2010-12-01,603562000,-,-85121000,-98762000,-17.33,-,-
1721,6029,2011-12-01,710741000,-,-5655000,-21465000,-3.77,-,-
1761,6029,2012-12-01,772046000,-24896000,-41981000,-44059000,-7.73,-,-
1812,6029,2013-12-01,1320152000,144316000,144549000,145542000,25.53,343.79,14.76
1862,6029,2014-12-01,1490027000,78002000,68673000,27604000,4.76,5.05,1.7
1919,6029,2015-12-01,2564070000,387415000,453313000,268734000,34.45,32.97,11.21
1981,6029,2016-12-01,3251564000,293905000,301387000,148703000,18.41,10.06,5.32
2048,6029,2017-12-01,3759158000,435573000,455475000,301430000,34.59,17.19,8.51
2120,6029,2018-12-01,3479200000,164280000,163697000,269930000,30.88,13.5,6.01
2180,6029,2019-12-01,2833781000,25196000,31411000,-146664000,-16.71,-,-
2177,6029,2020-12-01,2426748000,-410160000,-395835000,-440764000,-49.87,-,-
2158,6029,2021-12-01,3158240000,-223022000,-224672000,-351122000,-36.76,-,-
2124,6029,2022-12-01,4671498000,2823000,15178000,2104000,0.22,0.16,0.05
2097,6029,2023-12-01,4497601000,51228000,62006000,53966000,5.43,3.73,1.18
2047,6029,2024-12-01,4234000000,5000000,0,-36736000,-3.59,-,-
2140,6029,2024-12-01,4234433000,5683000,987000,-36736000,-3.59,-,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
1109,4314,2010-12-01,104331000000,-1800000000,-24596000000,-2738000000,-1748.21,-,-
1169,4314,2011-12-01,33757000000,1470000000,-8769000000,6900000000,4405.64,-95.86,1.5
1206,4314,2012-12-01,14561000000,3541000000,-3558000000,1990000000,1270.61,-38.62,0.47
1229,4314,2013-12-01,202912000000,-31301000000,-44218000000,1701000000,1086.09,-50.53,1.21
1247,4314,2014-12-01,112735000000,1042000000,-48000000,6151000000,3927.41,216.28,63.03
1281,4314,2015-12-01,1475000000,121000000,-54000000,-2000000,-1.28,-,-
1318,4314,2016-12-01,7700000000,2141000000,1811000000,1792000000,1144.19,40.81,21.03
1340,4314,2017-12-01,1724000000,-224000000,-398000000,-257000000,-164.09,-,-
1364,4314,2018-12-01,1430000000,94000000,-300000000,-410000000,-261.78,-,-
1406,4314,2019-12-01,1049000000,-284000000,-621000000,-946000000,-604.02,-,-
1407,4314,2020-12-01,555000000,-336000000,-801000000,-975000000,-622.54,-,-
1395,4314,2021-12-01,361000000,45000000,-20000000,121000000,77.26,6.71,4.43
1370,4314,2022-12-01,212000000,-32000000,376000000,396000000,252.85,18.16,13.64
1353,4314,2023-12-01,234000000,-9000000,-10000000,3000000,1.92,0.14,0.1
1391,4314,2024-12-01,236000000,0,0,-97000000,-61.93,-,-

### „Éá„Éº„ÇøÂûã„ÅÆÊï¥ÂêàÊÄßÁ¢∫Ë™ç

<details>
<summary><b>ÁµêÊûú</b></summary>

</details>

### ÂàùÊúüÂìÅË≥™„ÅÆÁ¢∫Ë™ç

„Éá„Éº„Çø„ÅÆ„Ç§„É≥„Éá„ÉÉ„ÇØ„Çπ„Ç≠„Éº„ÅÆÂΩπÂâ≤„Çí„ÇÇ„Å§‰ª•‰∏ã„ÅÆÂÄ§„ÇíÁ¢∫Ë™ç„Åó„ÄÅÂøÖË¶Å„Å™Âá¶ÁêÜ„ÅÆ„Éó„É≠„Çª„Çπ„ÇíÊ±∫ÂÆö„Åó„Åæ„Åô„ÄÇ


<summary><b>ÁµêÊûú</b></summary>

</details>

In [ ]:
# Ë≤°Âãô„Éá„Éº„Çø ÁµêÂêàÂâç
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_rows', 60)

def get_file_info(df_datas_by_all_files):
    df_file_info = pd.DataFrame(columns=["file","year","code_counts","year_counts","column_counts"])
    for file, year in df_datas_by_all_files.keys():
        df = df_datas_by_all_files[(file,year)]
        # len(df_file_info)„ÇíÊ¨°„ÅÆÊñ∞„Åó„ÅÑË°å„ÅÆ„Ç§„É≥„Éá„ÉÉ„ÇØ„Çπ„Å®„Åó„Å¶ÊòéÁ§∫ÁöÑ„Å´ÊåáÂÆö„Åó„Åæ„Åô„ÄÇ
        df_file_info.loc[len(df_file_info)] = [
            file, year, df["„Ç≥„Éº„Éâ"].nunique(), df["Âπ¥Â∫¶"].nunique(),df.columns.nunique()
        ]
    return df_file_info

print("")
print("„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„ÇíÂèñÂæó„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.load_data_by_files(
    settings["data_path"]["raw"],settings["years"],settings["files"]["raw"],["-","","0"]
)
#display(df_DATAs_BY_ALL_FILEs)

print("")
print("‰ºÅÊ•≠„Ç≥„Éº„ÉâÊï∞„ÄÅ„Ç®„É≥„Éâ„ÅÆÊï∞„ÄÅÂàóÊï∞„Çí„Éï„Ç°„Ç§„É´„Åî„Å®„Å´„Åæ„Å®„ÇÅ„Åæ„Åô„ÄÇ")
df_file_info = get_file_info(df_DATAs_BY_ALL_FILEs)
#display(df_file_info)

print("")
print("ÂêÑ„Éï„Ç°„Ç§„É´„ÅÆÂπ¥Êé®Áßª„ÇíÂèØË¶ñÂåñ„Åó„Åæ„Åô„ÄÇ")
"""fig = px.line(df_file_info,x="year",y="code_counts",color="file")
fig.show()
fig = px.line(df_file_info,x="year",y="year_counts",color="file")
fig.show()
fig = px.line(df_file_info,x="year",y="column_counts",color="file")
fig.show()"""

print("")
print("ÂàóÊï∞„ÅØOK„Åß„Åô")
print("ÊúÄÊñ∞Âπ¥„ÅÆ„Éï„Ç°„Ç§„É´„Å´ÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„ÇãÂπ¥Â∫¶„ÇíË°®Á§∫„Åó„Åæ„Åô„ÄÇ")
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2025)]
#display(df["Âπ¥Â∫¶"].unique())

print("")
print("ÊúÄÊñ∞Âπ¥„ÅÆ„Éï„Ç°„Ç§„É´„Å´ÈÅéÂéª„ÅÆ„Éá„Éº„Çø„Åå„ÅÇ„Çä„Åæ„Åô„ÄÇ")
print("ÊúÄÊñ∞Âπ¥„Å´ÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„ÇãÈÅéÂéª„ÅÆÂπ¥Â∫¶„Å®ÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÅåÂêå„Åò„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô")
print("„Åæ„Åö„ÅØ„ÄÅÂπ¥Â∫¶„ÇíÈôêÂÆö„Åó„Å¶„ÄÅ„Ç≥„Éº„Éâ„ÅÆ‰∏ÄË¶ß„ÇíË¶ã„Åæ„Åô")
#display(df[df["Âπ¥Â∫¶"]=="2024/12"])

print("")
print("„Ç≥„Éº„Éâ„ÇíÈôêÂÆö„ÅóÂêå„Åò„Åã„Å©„ÅÜ„ÅãË™ø„Åπ„Åæ„Åô„ÄÇ")
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2025)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2024)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])

print("")
print("ÈÅï„Å£„Å¶„ÅÑ„Åæ„Åô„ÄÇ„Åì„Çå„ÅØÊõ¥Êñ∞„Éá„Éº„Çø„Å®ÊÄù„Çè„Çå„Åæ„Åô„ÄÇ")
print("ÊúÄÊñ∞Âπ¥Â∫¶„Å´„ÅÇ„ÇãÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÇíÂèñÂæó„Åó„ÄÅÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÇíÊõ¥Êñ∞„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.update_duplicated(df_DATAs_BY_ALL_FILEs, 2025)
#display(df_DATAs_BY_ALL_FILEs)

print("")
print("Ê≠£„Åó„ÅèÂá¶ÁêÜ„ÅåË°å„Çè„Çå„ÄÅÊúÄÊñ∞Âπ¥„Å´ÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„ÇãÈÅéÂéª„ÅÆÂπ¥Â∫¶„Å®ÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÅåÂêå„Åò„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô„ÄÇ")
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2025)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2024)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])

print("")
print("ÊúÄÂæå„Å´ÊúÄÊñ∞Âπ¥Â∫¶„Å´„ÅÇ„ÇãÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÇíÊ∂àÂéª„Åó„Åæ„Åô„ÄÇ")
cutoff_date = pd.to_datetime("2025-01-01")
for file, year in df_DATAs_BY_ALL_FILEs.keys():
    if year == 2025:
        df = df_DATAs_BY_ALL_FILEs[(file,year)]
        df = df[df["Âπ¥Â∫¶"] >= cutoff_date]
        df_DATAs_BY_ALL_FILEs[(file,year)] = df
print("")
print("ÂêÑ„Éï„Ç°„Ç§„É´„ÅÆÂπ¥Êé®Áßª„Çí„ÇÇ„ÅÜ‰∏ÄÂ∫¶ÂèØË¶ñÂåñ„Åó„ÄÅÊîπÂñÑ„Åó„Å¶„ÅÑ„Çã„Åì„Å®„ÇíÁ¢∫„Åã„ÇÅ„Åæ„Åô„ÄÇ") 
df_file_info_after = get_file_info(df_DATAs_BY_ALL_FILEs)
df_file_info_after["Âå∫ÂàÜ"] = "Âá¶ÁêÜÂæå"
df_file_info_after = df_file_info_after.set_index(["file", "year"]).sort_index()
df_file_info["Âå∫ÂàÜ"] = "Âá¶ÁêÜÂâç"
df_file_info = df_file_info.set_index(["file", "year"]).sort_index()
df_compare = pd.concat([df_file_info,df_file_info_after]).sort_index().reset_index()
#display(df_compare)
fig = px.line(df_compare,x="year",y="code_counts",color="Âå∫ÂàÜ")
fig.show()

In [ ]:
# Ë≤°Âãô„Éá„Éº„Çø „Éï„Ç°„Ç§„É´„Åî„Å®„ÅÆÁµêÂêà
df_DATAs_BY_FILEs = dl.load_yearly_data(settings["data_path"], settings["years"], settings["files"],)
target_file = settings["files"][0]
display(df_DATAs_BY_FILEs[target_file][df_DATAs_BY_FILEs[target_file]["„Ç≥„Éº„Éâ"]=="130A"])

In [ ]:
# Ë≤°Âãô„Éá„Éº„Çø„ÄÄÂÖ®ÁµêÂêà
df_ALL_DATAs = dl.merge_all_data(df_DATAs_BY_FILEs)
print(df_ALL_DATAs.shape)
#display(df_ALL_DATAs)
display(df_ALL_DATAs["„Ç≥„Éº„Éâ"].unique())
display(df_ALL_DATAs["Âπ¥Â∫¶"].nunique())

In [ ]:
# ‰∏äÂ†¥‰ºÅÊ•≠„ÅÆÊÉÖÂ†±
df = dl.load_code_list_info(settings["data_path"], settings["files_reference"][0])
print(settings["files_reference"][0], df.shape)
display(df)