## ÂàùÊúüË®≠ÂÆö

In [ ]:
# --- NotebookÂàùÊúüË®≠ÂÆö ---
%load_ext autoreload
%autoreload 2
import src.config as cfg
import src.data_loader as dl
import src.cleaning_utils as cu
print("üîÅ autoreload ÊúâÂäπÂåñÂÆå‰∫Ü")
import yaml
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
# Ë®≠ÂÆöË™≠„ÅøËæº„Åø
settings = cfg.load_settings("setting.yaml")
display(settings)

## Êú¨„Éï„Ç°„Ç§„É´„ÅÆË™¨Êòé
„Éá„Éº„Çø„ÅåÊúÄ‰ΩéÈôê„ÅÆÂìÅË≥™Âü∫Ê∫ñ„ÇíÊ∫Ä„Åü„Åó„Å¶„ÅÑ„Çã„Åã„ÇíËøÖÈÄü„Åã„Å§Á∂≤ÁæÖÁöÑ„Å´Á¢∫Ë™ç„Åó„Åæ„Åô„ÄÇ

### „Éá„Éº„Çø„ÅÆ„É≠„Éº„Éâ„ÅÆÁ¢∫Ë™ç

In [21]:
# Ë≤°Âãô„Éá„Éº„Çø
df = dl.load_yearly_data(settings["data_path"], settings["years"], settings["files"],)
for filename in df:
    print(filename, df[filename].shape)
    display(df[filename])

fy-balance-sheet.csv (63377, 10)

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Á∑èË≥áÁî£,Á¥îË≥áÁî£,Ê†™‰∏ªË≥áÊú¨,Âà©ÁõäÂâ∞‰ΩôÈáë,Áü≠ÊúüÂÄüÂÖ•Èáë,Èï∑ÊúüÂÄüÂÖ•Èáë,BPS,Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá
0,1301,2010/03,6.430100e+10,1.853800e+10,1.839100e+10,1.258900e+10,2.672400e+10,2.712000e+09,1651.87,28.1
1,1332,2010/03,3.839240e+11,7.956700e+10,6.976600e+10,3.253000e+10,1.146390e+11,1.069930e+11,231.06,16.0
2,1333,2010/03,1.136840e+11,2.443500e+10,NaN,NaN,NaN,NaN,NaN,21.5
3,1352,2010/03,1.196700e+10,5.439000e+09,5.268000e+09,1.561000e+09,NaN,4.970000e+08,628.95,44.0
4,1375,2010/03,3.208300e+10,6.318000e+09,6.307000e+09,3.056000e+09,NaN,7.786000e+09,1.62,19.0
...,...,...,...,...,...,...,...,...,...,...
63372,9993,2025/02,5.557700e+10,2.596900e+10,2.583000e+10,2.145900e+10,8.100000e+09,3.620000e+09,2407.43,46.7
63373,9994,2025/03,6.694200e+10,3.733000e+10,3.472400e+10,2.567000e+10,3.100000e+09,2.968000e+09,3251.97,52.7
63374,9995,2024/03,4.905900e+10,2.659300e+10,2.458000e+10,1.370700e+10,1.152400e+10,NaN,901.34,54.2
63375,9996,2025/03,3.559724e+10,2.626856e+10,2.616686e+10,2.431879e+10,6.830000e+08,NaN,3149.63,73.8
63376,9997,2025/03,3.124620e+11,1.416560e+11,1.401490e+11,1.189560e+11,2.484900e+10,1.028530e+11,1468.53,45.2

fy-cash-flow-statement.csv (61550, 8)

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
0,1301,2010/03,2.326000e+09,-4.515000e+09,1.142000e+09,NaN,2.672000e+09,1.60
1,1332,2010/03,3.355000e+10,-2.877100e+10,-1.568100e+10,-1.958800e+10,2.095200e+10,6.97
2,1352,2010/03,1.370000e+09,-2.205000e+09,-5.550000e+08,-1.985000e+09,8.240000e+08,3.78
3,1375,2010/03,3.434000e+09,-9.790000e+08,-1.597000e+09,-5.240000e+08,1.969000e+09,13.14
4,1376,2010/05,2.376787e+09,5.599700e+07,-1.082478e+09,-1.760820e+08,2.352426e+09,5.17
...,...,...,...,...,...,...,...,...
61545,9993,2025/02,3.317000e+09,-2.396000e+09,-1.200000e+09,-2.797000e+09,5.333000e+09,3.23
61546,9994,2025/03,2.807000e+09,-1.780000e+09,-1.977000e+09,-1.905000e+09,1.258800e+10,1.75
61547,9995,2024/03,-7.329000e+09,6.530000e+08,6.294000e+09,-9.200000e+07,5.219000e+09,-9.99
61548,9996,2025/03,-2.301360e+08,-3.780844e+09,-3.509370e+08,-8.860000e+08,7.221621e+09,-0.47
61549,9997,2025/03,9.689000e+09,-1.779200e+10,6.721000e+09,-1.522800e+10,3.621300e+10,4.60

fy-profit-and-loss.csv (63366, 9)

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Â£≤‰∏äÈ´ò,Âñ∂Ê•≠Âà©Áõä,ÁµåÂ∏∏Âà©Áõä,Á¥îÂà©Áõä,EPS,ROE,ROA
0,1301,2010/03,1.457780e+11,2.180000e+09,2.550000e+09,1.086000e+09,99.38,6.02,1.69
1,1332,2010/03,4.815740e+11,6.227000e+09,6.174000e+09,4.400000e+07,0.16,0.07,0.01
2,1333,2010/03,1.749070e+11,NaN,-5.040000e+08,7.420000e+08,2.47,NaN,0.65
3,1352,2010/03,3.625300e+10,2.710000e+08,3.830000e+08,2.270000e+08,27.09,4.31,1.90
4,1375,2010/03,2.614000e+10,2.701000e+09,NaN,1.143000e+09,0.29,18.12,3.56
...,...,...,...,...,...,...,...,...,...
63361,9993,2025/02,1.025580e+11,-8.210000e+08,-4.070000e+08,-2.617000e+09,-242.76,NaN,NaN
63362,9994,2025/03,1.601640e+11,5.425000e+09,5.566000e+09,3.644000e+09,336.12,10.34,5.44
63363,9995,2024/03,7.336100e+10,8.620000e+08,1.067000e+09,9.940000e+08,34.93,3.74,2.03
63364,9996,2025/03,4.913719e+10,1.667976e+09,1.945411e+09,1.315196e+09,157.69,5.01,3.69
63365,9997,2025/03,2.108560e+11,1.188700e+10,1.325500e+10,8.797000e+09,91.24,6.23,2.82

fy-stock-dividend.csv (55079, 8)

        „Ç≥„Éº„Éâ       Âπ¥Â∫¶  ‰∏ÄÊ†™ÈÖçÂΩì        Ââ∞‰ΩôÈáë„ÅÆÈÖçÂΩì        Ëá™Á§æÊ†™Ë≤∑„ÅÑ     ÈÖçÂΩìÊÄßÂêë   Á∑èÈÇÑÂÖÉÊÄßÂêë  Á¥îË≥áÁî£ÈÖçÂΩìÁéá
0      1301  2010/03  50.0  5.290000e+08          NaN    48.71    48.7     NaN
1      1332  2010/03  10.0  2.764000e+09    3000000.0  6281.82  6288.6     NaN
2      1352  2010/03  20.0  1.670000e+08          NaN    73.57     NaN     NaN
3      1375  2010/03   0.1  2.970000e+08  264000000.0    25.98    49.1     NaN
4      1376  2010/05  19.0  1.982400e+08     277000.0    20.20    20.2     NaN
...     ...      ...   ...           ...          ...      ...     ...     ...
55074  9993  2025/02  27.0  2.910000e+08          NaN      NaN     NaN     1.1
55075  9994  2025/03  54.0  5.960000e+08          NaN    16.10     NaN     1.7
55076  9995  2023/03  12.0  3.120000e+08          NaN    35.10    35.1     1.4
55077  9996  2025/03  45.0  3.502930e+08     196000.0    28.50    28.5     1.5
55078  9997  2025/03  29.0  2.386000e+09  345000000.0    31.80    35.7     2.0

[55079 rows x 8 columns]

In [22]:
# ‰∏äÂ†¥‰ºÅÊ•≠„ÅÆÊÉÖÂ†±
df = dl.load_code_list_info(settings["data_path"], settings["files_reference"][0])
print(settings["files_reference"][0], df.shape)
display(df)

CodeData.csv (4403, 10)

,Êó•‰ªò,„Ç≥„Éº„Éâ,ÈäòÊüÑÂêç,Â∏ÇÂ†¥„ÉªÂïÜÂìÅÂå∫ÂàÜ,33Ê•≠Á®Æ„Ç≥„Éº„Éâ,33Ê•≠Á®ÆÂå∫ÂàÜ,17Ê•≠Á®Æ„Ç≥„Éº„Éâ,17Ê•≠Á®ÆÂå∫ÂàÜ,Ë¶èÊ®°„Ç≥„Éº„Éâ,Ë¶èÊ®°Âå∫ÂàÜ
0,20250930,1301,Ê•µÊ¥ã,„Éó„É©„Ç§„É†ÔºàÂÜÖÂõΩÊ†™ÂºèÔºâ,50,Ê∞¥Áî£„ÉªËæ≤ÊûóÊ•≠,1,È£üÂìÅ,7,TOPIX Small 2
1,20250930,1305,ÔΩâÔº¶ÔΩíÔΩÖÔΩÖÔº•Ôº¥Ôº¶„ÄÄÔº¥ÔºØÔº∞Ôº©Ôº∏ÔºàÂπ¥ÔºëÂõûÊ±∫ÁÆóÂûãÔºâ,ETF„ÉªETN,-,-,-,-,-,-
2,20250930,1306,ÔºÆÔº•Ôº∏Ôº¥„ÄÄÔº¶ÔºµÔºÆÔº§Ôº≥„ÄÄÔº¥ÔºØÔº∞Ôº©Ôº∏ÈÄ£ÂãïÂûã‰∏äÂ†¥Êäï‰ø°,ETF„ÉªETN,-,-,-,-,-,-
3,20250930,1308,‰∏äÂ†¥„Ç§„É≥„Éá„ÉÉ„ÇØ„Çπ„Éï„Ç°„É≥„ÉâÔº¥ÔºØÔº∞Ôº©Ôº∏,ETF„ÉªETN,-,-,-,-,-,-
4,20250930,1309,ÔºÆÔº•Ôº∏Ôº¥„ÄÄÔº¶ÔºµÔºÆÔº§Ôº≥„ÄÄÔº£ÔΩàÔΩâÔΩéÔΩÅÔº°Ôº≠Ôº£„Éª‰∏≠ÂõΩÊ†™Âºè„Éª‰∏äË®ºÔºïÔºêÈÄ£ÂãïÂûã‰∏äÂ†¥Êäï‰ø°,ETF„ÉªETN,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
4398,20250930,9991,„Ç∏„Çß„Ç≥„Çπ,„Éó„É©„Ç§„É†ÔºàÂÜÖÂõΩÊ†™ÂºèÔºâ,6050,Âç∏Â£≤Ê•≠,13,ÂïÜÁ§æ„ÉªÂç∏Â£≤,7,TOPIX Small 2
4399,20250930,9993,„É§„Éû„Ç∂„ÉØ,„Çπ„Çø„É≥„ÉÄ„Éº„ÉâÔºàÂÜÖÂõΩÊ†™ÂºèÔºâ,6100,Â∞èÂ£≤Ê•≠,14,Â∞èÂ£≤,-,-
4400,20250930,9994,„ÇÑ„Åæ„ÇÑ,„Çπ„Çø„É≥„ÉÄ„Éº„ÉâÔºàÂÜÖÂõΩÊ†™ÂºèÔºâ,6100,Â∞èÂ£≤Ê•≠,14,Â∞èÂ£≤,-,-
4401,20250930,9996,„Çµ„Éà„ÉºÂïÜ‰ºö,„Çπ„Çø„É≥„ÉÄ„Éº„ÉâÔºàÂÜÖÂõΩÊ†™ÂºèÔºâ,6050,Âç∏Â£≤Ê•≠,13,ÂïÜÁ§æ„ÉªÂç∏Â£≤,-,-
4402,20250930,9997,„Éô„É´„Éº„Éä,„Éó„É©„Ç§„É†ÔºàÂÜÖÂõΩÊ†™ÂºèÔºâ,6100,Â∞èÂ£≤Ê•≠,14,Â∞èÂ£≤,6,TOPIX Small 1

### „Éá„Éº„ÇøÂûã„ÅÆÊï¥ÂêàÊÄß„ÉÅ„Çß„ÉÉ„ÇØ

### ÂàùÊúüÂìÅË≥™„ÅÆÊ¶ÇË¶ÅÊääÊè°