## åˆæœŸè¨­å®š

In [3]:
# --- NotebookåˆæœŸè¨­å®š ---
%load_ext autoreload
%autoreload 2
import src.config as cfg
import src.data_loader as dl
import src.cleaning_utils as cu
print("ğŸ” autoreload æœ‰åŠ¹åŒ–å®Œäº†")
import yaml
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
ğŸ” autoreload æœ‰åŠ¹åŒ–å®Œäº†

In [4]:
# è¨­å®šèª­ã¿è¾¼ã¿
settings = cfg.load_settings("setting.yaml")
display(settings)

{'project_name': 'stock_screening_preproc',
 'data_path': './data',
 'years': [2010,
  2011,
  2012,
  2013,
  2014,
  2015,
  2016,
  2017,
  2018,
  2019,
  2020,
  2021,
  2022,
  2023,
  2024,
  2025],
 'files': ['fy-balance-sheet.csv',
  'fy-cash-flow-statement.csv',
  'fy-profit-and-loss.csv',
  'fy-stock-dividend.csv'],
 'files_reference': ['CodeData.csv'],
 'na_values': ['-', '0', 'NaN', ''],
 'output': {'base_path': './output',
  'files': {'fy-balance-sheet.csv': 'all_fy-balance-sheet.csv',
   'fy-cash-flow-statement.csv': 'all_fy-cash-flow-statement.csv',
   'fy-profit-and-loss.csv': 'all_fy-profit-and-loss.csv',
   'fy-stock-dividend.csv': 'all_fy-stock-dividend.csv'}}}

## æœ¬ãƒ•ã‚¡ã‚¤ãƒ«ã®èª¬æ˜
ãƒ‡ãƒ¼ã‚¿ãŒæœ€ä½é™ã®å“è³ªåŸºæº–ã‚’æº€ãŸã—ã¦ã„ã‚‹ã‹ã‚’è¿…é€Ÿã‹ã¤ç¶²ç¾…çš„ã«ç¢ºèªã—ã¾ã™ã€‚

### ãƒ‡ãƒ¼ã‚¿ã®ãƒ­ãƒ¼ãƒ‰ã®ç¢ºèª

In [ ]:
# è²¡å‹™ãƒ‡ãƒ¼ã‚¿ çµåˆå‰
for file in settings["files"]:
    df = dl.load_data_by_files(settings["data_path"], settings["years"], file, [""])
    print(file, df[].shape)
    #display(df[year]["ã‚³ãƒ¼ãƒ‰"].unique())
    display(df[year]["ã‚³ãƒ¼ãƒ‰"].nunique())
    display(df[year]["å¹´åº¦"].nunique())

(3034, 8)

3034

12

(3101, 8)

3101

12

(3138, 8)

3138

12

(3220, 8)

3220

12

(3258, 8)

3258

12

(3321, 8)

3321

12

(3399, 8)

3399

12

(3479, 8)

3479

12

(3582, 8)

3582

12

(3652, 8)

3652

12

(3645, 8)

3645

12

(3618, 8)

3618

12

(3606, 8)

3606

12

(3606, 8)

3606

12

(3574, 8)

3574

12

(3846, 8)

3846

31

In [ ]:
# è²¡å‹™ãƒ‡ãƒ¼ã‚¿ ãƒ•ã‚¡ã‚¤ãƒ«ã”ã¨ã®çµåˆ
df_DATAs_BY_FILEs = dl.load_yearly_data(settings["data_path"], settings["years"], settings["files"],)
for filename in df_DATAs_BY_FILEs:
    print(filename, df_DATAs_BY_FILEs[filename].shape)
    display(df_DATAs_BY_FILEs[filename])
    display(df_DATAs_BY_FILEs[filename]["ã‚³ãƒ¼ãƒ‰"].unique())
    display(df_DATAs_BY_FILEs[filename]["å¹´åº¦"].nunique())

fy-balance-sheet.csv (63377, 10)

,ã‚³ãƒ¼ãƒ‰,å¹´åº¦,ç·è³‡ç”£,ç´”è³‡ç”£,æ ªä¸»è³‡æœ¬,åˆ©ç›Šå‰°ä½™é‡‘,çŸ­æœŸå€Ÿå…¥é‡‘,é•·æœŸå€Ÿå…¥é‡‘,BPS,è‡ªå·±è³‡æœ¬æ¯”ç‡
0,1301,2010/03,6.430100e+10,1.853800e+10,1.839100e+10,1.258900e+10,2.672400e+10,2.712000e+09,1651.87,28.1
1,1332,2010/03,3.839240e+11,7.956700e+10,6.976600e+10,3.253000e+10,1.146390e+11,1.069930e+11,231.06,16.0
2,1333,2010/03,1.136840e+11,2.443500e+10,NaN,NaN,NaN,NaN,NaN,21.5
3,1352,2010/03,1.196700e+10,5.439000e+09,5.268000e+09,1.561000e+09,NaN,4.970000e+08,628.95,44.0
4,1375,2010/03,3.208300e+10,6.318000e+09,6.307000e+09,3.056000e+09,NaN,7.786000e+09,1.62,19.0
...,...,...,...,...,...,...,...,...,...,...
63372,9993,2025/02,5.557700e+10,2.596900e+10,2.583000e+10,2.145900e+10,8.100000e+09,3.620000e+09,2407.43,46.7
63373,9994,2025/03,6.694200e+10,3.733000e+10,3.472400e+10,2.567000e+10,3.100000e+09,2.968000e+09,3251.97,52.7
63374,9995,2024/03,4.905900e+10,2.659300e+10,2.458000e+10,1.370700e+10,1.152400e+10,NaN,901.34,54.2
63375,9996,2025/03,3.559724e+10,2.626856e+10,2.616686e+10,2.431879e+10,6.830000e+08,NaN,3149.63,73.8
63376,9997,2025/03,3.124620e+11,1.416560e+11,1.401490e+11,1.189560e+11,2.484900e+10,1.028530e+11,1468.53,45.2

array(['1301', '1332', '1333', ..., '431A', '436A', '5016'],
      shape=(4461,), dtype=object)

188

fy-cash-flow-statement.csv (61550, 8)

,ã‚³ãƒ¼ãƒ‰,å¹´åº¦,å–¶æ¥­CF,æŠ•è³‡CF,è²¡å‹™CF,è¨­å‚™æŠ•è³‡,ç¾é‡‘åŒç­‰ç‰©,å–¶æ¥­CFãƒãƒ¼ã‚¸ãƒ³
0,1301,2010/03,2.326000e+09,-4.515000e+09,1.142000e+09,NaN,2.672000e+09,1.60
1,1332,2010/03,3.355000e+10,-2.877100e+10,-1.568100e+10,-1.958800e+10,2.095200e+10,6.97
2,1352,2010/03,1.370000e+09,-2.205000e+09,-5.550000e+08,-1.985000e+09,8.240000e+08,3.78
3,1375,2010/03,3.434000e+09,-9.790000e+08,-1.597000e+09,-5.240000e+08,1.969000e+09,13.14
4,1376,2010/05,2.376787e+09,5.599700e+07,-1.082478e+09,-1.760820e+08,2.352426e+09,5.17
...,...,...,...,...,...,...,...,...
61545,9993,2025/02,3.317000e+09,-2.396000e+09,-1.200000e+09,-2.797000e+09,5.333000e+09,3.23
61546,9994,2025/03,2.807000e+09,-1.780000e+09,-1.977000e+09,-1.905000e+09,1.258800e+10,1.75
61547,9995,2024/03,-7.329000e+09,6.530000e+08,6.294000e+09,-9.200000e+07,5.219000e+09,-9.99
61548,9996,2025/03,-2.301360e+08,-3.780844e+09,-3.509370e+08,-8.860000e+08,7.221621e+09,-0.47
61549,9997,2025/03,9.689000e+09,-1.779200e+10,6.721000e+09,-1.522800e+10,3.621300e+10,4.60

array(['1301', '1332', '1352', ..., '431A', '436A', '5016'],
      shape=(4461,), dtype=object)

188

fy-profit-and-loss.csv (63366, 9)

,ã‚³ãƒ¼ãƒ‰,å¹´åº¦,å£²ä¸Šé«˜,å–¶æ¥­åˆ©ç›Š,çµŒå¸¸åˆ©ç›Š,ç´”åˆ©ç›Š,EPS,ROE,ROA
0,1301,2010/03,1.457780e+11,2.180000e+09,2.550000e+09,1.086000e+09,99.38,6.02,1.69
1,1332,2010/03,4.815740e+11,6.227000e+09,6.174000e+09,4.400000e+07,0.16,0.07,0.01
2,1333,2010/03,1.749070e+11,NaN,-5.040000e+08,7.420000e+08,2.47,NaN,0.65
3,1352,2010/03,3.625300e+10,2.710000e+08,3.830000e+08,2.270000e+08,27.09,4.31,1.90
4,1375,2010/03,2.614000e+10,2.701000e+09,NaN,1.143000e+09,0.29,18.12,3.56
...,...,...,...,...,...,...,...,...,...
63361,9993,2025/02,1.025580e+11,-8.210000e+08,-4.070000e+08,-2.617000e+09,-242.76,NaN,NaN
63362,9994,2025/03,1.601640e+11,5.425000e+09,5.566000e+09,3.644000e+09,336.12,10.34,5.44
63363,9995,2024/03,7.336100e+10,8.620000e+08,1.067000e+09,9.940000e+08,34.93,3.74,2.03
63364,9996,2025/03,4.913719e+10,1.667976e+09,1.945411e+09,1.315196e+09,157.69,5.01,3.69
63365,9997,2025/03,2.108560e+11,1.188700e+10,1.325500e+10,8.797000e+09,91.24,6.23,2.82

array(['1301', '1332', '1333', ..., '431A', '436A', '5016'],
      shape=(4460,), dtype=object)

188

fy-stock-dividend.csv (55079, 8)

        ã‚³ãƒ¼ãƒ‰       å¹´åº¦  ä¸€æ ªé…å½“        å‰°ä½™é‡‘ã®é…å½“        è‡ªç¤¾æ ªè²·ã„     é…å½“æ€§å‘   ç·é‚„å…ƒæ€§å‘  ç´”è³‡ç”£é…å½“ç‡
0      1301  2010/03  50.0  5.290000e+08          NaN    48.71    48.7     NaN
1      1332  2010/03  10.0  2.764000e+09    3000000.0  6281.82  6288.6     NaN
2      1352  2010/03  20.0  1.670000e+08          NaN    73.57     NaN     NaN
3      1375  2010/03   0.1  2.970000e+08  264000000.0    25.98    49.1     NaN
4      1376  2010/05  19.0  1.982400e+08     277000.0    20.20    20.2     NaN
...     ...      ...   ...           ...          ...      ...     ...     ...
55074  9993  2025/02  27.0  2.910000e+08          NaN      NaN     NaN     1.1
55075  9994  2025/03  54.0  5.960000e+08          NaN    16.10     NaN     1.7
55076  9995  2023/03  12.0  3.120000e+08          NaN    35.10    35.1     1.4
55077  9996  2025/03  45.0  3.502930e+08     196000.0    28.50    28.5     1.5
55078  9997  2025/03  29.0  2.386000e+09  345000000.0    31.80    35.7     2.0

[55079 rows x 8 columns]

array(['1301', '1332', '1352', ..., '7409', '7709', '9168'],
      shape=(4275,), dtype=object)

188

In [ ]:
# è²¡å‹™ãƒ‡ãƒ¼ã‚¿ã€€å…¨çµåˆ
df_ALL_DATAs = dl.merge_all_data(df_DATAs_BY_FILEs)
print(df_ALL_DATAs.shape)
#display(df_ALL_DATAs)
display(df_ALL_DATAs["ã‚³ãƒ¼ãƒ‰"].unique())
display(df_ALL_DATAs["å¹´åº¦"].nunique())

(78079, 29)

array(['1301', '130A', '1332', ..., '9995', '9996', '9997'],
      shape=(4461,), dtype=object)

188

In [ ]:
# ä¸Šå ´ä¼æ¥­ã®æƒ…å ±
df = dl.load_code_list_info(settings["data_path"], settings["files_reference"][0])
print(settings["files_reference"][0], df.shape)
display(df)

CodeData.csv (4403, 10)

,æ—¥ä»˜,ã‚³ãƒ¼ãƒ‰,éŠ˜æŸ„å,å¸‚å ´ãƒ»å•†å“åŒºåˆ†,33æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,33æ¥­ç¨®åŒºåˆ†,17æ¥­ç¨®ã‚³ãƒ¼ãƒ‰,17æ¥­ç¨®åŒºåˆ†,è¦æ¨¡ã‚³ãƒ¼ãƒ‰,è¦æ¨¡åŒºåˆ†
0,20250930,1301,æ¥µæ´‹,ãƒ—ãƒ©ã‚¤ãƒ ï¼ˆå†…å›½æ ªå¼ï¼‰,50,æ°´ç”£ãƒ»è¾²æ—æ¥­,1,é£Ÿå“,7,TOPIX Small 2
1,20250930,1305,ï½‰ï¼¦ï½’ï½…ï½…ï¼¥ï¼´ï¼¦ã€€ï¼´ï¼¯ï¼°ï¼©ï¼¸ï¼ˆå¹´ï¼‘å›æ±ºç®—å‹ï¼‰,ETFãƒ»ETN,-,-,-,-,-,-
2,20250930,1306,ï¼®ï¼¥ï¼¸ï¼´ã€€ï¼¦ï¼µï¼®ï¼¤ï¼³ã€€ï¼´ï¼¯ï¼°ï¼©ï¼¸é€£å‹•å‹ä¸Šå ´æŠ•ä¿¡,ETFãƒ»ETN,-,-,-,-,-,-
3,20250930,1308,ä¸Šå ´ã‚¤ãƒ³ãƒ‡ãƒƒã‚¯ã‚¹ãƒ•ã‚¡ãƒ³ãƒ‰ï¼´ï¼¯ï¼°ï¼©ï¼¸,ETFãƒ»ETN,-,-,-,-,-,-
4,20250930,1309,ï¼®ï¼¥ï¼¸ï¼´ã€€ï¼¦ï¼µï¼®ï¼¤ï¼³ã€€ï¼£ï½ˆï½‰ï½ï½ï¼¡ï¼­ï¼£ãƒ»ä¸­å›½æ ªå¼ãƒ»ä¸Šè¨¼ï¼•ï¼é€£å‹•å‹ä¸Šå ´æŠ•ä¿¡,ETFãƒ»ETN,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...
4398,20250930,9991,ã‚¸ã‚§ã‚³ã‚¹,ãƒ—ãƒ©ã‚¤ãƒ ï¼ˆå†…å›½æ ªå¼ï¼‰,6050,å¸å£²æ¥­,13,å•†ç¤¾ãƒ»å¸å£²,7,TOPIX Small 2
4399,20250930,9993,ãƒ¤ãƒã‚¶ãƒ¯,ã‚¹ã‚¿ãƒ³ãƒ€ãƒ¼ãƒ‰ï¼ˆå†…å›½æ ªå¼ï¼‰,6100,å°å£²æ¥­,14,å°å£²,-,-
4400,20250930,9994,ã‚„ã¾ã‚„,ã‚¹ã‚¿ãƒ³ãƒ€ãƒ¼ãƒ‰ï¼ˆå†…å›½æ ªå¼ï¼‰,6100,å°å£²æ¥­,14,å°å£²,-,-
4401,20250930,9996,ã‚µãƒˆãƒ¼å•†ä¼š,ã‚¹ã‚¿ãƒ³ãƒ€ãƒ¼ãƒ‰ï¼ˆå†…å›½æ ªå¼ï¼‰,6050,å¸å£²æ¥­,13,å•†ç¤¾ãƒ»å¸å£²,-,-
4402,20250930,9997,ãƒ™ãƒ«ãƒ¼ãƒŠ,ãƒ—ãƒ©ã‚¤ãƒ ï¼ˆå†…å›½æ ªå¼ï¼‰,6100,å°å£²æ¥­,14,å°å£²,6,TOPIX Small 1

### ãƒ‡ãƒ¼ã‚¿å‹ã®æ•´åˆæ€§ãƒã‚§ãƒƒã‚¯

### åˆæœŸå“è³ªã®æ¦‚è¦æŠŠæ¡