## 初期設定

In [ ]:
# --- Notebook初期設定 ---
%load_ext autoreload
%autoreload 2
import src.config as cfg
import src.data_loader as dl
import src.data_cleaning_utils as cu
print("🔁 autoreload 有効化完了")
import yaml
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from collections import defaultdict

In [ ]:
# 設定読み込み
settings = cfg.load_settings("setting.yaml")
display(settings)

## 本ファイルの説明
データが最低限の品質基準を満たしているかを網羅的に確認し、ファイルロードからクリーニングまでのプロセスを決定します。

<details>
<summary><b>結果</b></summary>


</details>

### データのロードの確認
ファイル重複やファイル欠損、破壊がないかを確かめ、プロセスを確定します。
<details>
<summary><b>結果</b></summary>

ファイルの重複や欠損はなく、正しくロードされました。  
修正処理は不要です。
</details>

In [ ]:
print("\nファイル毎にデータをロードします")
df_DATAs_BY_ALL_FILEs = {
    (filename, year): dl.load_on_startup(settings["data_path"]["raw"], str(year), filename,header=1)
    for filename in settings["files"]["raw"]
    for year in settings["years"]
}
#display(df_DATAs_BY_ALL_FILEs)

print("\n次に欠けてるファイルがないか確認します")
if all(dl.chk_file_missing(df) for df in df_DATAs_BY_ALL_FILEs.values()):
    print("✅ ファイル欠損はありませんでした。")

print("\n重複ファイルがないか確認します")
duplicates = dl.chk_duplicate_dfs(df_DATAs_BY_ALL_FILEs, False,False)
if duplicates:
    print("🔍 重複データフレームが見つかりました：\n")
    for h, key_group in duplicates.items():
        print(f"ハッシュ: {h}")
        for key in key_group:
            print(key)
else:
    print("✅ 重複データフレームはありません。")
print("\nデータロードの確認を終了します。")

### 欠損値表現の確認と処理
欠損値の表現を確認し、修正プロセスを決定します。

<details>
<summary><b>結果</b></summary>

"-"が欠損値として使われています。  
これはsetting.yamlのnan_valuesに登録し欠損値として読み込みます。  
  
また、ゼロも使われています。  
ゼロは値として残し、必要に応じてfeatures_generatorで再計算し更新します。

以下がゼロが使われている項目です。  
{'fy-balance-sheet.csv': ['BPS', '短期借入金', '総資産', '自己資本比率', '長期借入金']  
'fy-cash-flow-statement.csv': ['営業CF', '営業CFマージン', '投資CF', '現金同等物', '設備投資', '財務CF']  
'fy-profit-and-loss.csv': ['EPS', 'ROA', 'ROE', '営業利益', '売上高', '純利益', '経常利益'],  
'fy-stock-dividend.csv': ['一株配当', '剰余金の配当', '純資産配当率', '総還元性向', '自社株買い', '配当性向']}
</details>

In [ ]:
print("\nファイル毎にデータをロードします")
df_DATAs_BY_ALL_FILEs = {
    (filename, year): dl.load_on_startup(settings["data_path"]["raw"], str(year), filename,header=1)
    for filename in settings["files"]["raw"]
    for year in settings["years"]
}
#display(df_DATAs_BY_ALL_FILEs)

print("\nファイルごとに各文字列の個数をカウントします")
df_placeholder_counts = pd.DataFrame()
for (filename,year), df in df_DATAs_BY_ALL_FILEs.items():
    df_tmp = cu.chk_missing_values_expression(df, filename, year)
    df_placeholder_counts = pd.concat([df_placeholder_counts,df_tmp], axis=0)
#display(df_placeholder_counts)

In [22]:
print("/n欠損値と疑われるコードを出力します。")
df = df_placeholder_counts.drop(["ファイル名","オプション値"],axis=1)
df = df.groupby("col").sum().sum()
display(df)

print("")
print("疑われるコードが含まれている列を出力します")
df = df_placeholder_counts.drop(["ファイル名","オプション値"],axis=1)
df = df.groupby("col").sum().sum()
pl_list = df[df >0].index.tolist()
df = df_placeholder_counts.drop(["ファイル名","オプション値"],axis=1)
for value in pl_list:
    list = df[df[value]>0]["col"].unique()
    print("--------------",value,"のチェック----------------------------")
    display(list)

print("")
print("アルファベットが含まれているコードを出力します。")
for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
    df_tmp = df[df["コード"].str.contains("[A-Za-z]", na=False)]
    code_list = df_tmp["コード"].to_list()
    print(code_list)

print("")
print("ゼロが登録されているファイルと列を出力します。")
df = df_placeholder_counts
df_0 = df.groupby(["ファイル名","col"])["0"].sum()
df_0 = df_0[df_0>0].reset_index()
print(df_0)
print(df_0['col'].dtype)

print("")
print("4つのファイルごとに該当列のリストを準備します")
df_temp = df_0[['ファイル名', 'col']]
grouped = df_temp.groupby('ファイル名')
col_lists = {
    filename: group['col'].tolist()  # 各グループから 'col' 列を抽出し、tolist()でPythonリストに変換
    for filename, group in grouped
}
print(col_lists)

print("")
print("ゼロの含まれるコードのデータを確認します。")
print("まずは年でわかれた各ファイルをつなぎ合わせます")
df_merge = {}
for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
    if filename not in df_merge:
        df_merge[filename] = []
    df_merge[filename].append(df)
df_final = {}
for filename in df_merge:
    df_final[filename]  = pd.concat(df_merge[filename])
display(df_final["fy-balance-sheet.csv"])

print("")
print("ファイルごとにゼロをもつコードの値をチェックします。")
filename = "fy-profit-and-loss.csv"
print("ファイル名:",filename)
df_all = df_final[filename]
for col_value in col_lists[filename]:
    #print(filename, col)
    df = df_all[df_all[col_value] == "0"]
    code_list = df["コード"].unique()
    print("-----------------------",col_value,"-----------------------")
    for code in code_list:
        display(df_all[df_all["コード"] == code])

/n欠損値と疑われるコードを出力します。

empty            0
space            0
-           167782
―                0
—                0
--               0
Na               0
na               0
N/A              0
n/a              0
None             0
none             0
NULL             0
null             0
0             4155
alphabet      1940
dtype: object

疑われるコードが含まれている列を出力します
-------------- - のチェック----------------------------

array(['総資産', '純資産', '株主資本', '利益剰余金', '短期借入金', '長期借入金', 'BPS', '自己資本比率',
       '営業CF', '投資CF', '財務CF', '設備投資', '営業CFマージン', '現金同等物', '売上高', '営業利益',
       '経常利益', '純利益', 'EPS', 'ROE', 'ROA', '一株配当', '剰余金の配当', '自社株買い',
       '配当性向', '総還元性向', '純資産配当率'], dtype=object)

-------------- 0 のチェック----------------------------

array(['短期借入金', '長期借入金', 'BPS', '自己資本比率', '総資産', '投資CF', '財務CF', '設備投資',
       '営業CFマージン', '営業CF', '現金同等物', '純利益', 'EPS', 'ROE', 'ROA', '売上高',
       '経常利益', '営業利益', '一株配当', '剰余金の配当', '自社株買い', '配当性向', '総還元性向',
       '純資産配当率'], dtype=object)

-------------- alphabet のチェック----------------------------

array(['コード'], dtype=object)

アルファベットが含まれているコードを出力します。
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['281A', '297A']
['130A', '138A', '141A', '142A', '145A', '146A', '148A', '149A', '153A', '155A', '184A', '190A', '281A', '297A']
['130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '248A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '276A', '280A', '281A', '285A', '286A', '290A', '297A', '298A', '319A']
['130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '166A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '208A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '254A', '255A', '256A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '272A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '289A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '330A', '331A', '332A', '334A', '335A', '336A', '338A', '339A', '340A', '341A', '343A', '350A', '352A', '353A', '365A', '366A', '367A', '368A', '369A', '372A', '373A', '378A', '386A', '387A', '391A', '402A', '407A', '409A', '410A', '414A', '423A', '429A', '431A', '436A']
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['211A', '281A', '285A', '297A']
['130A', '138A', '145A', '146A', '148A', '149A', '153A', '155A', '186A', '190A', '211A', '281A', '285A', '297A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '248A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '276A', '280A', '281A', '285A', '286A', '290A', '297A', '298A', '319A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '166A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '208A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '254A', '255A', '256A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '272A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '289A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '330A', '331A', '332A', '334A', '335A', '336A', '338A', '339A', '340A', '341A', '343A', '350A', '352A', '353A', '365A', '366A', '367A', '368A', '369A', '372A', '373A', '378A', '386A', '387A', '391A', '402A', '407A', '409A', '410A', '414A', '423A', '429A', '431A', '436A']
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['297A']
['281A', '297A']
['130A', '138A', '141A', '142A', '145A', '146A', '148A', '149A', '153A', '155A', '184A', '190A', '281A', '297A']
['130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '248A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '276A', '280A', '281A', '285A', '286A', '290A', '297A', '298A', '319A']
['130A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '166A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '331A', '339A']
['130A', '135A', '137A', '138A', '141A', '142A', '143A', '145A', '146A', '147A', '148A', '149A', '150A', '151A', '153A', '155A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '184A', '186A', '189A', '190A', '192A', '194A', '195A', '196A', '197A', '198A', '202A', '205A', '206A', '208A', '211A', '212A', '215A', '218A', '219A', '220A', '228A', '231A', '241A', '242A', '244A', '245A', '246A', '247A', '248A', '250A', '255A', '256A', '259A', '260A', '261A', '262A', '264A', '265A', '268A', '269A', '272A', '274A', '276A', '277A', '278A', '280A', '281A', '285A', '286A', '287A', '288A', '289A', '290A', '291A', '296A', '297A', '298A', '299A', '300A', '302A', '303A', '304A', '319A', '323A', '324A', '325A', '330A', '331A', '332A', '334A', '335A', '336A', '338A', '339A', '340A', '341A', '343A', '350A', '352A', '353A', '365A', '366A', '367A', '368A', '369A', '372A', '373A', '378A', '386A', '387A', '391A', '402A', '407A', '409A', '410A', '414A', '423A', '429A', '431A', '436A']
[]
[]
[]
[]
['297A']
['297A']
['297A']
['297A']
['297A']
['146A', '160A', '173A', '176A', '189A', '246A', '261A', '262A', '285A', '297A']
['146A', '160A', '173A', '176A', '177A', '189A', '242A', '250A', '261A', '262A', '276A', '297A', '319A', '331A']
['146A', '160A', '173A', '176A', '177A', '189A', '242A', '246A', '250A', '261A', '262A', '276A', '285A', '297A', '319A']
['141A', '146A', '160A', '173A', '176A', '177A', '189A', '197A', '202A', '211A', '242A', '246A', '250A', '261A', '262A', '276A', '285A', '286A', '296A', '297A', '300A', '319A', '331A']
['141A', '146A', '160A', '173A', '175A', '176A', '177A', '189A', '197A', '202A', '211A', '242A', '246A', '250A', '261A', '262A', '269A', '276A', '286A', '296A', '297A', '300A', '319A', '331A']
['138A', '141A', '146A', '156A', '157A', '160A', '166A', '173A', '176A', '177A', '189A', '197A', '202A', '205A', '211A', '212A', '231A', '242A', '246A', '250A', '261A', '262A', '268A', '269A', '274A', '276A', '285A', '286A', '287A', '296A', '297A', '300A', '319A', '331A']
['138A', '141A', '146A', '147A', '151A', '156A', '157A', '160A', '165A', '166A', '167A', '168A', '173A', '175A', '176A', '177A', '189A', '192A', '197A', '202A', '205A', '208A', '211A', '212A', '231A', '242A', '246A', '247A', '250A', '255A', '256A', '261A', '262A', '268A', '269A', '272A', '274A', '276A', '285A', '286A', '287A', '289A', '296A', '297A', '300A', '319A', '331A', '334A', '365A', '366A', '368A', '369A', '372A', '378A', '386A', '391A', '407A', '409A', '410A', '414A', '423A', '429A']

ゼロが登録されているファイルと列を出力します。
                         ファイル名       col     0
0         fy-balance-sheet.csv       BPS     5
1         fy-balance-sheet.csv     短期借入金    12
2         fy-balance-sheet.csv       総資産     1
3         fy-balance-sheet.csv    自己資本比率     1
4         fy-balance-sheet.csv     長期借入金    17
5   fy-cash-flow-statement.csv      営業CF     2
6   fy-cash-flow-statement.csv  営業CFマージン    21
7   fy-cash-flow-statement.csv      投資CF    15
8   fy-cash-flow-statement.csv     現金同等物     2
9   fy-cash-flow-statement.csv      設備投資   234
10  fy-cash-flow-statement.csv      財務CF    11
11      fy-profit-and-loss.csv       EPS    12
12      fy-profit-and-loss.csv       ROA    13
13      fy-profit-and-loss.csv       ROE     6
14      fy-profit-and-loss.csv      営業利益     2
15      fy-profit-and-loss.csv       売上高    11
16      fy-profit-and-loss.csv       純利益     2
17      fy-profit-and-loss.csv      経常利益     4
18       fy-stock-dividend.csv      一株配当   409
19       fy-stock-dividend.csv    剰余金の配当   113
20       fy-stock-dividend.csv    純資産配当率   427
21       fy-stock-dividend.csv     総還元性向  1193
22       fy-stock-dividend.csv     自社株買い  1340
23       fy-stock-dividend.csv      配当性向   302
object

4つのファイルごとに該当列のリストを準備します
{'fy-balance-sheet.csv': ['BPS', '短期借入金', '総資産', '自己資本比率', '長期借入金'], 'fy-cash-flow-statement.csv': ['営業CF', '営業CFマージン', '投資CF', '現金同等物', '設備投資', '財務CF'], 'fy-profit-and-loss.csv': ['EPS', 'ROA', 'ROE', '営業利益', '売上高', '純利益', '経常利益'], 'fy-stock-dividend.csv': ['一株配当', '剰余金の配当', '純資産配当率', '総還元性向', '自社株買い', '配当性向']}

ゼロの含まれるコードのデータを確認します。
まずは年でわかれた各ファイルをつなぎ合わせます

,コード,年度,総資産,純資産,株主資本,利益剰余金,短期借入金,長期借入金,BPS,自己資本比率
0,1301,2010/03,64301000000,18538000000,18391000000,12589000000,26724000000,2712000000,1651.87,28.1
1,1332,2010/03,383924000000,79567000000,69766000000,32530000000,114639000000,106993000000,231.06,16
2,1333,2010/03,113684000000,24435000000,-,-,-,-,-,21.5
3,1352,2010/03,11967000000,5439000000,5268000000,1561000000,-,497000000,628.95,44
4,1375,2010/03,32083000000,6318000000,6307000000,3056000000,-,7786000000,1.62,19
...,...,...,...,...,...,...,...,...,...,...
4139,9993,2025/02,55577000000,25969000000,25830000000,21459000000,8100000000,3620000000,2407.43,46.7
4140,9994,2025/03,66942000000,37330000000,34724000000,25670000000,3100000000,2968000000,3251.97,52.7
4141,9995,2024/03,49059000000,26593000000,24580000000,13707000000,11524000000,-,901.34,54.2
4142,9996,2025/03,35597241000,26268555000,26166862000,24318790000,683000000,-,3149.63,73.8
4143,9997,2025/03,312462000000,141656000000,140149000000,118956000000,24849000000,102853000000,1468.53,45.2

ファイルごとにゼロをもつコードの値をチェックします。
ファイル名: fy-profit-and-loss.csv
----------------------- EPS -----------------------

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2510,7847,2010/02,2629009000,-14942000,-2665000,-266854000,0,-,-
2612,7847,2011/02,3542672000,508957000,510613000,263862000,0,22.05,7.7
2680,7847,2012/02,4055008000,843361000,846047000,724075000,0,37.67,18.03
2768,7847,2013/02,3462211000,529420000,613467000,1229771000,177.06,39.4,28.82
2864,7847,2014/02,4523838000,1249910000,1358987000,1161089000,167.17,27.79,21.02
2968,7847,2015/02,4024300000,934694000,1032517000,673754000,102.85,15.93,12.03
3057,7847,2016/02,2770981000,62146000,47683000,16131000,2.51,0.39,0.32
3152,7847,2017/02,2946308000,326286000,362631000,248072000,38.58,5.86,4.62
3235,7847,2018/02,2921617000,414215000,400213000,257889000,40.11,5.91,4.82
3300,7847,2019/02,2965753000,356995000,376597000,249625000,38.82,5.61,4.57
3287,7847,2020/02,2542914000,61037000,60857000,45330000,7.02,1.04,0.85
3255,7847,2021/02,2604225000,198437000,195705000,126604000,19.58,2.9,2.3
3213,7847,2022/02,3332897000,704124000,757325000,516322000,79.85,10.86,8.58
3172,7847,2023/02,3551282000,770919000,895055000,614783000,95.07,12.09,9.54
3097,7847,2024/02,2652847000,152466000,236819000,175179000,27.03,3.58,2.9
3217,7847,2025/02,3074054000,534450000,558722000,376830000,58.1,7.47,5.56

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2592,7961,2010/03,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011/03,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012/03,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013/03,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014/03,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015/03,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016/03,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017/03,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018/03,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019/03,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020/03,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021/03,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022/03,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1110,3993,2013/09,10804000,-,145000,42000,0,-,0.69
1126,3993,2014/09,110640000,-,49209000,31405000,1.57,-,50.56
1138,3993,2015/09,292489000,149145000,149174000,100241000,5.01,75.21,42.92
1146,3993,2016/09,459665000,157750000,157750000,116188000,5.52,28.55,24.51
1158,3993,2017/09,934057000,395217000,384199000,268305000,12.49,4.85,4.58
1177,3993,2018/09,1503509000,596208000,588242000,611358000,23.55,9.86,9.08
1220,3993,2019/09,3061469000,720839000,592630000,409990000,15,1.54,1.35
1221,3993,2020/09,7393669000,634709000,602973000,1753805000,57.79,6.39,5.5
1211,3993,2021/09,8727071000,650311000,572337000,139431000,4.58,0.49,0.39
1188,3993,2022/09,11509927000,1565906000,1551423000,836612000,27.38,2.87,2.17
1173,3993,2023/09,13908918000,771146000,1824574000,4711000,0.15,0.02,0.01
1150,3993,2024/09,16893185000,3235694000,1936497000,2100104000,67.78,6.51,5.04
1204,3993,2024/09,16893185000,3235694000,1936497000,2100104000,67.78,6.51,5.04

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1275,4390,2013/03,2751768000,-,99569000,62159000,6.22,-,2.62
1294,4390,2014/03,2187744000,-,-134904000,-100505000,-10.06,-,-
1328,4390,2015/03,2587145000,-,51181000,8232000,0,-,-
1373,4390,2016/03,3590222000,331936000,217184000,84561000,0.01,17.56,2.28
1396,4390,2017/03,4160358000,513758000,520829000,289706000,0.03,38.23,6.66
1420,4390,2018/03,5327000000,902823000,819000000,480000000,9.61,38.23,11.31
1462,4390,2019/03,5780000000,945556000,1001000000,588000000,50.6,18.82,8.72
1463,4390,2020/03,6508000000,1070401000,1075000000,645000000,52.41,16.59,8.28
1450,4390,2021/03,9515000000,1921000000,2187000000,1487000000,120.21,28.02,12.64
1424,4390,2022/03,10728000000,2456000000,2897000000,1888000000,152.35,25.83,10.25
1405,4390,2023/03,12346000000,3311000000,3464000000,2292000000,184.44,24.5,9.12
1375,4390,2024/03,14117000000,3894000000,4427000000,2835000000,225.03,25.09,8.46
1445,4390,2025/03,15264000000,4413000000,4073000000,2544000000,197.1,16.69,6.05

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1404,4437,2016/03,-,-,-,-24000,0,-,-
1432,4437,2017/03,2988057000,-32183000,-27471000,-27777000,-4.63,-,-
1457,4437,2018/03,3823196000,136567000,147070000,99840000,16.64,16.66,6.23
1502,4437,2019/03,4992799000,310027000,300584000,198507000,37.39,14.64,7.75
1502,4437,2020/03,5758873000,381485000,383092000,255501000,38.69,15.2,9.02
1489,4437,2021/03,5442059000,159859000,160721000,26794000,4.05,1.57,0.89
1463,4437,2022/03,6108534000,449481000,471089000,291609000,43.34,14.07,8.36
1444,4437,2023/03,6391457000,546814000,549403000,359100000,53.34,14.84,9.21
1413,4437,2024/03,7449459000,502028000,481834000,300696000,44.6,11.08,5.95
1484,4437,2025/03,8805273000,605132000,550688000,337706000,49.69,11.13,6.1

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2664,7095,2016/04,6237000,-,32000,32000,0,-,0.23
2739,7095,2017/04,719559000,-,103636000,68215000,6.46,-,22.98
2818,7095,2018/04,3361812000,110590000,108978000,79525000,7.53,50.79,8.6
2877,7095,2019/04,4685217000,198550000,195754000,139447000,13.21,47.11,10.34
2866,7095,2020/04,6466000000,374269000,364000000,263000000,24.6,19.76,11.36
2839,7095,2021/04,9779000000,785695000,785000000,547000000,43.28,29,16.34
2793,7095,2022/04,14425000000,1237722000,1233000000,760000000,58.92,28.05,12.93
2753,7095,2023/04,19589000000,2162000000,2108000000,1567000000,120.53,19.35,8.88
2686,7095,2024/04,39405000000,3670000000,3668000000,2282000000,39.68,22.92,11.28
2798,7095,2025/04,51675000000,5171000000,4576000000,3443000000,243.37,28.23,14.93

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1174,4054,2015/06,1432834000,-,155300000,89674000,5.6,-,8.04
1186,4054,2016/06,1533419000,-,201710000,137558000,8.6,-,11.35
1198,4054,2017/06,1692348000,-,217237000,154477000,13.55,-,11.18
1218,4054,2018/06,1921079000,299644000,319224000,167510000,0,27.1,11.66
1260,4054,2019/06,2148160000,310039000,379083000,233740000,0.99,25.62,12.4
1261,4054,2020/06,2375552000,524801000,565775000,367542000,31.23,28.76,14.8
1251,4054,2021/06,2617526000,585806000,642419000,414947000,30.43,13.91,9.6
1228,4054,2022/06,3053753000,500963000,538181000,283406000,19.93,9.02,5.28
1212,4054,2023/06,3770377000,329719000,376010000,185313000,13.06,5.94,3.63
1188,4054,2024/06,4436894000,709517000,740273000,428987000,30.43,12.38,7.7
1244,4054,2025/06,5075000000,1004000000,1003000000,628000000,45.1,16.1,10.98

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2631,7049,2016/02,119653000,-,3039000,1880000,0.31,-,6.42
2703,7049,2017/02,317871000,-5690000,-7548000,-6682000,-1.01,-,-
2781,7049,2018/02,755023000,68425000,69320000,42255000,0,54.91,11.4
2838,7049,2019/02,1251679000,247227000,233902000,162700000,24.68,23.47,16.12
2826,7049,2020/02,1720447000,283221000,282133000,178925000,23.99,18.75,11.17
2799,7049,2021/02,2506000000,137471000,199371000,-41581000,-5.6,-,-
2753,7049,2022/02,3823773000,359917000,346988000,224911000,29.06,9.51,5.5
2714,7049,2023/02,4458325000,-57459000,-73095000,-252103000,-31.18,-,-
2647,7049,2024/02,4829829000,-113225000,-111191000,-97760000,-11.13,-,-
2759,7049,2025/02,5369123000,330878000,356562000,426572000,50.06,17.34,8.71

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
534,277A,2020/02,119008000,-,1216000,585000,0.23,-,2.82
533,277A,2021/02,84831000,-,153000,44000,0,-,0.12
520,277A,2022/05,417440000,-,106207000,77653000,3.11,-,18.16
512,277A,2023/05,2606586000,736270000,738367000,473606000,18.16,38.65,21.49
500,277A,2024/05,4175324000,369628000,378800000,260507000,9.99,17.47,10.04
519,277A,2025/05,8255896000,2800520000,2783476000,1768207000,64.5,30.74,20.17

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
767,319A,2019/06,-,-,-9000000,-10000000,-1.43,-,-
774,319A,2020/06,31000000,-,10000000,10000000,1.31,-,4.5
770,319A,2021/12,62000000,-,1000000,0,0,-,-
756,319A,2022/12,6804000000,460000000,541000000,148000000,19.05,11.19,1.61
747,319A,2023/12,9327000000,879000000,926000000,1613000000,205.23,53.53,10.94
733,319A,2024/12,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84
755,319A,2024/12,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84

----------------------- ROA -----------------------

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2592,7961,2010/03,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011/03,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012/03,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013/03,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014/03,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015/03,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016/03,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017/03,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018/03,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019/03,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020/03,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021/03,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022/03,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
474,2795,2010/03,3835336000,71863000,85545000,24746000,4.48,0.6,0.44
480,2795,2011/03,4325780000,166740000,50345000,184000,0.03,0,0
482,2795,2012/03,4422583000,231978000,231918000,106832000,19.34,2.75,1.88
485,2795,2013/03,4650766000,327029000,588362000,380745000,68.93,8.88,6.14
488,2795,2014/03,4838531000,326271000,531801000,323669000,61.5,7.11,5.03
490,2795,2015/03,4866417000,424531000,838443000,555592000,105.57,11.07,8.13
490,2795,2016/03,5288465000,446489000,319958000,227621000,43.25,4.52,3.31
492,2795,2017/03,5185061000,421353000,474995000,318169000,60.46,6.01,4.46
506,2795,2018/03,5445840000,482758000,406809000,322586000,61.3,5.89,4.19
547,2795,2019/03,5932876000,531823000,666246000,462901000,87.96,7.99,5.71
544,2795,2020/03,6638551000,569232000,573115000,373143000,70.9,6.3,4.6
543,2795,2021/03,5188021000,313708000,383209000,239095000,45.43,3.85,2.94
530,2795,2022/03,5876945000,472571000,644995000,416529000,79.15,6.41,4.79
522,2795,2023/03,6172487000,522515000,634909000,396617000,75.36,5.77,4.32
510,2795,2024/03,6940408000,576985000,760879000,504383000,95.84,6.71,4.98
529,2795,2025/03,7093981000,549883000,584128000,408822000,77.68,5.18,3.94

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2380,7567,2010/03,4111985000,121524000,110307000,65757000,12.92,2.4,1.02
2480,7567,2011/03,5582705000,171683000,164306000,57646000,11.33,2.08,0.91
2545,7567,2012/03,4639064000,62214000,49565000,52000,0.01,0,0
2630,7567,2013/03,3773932000,-33084000,-38538000,-413484000,-81.23,-,-
2712,7567,2014/03,4392283000,113442000,176472000,-88598000,-17.43,-,-
2809,7567,2015/03,4878888000,141077000,148776000,134164000,26.4,5.46,2.71
2894,7567,2016/03,4903004000,119306000,135064000,104996000,20.66,4.2,2.21
2987,7567,2017/03,5194528000,159278000,155942000,131848000,25.95,4.97,2.64
3071,7567,2018/03,6195447000,177530000,191361000,148228000,29.18,5.2,2.71
3133,7567,2019/03,5929403000,124543000,134663000,105164000,20.71,3.7,2.05
3122,7567,2020/03,5452429000,84638000,85705000,66591000,13.11,2.35,1.34
3095,7567,2021/03,5623667000,122947000,137958000,116667000,22.97,3.89,2.21
3056,7567,2022/03,9007564000,687663000,699087000,531659000,104.68,15.06,8.11
3016,7567,2023/03,10839012000,881384000,900946000,651423000,128.26,15.74,8.75
2945,7567,2024/03,8366407000,319263000,341489000,230738000,45.43,5.06,3.06
3061,7567,2025/03,6428380000,63441000,84455000,37265000,7.34,0.83,0.56

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
3088,9274,2010/03,356242000000,2130000000,2166000000,425000000,6.34,1.4,0.24
3192,9274,2011/03,351981000000,2118000000,2456000000,763000000,11.38,2.6,0.44
3266,9274,2012/03,340503000000,1812000000,2152000000,1368000000,20.41,4.49,0.77
3357,9274,2013/03,327512000000,1793000000,2147000000,5000000,0.07,0.01,0
3455,9274,2014/03,375098000000,2565000000,3013000000,2032000000,30.32,5.33,1.11
3562,9274,2015/03,387594000000,1370000000,1957000000,1126000000,16.8,2.74,0.58
3670,9274,2016/03,389678000000,1516000000,1853000000,1215000000,18.13,2.97,0.66
3778,9274,2017/03,366777000000,1031000000,1114000000,2215000000,33.05,5.04,1.2
3872,9274,2018/03,377714000000,2362000000,3086000000,2433000000,36.3,5.12,1.23
3935,9274,2019/03,384973000000,2280000000,2518000000,2497000000,34.73,4.98,1.3
3917,9274,2020/03,381397000000,1850000000,2194000000,1232000000,16.85,2.61,0.65
3872,9274,2021/03,430404000000,-9035000000,-12041000000,1416000000,19.69,3.26,0.51
3817,9274,2022/03,563414000000,9379000000,8844000000,7497000000,104.38,13.32,2.58
3762,9274,2023/03,659656000000,20401000000,18404000000,15722000000,219.08,23.21,4.75
3658,9274,2024/03,644435000000,15819000000,12475000000,10613000000,149.23,12.97,3.08
3809,9274,2025/03,670042000000,13544000000,9712000000,7986000000,117.99,9.27,2.27

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2475,7769,2010/03,28383000000,1129000000,1333000000,1009000000,76.34,3.26,2.7
2575,7769,2011/03,27401000000,1212000000,1376000000,589000000,44.56,1.96,1.63
2640,7769,2012/03,29419000000,1374000000,1694000000,1010000000,76.41,3.24,2.51
2725,7769,2013/03,32432000000,1789000000,2051000000,1442000000,109.09,4.52,3.66
2818,7769,2014/03,33916000000,861000000,1347000000,851000000,73.6,2.5,1.86
2921,7769,2015/03,37392000000,897000000,1319000000,1061000000,92.09,2.91,2.25
3008,7769,2016/03,33338000000,553000000,769000000,1053000000,104.1,3.28,2.33
3101,7769,2017/03,33332000000,851000000,956000000,1000000,0.11,0,0
3184,7769,2018/03,31516000000,844000000,980000000,180000000,20.17,0.63,0.44
3247,7769,2019/03,31016000000,761000000,913000000,-264000000,-31.95,-,-
3235,7769,2020/03,29911000000,-234000000,-22000000,-1139000000,-137.87,-,-
3203,7769,2021/03,27304000000,318000000,588000000,-1262000000,-152.79,-,-
3161,7769,2022/03,29999000000,892000000,1286000000,1031000000,124.84,3.82,2.69
3121,7769,2023/03,31231000000,886000000,1246000000,794000000,96.15,2.75,2
3047,7769,2024/03,32602000000,730000000,1259000000,477000000,57.77,1.53,1.09
3166,7769,2025/03,32666000000,817000000,1160000000,758000000,91.83,2.42,1.68

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
608,3125,2010/03,4385151000,279415000,272855000,144994000,73.98,6.51,3.57
616,3125,2011/03,5246572000,315981000,314207000,178812000,91.24,7.56,4.08
618,3125,2012/03,4954232000,99501000,100549000,47419000,24.2,1.92,1.12
622,3125,2013/03,4758691000,179259000,182490000,93286000,47.6,3.7,2.16
628,3125,2014/03,5429079000,176975000,179074000,106610000,54.49,4.11,1.96
635,3125,2015/03,7290558000,176921000,189619000,108533000,55.48,4.01,2.05
640,3125,2016/03,6786606000,268006000,250540000,131493000,67.22,4.68,2.59
648,3125,2017/03,5944843000,174450000,179355000,90246000,46.14,3.15,1.92
666,3125,2018/03,4958505000,-25774000,-23171000,-23772000,-12.15,-,-
712,3125,2019/03,4961236000,435000,10433000,197000,0.1,0.01,0
719,3125,2020/03,4077286000,-85940000,-78526000,-213786000,-109.32,-,-
717,3125,2021/03,2939197000,-230351000,-214721000,-851832000,-435.61,-,-

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1945,5530,2018/06,6083084000,-,165039000,73400000,70.23,-,1.1
1994,5530,2019/06,6232749000,-,97014000,319000,0.31,-,0
1989,5530,2020/06,6414528000,-,-26728000,26548000,25.4,-,-
1971,5530,2021/06,6947155000,-89986000,-89543000,-339372000,-324.73,-,-
1938,5530,2022/06,6776406000,354532000,340145000,179380000,171.64,10.84,2.59
1915,5530,2023/06,6889820000,430310000,423988000,265821000,249.58,12.98,3.87
1865,5530,2024/06,7616755000,549641000,538465000,292862000,256.12,12.84,4.19
1956,5530,2025/06,7876897000,426209000,416305000,247048000,107.89,10.06,3.47

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
3728,9165,2017/12,3283427000,-,342806000,264073000,162.51,-,6.02
3814,9165,2018/12,3263052000,-,-53679000,50098000,27.76,-,1.2
3875,9165,2019/12,2994787000,-,-117409000,185000,0.09,-,0
3856,9165,2020/12,2920720000,-,26245000,-216197000,-102.95,-,-
3811,9165,2021/06,1475970000,57601000,55021000,63872000,30.42,3.33,1.94
3755,9165,2022/06,3155813000,348204000,339675000,327464000,155.94,14.57,9.64
3701,9165,2023/06,3274204000,304399000,295370000,210076000,100.04,8.83,6.61
3599,9165,2024/06,3623929000,381323000,366679000,270042000,115.79,8.56,6.52
3748,9165,2025/06,4025193000,384786000,384423000,219807000,93.53,6.71,5.06

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
755,3419,2010/10,1045740000,-,11102000,10130000,11.38,-,2.32
770,3419,2011/10,1065946000,-,38249000,12267000,13.78,-,2.83
773,3419,2012/10,1105591000,-,40988000,28385000,31.89,-,7.4
777,3419,2013/10,1249677000,46815000,45821000,40200000,45.17,23.43,9.45
788,3419,2014/10,1408468000,47365000,47013000,30379000,34.13,15.03,6.26
796,3419,2015/10,1686667000,59293000,57714000,45316000,50.92,18.31,8.14
802,3419,2016/10,1715402000,55875000,51334000,38124000,35.03,10.18,5.42
811,3419,2017/10,1734627000,62580000,60295000,40356000,36.01,9.72,4.68
829,3419,2018/10,1835565000,25246000,23014000,10614000,9.44,2.49,1.32
873,3419,2019/10,2023374000,43224000,41346000,16756000,14.86,3.77,1.88
882,3419,2020/10,1853127000,19927000,31044000,1648000,1.46,0.37,0.14
877,3419,2021/10,2073210000,21837000,33350000,15009000,13.22,3.24,1.31
861,3419,2022/10,2295786000,58500000,68132000,40436000,35.6,8.06,3.12
850,3419,2023/10,2484559000,15954000,13565000,57000,0.05,0.01,0
831,3419,2024/10,2516799000,38891000,36660000,14072000,12.01,2.7,1.04
865,3419,2024/10,2516799000,38891000,36660000,14072000,12.01,2.7,1.04

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2487,7816,2010/12,2943654000,-,85896000,-465818000,-16.54,-,-
2589,7816,2011/12,3250204000,-,50998000,22710000,0.81,-,-
2657,7816,2012/12,3692782000,36887000,218872000,132748000,4.71,11.36,3.35
2745,7816,2013/12,4486906000,113288000,288474000,177317000,6.3,13.21,4.06
2841,7816,2014/12,5559105000,231390000,272099000,116462000,5.56,5.38,2.33
2945,7816,2015/12,7854094000,568474000,517866000,284811000,10.82,7.01,4.16
3034,7816,2016/12,9222393000,853311000,805549000,485122000,17.33,10.96,5.85
3129,7816,2017/12,9910033000,-141507000,-38983000,-251447000,-8.98,-,-
3212,7816,2018/12,12070909000,920360000,883472000,478803000,16.77,7.53,3.92
3277,7816,2019/12,14260000000,924098000,962000000,425000000,13.43,4.98,2.85
3265,7816,2020/12,16764000000,1493240000,1551000000,1048000000,28.14,9.91,6.21
3233,7816,2021/12,25713000000,3819451000,4035000000,2727000000,72.16,19.7,12.79
3191,7816,2022/12,30773000000,3674000000,3606000000,1946000000,51.43,12.97,6.33
3151,7816,2023/12,25728000000,943000000,1192000000,1000000,0.03,0.01,0
3196,7816,2023/12,25728000000,943000000,1192000000,1000000,0.03,0.01,0

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1145,4124,2012/09,1160214000,-,71757000,8543000,12.77,-,1.33
1166,4124,2013/09,978073000,-,25292000,16489000,24.64,-,2.78
1183,4124,2014/09,1003577000,-,65967000,52008000,77.72,-,6.59
1208,4124,2015/09,1048399000,136220000,133463000,88628000,132.44,13.69,9.07
1227,4124,2016/09,1043088000,223667000,219406000,167915000,250.93,20.88,15.64
1240,4124,2017/09,1137551000,220307000,213313000,139723000,208.8,15.18,12.36
1261,4124,2018/09,1214679000,201841000,190434000,115617000,111.49,7.06,6.44
1303,4124,2019/09,1088259000,107686000,104277000,72901000,68.37,4.4,4.05
1304,4124,2020/09,1050767000,111839000,110510000,75295000,71.55,4.47,3.89
1295,4124,2021/09,1216131000,117851000,126464000,80409000,76.25,4.61,3.97
1271,4124,2022/09,1180143000,137470000,140001000,88229000,83.24,4.86,4.29
1255,4124,2023/09,1235059000,115369000,110934000,-8671000,-8.38,-,-
1230,4124,2024/09,987178000,18741000,19388000,62000,0.06,0,0
1290,4124,2024/09,987178000,18741000,19388000,62000,0.06,0,0

----------------------- ROE -----------------------

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2592,7961,2010/03,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011/03,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012/03,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013/03,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014/03,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015/03,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016/03,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017/03,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018/03,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019/03,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020/03,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021/03,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022/03,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
474,2795,2010/03,3835336000,71863000,85545000,24746000,4.48,0.6,0.44
480,2795,2011/03,4325780000,166740000,50345000,184000,0.03,0,0
482,2795,2012/03,4422583000,231978000,231918000,106832000,19.34,2.75,1.88
485,2795,2013/03,4650766000,327029000,588362000,380745000,68.93,8.88,6.14
488,2795,2014/03,4838531000,326271000,531801000,323669000,61.5,7.11,5.03
490,2795,2015/03,4866417000,424531000,838443000,555592000,105.57,11.07,8.13
490,2795,2016/03,5288465000,446489000,319958000,227621000,43.25,4.52,3.31
492,2795,2017/03,5185061000,421353000,474995000,318169000,60.46,6.01,4.46
506,2795,2018/03,5445840000,482758000,406809000,322586000,61.3,5.89,4.19
547,2795,2019/03,5932876000,531823000,666246000,462901000,87.96,7.99,5.71
544,2795,2020/03,6638551000,569232000,573115000,373143000,70.9,6.3,4.6
543,2795,2021/03,5188021000,313708000,383209000,239095000,45.43,3.85,2.94
530,2795,2022/03,5876945000,472571000,644995000,416529000,79.15,6.41,4.79
522,2795,2023/03,6172487000,522515000,634909000,396617000,75.36,5.77,4.32
510,2795,2024/03,6940408000,576985000,760879000,504383000,95.84,6.71,4.98
529,2795,2025/03,7093981000,549883000,584128000,408822000,77.68,5.18,3.94

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2380,7567,2010/03,4111985000,121524000,110307000,65757000,12.92,2.4,1.02
2480,7567,2011/03,5582705000,171683000,164306000,57646000,11.33,2.08,0.91
2545,7567,2012/03,4639064000,62214000,49565000,52000,0.01,0,0
2630,7567,2013/03,3773932000,-33084000,-38538000,-413484000,-81.23,-,-
2712,7567,2014/03,4392283000,113442000,176472000,-88598000,-17.43,-,-
2809,7567,2015/03,4878888000,141077000,148776000,134164000,26.4,5.46,2.71
2894,7567,2016/03,4903004000,119306000,135064000,104996000,20.66,4.2,2.21
2987,7567,2017/03,5194528000,159278000,155942000,131848000,25.95,4.97,2.64
3071,7567,2018/03,6195447000,177530000,191361000,148228000,29.18,5.2,2.71
3133,7567,2019/03,5929403000,124543000,134663000,105164000,20.71,3.7,2.05
3122,7567,2020/03,5452429000,84638000,85705000,66591000,13.11,2.35,1.34
3095,7567,2021/03,5623667000,122947000,137958000,116667000,22.97,3.89,2.21
3056,7567,2022/03,9007564000,687663000,699087000,531659000,104.68,15.06,8.11
3016,7567,2023/03,10839012000,881384000,900946000,651423000,128.26,15.74,8.75
2945,7567,2024/03,8366407000,319263000,341489000,230738000,45.43,5.06,3.06
3061,7567,2025/03,6428380000,63441000,84455000,37265000,7.34,0.83,0.56

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2475,7769,2010/03,28383000000,1129000000,1333000000,1009000000,76.34,3.26,2.7
2575,7769,2011/03,27401000000,1212000000,1376000000,589000000,44.56,1.96,1.63
2640,7769,2012/03,29419000000,1374000000,1694000000,1010000000,76.41,3.24,2.51
2725,7769,2013/03,32432000000,1789000000,2051000000,1442000000,109.09,4.52,3.66
2818,7769,2014/03,33916000000,861000000,1347000000,851000000,73.6,2.5,1.86
2921,7769,2015/03,37392000000,897000000,1319000000,1061000000,92.09,2.91,2.25
3008,7769,2016/03,33338000000,553000000,769000000,1053000000,104.1,3.28,2.33
3101,7769,2017/03,33332000000,851000000,956000000,1000000,0.11,0,0
3184,7769,2018/03,31516000000,844000000,980000000,180000000,20.17,0.63,0.44
3247,7769,2019/03,31016000000,761000000,913000000,-264000000,-31.95,-,-
3235,7769,2020/03,29911000000,-234000000,-22000000,-1139000000,-137.87,-,-
3203,7769,2021/03,27304000000,318000000,588000000,-1262000000,-152.79,-,-
3161,7769,2022/03,29999000000,892000000,1286000000,1031000000,124.84,3.82,2.69
3121,7769,2023/03,31231000000,886000000,1246000000,794000000,96.15,2.75,2
3047,7769,2024/03,32602000000,730000000,1259000000,477000000,57.77,1.53,1.09
3166,7769,2025/03,32666000000,817000000,1160000000,758000000,91.83,2.42,1.68

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1145,4124,2012/09,1160214000,-,71757000,8543000,12.77,-,1.33
1166,4124,2013/09,978073000,-,25292000,16489000,24.64,-,2.78
1183,4124,2014/09,1003577000,-,65967000,52008000,77.72,-,6.59
1208,4124,2015/09,1048399000,136220000,133463000,88628000,132.44,13.69,9.07
1227,4124,2016/09,1043088000,223667000,219406000,167915000,250.93,20.88,15.64
1240,4124,2017/09,1137551000,220307000,213313000,139723000,208.8,15.18,12.36
1261,4124,2018/09,1214679000,201841000,190434000,115617000,111.49,7.06,6.44
1303,4124,2019/09,1088259000,107686000,104277000,72901000,68.37,4.4,4.05
1304,4124,2020/09,1050767000,111839000,110510000,75295000,71.55,4.47,3.89
1295,4124,2021/09,1216131000,117851000,126464000,80409000,76.25,4.61,3.97
1271,4124,2022/09,1180143000,137470000,140001000,88229000,83.24,4.86,4.29
1255,4124,2023/09,1235059000,115369000,110934000,-8671000,-8.38,-,-
1230,4124,2024/09,987178000,18741000,19388000,62000,0.06,0,0
1290,4124,2024/09,987178000,18741000,19388000,62000,0.06,0,0

----------------------- 営業利益 -----------------------

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2056,6794,2010/03,88417000000,9090000000,9151000000,5736000000,244.02,17.9,11.13
2152,6794,2011/03,101379000000,7632000000,7599000000,4646000000,197.65,14.01,7.1
2215,6794,2012/03,119601000000,1816000000,2059000000,1123000000,47.78,3.4,1.6
2286,6794,2013/03,143542000000,5515000000,5316000000,3333000000,141.79,8.29,3.53
2342,6794,2014/03,167640000000,6021000000,6327000000,2321000000,99.49,5.12,2.37
2410,6794,2015/03,189124000000,9747000000,10398000000,4858000000,206.16,7.97,4.63
2477,6794,2016/03,190928000000,10351000000,10847000000,6833000000,255.4,10.87,6.92
2549,6794,2017/03,160896000000,2963000000,3017000000,1088000000,41.15,1.83,1.06
2627,6794,2018/03,184800000000,9307000000,9062000000,4265000000,165.76,6.87,4.23
2686,6794,2019/03,140303000000,3937000000,4318000000,-2026000000,-83.18,-,-
2674,6794,2020/03,107298000000,2064000000,2599000000,1565000000,69.15,2.91,1.94
2651,6794,2021/03,85220000000,0,219000000,-3363000000,-148.43,-,-
2608,6794,2022/03,91106000000,-7757000000,-7473000000,-7017000000,-315.51,-,-
2570,6794,2023/03,121338000000,2445000000,2327000000,848000000,38.22,1.66,0.91
2508,6794,2024/03,122447000000,4412000000,4305000000,2304000000,103.66,3.97,2.24
2615,6794,2025/03,137607000000,6796000000,7726000000,3902000000,174.96,6.41,3.65

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1109,4314,2010/12,104331000000,-1800000000,-24596000000,-2738000000,-1748.21,-,-
1169,4314,2011/12,33757000000,1470000000,-8769000000,6900000000,4405.64,-95.86,1.5
1206,4314,2012/12,14561000000,3541000000,-3558000000,1990000000,1270.61,-38.62,0.47
1229,4314,2013/12,202912000000,-31301000000,-44218000000,1701000000,1086.09,-50.53,1.21
1247,4314,2014/12,112735000000,1042000000,-48000000,6151000000,3927.41,216.28,63.03
1281,4314,2015/12,1475000000,121000000,-54000000,-2000000,-1.28,-,-
1318,4314,2016/12,7700000000,2141000000,1811000000,1792000000,1144.19,40.81,21.03
1340,4314,2017/12,1724000000,-224000000,-398000000,-257000000,-164.09,-,-
1364,4314,2018/12,1430000000,94000000,-300000000,-410000000,-261.78,-,-
1406,4314,2019/12,1049000000,-284000000,-621000000,-946000000,-604.02,-,-
1407,4314,2020/12,555000000,-336000000,-801000000,-975000000,-622.54,-,-
1395,4314,2021/12,361000000,45000000,-20000000,121000000,77.26,6.71,4.43
1370,4314,2022/12,212000000,-32000000,376000000,396000000,252.85,18.16,13.64
1353,4314,2023/12,234000000,-9000000,-10000000,3000000,1.92,0.14,0.1
1391,4314,2024/12,236000000,0,0,-97000000,-61.93,-,-

----------------------- 売上高 -----------------------

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2364,7177,2012/03,0,-,-51000000,-36000000,-2,-,-
2447,7177,2013/03,17927000000,-,4940000000,2889000000,160.41,-,0.96
2526,7177,2014/03,21456000000,5585000000,5466000000,3689000000,204.83,19.59,1.04
2610,7177,2015/03,24958000000,7747000000,7707000000,4855000000,43.13,25.09,1.04
2683,7177,2016/03,29017000000,10611000000,10570000000,6453000000,55.81,26.18,1.42
2766,7177,2017/12,21657000000,7462000000,7349000000,5141000000,43.17,16.56,0.93
2848,7177,2018/12,34787000000,11812000000,11849000000,7719000000,64.46,22.09,1.47
2907,7177,2019/12,32501000000,9762000000,9686000000,6073000000,51.42,16.57,1
2898,7177,2020/12,35988000000,12268000000,11806000000,7298000000,62.33,20.29,1.01
2873,7177,2021/12,45924000000,15396000000,16037000000,9858000000,86.9,24.22,0.99
2830,7177,2022/12,46533000000,9150000000,7875000000,1212000000,10.66,3.06,0.12
2790,7177,2023/12,51432000000,14451000000,14107000000,7649000000,65.41,16.47,0.68
2723,7177,2024/12,53269000000,8926000000,8433000000,4745000000,40.22,9.86,0.34
2835,7177,2024/12,53269000000,8926000000,8433000000,4745000000,40.22,9.86,0.34

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1209,4575,2010/06,148335000,-480948000,-481404000,53378000,18.34,1.53,1.45
1269,4575,2011/06,-,-1420189000,-1510366000,-1501513000,-515.9,-,-
1306,4575,2012/06,-,-1103100000,-1118334000,-1119584000,-384.67,-,-
1354,4575,2013/06,0,-651875000,-641857000,-643107000,-175.18,-,-
1398,4575,2014/06,0,-483814000,-480229000,-376269000,-101.46,-,-
1444,4575,2015/06,60958000,-283542000,-265714000,-266964000,-62.51,-,-
1497,4575,2016/06,105243000,-399115000,-413739000,-414989000,-85.78,-,-
1526,4575,2017/06,109852000,-406825000,-400652000,-419498000,-83.38,-,-
1552,4575,2018/06,110000000,-539456000,-547091000,-532087000,-96.7,-,-
1597,4575,2019/06,115550000,-533077000,-534958000,-456208000,-77.06,-,-
1596,4575,2020/06,110000000,-566800000,-573686000,-572790000,-83.64,-,-
1581,4575,2021/06,108945000,-547671000,-555112000,-531034000,-70.02,-,-
1552,4575,2022/06,-,-846438000,-854327000,-855577000,-88.32,-,-
1531,4575,2023/06,-,-965965000,-1283062000,-1244108000,-83.03,-,-
1499,4575,2024/06,-,-1262041000,-1208349000,-1209599000,-67.9,-,-
1571,4575,2025/06,-,-1109563000,-1156668000,-1157918000,-61.14,-,-

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2701,7342,2015/12,0,-,-65079000,-65818000,-2.74,-,-
2776,7342,2016/12,3007000,-,-353304000,-354254000,-7.67,-,-
2862,7342,2017/12,207048000,-,-762812000,-776375000,-15.76,-,-
2945,7342,2018/12,881171000,-1721482000,-1718020000,-1721820000,-28.82,-,-
3006,7342,2019/12,1552903000,-2061722000,-2057005000,-2060805000,-48.53,-,-
2997,7342,2020/12,2516709000,-978794000,-999410000,-1003210000,-23.58,-,-
2968,7342,2021/12,4647506000,-432702000,-491659000,-495459000,-10.85,-,-
2925,7342,2022/12,6573470000,209814000,214266000,289689000,6.07,2.64,1.12
2884,7342,2023/12,8167922000,523672000,519529000,375277000,7.65,3.09,1.16
2813,7342,2024/12,11166000000,844000000,424000000,508000000,8.83,1.75,0.78
2929,7342,2024/12,11166000000,844000000,424000000,508000000,8.83,1.75,0.78

       コード       年度        売上高         営業利益 経常利益          純利益      EPS ROE ROA
1462  4596  2015/12          -      -133000    -      -693000   -69300   -   -
1515  4596  2016/12  846254000  -4071000000    -  -3910726000  -104.52   -   -
1544  4596  2017/12          0  -3620000000    -  -3444615000   -90.85   -   -
1570  4596  2018/12          0  -3273854000    -  -3046403000   -78.42   -   -
1615  4596  2019/12          0  -3288407000    -  -3065570000   -73.06   -   -
1613  4596  2020/12   37786000  -2484044000    -  -2437424000    -56.9   -   -
1598  4596  2021/12          -  -2584705000    -  -2616451000   -57.46   -   -
1569  4596  2022/12    8254000  -2038020000    -  -2015906000   -40.92   -   -
1548  4596  2023/12   39887000  -1504006000    -  -1489602000   -26.79   -   -
1515  4596  2024/12   27000000  -1289000000    -  -1333000000   -23.66   -   -
1588  4596  2024/12   27189000  -1345491000    -  -1332852000   -23.65   -   -

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2860,7326,2017/03,0,-,-31000000,-8000000,-0.43,-,-
2943,7326,2018/03,62186000000,-,1059000000,724000000,38.47,2.34,0.43
3003,7326,2019/03,66388000000,-,2131000000,851000000,40.78,2.22,0.49
2994,7326,2020/03,70467000000,-,2360000000,335000000,14.39,0.81,0.19
2962,7326,2021/03,86657000000,-,3852000000,763000000,30.74,1.75,0.39
2919,7326,2022/03,88365000000,-,5925000000,891000000,35.9,2.07,0.46
2879,7326,2023/03,96110000000,-,6308000000,1240000000,49.96,3.2,0.65
2810,7326,2024/03,109339000000,-,8236000000,1450000000,58.42,3.64,0.69
2924,7326,2025/03,39566000000,-,9474000000,1988000000,80.1,4.69,0.91

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1282,4593,2011/12,-,-,-,230000,0.01,-,12.63
1320,4593,2012/12,-,-,-,-39654000,-1.32,-,-
1368,4593,2013/12,500000000,194936000,-,85141000,2.57,2.78,2.11
1413,4593,2014/12,279000000,-573409000,-,-480000000,-14.25,-,-
1459,4593,2015/12,98000000,-1060416000,-,-958000000,-25.6,-,-
1512,4593,2016/12,77000000,-3507464000,-,-3433000000,-84.32,-,-
1541,4593,2017/12,27000000,-2348000000,-,-1776000000,-39.72,-,-
1567,4593,2018/12,0,-5063000000,-,-5097000000,-103.52,-,-
1612,4593,2019/12,89000000,-4297000000,-,-4806000000,-95.86,-,-
1610,4593,2020/12,27000000,-4183000000,-,-5512000000,-107.2,-,-
1595,4593,2021/12,41000000,-5384000000,-,-4910000000,-93.36,-,-
1566,4593,2022/12,90000000,-5179000000,-,-5169000000,-90.67,-,-
1545,4593,2023/12,121000000,-3379000000,-,-3823000000,-56.22,-,-
1512,4593,2024/12,560000000,-2843000000,-,-4235000000,-47.87,-,-
1585,4593,2024/12,560000000,-2843000000,-,-4235000000,-47.87,-,-

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
866,339A,2021/03,0,-,-168000000,-167000000,-14.07,-,-
851,339A,2022/02,0,-,-,-73000000,-10.32,-,-
840,339A,2023/02,4780000000,1190000000,-,730000000,103.22,31.04,9.25
821,339A,2024/02,5116000000,1150000000,-,696000000,98.41,22.75,9.07
854,339A,2025/02,5649000000,914000000,-,584000000,82.58,15.97,6.61

----------------------- 純利益 -----------------------

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2592,7961,2010/03,9639000000,24000000,12000000,0,0,0,0
2694,7961,2011/03,10128000000,88000000,81000000,-272000000,-65.55,-,-
2763,7961,2012/03,10893000000,426000000,421000000,320000000,77.12,9.48,4.11
2850,7961,2013/03,10461000000,572000000,574000000,533000000,128.46,13.57,7.17
2947,7961,2014/03,12394000000,780000000,804000000,998000000,240.71,20.18,12.73
3051,7961,2015/03,12158000000,706000000,725000000,509000000,122.77,9.51,6.02
3140,7961,2016/03,11598000000,747000000,821000000,491000000,118.44,8.41,5.5
3235,7961,2017/03,12967000000,956000000,1034000000,669000000,161.38,10.27,6.75
3317,7961,2018/03,13151000000,989000000,1062000000,764000000,184.31,10.88,7.3
3382,7961,2019/03,12961000000,845000000,935000000,620000000,149.58,8.31,5.7
3368,7961,2020/03,12987000000,917000000,1016000000,695000000,167.68,8.74,6.33
3332,7961,2021/03,11705000000,708000000,791000000,517000000,124.74,6.26,4.73
3287,7961,2022/03,13612000000,990000000,1116000000,766000000,184.82,8.71,6.23
3244,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41
3289,7961,2023/03,13992000000,460000000,585000000,404000000,97.48,4.5,3.41

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
767,319A,2019/06,-,-,-9000000,-10000000,-1.43,-,-
774,319A,2020/06,31000000,-,10000000,10000000,1.31,-,4.5
770,319A,2021/12,62000000,-,1000000,0,0,-,-
756,319A,2022/12,6804000000,460000000,541000000,148000000,19.05,11.19,1.61
747,319A,2023/12,9327000000,879000000,926000000,1613000000,205.23,53.53,10.94
733,319A,2024/12,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84
755,319A,2024/12,11051000000,1517000000,1548000000,901000000,114.3,23.09,5.84

----------------------- 経常利益 -----------------------

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1934,6492,2010/11,12649948000,1579759000,1729536000,1018176000,567.86,12.05,8.4
2018,6492,2011/11,10195847000,803624000,939475000,384559000,214.48,4.44,3.45
2063,6492,2012/11,8347631000,338183000,458348000,197148000,109.95,2.27,1.85
2116,6492,2013/11,7404326000,134070000,304043000,187500000,106.12,2.13,1.68
2170,6492,2014/11,7437199000,159981000,351872000,197189000,112.1,2.22,1.83
2230,6492,2015/11,7624708000,373307000,615591000,342001000,196.97,3.76,3.07
2293,6492,2016/11,7501002000,113623000,419623000,226304000,130.36,2.46,2.02
2362,6492,2017/11,8304000000,234430000,373000000,193000000,111.19,2.05,1.37
2437,6492,2018/11,7577000000,-67930000,0,165000000,95.07,1.73,1.19
2497,6492,2019/11,6663000000,-872933000,-792000000,-983000000,-567.26,-,-
2489,6492,2020/11,6362000000,147000000,251000000,375000000,217.67,4.25,2.98
2467,6492,2021/11,5850000000,365000000,445000000,303000000,177.47,3.37,2.51
2428,6492,2022/11,6887000000,488000000,562000000,483000000,290.53,5.11,3.9
2393,6492,2023/11,7407000000,812000000,910000000,697000000,433.24,6.96,5.49
2336,6492,2024/11,8169000000,1185000000,1283000000,1102000000,688.48,9.59,7.76
2437,6492,2024/11,8169000000,1185000000,1283000000,1102000000,688.48,9.86,7.76

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
2950,8836,2010/03,2057000000,23000000,49000000,55000000,0.82,1.45,1.09
3054,8836,2011/03,564000000,-98000000,-102000000,-341000000,-5.08,-,-
3123,8836,2012/03,380000000,-89000000,-45000000,-40000000,-0.6,-,-
3210,8836,2013/03,560000000,51000000,92000000,94000000,1.41,2.76,2.28
3307,8836,2014/03,592000000,58000000,73000000,74000000,1.57,2.25,1.89
3411,8836,2015/03,424000000,14000000,26000000,29000000,0.62,0.88,0.75
3500,8836,2016/03,447000000,123000000,115000000,71000000,1.39,2.1,1.79
3595,8836,2017/03,246000000,-162000000,-161000000,-162000000,-1.69,-,-
3677,8836,2018/03,515000000,-138000000,-143000000,179000000,1.86,8.61,7.12
3739,8836,2019/03,141000000,-103000000,-107000000,-109000000,-1.14,-,-
3721,8836,2020/03,294000000,-50000000,-54000000,172000000,1.79,8.03,6.73
3675,8836,2021/03,360000000,-14000000,0,-52000000,-0.54,-,-
3621,8836,2022/03,362000000,-6000000,-8000000,-53000000,-0.55,-,-
3571,8836,2023/03,339000000,3000000,10000000,24000000,0.25,1.16,1
3473,8836,2024/03,349000000,15000000,13000000,-11000000,-0.11,-,-
3616,8836,2025/03,383000000,34000000,34000000,9000000,0.09,0.55,0.49

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1656,6029,2010/12,603562000,-,-85121000,-98762000,-17.33,-,-
1721,6029,2011/12,710741000,-,-5655000,-21465000,-3.77,-,-
1761,6029,2012/12,772046000,-24896000,-41981000,-44059000,-7.73,-,-
1812,6029,2013/12,1320152000,144316000,144549000,145542000,25.53,343.79,14.76
1862,6029,2014/12,1490027000,78002000,68673000,27604000,4.76,5.05,1.7
1919,6029,2015/12,2564070000,387415000,453313000,268734000,34.45,32.97,11.21
1981,6029,2016/12,3251564000,293905000,301387000,148703000,18.41,10.06,5.32
2048,6029,2017/12,3759158000,435573000,455475000,301430000,34.59,17.19,8.51
2120,6029,2018/12,3479200000,164280000,163697000,269930000,30.88,13.5,6.01
2180,6029,2019/12,2833781000,25196000,31411000,-146664000,-16.71,-,-
2177,6029,2020/12,2426748000,-410160000,-395835000,-440764000,-49.87,-,-
2158,6029,2021/12,3158240000,-223022000,-224672000,-351122000,-36.76,-,-
2124,6029,2022/12,4671498000,2823000,15178000,2104000,0.22,0.16,0.05
2097,6029,2023/12,4497601000,51228000,62006000,53966000,5.43,3.73,1.18
2047,6029,2024/12,4234000000,5000000,0,-36736000,-3.59,-,-
2140,6029,2024/12,4234433000,5683000,987000,-36736000,-3.59,-,-

,コード,年度,売上高,営業利益,経常利益,純利益,EPS,ROE,ROA
1109,4314,2010/12,104331000000,-1800000000,-24596000000,-2738000000,-1748.21,-,-
1169,4314,2011/12,33757000000,1470000000,-8769000000,6900000000,4405.64,-95.86,1.5
1206,4314,2012/12,14561000000,3541000000,-3558000000,1990000000,1270.61,-38.62,0.47
1229,4314,2013/12,202912000000,-31301000000,-44218000000,1701000000,1086.09,-50.53,1.21
1247,4314,2014/12,112735000000,1042000000,-48000000,6151000000,3927.41,216.28,63.03
1281,4314,2015/12,1475000000,121000000,-54000000,-2000000,-1.28,-,-
1318,4314,2016/12,7700000000,2141000000,1811000000,1792000000,1144.19,40.81,21.03
1340,4314,2017/12,1724000000,-224000000,-398000000,-257000000,-164.09,-,-
1364,4314,2018/12,1430000000,94000000,-300000000,-410000000,-261.78,-,-
1406,4314,2019/12,1049000000,-284000000,-621000000,-946000000,-604.02,-,-
1407,4314,2020/12,555000000,-336000000,-801000000,-975000000,-622.54,-,-
1395,4314,2021/12,361000000,45000000,-20000000,121000000,77.26,6.71,4.43
1370,4314,2022/12,212000000,-32000000,376000000,396000000,252.85,18.16,13.64
1353,4314,2023/12,234000000,-9000000,-10000000,3000000,1.92,0.14,0.1
1391,4314,2024/12,236000000,0,0,-97000000,-61.93,-,-

### データ型の整合性確認
ロードしたファイルの方が各列で共通になるようにします。
<details>
<summary><b>結果</b></summary>
以下のように処理しています。

- コード：string
- 年度：timestump
- その他：float
</details>

In [ ]:
print("")
print("ファイル毎にデータを取得します")
df_DATAs_BY_ALL_FILEs = dl.load_data_by_files(
    settings["data_path"]["raw"],settings["years"],settings["files"]["raw"]
)

print("")
print("ハイフンを欠損値にします。")
df_missing_value_change = {
    (filename, year): df.replace("-", pd.NA)
    for (filename, year), df in df_DATAs_BY_ALL_FILEs.items()
}
display(df_missing_value_change)

print("")
print("数値化できるものはfloat化します。")
exclude_cols = ["コード", "年度"]  # 数値変換したくない列
def safe_to_numeric(x):
    try:
        return pd.to_numeric(x)
    except Exception:
        return x  # 数値変換できなければそのまま返す
df_type_to_float = {
    key: df.assign(
        **{
            col: df[col].apply(safe_to_numeric) 
            for col in df.columns if col not in exclude_cols
        }
    )
    for key, df in df_missing_value_change.items()
}
display(df_type_to_float)

In [ ]:
print("")
print("各列のdtypeと要素のtypeを出力します。")
def check_column_types(df_DATAs_BY_ALL_FILEs):
    COUNT_COLUMNS = ["filename", "year", "col", "dtype", "sample_types"]
    df_type = pd.DataFrame(columns=COUNT_COLUMNS)
    current_index = 0
    for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
        for col in df.columns:
            # 実際のデータ型を確認
            dtype = df[col].dtype
            sample_types = df[col].dropna().map(type).unique()
            row_data_tuple = (filename, year, col, dtype, sample_types)
            df_type.loc[current_index, COUNT_COLUMNS] = row_data_tuple
            #print(row_data_tuple)
            current_index +=1
    return df_type
df_type = check_column_types(df_type_to_float)
display(df_type)

print("")
print("dtypeがobjectの要素を検索します。")
display(df_type[df_type["dtype"] == "object"]["col"].unique())

print("")
print("dtypeがobjectの要素をstrにします。")
df = df_type_to_float
df_type_change = {
    #(filename, year): df.astype({col: 'string' for col in df.select_dtypes(include='object').columns})
    (filename, year): (df.assign(コード=df["コード"].astype("string")) if "コード" in df.columns else df)
    for (filename, year), df in df_type_to_float.items()
}
#display(df_type_change)
print("")
print("日付はdatetimeにします。")
df_type_change = {
    (filename, year): df.assign(年度=pd.to_datetime(df["年度"], format="%Y/%m"))
    for (filename, year), df in df_type_change.items()
}
print("")
print("変更されているか確認します。")
df_type = check_column_types(df_type_change)
#display(df_type[df_type["dtype"] == "object"]["col"].unique())
display(df_type)

print("")
print("最後にsample_typesが正しいか確認します")
def chk_sample_type(df_type):
    SAMPLE_TYPES_COLUMNS = ["col", "sample_types"]
    df_sample_types = pd.DataFrame(columns=SAMPLE_TYPES_COLUMNS)
    col_list = df_type["col"].unique().tolist()
    current_index=0
    for col in col_list:
        row_data_tuple = (
            col,
            df_type[df_type["col"]==col]["sample_types"].astype(str).unique()
        )
        df_sample_types.loc[current_index, SAMPLE_TYPES_COLUMNS] = row_data_tuple
        current_index +=1
    return df_sample_types
df_sample_types = chk_sample_type(df_type)
#display(df_sample_types)

print("")
print("float以外が含まれている列をfloatだけにします")
float_cols = df_sample_types[df_sample_types["sample_types"].astype(str).str.contains("int")]
float_cols = float_cols["col"].to_list()
df_type_change = {
    (filename, year): df.assign(**{
        col: df[col].astype(float)
        for col in float_cols
        if col in df.columns
    })
    for (filename, year), df in df_type_change.items()
}
df_type = check_column_types(df_type_change)
df_sample_types = chk_sample_type(df_type)
display(df_sample_types)

### 初期品質の確認

指標となる以下の数を確認し、必要な処理のプロセスを決定します。

- コード
- 年度
- 列

<summary><b>結果</b></summary>

</details>

In [ ]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_rows', 60)

print("")
print("処理済みデータをロードします。")
df_PROCESSED = df_type_change
#display(df_PROCESSED)

print("")
print("企業コード数、エンドの数、列数をファイルごとにまとめます。")
def get_file_info(df_PROCESSED):
    df_file_info = pd.DataFrame(columns=["file","year","code_counts","year_counts","column_counts"])
    for (filename, year), df in df_PROCESSED.items():
        # len(df_file_info)を次の新しい行のインデックスとして明示的に指定します。
        df_file_info.loc[len(df_file_info)] = [
            filename, year, df["コード"].nunique(), df["年度"].nunique(), df.columns.nunique()
        ]
    return df_file_info
df_file_info = get_file_info(df_PROCESSED)
#display(df_file_info)

print("")
print("各ファイルの年推移を可視化します。")
fig = px.line(df_file_info,x="year",y="code_counts",color="file")
#fig.show()
fig = px.line(df_file_info,x="year",y="year_counts",color="file")
#fig.show()
fig = px.line(df_file_info,x="year",y="column_counts",color="file")
#fig.show()

print("")
print("最新年のファイルに登録されている年度を表示します。")
df = df_PROCESSED[(settings["files"]["raw"][0],2025)]
#display(df["年度"].unique())

print("")
print("最新年に登録されている過去の年度と過去のデータが同じか確認します")
print("まずは、年度を限定して、コードの一覧を見ます")
#display(df[df["年度"]=="2024/12"]["コード"])

print("")
print("コードを限定し、過去のデータファイルと同じかどうか調べます。")
df = df_PROCESSED[(settings["files"]["raw"][0],2025)]
#display(df[df["コード"]=="130A"])
df = df_PROCESSED[(settings["files"]["raw"][0],2024)]
#display(df[df["コード"]=="130A"])

print("")
print("最新年度にある過去のデータを取得し、過去のデータを更新します")
def update_df(df_by_files, latest_year):
    df_all_datas_by_files = {}
    cutoff_date = cutoff_date = pd.to_datetime(f"{str(latest_year)}-01-01")
    #print(cutoff_date)
    all_files = {key[0] for key in df_by_files.keys()}
    for file in all_files:
        df_source_raw = df_by_files.get((file, latest_year))
        if df_source_raw is None:
            print(f"警告: {file} の2025年データが見つかりません。スキップします。")
            continue
        # フィルタリング条件を作成: '年度'が基準日より小さいデータのみ抽出
        df_update_source = df_source_raw[df_source_raw["年度"] < cutoff_date]
        df_update_source = df_update_source.set_index(["コード", "年度"])
        #display(df_update_source)
        # --- 2. 過去の全年のデータを更新 ---
        all_years = {key[1] for key in df_by_files.keys() if key[0] == file}
        for year in all_years:
            df_target = df_by_files.get((file, year))
            if df_target is None:
                continue
            df_target_indexed = df_target.set_index(["コード", "年度"])

            df_target_indexed.update(df_update_source)
            df_target_indexed = df_target_indexed.reset_index()
            df_all_datas_by_files[(file, year)] = df_target_indexed
    return df_all_datas_by_files

df_PROCESSED_AFTER = update_df(df_PROCESSED, 2025)

print("")
print("正しく処理が行われ、最新年に登録されている過去の年度と過去のデータが同じか確認します。")
df = df_PROCESSED_AFTER[(settings["files"]["raw"][0],2025)]
display(df[df["コード"]=="130A"])
df = df_PROCESSED_AFTER[(settings["files"]["raw"][0],2024)]
display(df[df["コード"]=="130A"])

print("")
print("最後に最新年度にある過去のデータを消去します。")
cutoff_date = pd.to_datetime("2025-01-01")
for file, year in df_PROCESSED_AFTER.keys():
    if year == 2025:
        df = df_PROCESSED_AFTER[(file,year)]
        df = df[df["年度"] >= cutoff_date]
        df_PROCESSED_AFTER[(file,year)] = df
print("")
print("各ファイルの年推移をもう一度可視化し、改善していることを確かめます。") 
df_file_info_after = get_file_info(df_PROCESSED_AFTER)
df_file_info_after["区分"] = "処理後"
df_file_info_after = df_file_info_after.set_index(["file", "year"]).sort_index()

df_file_info = get_file_info(df_PROCESSED)
df_file_info["区分"] = "処理前"
df_file_info = df_file_info.set_index(["file", "year"]).sort_index()
df_compare = pd.concat([df_file_info,df_file_info_after]).reset_index()
display(df_compare)
fig = px.line(df_compare, x="year", y="code_counts", color="file", line_dash="区分", markers=True)
fig.update_layout(title="処理前後のコード数推移", xaxis_title="年度", yaxis_title="コード数")
fig.show()

### 上場企業データのクリーニング

<summary><b>結果</b></summary>

</details>

In [ ]:
print("\nロードします。")
df_code_info = dl.load_on_startup(settings["data_path"]["reference"], "", settings["files"]["reference"],header=0)
#display(df_code_info)
dl.chk_file_missing(df_code_info)

print("\n欠損値表現を確認します。")
df_missing_values_expression = cu.chk_missing_values_expression(
    df_code_info, filename=settings["files"]["reference"], option_value=""
)
#display(df_missing_values_expression)

print("\n欠損値処理をします。")
df_code_info_missing_change = df_code_info.replace({"-": pd.NA, "": pd.NA})

print("\n数値列を Int64 に変換します。")
numeric_cols = ["17業種コード", "規模コード"]
df = df_code_info_missing_change
df = cu.convert_columns_type(df, numeric_cols, "int", True)

print("\nstring 型に統一します。")
df = df.assign(**{col: df[col].astype("string") for col in df.columns if col not in numeric_cols})

print("\n日付列を datetime に変換します。")
df["日付"] = pd.to_datetime(df["日付"], errors="coerce", format="%Y%m%d")
df_type_change = df

print("\n欠損値表現を確認します。")
df_missing_values_expression = cu.chk_missing_values_expression(df_type_change, filename=settings["files"]["reference"], option_value="")
display(df_missing_values_expression)

print("\nデータ型を確認します。")
df_type = cu.chk_dtype(df=df_type_change,filename=settings["files"]["reference"],option_value="",na_drop=True)
display(df_type)

display(df_type_change)