## ÂàùÊúüË®≠ÂÆö

In [ ]:
# --- NotebookÂàùÊúüË®≠ÂÆö ---
%load_ext autoreload
%autoreload 2
import src.config as cfg
import src.data_loader as dl
import src.cleaning_utils as cu
print("üîÅ autoreload ÊúâÂäπÂåñÂÆå‰∫Ü")
import yaml
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from collections import defaultdict
import hashlib

In [ ]:
# Ë®≠ÂÆöË™≠„ÅøËæº„Åø
settings = cfg.load_settings("setting.yaml")
display(settings)

## Êú¨„Éï„Ç°„Ç§„É´„ÅÆË™¨Êòé
„Éá„Éº„Çø„ÅåÊúÄ‰ΩéÈôê„ÅÆÂìÅË≥™Âü∫Ê∫ñ„ÇíÊ∫Ä„Åü„Åó„Å¶„ÅÑ„Çã„Åã„ÇíÁ∂≤ÁæÖÁöÑ„Å´Á¢∫Ë™ç„Åó„Åæ„Åô„ÄÇ

### „Éá„Éº„Çø„ÅÆ„É≠„Éº„Éâ„ÅÆÁ¢∫Ë™ç
„Éï„Ç°„Ç§„É´ÈáçË§á„ÇÑ„Éï„Ç°„Ç§„É´Ê¨†Êêç„ÄÅÁ†¥Â£ä„Åå„Å™„ÅÑ„Åã„ÇíÁ¢∫„Åã„ÇÅ„Åæ„Åô„ÄÇ
<details>
<summary><b>ÁµêÊûú</b></summary>

„Éï„Ç°„Ç§„É´„ÅÆÈáçË§á„ÇÑÊ¨†Êêç„ÅØ„Å™„Åè„ÄÅÊ≠£„Åó„Åè„É≠„Éº„Éâ„Åï„Çå„Åæ„Åó„Åü„ÄÇ
</details>

In [ ]:
print("")
print("„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„Çí„É≠„Éº„Éâ„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.load_data_by_files(
    settings["data_path"]["raw"],settings["years"],settings["files"]["raw"],[""]
)
#display(df_DATAs_BY_ALL_FILEs)

print("")
print("„Ç®„É©„Éº„Å™„Åè„É≠„Éº„Éâ„Åß„Åç„Å¶„ÅÑ„Çã„Çà„ÅÜ„Åß„Åô„ÄÇÊ¨°„Å´Ê¨†„Åë„Å¶„Çã„Éï„Ç°„Ç§„É´„Åå„Å™„ÅÑ„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô")
for (filename,year), df in df_DATAs_BY_ALL_FILEs.items():
    if df.empty:
        print(file,year,"„Éá„Éº„Çø„Éï„É¨„Éº„É†„ÅåÁ©∫„Åß„Åô")
    else:
        #print("OK")
        continue

print("")
print("Ê¨†„Åë„Å¶„ÅÑ„Çã„Éï„Ç°„Ç§„É´„ÅØ„Å™„ÅÑ„Çà„ÅÜ„Åß„Åô„ÄÅÊ¨°„Å´ÈáçË§á„Éï„Ç°„Ç§„É´„Åå„Å™„ÅÑ„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô")
def df_hash(df, ignore_order=False):
    data_only = df.copy().fillna("").astype(str)
    if ignore_order:
        # Ë°åÈ†Ü„ÇÇÁÑ°Ë¶ñÔºàÂÖ®Âàó„ÇΩ„Éº„Éà„Åó„Å¶„Åã„ÇâÊØîËºÉÔºâ
        data_only = data_only.sort_values(by=data_only.columns.tolist()).reset_index(drop=True)
    # ÂàóÂêç„ÇíÁÑ°Ë¶ñ„Åó„Å¶ÂÜÖÂÆπ„Å†„Åë„Åß„Éè„ÉÉ„Ç∑„É•„ÇíÁîüÊàê
    h = hashlib.md5(pd.util.hash_pandas_object(data_only, index=True).values)
    return h.hexdigest()
hash_map = defaultdict(list)
for (fname, year), df in df_DATAs_BY_ALL_FILEs.items():
    h = df_hash(df, ignore_order=False)  # ‚ÜêË°åÈ†Ü„ÇíÁÑ°Ë¶ñ„Åó„Åü„ÅÑ„Å™„Çâ True „Å´
    hash_map[h].append((fname, year))
duplicates = {h: keys for h, keys in hash_map.items() if len(keys) > 1}
if duplicates:
    print("üîç Âêå„ÅòÂÜÖÂÆπ„ÅÆ„Éá„Éº„Çø„Éï„É¨„Éº„É†Ôºà„Éò„ÉÉ„ÉÄ„ÉºÁÑ°Ë¶ñÔºâ„ÅåË¶ã„Å§„Åã„Çä„Åæ„Åó„ÅüÔºö\n")
    for h, key_group in duplicates.items():
        print(f"„Éè„ÉÉ„Ç∑„É•: {h}")
        for fname, year in key_group:
            print(f"  - {fname}Ôºà{year}Ôºâ")
        print()
else:
    print("‚úÖ ÈáçË§á„Éá„Éº„Çø„Éï„É¨„Éº„É†„ÅØ„ÅÇ„Çä„Åæ„Åõ„Çì„ÄÇ")

print("")
print("ÈáçË§á„Åó„Å¶„ÅÑ„Çã„Éï„Ç°„Ç§„É´„ÅØ„Å™„ÅÑ„Çà„ÅÜ„Åß„Åô„ÄÇ")
print("")
print("„Éá„Éº„Çø„É≠„Éº„Éâ„ÅÆÁ¢∫Ë™ç„ÇíÁµÇ‰∫Ü„Åó„Åæ„Åô„ÄÇ")

### Ê¨†ÊêçÂÄ§Ë°®Áèæ„ÅÆÁ¢∫Ë™ç„Å®Âá¶ÁêÜ
Ê¨†ÊêçÂÄ§„ÅÆË°®Áèæ„ÇíÁ¢∫Ë™ç„Åó„Åæ„Åô„ÄÇ  
setting.yaml„ÅÆnan_values„Å´ÁôªÈå≤„Åó„Åæ„Åô
<details>
<summary><b>ÁµêÊûú</b></summary>

</details>

In [ ]:
# Ê¨†ÊêçÂÄ§„ÅÆË°®ÁèæÁ¢∫Ë™ç
print("")
print("„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„ÇíÂèñÂæó„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.load_data_by_files(
    settings["data_path"]["raw"],settings["years"],settings["files"]["raw"],[""]
)
#display(df_DATAs_BY_ALL_FILEs)
print("")
print("„Éï„Ç°„Ç§„É´„Åî„Å®„Å´ÂêÑÊñáÂ≠óÂàó„ÅÆÂÄãÊï∞„Çí„Ç´„Ç¶„É≥„Éà„Åó„Åæ„Åô")

COUNT_COLUMNS = ["col", "nan", "na", "n/a", "-", "--", "none", "0", "space", "empty", "alphabet"] 
FINAL_COLUMNS = COUNT_COLUMNS + ["„Éï„Ç°„Ç§„É´Âêç", "‰ºöË®àÂπ¥"] # ËøΩË∑°„ÇíÊòéÁ¢∫„Å´„Åô„Çã„Åü„ÇÅ
df_placeholder_counts = pd.DataFrame(columns=FINAL_COLUMNS)
current_index = 0
for (filename,year), df in df_DATAs_BY_ALL_FILEs.items():
    for col in df:
        ser = df[col].fillna("")
        ser_str = ser.astype(str)
        #display(ser_str)
        row_data_tuple = (
            col,
            (ser_str == 'nan').sum(),
            (ser_str == 'na').sum(),
            (ser_str == 'n/a').sum(),
            (ser_str == '-').sum(),
            (ser_str == '--').sum(),
            (ser_str == 'none').sum(),
            (ser_str == '0').sum(),
            (ser_str == ' ').sum(),
            (ser_str == '').sum(),
            ser_str.str.contains('[A-Za-z]', na=False).sum()
        )
        df_placeholder_counts.loc[current_index, COUNT_COLUMNS] = row_data_tuple
        df_placeholder_counts.loc[current_index, "„Éï„Ç°„Ç§„É´Âêç"] = filename
        df_placeholder_counts.loc[current_index, "‰ºöË®àÂπ¥"] = year

        current_index += 1
#display(df_placeholder_counts)

In [173]:
print("")
print("Ê¨†ÊêçÂÄ§„Å®Áñë„Çè„Çå„Çã„Ç≥„Éº„Éâ„ÇíÂá∫„Åó„Åæ„Åô")
df = df_placeholder_counts.drop(["„Éï„Ç°„Ç§„É´Âêç","‰ºöË®àÂπ¥"],axis=1)
df = df.groupby("col").sum().sum()
#display(df)

print("")
print("„Éè„Ç§„Éï„É≥„Å®„Çº„É≠„ÅåË©≤ÂΩì„Åó„Åù„ÅÜ„Å™„Åì„Å®„Åå„Çè„Åã„Çä„Åæ„Åó„Åü„ÄÇ")
print("0„ÅåÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„Çã„Éï„Ç°„Ç§„É´„Å®Âàó„Çí„ÇíÊ§úÁ¥¢„Åó„Åæ„Åô„ÄÇ")
df = df_placeholder_counts
df = df.groupby(["„Éï„Ç°„Ç§„É´Âêç","col"]).sum()["0"]
df = df[df>0].reset_index()
display(df)
print("")
print("4„Å§„ÅÆ„Éï„Ç°„Ç§„É´„Åî„Å®„Å´Ë©≤ÂΩìÂàó„ÅÆ„É™„Çπ„Éà„ÇíÊ∫ñÂÇô„Åó„Åæ„Åô")
col_list_series = df.groupby('„Éï„Ç°„Ç§„É´Âêç')['col'].apply(list)
col_lists = col_list_series.to_dict()
#print(col_lists)

print("")
print("„Åæ„Åö„ÅØÂπ¥„Åß„Çè„Åã„Çå„ÅüÂêÑ„Éï„Ç°„Ç§„É´„Çí„Å§„Å™„ÅéÂêà„Çè„Åõ„Åæ„Åô")
df_merge = {}
for (filename, year), df in df_DATAs_BY_ALL_FILEs.items():
    if filename not in df_merge:
        df_merge[filename] = []
    df_merge[filename].append(df)
df_final = {}
for filename in df_merge:
    df_final[filename]  = pd.concat(df_merge[filename])
#display(df_final["fy-balance-sheet.csv"])

print("")
print("„Éï„Ç°„Ç§„É´„Åî„Å®„Å´„Çº„É≠ÂÄ§Âë®„Çä„Çí„ÉÅ„Çß„ÉÉ„ÇØ„Åó„Åæ„Åô")
filename = "fy-cash-flow-statement.csv"
df_all = df_final[filename]
for col_value in col_lists[filename]:
    #print(filename, col)
    df = df_all[df_all[col_value] == "0"]
    code_list = df["„Ç≥„Éº„Éâ"].unique()
    print("-----------------------",col_value,"-----------------------")
    for code in code_list:
        display(df_all[df_all["„Ç≥„Éº„Éâ"] == code])

Ê¨†ÊêçÂÄ§„Å®Áñë„Çè„Çå„Çã„Ç≥„Éº„Éâ„ÇíÂá∫„Åó„Åæ„Åô

„Éè„Ç§„Éï„É≥„Å®„Çº„É≠„ÅåË©≤ÂΩì„Åó„Åù„ÅÜ„Å™„Åì„Å®„Åå„Çè„Åã„Çä„Åæ„Åó„Åü„ÄÇ
0„ÅåÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„Çã„Éï„Ç°„Ç§„É´„Å®Âàó„Çí„ÇíÊ§úÁ¥¢„Åó„Åæ„Åô„ÄÇ

                         „Éï„Ç°„Ç§„É´Âêç       col     0
0         fy-balance-sheet.csv       BPS     5
1         fy-balance-sheet.csv     Áü≠ÊúüÂÄüÂÖ•Èáë    12
2         fy-balance-sheet.csv       Á∑èË≥áÁî£     1
3         fy-balance-sheet.csv    Ëá™Â∑±Ë≥áÊú¨ÊØîÁéá     1
4         fy-balance-sheet.csv     Èï∑ÊúüÂÄüÂÖ•Èáë    17
5   fy-cash-flow-statement.csv      Âñ∂Ê•≠CF     2
6   fy-cash-flow-statement.csv  Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥    21
7   fy-cash-flow-statement.csv      ÊäïË≥áCF    15
8   fy-cash-flow-statement.csv     ÁèæÈáëÂêåÁ≠âÁâ©     2
9   fy-cash-flow-statement.csv      Ë®≠ÂÇôÊäïË≥á   234
10  fy-cash-flow-statement.csv      Ë≤°ÂãôCF    11
11      fy-profit-and-loss.csv       EPS    12
12      fy-profit-and-loss.csv       ROA    13
13      fy-profit-and-loss.csv       ROE     6
14      fy-profit-and-loss.csv      Âñ∂Ê•≠Âà©Áõä     2
15      fy-profit-and-loss.csv       Â£≤‰∏äÈ´ò    11
16      fy-profit-and-loss.csv       Á¥îÂà©Áõä     2
17      fy-profit-and-loss.csv      ÁµåÂ∏∏Âà©Áõä     4
18       fy-stock-dividend.csv      ‰∏ÄÊ†™ÈÖçÂΩì   409
19       fy-stock-dividend.csv    Ââ∞‰ΩôÈáë„ÅÆÈÖçÂΩì   113
20       fy-stock-dividend.csv    Á¥îË≥áÁî£ÈÖçÂΩìÁéá   427
21       fy-stock-dividend.csv     Á∑èÈÇÑÂÖÉÊÄßÂêë  1193
22       fy-stock-dividend.csv     Ëá™Á§æÊ†™Ë≤∑„ÅÑ  1340
23       fy-stock-dividend.csv      ÈÖçÂΩìÊÄßÂêë   302

4„Å§„ÅÆ„Éï„Ç°„Ç§„É´„Åî„Å®„Å´Ë©≤ÂΩìÂàó„ÅÆ„É™„Çπ„Éà„ÇíÊ∫ñÂÇô„Åó„Åæ„Åô

„Åæ„Åö„ÅØÂπ¥„Åß„Çè„Åã„Çå„ÅüÂêÑ„Éï„Ç°„Ç§„É´„Çí„Å§„Å™„ÅéÂêà„Çè„Åõ„Åæ„Åô

„Éï„Ç°„Ç§„É´„Åî„Å®„Å´„Çº„É≠ÂÄ§Âë®„Çä„Çí„ÉÅ„Çß„ÉÉ„ÇØ„Åó„Åæ„Åô
----------------------- Âñ∂Ê•≠CF -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2236,7544,2010-02-01,969000000,-788000000,388000000,-714000000,1617000000,3.66
2306,7544,2011-02-01,1289000000,-481000000,-1664000000,-396000000,760000000,4.78
2384,7544,2012-02-01,2127000000,-583000000,-703000000,-420000000,1601000000,7.9
2477,7544,2013-02-01,0,-638000000,-394000000,-642000000,568000000,0
2558,7544,2014-02-01,924000000,-227000000,-481000000,-380000000,785000000,4.12
2645,7544,2015-02-01,1435000000,-228000000,-691000000,-449000000,1300000000,6.84
2727,7544,2016-02-01,453000000,-579000000,-323000000,-722000000,850000000,2.38
2829,7544,2017-02-01,-2634000000,3614000000,775000000,-112000000,2605000000,-16.06
2918,7544,2018-02-01,-6081000000,10113000000,-1774000000,-244000000,4863000000,-48.36
2988,7544,2019-02-01,-1087000000,78000000,-241000000,-101000000,3612000000,-9.06
3032,7544,2020-02-01,485000000,-63000000,-22000000,-87000000,4011000000,3.74
3066,7544,2021-02-01,41000000,-49000000,-247000000,-59000000,3756000000,0.33
3045,7544,2022-02-01,331000000,22000000,-269000000,-8000000,3841000000,2.7
3004,7544,2023-02-01,38000000,11000000,-483000000,0,3407000000,0.29
2933,7544,2024-02-01,818000000,35000000,-185000000,-,4075000000,5.9
3050,7544,2025-02-01,519000000,-40000000,-397000000,-48000000,4157000000,3.73

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
762,3606,2010-02-01,2273000000,-5151000000,-7901000000,-896000000,9700000000,1.76
782,3606,2011-02-01,-222000000,935000000,2202000000,-333000000,12570000000,-0.3
811,3606,2012-02-01,-1879000000,-877000000,-25000000,-571000000,9781000000,-2.52
835,3606,2013-02-01,243000000,45000000,-13000000,-720000000,10096000000,0.32
860,3606,2014-02-01,0,-98000000,2800000000,-1065000000,12909000000,0
878,3606,2015-02-01,741000000,-298000000,-70000000,-500000000,13320000000,1.03
888,3606,2016-02-01,-4201000000,-39000000,-83000000,-345000000,8960000000,-5.9
897,3606,2017-02-01,-256000000,-178000000,-88000000,-412000000,8404000000,-0.38
904,3606,2018-02-01,1547000000,-4195000000,3406000000,-3927000000,9187000000,2.33
909,3606,2019-12-01,-4567000000,1090000000,-1025000000,-253000000,3316000000,-9.09

----------------------- Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥ -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1898,6743,2010-03-01,-568000,-183856000,-47349000,-,1656666000,0
1968,6743,2011-03-01,2660383000,-671660000,4818000,-,3650207000,16.14
2043,6743,2012-03-01,-2379990000,-7011000,622136000,-,1885342000,-11.71
2130,6743,2013-03-01,1650925000,-1001282000,788735000,-,3323720000,7.41
2208,6743,2014-03-01,1790243000,-564335000,-549209000,-,4000419000,8.26
2277,6743,2015-03-01,745838000,-12875000,-944786000,-,3788594000,3.41
2330,6743,2016-03-01,398916000,-618628000,-179702000,-,3389179000,1.74
2401,6743,2017-03-01,1978790000,-762795000,-510584000,-,4094590000,9.16
2469,6743,2018-03-01,850995000,-493864000,-502828000,-,3948891000,4
2530,6743,2019-03-01,1916755000,-787727000,-493272000,-478265000,4584647000,7.73
2568,6743,2020-03-01,-222230000,-339942000,1084651000,-551665000,5107126000,-0.89
2606,6743,2021-03-01,1422476000,-511962000,-345987000,-574085000,5671652000,6.2
2581,6743,2022-03-01,1577603000,-271114000,-366165000,-289883000,6611975000,7.12
2542,6743,2023-03-01,-2580121000,-357140000,515719000,-305158000,4190432000,-13.23
2481,6743,2024-03-01,1707534000,-729547000,-1423490000,-1326223000,3744928000,8.22
2588,6743,2025-03-01,-500103000,-367051000,618691000,-964286000,3496466000,-2.28

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2460,7972,2010-12-01,2000000,1497000000,1211000000,-479000000,10788000000,0
2532,7972,2011-12-01,-1037000000,962000000,-1151000000,-1062000000,9555000000,-1.13
2615,7972,2012-12-01,8259000000,-14000000,-1652000000,-1904000000,16156000000,7.83
2709,7972,2013-12-01,3162000000,-1978000000,51000000,-2800000000,18102000000,3.06
2797,7972,2014-12-01,5715000000,-1742000000,-2179000000,-1400000000,19918000000,5.55
2886,7972,2015-12-01,4522000000,-803000000,-3807000000,-1114000000,20103000000,4.25
2980,7972,2016-12-01,5072000000,-4044000000,-2571000000,-1409000000,18483000000,4.99
3090,7972,2017-12-01,3565000000,-2971000000,-706000000,-1223000000,18571000000,3.28
3181,7972,2018-12-01,1384000000,-3094000000,-2463000000,-3308000000,14540000000,1.17
3255,7972,2019-12-01,3586000000,-3221000000,-,-3845000000,15494000000,2.94
3296,7972,2020-12-01,4561000000,-1152000000,-2267000000,-4538000000,16697000000,3.92
3322,7972,2021-12-01,2774000000,-1170000000,-2658000000,-3424000000,15797000000,2.39
3295,7972,2022-12-01,5804000000,4923000000,-1426000000,-6963000000,25420000000,4.71
3251,7972,2023-12-01,6321000000,-4012000000,-4148000000,-3707000000,23664000000,4.75
3173,7972,2024-12-01,-1000000000,-7107000000,5905000000,-6036000000,21494000000,-0.72
3297,7972,2024-12-01,-1000000000,-7107000000,5905000000,-6915000000,21494000000,-0.72

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3129,9753,2010-03-01,-686000,308566000,-42780000,-,2244094000,0
3207,9753,2011-03-01,716381000,132065000,-375510000,-,2717030000,4.61
3294,9753,2012-03-01,430775000,-99199000,170312000,-,3218918000,2.81
3388,9753,2013-03-01,194962000,-200607000,298754000,-,3512028000,1.26
3483,9753,2014-03-01,115970000,16134000,-400097000,-,3244035000,0.74
3581,9753,2015-03-01,598544000,18492000,-273995000,-,3587077000,3.57
3678,9753,2016-03-01,377365000,-92694000,-670554000,-,3201194000,2.16
3791,9753,2017-03-01,588801000,-10418000,-268584000,-,3510992000,3.4
3908,9753,2018-03-01,652610000,-17407000,-79933000,-,4066263000,3.92
4011,9753,2019-03-01,572722000,-456476000,-378417000,-,3804091000,3.22
4067,9753,2020-03-01,473564000,-86388000,-238805000,-,3952462000,2.71
4082,9753,2021-03-01,951281000,-218851000,-189644000,-,4495248000,5.5
4038,9753,2022-03-01,339135000,84259000,-90047000,-,4828596000,1.83
3978,9753,2023-03-01,1041865000,-462685000,-313617000,-,5094158000,5.16
3870,9753,2024-03-01,1146295000,-18027000,-448770000,-,5773941000,5.27
4028,9753,2025-03-01,838184000,-30706000,-145995000,-,6435423000,3.67

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1869,6668,2010-08-01,-455402000,-4308000,71299000,-13734000,904003000,-9.64
1938,6668,2011-08-01,-202180000,-65306000,112424000,-57075000,711077000,-3.83
2013,6668,2012-08-01,1048149000,-58392000,-1064436000,-50411000,645593000,23.23
2099,6668,2013-08-01,59000,-65099000,154250000,-61414000,810463000,0
2177,6668,2014-08-01,143920000,-772018000,1193215000,-794760000,1400616000,2.69
2244,6668,2015-08-01,668000,-207492000,-148643000,-199719000,1152900000,0.01
2297,6668,2016-08-01,290762000,-73464000,47053000,-66111000,1289782000,5.47
2368,6668,2017-08-01,852406000,-141334000,-179152000,-140102000,1859749000,11.81
2435,6668,2018-08-01,-428029000,64848000,405703000,-102809000,1893190000,-5.04
2495,6668,2019-08-01,630000000,-300000000,478000000,-292054000,2619000000,10.4
2534,6668,2020-08-01,-66000000,-377000000,659000000,-387298000,2830000000,-0.92
2572,6668,2021-08-01,-185000000,-226000000,169000000,-196540000,2679000000,-2.31
2547,6668,2022-08-01,-1583000000,-1709000000,4207000000,-1700368000,4038000000,-12.83
2508,6668,2023-08-01,-1501000000,-1935000000,5000000000,-1926000000,5678000000,-12.01
2448,6668,2024-08-01,3032000000,-937000000,-1665000000,-948000000,6148000000,26.84
2554,6668,2024-08-01,3032000000,-937000000,-1665000000,-948000000,6148000000,26.84

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2236,7544,2010-02-01,969000000,-788000000,388000000,-714000000,1617000000,3.66
2306,7544,2011-02-01,1289000000,-481000000,-1664000000,-396000000,760000000,4.78
2384,7544,2012-02-01,2127000000,-583000000,-703000000,-420000000,1601000000,7.9
2477,7544,2013-02-01,0,-638000000,-394000000,-642000000,568000000,0
2558,7544,2014-02-01,924000000,-227000000,-481000000,-380000000,785000000,4.12
2645,7544,2015-02-01,1435000000,-228000000,-691000000,-449000000,1300000000,6.84
2727,7544,2016-02-01,453000000,-579000000,-323000000,-722000000,850000000,2.38
2829,7544,2017-02-01,-2634000000,3614000000,775000000,-112000000,2605000000,-16.06
2918,7544,2018-02-01,-6081000000,10113000000,-1774000000,-244000000,4863000000,-48.36
2988,7544,2019-02-01,-1087000000,78000000,-241000000,-101000000,3612000000,-9.06
3032,7544,2020-02-01,485000000,-63000000,-22000000,-87000000,4011000000,3.74
3066,7544,2021-02-01,41000000,-49000000,-247000000,-59000000,3756000000,0.33
3045,7544,2022-02-01,331000000,22000000,-269000000,-8000000,3841000000,2.7
3004,7544,2023-02-01,38000000,11000000,-483000000,0,3407000000,0.29
2933,7544,2024-02-01,818000000,35000000,-185000000,-,4075000000,5.9
3050,7544,2025-02-01,519000000,-40000000,-397000000,-48000000,4157000000,3.73

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3237,9969,2010-03-01,412019000,-524992000,605016000,-202475000,1489496000,3.79
3315,9969,2011-03-01,180378000,-206581000,-206158000,-173393000,1257135000,1.68
3402,9969,2012-03-01,388429000,-36129000,-332840000,-21445000,1276595000,3.69
3496,9969,2013-03-01,117000,59784000,115604000,-149689000,1452101000,0
3591,9969,2014-03-01,160483000,386895000,-635833000,-58753000,1363645000,1.72
3689,9969,2015-03-01,265420000,458267000,-1482897000,-46848000,604436000,2.91
3786,9969,2016-03-01,67217000,231830000,-525037000,-59474000,378447000,0.76
3899,9969,2017-03-01,235353000,-30484000,49364000,-183107000,632680000,2.68
4016,9969,2018-03-01,-404415000,668691000,-242557000,-69929000,654398000,-5.07
4117,9969,2019-03-01,-109157000,393126000,-416395000,-13000000,521972000,-1.54
4170,9969,2020-03-01,160374000,1298128000,-1416878000,-376000000,563597000,2.41
4182,9969,2021-03-01,388157000,619114000,530574000,-167000,2101443000,5.68
4135,9969,2022-03-01,174399000,19476000,-230561000,-141000000,2064757000,2.54
4072,9969,2023-03-01,83887000,314797000,-605087000,-303000000,1858355000,1.2
3960,9969,2024-03-01,219035000,-63910000,-326112000,-171000000,1687368000,3.43
4122,9969,2025-03-01,13496000,-15638000,-294528000,-127000000,1390696000,0.22

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
532,3024,2010-03-01,274660000,-102650000,-66512000,-76127000,1190973000,1.18
535,3024,2011-03-01,-70287000,-3046000,-127284000,-21909000,988698000,-0.3
544,3024,2012-03-01,179711000,-35632000,47921000,-15135000,1178346000,0.73
550,3024,2013-03-01,225941000,-51244000,-142267000,-36633000,1218527000,0.88
552,3024,2014-03-01,141000,-79008000,-69449000,-34298000,1088838000,0
556,3024,2015-03-01,23681000,-397577000,219997000,-341074000,939977000,0.08
563,3024,2016-03-01,213252000,39402000,-258805000,-22727000,929635000,0.75
569,3024,2017-03-01,356132000,27774000,-266465000,-49538000,1046712000,1.19
576,3024,2018-03-01,109201000,125409000,-70227000,-80356000,1207955000,0.35
584,3024,2019-03-01,274521000,-157288000,-249171000,-171891000,1074233000,0.86
592,3024,2020-03-01,513091000,-233478000,-165347000,-194603000,1190339000,1.6
637,3024,2021-03-01,291825000,-98993000,-246755000,-83059000,1101749000,0.98
635,3024,2022-03-01,166211000,12473000,-42134000,-48429000,1232346000,0.53
627,3024,2023-03-01,772331000,-207064000,-60124000,-115806000,1740005000,2.21
614,3024,2024-03-01,4329000,50908000,-421909000,-69185000,1373335000,0.01
636,3024,2025-03-01,902063000,-65272000,-793203000,-264685000,1416922000,2.47

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
762,3606,2010-02-01,2273000000,-5151000000,-7901000000,-896000000,9700000000,1.76
782,3606,2011-02-01,-222000000,935000000,2202000000,-333000000,12570000000,-0.3
811,3606,2012-02-01,-1879000000,-877000000,-25000000,-571000000,9781000000,-2.52
835,3606,2013-02-01,243000000,45000000,-13000000,-720000000,10096000000,0.32
860,3606,2014-02-01,0,-98000000,2800000000,-1065000000,12909000000,0
878,3606,2015-02-01,741000000,-298000000,-70000000,-500000000,13320000000,1.03
888,3606,2016-02-01,-4201000000,-39000000,-83000000,-345000000,8960000000,-5.9
897,3606,2017-02-01,-256000000,-178000000,-88000000,-412000000,8404000000,-0.38
904,3606,2018-02-01,1547000000,-4195000000,3406000000,-3927000000,9187000000,2.33
909,3606,2019-12-01,-4567000000,1090000000,-1025000000,-253000000,3316000000,-9.09

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2178,7459,2010-03-01,13992000000,-29845000000,10194000000,-28926000000,132454000000,0.55
2251,7459,2011-03-01,49474000000,-24100000000,-10101000000,-22707000000,148563000000,1.86
2329,7459,2012-03-01,-1988000000,-12166000000,-7251000000,-16678000000,127156000000,-0.07
2424,7459,2013-03-01,61769000000,-15841000000,-14379000000,-21306000000,158705000000,2.2
2505,7459,2014-03-01,-72000000,-28065000000,-2834000000,-24743000000,127733000000,0
2592,7459,2015-03-01,80466000000,-11834000000,-19834000000,-15167000000,176530000000,2.8
2675,7459,2016-03-01,21985000000,-41267000000,6093000000,-38395000000,163317000000,0.73
2777,7459,2017-03-01,47954000000,-11354000000,-17663000000,-35837000000,182561000000,1.57
2866,7459,2018-03-01,63558000000,-43064000000,15845000000,-30500000000,220563000000,2.02
2936,7459,2019-03-01,63716000000,-23512000000,-30755000000,-19361000000,230011000000,2
2981,7459,2020-03-01,56917000000,-13319000000,-49067000000,-29321000000,224541000000,1.75
3015,7459,2021-03-01,34448000000,-2939000000,-16003000000,-16141000000,240047000000,1.07
2994,7459,2022-03-01,61216000000,-24343000000,-16471000000,-18150000000,260450000000,1.86
2954,7459,2023-03-01,16146000000,-39494000000,-43541000000,-17434000000,193561000000,0.48
2883,7459,2024-03-01,61843000000,-7817000000,-25248000000,-20380000000,228084000000,1.74
3000,7459,2025-03-01,60559000000,-3363000000,-25947000000,-14211000000,259337000000,1.65

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3168,9831,2010-03-01,133718000000,-108218000000,8555000000,-103024000000,83045000000,6.63
3246,9831,2011-03-01,93071000000,-25237000000,-45940000000,-18507000000,104814000000,4.32
3333,9831,2012-03-01,34259000000,-38063000000,-24361000000,-31272000000,76344000000,1.87
3427,9831,2013-03-01,-12789000000,-39232000000,47174000000,-38939000000,77906000000,-0.75
3522,9831,2014-03-01,45148000000,-38606000000,-7646000000,-40274000000,77754000000,2.38
3620,9831,2015-03-01,22982000000,-20232000000,-41487000000,-29367000000,39691000000,1.38
3717,9831,2016-03-01,-23000000,-13437000000,4732000000,-21899000000,30664000000,0
3830,9831,2017-03-01,43855000000,-15279000000,-24382000000,-18241000000,34981000000,2.81
3947,9831,2018-03-01,61689000000,-12668000000,-32920000000,-10394000000,51326000000,3.92
4050,9831,2019-03-01,36023000000,-8469000000,-27461000000,-16110000000,51175000000,2.25
4105,9831,2020-03-01,62433000000,-8234000000,-58091000000,-21081000000,48397000000,3.87
4117,9831,2021-03-01,122281000000,-14777000000,-82837000000,-23980000000,73760000000,6.98
4072,9831,2022-03-01,21084000000,-22265000000,-16647000000,-29780000000,56470000000,1.3
4012,9831,2023-03-01,43740000000,-25209000000,-29453000000,-25685000000,46486000000,2.73
3903,9831,2024-03-01,54559000000,-21911000000,-25592000000,-30454000000,54350000000,3.43
4062,9831,2025-03-01,51566000000,-35143000000,-4060000000,-45345000000,67553000000,3.17

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2057,6615,2013-03-01,-,-,-,-,5514587000,-
2135,6615,2014-03-01,2245367000,-2563696000,983861000,-2552019000,6551763000,1.75
2202,6615,2015-03-01,3354138000,-2923124000,77855000,-2799402000,7990030000,3.06
2255,6615,2016-03-01,3096555000,-1707178000,3931907000,-2610726000,12874194000,2.88
2326,6615,2017-03-01,2026000000,-4204000000,-764000000,-3655502000,9680000000,1.81
2393,6615,2018-03-01,1000000,-6015000000,2073000000,-6155302000,5693000000,0
2454,6615,2019-03-01,106000000,-6935000000,7823000000,-8044000000,6422000000,0.08
2494,6615,2020-03-01,427000000,-3618000000,1122000000,-3927000000,4220000000,0.3
2532,6615,2021-03-01,2592000000,-1951000000,4528000000,-1533000000,9170000000,1.9
2509,6615,2022-03-01,-3510000000,-2088000000,6095000000,-2012000000,7933000000,-2.61
2472,6615,2023-03-01,361000000,-8761000000,10143000000,-9467000000,9749000000,0.22
2412,6615,2024-03-01,8660000000,-4744000000,-3454000000,-4250000000,10266000000,6.6
2517,6615,2025-03-01,10352000000,-3652000000,-5567000000,-4156000000,11559000000,7.85

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3056,7675,2019-12-01,5000000,-340000000,-290000000,-212000000,15859000000,0
3098,7675,2020-12-01,2044000000,-494000000,-456000000,-363000000,16953000000,0.72
3129,7675,2021-12-01,3175000000,-613000000,-515000000,-616000000,18999000000,1.06
3107,7675,2022-12-01,1337000000,-423000000,-550000000,-371000000,19362000000,0.43
3066,7675,2023-12-01,2520000000,-1077000000,-932000000,-790000000,19872000000,0.77
2993,7675,2024-12-01,2698000000,366000000,-1376000000,-,21561000000,0.78
3112,7675,2024-12-01,2698000000,366000000,-1376000000,-593000000,21561000000,0.78

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1032,3934,2013-03-01,-,-,-,-,916390000,-
1057,3934,2014-03-01,-87736000,-70865000,310755000,-13235000,1068544000,-1.92
1077,3934,2015-03-01,301241000,148309000,-228421000,-13176000,1289674000,7.09
1088,3934,2016-03-01,87901000,6600000,134727000,-830000,1518903000,2.08
1097,3934,2017-03-01,-201526000,-22146000,-169483000,-7953000,1125747000,-4.81
1104,3934,2018-03-01,-852231000,-30180000,253080000,-23565000,496415000,-16.48
1108,3934,2019-03-01,-453078000,-22318000,337652000,-23357000,358670000,-7.32
1107,3934,2020-03-01,63000,-443669000,1249062000,-37995000,1164126000,0
1145,3934,2021-03-01,546910000,-88922000,-207576000,-48714000,1414539000,5.5
1143,3934,2022-03-01,1410304000,-94150000,93737000,-83373000,2824430000,12.19
1128,3934,2023-03-01,315561000,-361401000,-156667000,-295652000,2621924000,2.51
1105,3934,2024-03-01,964321000,10995000,-465458000,-146164000,3131782000,7.38
1160,3934,2025-03-01,1209481000,-102408000,-9580000,-123994000,4229274000,9.49

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3195,9888,2010-03-01,593686000,-266991000,-223822000,-273824000,2017509000,1.72
3273,9888,2011-03-01,1373189000,-161742000,-1508726000,-150825000,1715742000,3.39
3360,9888,2012-03-01,757566000,-172302000,-225312000,-262540000,2075292000,1.79
3454,9888,2013-03-01,998150000,-612577000,-292950000,-536274000,2175001000,2.71
3549,9888,2014-03-01,225566000,-509586000,63832000,-506259000,1967030000,0.59
3647,9888,2015-03-01,902805000,-170498000,-687764000,-159087000,2053064000,2.19
3744,9888,2016-03-01,581566000,-394505000,-198364000,-391890000,2015938000,1.4
3857,9888,2017-03-01,1101060000,-91780000,-177179000,-90833000,2832439000,2.73
3974,9888,2018-03-01,1976852000,-272870000,-1824377000,-275649000,2696258000,4.17
4076,9888,2019-03-01,1154614000,-165717000,-306441000,-290853000,3376591000,2.33
4131,9888,2020-03-01,2314000,-2786139000,4080782000,-860349000,4656715000,0
4143,9888,2021-03-01,1218638000,-439729000,-498020000,-349895000,4952324000,2.47
4098,9888,2022-03-01,1932197000,-448283000,-1137151000,-298853000,5418768000,4.24
4038,9888,2023-03-01,1287860000,-500891000,-465564000,-366202000,5811165000,2.39
3929,9888,2024-03-01,1019220000,-589202000,-45801000,-689480000,6375653000,1.96
4088,9888,2025-03-01,-1171278000,-508796000,2011361000,-516054000,6716174000,-2.33

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1837,6623,2010-03-01,4399000000,-847000000,-1742000000,-1062000000,12054000000,8.14
1904,6623,2011-03-01,3316000000,-3090000000,-554000000,-1266000000,11637000000,5.33
1978,6623,2012-03-01,4324000000,-4148000000,-309000000,-1579000000,11513000000,6.01
2064,6623,2013-03-01,5343000000,-4678000000,220000000,-1796000000,12574000000,7.96
2142,6623,2014-03-01,905000000,-869000000,195000000,-1960000000,13658000000,1.28
2209,6623,2015-03-01,4847000000,-4189000000,815000000,-2280000000,15408000000,5.9
2262,6623,2016-03-01,7783000000,-4588000000,-3073000000,-2733000000,15428000000,10.8
2333,6623,2017-03-01,5968000000,-1908000000,-3952000000,-1880000000,15205000000,7.97
2400,6623,2018-03-01,1868000000,-2492000000,-2464000000,-1954000000,12208000000,2.39
2461,6623,2019-03-01,6667000000,375000000,-1413000000,-2271000000,17676000000,8.33
2501,6623,2020-03-01,2041000000,-2049000000,-1705000000,-4418000000,15864000000,2.72
2539,6623,2021-03-01,8098000000,-6154000000,-868000000,-6448000000,17001000000,10.71
2516,6623,2022-03-01,-4000000,-845000000,-364000000,-7883000000,16455000000,0
2478,6623,2023-03-01,5216000000,-6607000000,5044000000,-6986000000,20250000000,4.56
2418,6623,2024-03-01,13840000000,-9400000000,726000000,-13261000000,25615000000,12.51
2524,6623,2025-03-01,11224000000,-6881000000,-3042000000,-10049000000,27333000000,9.33

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2,1333,2012-03-01,3367000000,1873000000,-6692000000,-,1827000000,1.44
2,1333,2013-03-01,6343000000,1580000000,-7435000000,-2140000000,2255000000,2.76
2,1333,2014-03-01,-3980000000,-6765000000,10345000000,-3019000000,1771000000,-1.51
2,1333,2015-03-01,17889000000,-7087000000,-10748000000,-13140000000,13951000000,2.07
2,1333,2016-03-01,30616000000,-20303000000,-12127000000,-20400000000,12009000000,3.46
2,1333,2017-03-01,25969000000,-11097000000,-13618000000,-14462000000,13327000000,2.97
2,1333,2018-03-01,29737000000,-14975000000,-13314000000,-19864000000,15187000000,3.24
2,1333,2019-03-01,16187000000,-11854000000,-7863000000,-20108000000,11575000000,1.75
3,1333,2020-03-01,39178000000,-22445000000,-7132000000,-25075000000,21772000000,4.33
3,1333,2021-03-01,33361000000,-11996000000,-10812000000,-25356000000,31156000000,4.12
3,1333,2022-03-01,19249000000,-10258000000,-17200000000,-15516000000,24430000000,2.22
3,1333,2023-03-01,-24000000,-23860000000,30288000000,-30681000000,33360000000,0
3,1333,2024-03-01,53604000000,-18927000000,-32943000000,-18914000000,36905000000,5.2
3,1333,2025-03-01,39179000000,-1886000000,-29352000000,-22043000000,48422000000,3.63

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1582,6069,2010-03-01,-,-,-,-,156846000,-
1634,6069,2011-03-01,146198000,-3068000,60000000,-4063000,359975000,20.07
1698,6069,2012-03-01,179081000,-37929000,-5663000,-16745000,495464000,14.97
1755,6069,2013-03-01,155046000,-28386000,612067000,-28339000,1234192000,9.59
1808,6069,2014-03-01,17155000,-13830000,31840000,-50487000,1269358000,0.93
1859,6069,2015-03-01,237829000,-334345000,-27134000,-33256000,1145707000,11.77
1906,6069,2016-03-01,-61893000,-162112000,-22079000,-33888000,860340000,-4.14
1970,6069,2017-03-01,229249000,593091000,-17131000,-18842000,1665549000,12.32
2029,6069,2018-03-01,192507000,-413724000,-158924000,-43948000,1285408000,8.89
2088,6069,2019-03-01,-576386000,127084000,-65660000,-276385000,770445000,-20.03
2131,6069,2020-03-01,-437863000,220285000,419818000,-7900000,972685000,-14.22
2170,6069,2021-03-01,542346000,-17717000,-88394000,-38873000,1408919000,16.27
2154,6069,2022-03-01,342644000,-44317000,-99372000,-51652000,1607873000,5.22
2125,6069,2023-03-01,-109000,-86401000,-7611000,-56408000,1513712000,0
2074,6069,2024-03-01,916351000,-230833000,1009920000,-91132000,3209250000,16.15
2169,6069,2025-03-01,-190905000,-769005000,127630000,-19353000,2376969000,-3.08

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2322,7731,2010-03-01,103497000000,-47107000000,-31476000000,-33635000000,104669000000,13.18
2392,7731,2011-03-01,123613000000,-23589000000,-20122000000,-22885000000,181061000000,13.93
2470,7731,2012-03-01,15073000000,-49144000000,-15150000000,-35773000000,131711000000,1.64
2563,7731,2013-03-01,51890000000,-65109000000,-18198000000,-61855000000,110094000000,5.14
2645,7731,2014-03-01,114185000000,-43193000000,31868000000,-32680000000,221367000000,11.64
2732,7731,2015-03-01,71309000000,-24945000000,-24954000000,-22337000000,259625000000,8.31
2823,7731,2016-03-01,107512000000,-83178000000,-18174000000,-21957000000,251210000000,12.78
2932,7731,2017-03-01,97342000000,-40693000000,15522000000,-21294000000,319046000000,12.99
3022,7731,2018-03-01,125082000000,-34808000000,-19970000000,-28062000000,388438000000,17.44
3093,7731,2019-03-01,68901000000,-25304000000,-21583000000,-24938000000,411055000000,9.72
3136,7731,2020-03-01,16419000000,-21281000000,-72739000000,-28775000000,324034000000,2.78
3166,7731,2021-03-01,4966000000,18024000000,-4991000000,-30531000000,351798000000,1.1
3144,7731,2022-03-01,31351000000,-385000000,-26151000000,-42143000000,370277000000,5.81
3103,7731,2023-03-01,15000000,-112146000000,-56210000000,-42181000000,211337000000,0
3029,7731,2024-03-01,30767000000,-41405000000,-8938000000,-70703000000,206644000000,4.29
3149,7731,2025-03-01,48258000000,-69988000000,-19808000000,-69311000000,163590000000,6.75

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2567,8129,2010-03-01,1998000000,-3021000000,6781000000,-3067000000,22645000000,0.2
2639,8129,2011-03-01,9726000000,-1200000000,-2315000000,-4530000000,29111000000,0.92
2722,8129,2012-03-01,19366000000,1415000000,-12460000000,-3095000000,38588000000,1.75
2816,8129,2013-03-01,24558000000,-10453000000,-15997000000,-11864000000,37368000000,2.15
2904,8129,2014-03-01,-18636000000,-7957000000,2966000000,-7451000000,14257000000,-1.57
2993,8129,2015-03-01,29347000000,3457000000,-7258000000,-4285000000,40550000000,2.53
3087,8129,2016-03-01,2381000000,-4942000000,-10134000000,-6510000000,27854000000,0.18
3197,8129,2017-03-01,16062000000,-6294000000,-9900000000,-8561000000,27721000000,1.3
3288,8129,2018-03-01,51978000000,-12448000000,-3754000000,-9006000000,63671000000,4.28
3361,8129,2019-03-01,13428000000,-7649000000,5329000000,-4053000000,75382000000,1.1
3403,8129,2020-03-01,10815000000,-15664000000,9479000000,-14604000000,80013000000,0.86
3426,8129,2021-03-01,8768000000,680000000,-680000000,-6000000000,88882000000,0.72
3397,8129,2022-03-01,16341000000,-11032000000,-4473000000,-4480000000,90014000000,1.29
3352,8129,2023-03-01,-9000000,4315000000,-13060000000,-3309000000,81839000000,0
3271,8129,2024-03-01,59934000000,9091000000,-22195000000,-4162000000,128673000000,4.06
3398,8129,2025-03-01,-26675000000,-4180000000,-20364000000,-6402000000,78226000000,-1.76

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1105,3967,2015-02-01,-141198000,-40554000,198407000,-,155446000,-21.75
1116,3967,2016-02-01,150210000,-29547000,661556000,-6192000,937665000,15.64
1125,3967,2017-02-01,185850000,-142324000,467444000,-27615000,1448635000,13.47
1132,3967,2018-02-01,-41508000,-186440000,8134000,-162541000,1228820000,-2.58
1136,3967,2019-02-01,143776000,-219714000,44737000,-16884000,1197620000,8.68
1135,3967,2020-02-01,217157000,-91143000,-583000,-20815000,1323050000,11.06
1173,3967,2021-02-01,-412443000,-457728000,568101000,-20289000,1021008000,-20.73
1168,3967,2022-02-01,190775000,128834000,-74063000,-69747000,1266586000,7.11
1153,3967,2023-02-01,715090000,-3110535000,2785626000,-122233000,1656787000,15.26
1130,3967,2024-02-01,-76000,-690382000,589847000,-194762000,1556163000,0
1185,3967,2025-02-01,587694000,-570563000,938547000,-502762000,2511838000,8.03

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1465,5715,2010-03-01,9082000000,-3642000000,-4769000000,-2928000000,20257000000,6.35
1514,5715,2011-03-01,3743000000,-1643000000,-5702000000,-1895000000,16271000000,2.26
1562,5715,2012-03-01,4978000000,-3152000000,-3782000000,-2989000000,14154000000,3.16
1617,5715,2013-03-01,5491000000,-2252000000,251000000,-2438000000,17964000000,3.32
1670,5715,2014-03-01,1982000000,-3129000000,-4562000000,-2668000000,12734000000,1.22
1720,5715,2015-03-01,10241000000,-10892000000,3318000000,-10006000000,15716000000,5.94
1767,5715,2016-03-01,7652000000,-2855000000,-8166000000,-2575000000,12163000000,4.73
1831,5715,2017-03-01,9818000000,-3585000000,-5030000000,-3811000000,13224000000,6.55
1889,5715,2018-03-01,5351000000,-5855000000,-2529000000,-5326000000,10200000000,3.19
1947,5715,2019-03-01,11785000000,-3386000000,-4205000000,-5442000000,14217000000,6.77
1979,5715,2020-03-01,8400000000,-5073000000,-4843000000,-5938000000,12646000000,5.08
2013,5715,2021-03-01,6042000000,2245000000,-3123000000,-4144000000,17748000000,3.78
1997,5715,2022-03-01,8768000000,-5857000000,-6568000000,-4778000000,14468000000,4.4
1972,5715,2023-03-01,6148000000,-1617000000,-5934000000,-4187000000,13606000000,2.87
1923,5715,2024-03-01,10492000000,1915000000,-8446000000,-8013000000,18193000000,5.57
2015,5715,2025-03-01,5000000,15098000000,-9234000000,-7657000000,24391000000,0

----------------------- ÊäïË≥áCF -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
82,1826,2010-03-01,822000000,0,-2009000000,-33000000,3552000000,2.96
84,1826,2011-03-01,1999000000,-32000000,-907000000,-29000000,4612000000,7.8
90,1826,2012-03-01,1946000000,-33000000,-220000000,-46000000,6305000000,8.5
93,1826,2013-03-01,16000000,-6000000,526000000,-9000000,6841000000,0.05
95,1826,2014-03-01,468000000,-35000000,-639000000,-55000000,6635000000,1.42
96,1826,2015-03-01,-548000000,-18000000,-176000000,-41000000,5892000000,-1.69
99,1826,2016-03-01,-362000000,-158000000,-259000000,-75000000,5111000000,-1.12
99,1826,2017-03-01,1731000000,-175000000,-84000000,-82000000,6583000000,5.94
101,1826,2018-03-01,2497000000,-165000000,-248000000,-137000000,8666000000,8.26
104,1826,2019-03-01,980000000,-96000000,-164000000,-66000000,9386000000,3.4
111,1826,2020-03-01,347000000,-169000000,233000000,-315000000,9797000000,0.95
127,1826,2021-03-01,194000000,-109000000,-357000000,-9000000,9524000000,0.61
121,1826,2022-03-01,1319000000,-584000000,-230000000,-410000000,10029000000,4.95
120,1826,2023-03-01,2907000000,-21000000,-601000000,-190000000,12314000000,9.65
117,1826,2024-03-01,2007000000,-97000000,-367000000,-35000000,13856000000,7.69
123,1826,2025-03-01,900000000,-362000000,-371000000,-335000000,14023000000,2.79

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
645,3241,2010-12-01,813000000,0,-763000000,0,138000000,31.33
657,3241,2011-12-01,877000000,-50000000,-733000000,-50000000,230000000,28.8
679,3241,2012-12-01,277000000,-21000000,-81000000,-20000000,405000000,8.71
686,3241,2013-12-01,-26000000,-123000000,209000000,-16000000,464000000,-0.69
689,3241,2014-12-01,981000000,-249000000,-311000000,-241000000,885000000,20.02
695,3241,2015-12-01,598000000,-144000000,-385000000,-144000000,953000000,11.76
702,3241,2016-12-01,552000000,-42000000,101000000,-40000000,1565000000,11.31
709,3241,2017-12-01,-387000000,-49000000,402000000,-34000000,1530000000,-7.41
716,3241,2018-12-01,-1042000000,-311000000,1511000000,-308000000,1687000000,-17.21
722,3241,2019-12-01,-426000000,-1406000000,1452000000,-1377000000,1306000000,-6.81
729,3241,2020-12-01,1508000000,-518000000,-66000000,-510000000,2229000000,18.95
773,3241,2021-12-01,-401000000,-1641000000,1685000000,-1780000000,1871000000,-4.62
773,3241,2022-12-01,-462000000,-508000000,742000000,-367000000,1643000000,-4.88
764,3241,2023-12-01,1114000000,-87000000,148000000,-93000000,2818000000,9.64
748,3241,2024-12-01,-435000000,-158000000,91000000,-160000000,2316000000,-3.29
773,3241,2024-12-01,-435000000,-158000000,91000000,-166000000,2316000000,-3.29

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2434,7937,2010-03-01,2124000000,-416000000,-522000000,-404000000,34407000000,8.24
2506,7937,2011-03-01,1863000000,0,-522000000,-197000000,35747000000,7.08
2589,7937,2012-03-01,3199000000,-118000000,-521000000,-236000000,38306000000,10.33
2683,7937,2013-03-01,2112000000,-2000000,-522000000,-233000000,39894000000,8.03
2770,7937,2014-03-01,2941000000,-150000000,-1104000000,-290000000,41580000000,10.68
2860,7937,2015-03-01,1663000000,-506000000,-602000000,-510000000,42135000000,7.51
2954,7937,2016-03-01,1437000000,-171000000,-4930000000,-261000000,38465000000,6.6
3063,7937,2017-03-01,1679000000,-194000000,-2250000000,-340000000,37700000000,8.76
3154,7937,2018-03-01,1883000000,-157000000,-527000000,-341000000,38898000000,11.99
3228,7937,2019-03-01,2190000000,357000000,-1556000000,-340000000,39889000000,14.29
3269,7937,2020-03-01,1849000000,298000000,-2541000000,-263000000,39494000000,12.2
3296,7937,2021-03-01,278000000,183000000,-1519000000,-226000000,38437000000,1.91
3269,7937,2022-03-01,1515000000,-644000000,-453000000,-648000000,38857000000,9.19
3226,7937,2023-03-01,643000000,-536000000,-469000000,-580000000,38502000000,3.55
3149,7937,2024-03-01,-968000000,-214000000,-781000000,-530000000,36538000000,-4.86
3272,7937,2025-03-01,-1331000000,-471000000,-1094000000,-653000000,33640000000,-5.36

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
95,1853,2010-03-01,3440000000,-140000000,-1633000000,-166000000,4321000000,11.85
97,1853,2011-03-01,-92000000,-215000000,-238000000,-231000000,3774000000,-0.29
103,1853,2012-03-01,1687000000,-37000000,-1002000000,-56000000,4420000000,4.83
106,1853,2013-03-01,1290000000,0,-1089000000,-37000000,4621000000,4.32
108,1853,2014-03-01,2250000000,-19000000,131000000,-35000000,6984000000,7.23
109,1853,2015-03-01,-396000000,-65000000,-434000000,-75000000,6088000000,-1.28
112,1853,2016-03-01,1685000000,-138000000,-1945000000,-155000000,5689000000,5.15
112,1853,2017-03-01,573000000,-97000000,-379000000,-125000000,5786000000,1.84
114,1853,2018-03-01,5027000000,-71000000,-1389000000,-133000000,9353000000,14.45
117,1853,2019-03-01,897000000,-66000000,-449000000,-96000000,9735000000,2.62
124,1853,2020-03-01,-550000000,-142000000,-537000000,-152000000,8504000000,-2.06
141,1853,2021-03-01,-228000000,-74000000,-474000000,-97000000,7727000000,-0.8
135,1853,2022-03-01,2103000000,-78000000,-569000000,-80000000,9183000000,6.71
134,1853,2023-03-01,799000000,-80000000,-468000000,-88000000,9433000000,3.25
131,1853,2024-03-01,680000000,-70000000,-468000000,-63000000,9574000000,2.47
137,1853,2025-03-01,-4229000000,-407000000,-466000000,-387000000,4472000000,-14.36

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
658,3266,2010-11-01,959000000,5000000,-900000000,0,1102000000,51.59
670,3266,2011-11-01,-135000000,135000000,-173000000,-15000000,927000000,-16.03
692,3266,2012-11-01,4670000000,-24000000,-4632000000,-2000000,941000000,75.9
699,3266,2013-11-01,-165000000,0,-27000000,0,773000000,-22.15
702,3266,2014-11-01,1218000000,-208000000,-999000000,-156000000,784000000,37.47
708,3266,2015-11-01,-542000000,-107000000,571000000,-200000000,686000000,-10.07
715,3266,2016-11-01,1205000000,95000000,-250000000,-1000000,1730000000,36.15
722,3266,2017-11-01,-352000000,-259000000,204000000,-54000000,1250000000,-21.62
729,3266,2018-11-01,-277000000,182000000,-261000000,0,893000000,-23.86
735,3266,2019-11-01,-517000000,-41000000,564000000,-7000000,898000000,-32.56
742,3266,2020-11-01,350000000,-309000000,-116000000,-4000000,821000000,22.83
785,3266,2021-11-01,1138000000,-53000000,-784000000,-17000000,1126000000,51.85
787,3266,2022-11-01,-1403000000,-57000000,1152000000,-3000000,828000000,-83.21
778,3266,2023-11-01,524000000,-295000000,474000000,-1000000,1535000000,12.67
760,3266,2024-11-01,180000000,246000000,-126000000,-4000000,1837000000,3.18
787,3266,2024-11-01,180000000,246000000,-126000000,-4000000,1837000000,3.18

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2616,8208,2010-03-01,516503000,-404882000,-2098000,-1148777000,1273917000,1.11
2688,8208,2011-03-01,2542000000,-788000000,-722000000,-1541237000,2292000000,5.56
2771,8208,2012-03-01,742000000,-1669000000,688000000,-1993719000,2036000000,1.55
2865,8208,2013-03-01,1247000000,-296000000,-797000000,-495953000,2185000000,2.74
2953,8208,2014-03-01,493000000,-225000000,-85000000,-884000000,2369000000,1.06
3042,8208,2015-03-01,-673000000,8000000,124000000,-251000000,1831000000,-1.62
3136,8208,2016-03-01,861000000,-114000000,-315000000,-438000000,2259000000,2.13
3246,8208,2017-03-01,1661000000,-364000000,-1366000000,-1059000000,2187000000,4.31
3337,8208,2018-03-01,916000000,0,-894000000,-162000000,2207000000,2.42
3409,8208,2019-03-01,1270000000,-230000000,-956000000,-262000000,2290000000,3.33
3450,8208,2020-03-01,-173000000,-10000000,48000000,-897000000,2154000000,-0.47
3472,8208,2021-03-01,2630000000,-779000000,-1921000000,-916000000,2084000000,6.89
3442,8208,2022-03-01,-88000000,-109000000,-84000000,-396000000,1806000000,-0.24
3397,8208,2023-03-01,-294000000,-235000000,552000000,-744000000,1830000000,-0.82
3314,8208,2024-03-01,461000000,-159000000,-66000000,-362000000,2067000000,1.34
3443,8208,2025-03-01,507000000,430000000,-961000000,-325000000,2043000000,1.53

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1137,4585,2010-12-01,2694960000,-926582000,2014171000,-915858000,3962965000,134.75
1184,4585,2011-12-01,-849177000,-2795709000,1133492000,-2658010000,1451570000,-84.92
1228,4585,2012-12-01,-1188134000,-8741491000,12360998000,-8733149000,3882943000,-1097.84
1279,4585,2013-12-01,-3578459000,-4150619000,8113793000,-4319810000,4267657000,-3832.19
1329,4585,2014-12-01,314665000,-8719000,-2493382000,-8310000,2080221000,28.39
1378,4585,2015-12-01,-3393796000,-398425000,2554122000,-409664000,842121000,-1674.82
1419,4585,2016-12-01,-2265204000,-1842137000,4243372000,-1844137000,978152000,-3176.96
1470,4585,2017-12-01,-561723000,-50000,1729946000,0,1734272000,-539.86
1523,4585,2018-12-01,-578483000,-133539000,-3838000,-161211000,1018410000,-558.33
1543,4585,2019-12-01,-721000000,0,-3000000,0,294526000,-721

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2186,6569,2015-03-01,-,-,-,-,1887203000,-
2236,6569,2016-03-01,549000000,-120000000,-741000000,-96797000,1575000000,1.16
2304,6569,2017-03-01,1303000000,236000000,254000000,-86544000,3369000000,2.43
2369,6569,2018-03-01,2751000000,-102000000,-735000000,-102681000,5283000000,4.65
2429,6569,2019-03-01,2565000000,0,-2215000000,-247912000,5633000000,3.71
2471,6569,2020-03-01,1922000000,-289000000,-901000000,-285000000,6365000000,2.56
2509,6569,2021-03-01,1672000000,-496000000,-1668000000,-192000000,5873000000,2.45
2487,6569,2022-03-01,2273000000,-1538000000,2164000000,-117000000,8773000000,2.93
2450,6569,2023-03-01,2285000000,-146000000,-1112000000,-293000000,9800000000,2.52
2495,6569,2023-03-01,2285000000,-146000000,-1112000000,-293000000,9800000000,2.52

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
813,3482,2014-12-01,-,-,-,-,232000000,-
820,3482,2015-12-01,-1055000000,-83000000,2123000000,-9000000,1216000000,-35.26
829,3482,2016-12-01,-6944000000,41000000,6955000000,-6000000,1269000000,-149.04
836,3482,2017-12-01,-777000000,-2000000,4126000000,-3000000,4615000000,-8.84
843,3482,2018-12-01,-4398000000,-153000000,5807000000,-73000000,5871000000,-45.48
848,3482,2019-12-01,-3986000000,-31000000,5913000000,-8000000,7766000000,-26.37
854,3482,2020-12-01,-4118000000,0,3688000000,0,7331000000,-24.25
895,3482,2021-12-01,-450000000,12000000,1013000000,0,7926000000,-2.51
897,3482,2022-12-01,-1517000000,-232000000,3226000000,-156000000,9403000000,-6.42
886,3482,2023-12-01,-789000000,-1000000,3314000000,-1000000,11927000000,-2.75
866,3482,2024-12-01,-18656000000,-475000000,19858000000,-51000000,12653000000,-54.2
904,3482,2024-12-01,-18656000000,-475000000,19858000000,-51000000,12653000000,-54.2

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
858,3798,2010-03-01,369374000,-510743000,-6492000,-4620000,1066740000,23.07
891,3798,2011-03-01,-196071000,139008000,-13730000,-11055000,995945000,-9.7
922,3798,2012-03-01,-55945000,-154752000,-67158000,-96453000,718089000,-1.69
947,3798,2013-03-01,437679000,35348000,-76250000,-10536000,1114866000,10.88
973,3798,2014-03-01,-12185000,-13474000,-23613000,-3671000,1065593000,-0.28
992,3798,2015-03-01,1118848000,178864000,-39260000,-10055000,2324045000,26.01
1002,3798,2016-03-01,-169622000,-24524000,-75001000,-6521000,2054897000,-3.49
1011,3798,2017-03-01,486108000,-116562000,-90495000,-6107000,2333947000,10.39
1018,3798,2018-03-01,971433000,-51347000,-109096000,-23614000,3144937000,19.1
1022,3798,2019-03-01,882613000,-41275000,-114956000,-40710000,3871319000,15.14
1022,3798,2020-03-01,883000000,-10000000,-326000000,-31120000,4417000000,13.82
1060,3798,2021-03-01,1063000000,0,-321000000,-34790000,5160000000,14.78
1059,3798,2022-03-01,568000000,-85000000,-169000000,-55371000,5473000000,7.71
1046,3798,2023-03-01,837000000,45000000,-752000000,-150418000,5603000000,9.83
1023,3798,2024-03-01,756000000,-98000000,-239000000,-64000000,6022000000,7.28
1075,3798,2025-03-01,1587000000,-222000000,-249000000,-91000000,7137000000,12.02

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3200,9898,2010-03-01,-399000000,-175000000,591000000,-234000000,82000000,-40.84
3278,9898,2011-03-01,-247000000,-104000000,298000000,-162000000,23000000,-13
3365,9898,2012-03-01,-1366000000,-702000000,3039000000,-403000000,994000000,-58.63
3459,9898,2013-03-01,-461000000,-43000000,119000000,-75000000,683000000,-15.45
3554,9898,2014-03-01,-341000000,-14000000,-15000000,-9000000,335000000,-9.81
3652,9898,2015-03-01,-163000000,-,-10000000,-1000000,164000000,-5.04
3749,9898,2016-03-01,397000000,-,187000000,-2000000,708000000,11.7
3862,9898,2017-03-01,-313000000,-170000000,-45000000,-3000000,186000000,-23.01
3979,9898,2018-03-01,70000000,-39000000,-7000000,-26000000,205000000,15.25
4081,9898,2019-03-01,-635000000,812000000,-99000000,-44000000,283000000,-2351.85
4136,9898,2020-03-01,-136000000,-15000000,-,-3000000,130000000,-647.62
4148,9898,2021-03-01,-51000000,0,-,0,77000000,-221.74
4103,9898,2022-03-01,-91000000,7000000,15000000,0,8000000,-413.64

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1959,6846,2010-03-01,-272000000,40000000,-95000000,-22184000,1012000000,-10.01
2029,6846,2011-03-01,34000000,51000000,-16000000,-10462000,1082000000,1.03
2104,6846,2012-03-01,-33000000,-122000000,-208000,-23063000,910379000,-0.65
2191,6846,2013-03-01,321904000,-43000000,-19461000,-42247000,1174601000,8.11
2269,6846,2014-03-01,-18202000,-48000000,-47000,-47845000,1114975000,-0.41
2338,6846,2015-03-01,496000000,-42000000,-868000,-42119000,1571000000,9.19
2391,6846,2016-03-01,-319000000,-43000000,-39000000,-41675000,1166000000,-6.74
2462,6846,2017-03-01,121000000,21000000,-120000000,-37364000,1186000000,2.62
2530,6846,2018-03-01,237000000,-23000000,-31000000,-23207000,1369000000,4.98
2588,6846,2019-03-01,-240000000,-91000000,-19000000,-92000000,1016000000,-4.37
2626,6846,2020-03-01,289000000,-6000000,-19000000,-27000000,1278000000,6.64
2664,6846,2021-03-01,-119000000,101000000,24000000,-88000000,1285000000,-3.66
2638,6846,2022-03-01,186000000,-59000000,-100000,-47000000,1417000000,4.68
2598,6846,2023-03-01,-369661000,0,-16061000,-30000000,979060000,-11.83
2535,6846,2024-03-01,8000000,117000000,-40000000,-36000000,1065391000,0.2
2644,6846,2025-03-01,530604000,-203000000,-26867000,-244890000,1366109000,10.85

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2725,8518,2010-03-01,4051000000,229000000,-4126000000,-66000000,8330000000,47.81
2797,8518,2011-03-01,7137000000,2215000000,-7886000000,-9000000,9762000000,60.67
2880,8518,2012-03-01,738000000,396000000,-4056000000,-53000000,6813000000,10.76
2974,8518,2013-03-01,1196000000,277000000,-2838000000,-16000000,5554000000,25.09
3062,8518,2014-03-01,3624000000,437000000,-1424000000,-4000000,8313000000,42.83
3151,8518,2015-03-01,511000000,213000000,-3224000000,-2000000,5942000000,7.37
3245,8518,2016-03-01,974000000,470000000,-1404000000,-,5915000000,21.19
3355,8518,2017-03-01,1406000000,-5000000,-2469000000,-5000000,4815000000,30.04
3446,8518,2018-03-01,1870000000,238000000,-2173000000,-46000000,4757000000,22.52
3517,8518,2019-03-01,299000000,1224000000,-2173000000,-49000000,4082000000,8.54
3556,8518,2020-03-01,124000000,147000000,-1617000000,-5776000000,2723000000,3.14
3574,8518,2021-03-01,1728000000,61000000,-1216000000,-1787000000,3301000000,46.59
3540,8518,2022-03-01,-145000000,212000000,-1007000000,-1577000000,2397000000,-4.53
3490,8518,2023-03-01,157000000,0,-806000000,-1540000000,1762000000,4.05
3400,8518,2024-03-01,456000000,-2000000,-828000000,-1605000000,1396000000,18.66
3536,8518,2025-03-01,1427000000,24000000,179000000,-1991000000,3047000000,46.15

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1702,4893,2019-12-01,-,-,-,-,1852376000,-
1698,4893,2020-12-01,-300645000,-,996346000,-,2548077000,-309.06
1728,4893,2021-12-01,-777140000,-4032000,2373653000,-,4140558000,-771.49
1714,4893,2022-12-01,-107176000,-,487615000,-,4520997000,-17.13
1692,4893,2023-12-01,-873076000,-5316000,1913086000,-,5555691000,-275.58
1653,4893,2024-12-01,-887000000,0,2000000,-,4670939000,-12671.43
1733,4893,2024-12-01,-887809000,557000,2500000,-,4670939000,-11701.71

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3925,9563,2019-12-01,-,-,-,-,151913000,-
3981,9563,2020-12-01,190468000,-45995000,4500000,-27065000,300886000,15.25
3997,9563,2021-12-01,316529000,-12685000,-,-6156000,604730000,14.47
3959,9563,2022-12-01,433117000,-5342000,1324800000,-1393000,2357304000,15.43
3900,9563,2023-12-01,-84118000,-505939000,13900000,-303000,1783367000,-3.25
3795,9563,2024-12-01,-136000000,0,-31000,-14000,1655024000,-6.42
3950,9563,2024-12-01,-136677000,391000,-31000,-14000,1655024000,-6.44

----------------------- ÁèæÈáëÂêåÁ≠âÁâ© -----------------------
----------------------- Ë®≠ÂÇôÊäïË≥á -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
63,1795,2010-03-01,388265000,-15758000,-394574000,0,238632000,5
65,1795,2011-03-01,220921000,43433000,32630000,-5124000,535617000,2.91
71,1795,2012-03-01,-344021000,162122000,152413000,-16710000,506130000,-4.8
74,1795,2013-03-01,-104482000,-41398000,-19350000,-5604000,340899000,-1.04
76,1795,2014-09-01,203352000,-7876000,-107142000,-1406000,550895000,6.18
77,1795,2015-09-01,694467000,68001000,-376366000,-11311000,936997000,6.96
80,1795,2016-09-01,469108000,21954000,-307699000,-56531000,1120360000,4.89
80,1795,2017-09-01,57987000,92329000,95234000,-230003000,1365911000,0.66
82,1795,2018-09-01,245825000,-370993000,-573887000,-455319000,666856000,2.98
85,1795,2019-09-01,1109011000,-223521000,-11947000,-40181000,1540399000,12.19
92,1795,2020-09-01,1206313000,-105761000,-255261000,-2674000,2385690000,10.57
108,1795,2021-09-01,22324000,7088000,-199401000,-11773000,2215701000,0.29
103,1795,2022-09-01,-270511000,209165000,-352192000,-13578000,1802163000,-3.89
102,1795,2023-09-01,230277000,-95690000,-68698000,-693000,1868051000,2.67
99,1795,2024-09-01,421994000,-501269000,490508000,-11103000,2279284000,4.72
105,1795,2024-09-01,421994000,-501269000,490508000,-11103000,2279284000,4.72

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
352,2477,2010-06-01,265405000,-21000000,-,0,1394659000,26.26
355,2477,2011-06-01,75862000,6019000,-,-1065000,1476540000,9.14
362,2477,2012-06-01,-50549000,-5895000,-,-5895000,1420096000,-8.24
366,2477,2013-06-01,128244000,3849000,-,-838000,1552189000,17.68
368,2477,2014-06-01,-2259000,48619000,-24000,0,1598525000,-0.37
371,2477,2015-06-01,286578000,6412000,-50000,-7980000,1884492000,42.68
374,2477,2016-06-01,275832000,-3467000,-16088000,-3467000,2140768000,34.32
374,2477,2017-06-01,288642000,-70000,-22549000,0,2406791000,31.38
377,2477,2018-06-01,511979000,-1586000,-64631000,-7462000,2852553000,46.06
379,2477,2019-06-01,586399000,-,-93678000,0,3345274000,43.16
383,2477,2020-06-01,841747000,-2247000,-213416000,-1810000,3971358000,51.01
417,2477,2021-06-01,689669000,-1898000,-175030000,-1898000,4484099000,42.83
406,2477,2022-06-01,730587000,1258000,-168608000,-,5047336000,44.79
401,2477,2023-06-01,964778000,-4473000,-181557000,-4612000,5826084000,53.32
391,2477,2024-06-01,949471000,-6235000,-204046000,-6235000,6565274000,46.91
405,2477,2025-06-01,1056468000,-,-1033708000,-,6588033000,48.34

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
521,2931,2010-09-01,201033000,-2131000,259013000,0,533538000,27.37
524,2931,2011-09-01,250538000,-2035000,191300000,-2035000,973341000,21.49
533,2931,2012-09-01,86174000,-167346000,-,-30561000,892169000,5.43
539,2931,2013-09-01,163544000,-105254000,895323000,-82539000,1845783000,7.82
541,2931,2014-09-01,-7805000,-6177288000,7499443000,-172022000,3160132000,-0.26
544,2931,2015-09-01,620966000,2091354000,-177145000,-314576000,6221236000,10.48
547,2931,2016-09-01,913588000,-154176000,-185004000,-1083068000,6784041000,8.23
547,2931,2017-09-01,153756000,-2108000000,2296109000,-3854579000,7152864000,1.11
550,2931,2018-09-01,-1238000000,-3889000000,2317000000,-3257216000,4426000000,-8.16
554,2931,2019-09-01,1089000000,-1436000000,2713000000,-1363325000,7791000000,7.8
556,2931,2020-09-01,-1217000000,-350000000,162000000,-358585000,6253000000,-9.14
600,2931,2021-12-01,1378000000,-10338000000,12062000000,-511019000,9820000000,4
595,2931,2022-12-01,924000000,1233000000,-2993000000,-478000000,9814000000,2.08
586,2931,2023-12-01,658000000,-646000000,5828000000,-734000000,15651000000,1.42
574,2931,2024-12-01,2645000000,-7990000000,-485000000,-732000000,13731000000,5.55
595,2931,2024-12-01,2645000000,-7990000000,-485000000,-717000000,13731000000,5.55

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
586,3101,2010-03-01,29024000000,-13455000000,-15832000000,0,9953000000,9.1
589,3101,2011-03-01,33714000000,-11579000000,-9915000000,-,21927000000,9.9
598,3101,2012-03-01,14192000000,-15061000000,-11531000000,-,9481000000,4.06
604,3101,2013-03-01,30354000000,-11294000000,-2636000000,-,26467000000,8.95
606,3101,2014-03-01,23927000000,-22218000000,-10839000000,-,19177000000,6.81
610,3101,2015-03-01,20107000000,-20089000000,797000000,-,20389000000,5.72
617,3101,2016-03-01,32337000000,-10636000000,-21384000000,-,20101000000,9.3
623,3101,2017-03-01,26872000000,-14132000000,-324000000,-,32179000000,8.16
630,3101,2018-03-01,22353000000,-1174000000,-27831000000,-,25857000000,6.75
638,3101,2019-03-01,7838000000,-24286000000,12608000000,-25500000000,22167000000,2.33
646,3101,2020-03-01,44255000000,-39216000000,-1805000000,-36400000000,25084000000,13.03
691,3101,2021-03-01,35028000000,-31678000000,5340000000,-23300000000,34526000000,10.38
691,3101,2022-03-01,17097000000,-24608000000,-1729000000,-33600000000,26433000000,4.55
682,3101,2023-03-01,7798000000,-36011000000,61295000000,-42700000000,60204000000,1.95
668,3101,2024-03-01,21595000000,-58784000000,8260000000,-61600000000,33310000000,5.21
691,3101,2025-03-01,30118000000,-46386000000,10490000000,-43200000000,27427000000,7.14

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
645,3241,2010-12-01,813000000,0,-763000000,0,138000000,31.33
657,3241,2011-12-01,877000000,-50000000,-733000000,-50000000,230000000,28.8
679,3241,2012-12-01,277000000,-21000000,-81000000,-20000000,405000000,8.71
686,3241,2013-12-01,-26000000,-123000000,209000000,-16000000,464000000,-0.69
689,3241,2014-12-01,981000000,-249000000,-311000000,-241000000,885000000,20.02
695,3241,2015-12-01,598000000,-144000000,-385000000,-144000000,953000000,11.76
702,3241,2016-12-01,552000000,-42000000,101000000,-40000000,1565000000,11.31
709,3241,2017-12-01,-387000000,-49000000,402000000,-34000000,1530000000,-7.41
716,3241,2018-12-01,-1042000000,-311000000,1511000000,-308000000,1687000000,-17.21
722,3241,2019-12-01,-426000000,-1406000000,1452000000,-1377000000,1306000000,-6.81
729,3241,2020-12-01,1508000000,-518000000,-66000000,-510000000,2229000000,18.95
773,3241,2021-12-01,-401000000,-1641000000,1685000000,-1780000000,1871000000,-4.62
773,3241,2022-12-01,-462000000,-508000000,742000000,-367000000,1643000000,-4.88
764,3241,2023-12-01,1114000000,-87000000,148000000,-93000000,2818000000,9.64
748,3241,2024-12-01,-435000000,-158000000,91000000,-160000000,2316000000,-3.29
773,3241,2024-12-01,-435000000,-158000000,91000000,-166000000,2316000000,-3.29

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
652,3252,2010-03-01,5693736000,-7250000,-5675786000,0,700042000,71.23
664,3252,2011-03-01,43541000,-21174000,-316281000,-280000,406127000,3.82
686,3252,2012-03-01,3762483000,-11184000,-2674983000,-232000,1482442000,37.72
693,3252,2013-03-01,-2144591000,-13751000,2954532000,0,2278631000,-32.63
696,3252,2014-03-01,-11898330000,-87978000,12655238000,-,2947560000,-109.88
702,3252,2015-03-01,6608107000,-328787000,1088423000,-1432000,10315304000,40.66
709,3252,2016-03-01,-5615702000,-2316423000,9584863000,-91770000,11968041000,-32.31
716,3252,2017-03-01,-2908136000,1136940000,3394811000,-100583000,13574693000,-10.93
723,3252,2018-03-01,-5639000000,154000000,6412000000,-37757000,14508000000,-18.04
729,3252,2019-03-01,-28020000000,-7000000,32511000000,-323703000,18856000000,-70.34
736,3252,2020-12-01,3569000000,-98000000,-4441000000,-55000000,20897000000,11.94
779,3252,2021-12-01,11373000000,-17513000000,2363000000,-13373000000,17178000000,20.24
780,3252,2022-12-01,19993000000,-156000000,-13975000000,-379000000,23140000000,40.08
771,3252,2023-12-01,-25155000000,3691000000,21112000000,-664000000,22747000000,-79.61
754,3252,2024-12-01,-4329000000,-2069000000,6875000000,-408000000,23492000000,-7.59
780,3252,2024-12-01,-4329000000,-2069000000,6875000000,-405000000,23492000000,-7.59

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
657,3264,2010-09-01,-1039808000,-45933000,385090000,0,182311000,-180.42
669,3264,2011-09-01,1376485000,60939000,-1080157000,0,539579000,36.32
691,3264,2012-09-01,1109957000,103415000,-1480455000,-3330000,272497000,36.94
698,3264,2013-09-01,4141261000,-31609000,-3667372000,-17367000,714776000,54.1
701,3264,2014-09-01,-181788000,-198452000,306303000,-201724000,640839000,-5.22
707,3264,2015-09-01,-602000000,-8000000,507000000,-10724000,536000000,-10.55
714,3264,2016-09-01,708000000,-3000000,-546000000,-1595000,693000000,12.08
721,3264,2017-09-01,-2990000000,-203000000,10492000000,-115603000,7992000000,-39.76
728,3264,2018-09-01,-14822000000,-52000000,11004000000,-50000000,4121000000,-141.81
734,3264,2019-09-01,3044000000,-39000000,-2301000000,-5000000,4825000000,14.48
741,3264,2020-09-01,-2116000000,-3516000000,3561000000,-8000000,2754000000,-13.6
784,3264,2021-09-01,1117000000,2117000000,2300000000,-34000000,8337000000,4.48
786,3264,2022-09-01,-16722000000,4864000000,14362000000,-61000000,10848000000,-36.42
777,3264,2023-09-01,-24096000000,3499000000,17846000000,-9000000,8097000000,-125.02
759,3264,2024-09-01,-394000000,473000000,5026000000,-29000000,11843000000,-1.07
786,3264,2024-09-01,-394000000,473000000,5026000000,-29000000,11843000000,-1.07

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
658,3266,2010-11-01,959000000,5000000,-900000000,0,1102000000,51.59
670,3266,2011-11-01,-135000000,135000000,-173000000,-15000000,927000000,-16.03
692,3266,2012-11-01,4670000000,-24000000,-4632000000,-2000000,941000000,75.9
699,3266,2013-11-01,-165000000,0,-27000000,0,773000000,-22.15
702,3266,2014-11-01,1218000000,-208000000,-999000000,-156000000,784000000,37.47
708,3266,2015-11-01,-542000000,-107000000,571000000,-200000000,686000000,-10.07
715,3266,2016-11-01,1205000000,95000000,-250000000,-1000000,1730000000,36.15
722,3266,2017-11-01,-352000000,-259000000,204000000,-54000000,1250000000,-21.62
729,3266,2018-11-01,-277000000,182000000,-261000000,0,893000000,-23.86
735,3266,2019-11-01,-517000000,-41000000,564000000,-7000000,898000000,-32.56
742,3266,2020-11-01,350000000,-309000000,-116000000,-4000000,821000000,22.83
785,3266,2021-11-01,1138000000,-53000000,-784000000,-17000000,1126000000,51.85
787,3266,2022-11-01,-1403000000,-57000000,1152000000,-3000000,828000000,-83.21
778,3266,2023-11-01,524000000,-295000000,474000000,-1000000,1535000000,12.67
760,3266,2024-11-01,180000000,246000000,-126000000,-4000000,1837000000,3.18
787,3266,2024-11-01,180000000,246000000,-126000000,-4000000,1837000000,3.18

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1122,4566,2010-03-01,-231191000,151185000,-,0,567047000,-221.1
1169,4566,2011-03-01,-74413000,293900000,-,-,786533000,-72.59
1212,4566,2012-03-01,-58781000,7900000,-,-,735652000,-95.63
1263,4566,2013-03-01,132961000,4785000,-,-815000,873399000,196.83
1313,4566,2014-03-01,-52231000,-,-,0,821167000,-60.97
1362,4566,2015-03-01,116206000,-200750000,-,-750000,736623000,196.25
1403,4566,2016-03-01,1525954000,-302817000,-255303000,-1314000,1704456000,2164.47
1454,4566,2017-03-01,1615969000,198467000,-1464000,-1533000,3517428000,3180.23
1507,4566,2018-03-01,557291000,-301147000,-256514000,-1147000,3517057000,1471.01
1527,4566,2019-03-01,284197000,-807398000,-256589000,-2214000,2737267000,1039.53
1524,4566,2020-03-01,56554000,-300216000,-1147000,-216000,2492457000,304.96
1556,4566,2021-03-01,221993000,196699000,-256597000,-1550000,2654552000,891.65
1545,4566,2022-03-01,-235991000,295750000,-1096000,-1779000,2713215000,-4612.8
1524,4566,2023-03-01,64229000,-403034000,-235000,-1269000,2374175000,420.59
1565,4566,2025-03-01,-94837000,-33421000,-380000,-21906000,2515254000,-154.36

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1862,6656,2010-04-01,-201450000,22011000,129340000,0,134256000,-36.3
1931,6656,2011-04-01,124358000,-30667000,25600000,-29469000,253547000,16.75
2006,6656,2012-04-01,-180125000,-34546000,140160000,-36544000,179036000,-32.92
2092,6656,2013-04-01,-86615000,-4149000,-50219000,-3546000,38052000,-18.46
2170,6656,2014-04-01,-207513000,-8520000,545637000,-8025000,367656000,-20.75
2237,6656,2015-04-01,-104176000,-492379000,516492000,-14181000,287594000,-6.48
2290,6656,2016-04-01,162342000,-155460000,51134000,-75119000,340915000,9.97
2361,6656,2017-04-01,346480000,-141354000,232769000,-85866000,775728000,16.05
2428,6656,2018-04-01,-437280000,-127383000,680362000,-96342000,883679000,-22.77
2488,6656,2019-04-01,515125000,-74371000,-52757000,-82159000,931797000,18.09
2527,6656,2020-04-01,98377000,-1013851000,1110375000,-357928000,1126137000,4.19
2565,6656,2021-04-01,-153717000,-174790000,-36610000,-121643000,673179000,-12.07
2540,6656,2022-04-01,-175678000,-329120000,390731000,-326911000,558774000,-9.97
2501,6656,2023-04-01,-589113000,-163562000,630921000,-134380000,437131000,-25.72
2441,6656,2024-04-01,105442000,-77869000,129780000,-101490000,594574000,6.32
2547,6656,2025-04-01,543970000,-66755000,-675475000,-66752000,396317000,24.31

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2277,7612,2010-03-01,-218024000,-85485000,-39000,0,1132081000,-7.28
2347,7612,2011-03-01,-239125000,-18418000,-51000,-48032000,874486000,-9.42
2425,7612,2012-03-01,8125000,-43471000,-44000,-51143000,839095000,0.46
2518,7612,2013-03-01,-398183000,-51400000,-19000,-27120000,389491000,-28.62
2599,7612,2014-03-01,-281928000,-7850000,-30000,-10500000,99682000,-21.32
2686,7612,2015-03-01,-15543000,-6920000,-87000,-332000,77130000,-1.77
2768,7612,2016-03-01,-66665000,-5645000,19990000,0,24809000,-32.51
2870,7612,2017-03-01,1472767000,-380315000,1310140000,-371917000,2429490000,165
2959,7612,2018-03-01,-2379050000,194031000,1638051000,-13252000,1882522000,-1618.32
3029,7612,2019-03-01,-1193312000,-380956000,-67418000,-135099000,240835000,-983.87

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2830,8891,2010-03-01,1746495000,223410000,-2100293000,0,70450000,31.77
2904,8891,2011-03-01,1497375000,37947000,-1439080000,0,166693000,33.03
2987,8891,2012-03-01,15268000,-99121000,15186000,-5198000,98027000,0.54
3081,8891,2013-03-01,878466000,27950000,-655132000,-961000,349292000,25.7
3169,8891,2014-03-01,-406706000,76821000,210137000,-11890000,229544000,-13.22
3258,8891,2015-03-01,404704000,-27236000,-469219000,-2625000,543116000,9.71
3352,8891,2016-03-01,-154820000,29042000,481866000,-12305000,971471000,-2.44
3462,8891,2017-03-01,170949000,-33745000,170677000,-2726000,1279354000,2.45
3553,8891,2018-03-01,-773006000,-59306000,762005000,-4847000,1209046000,-8.62
3624,8891,2019-03-01,1684280000,-1182457000,-516128000,-109118000,1194740000,16.07
3661,8891,2020-03-01,-224053000,65624000,38407000,-16793000,1074719000,-2.16
3676,8891,2021-03-01,945468000,1899746000,-945584000,-10000,2974350000,7.21
3640,8891,2022-03-01,58092000,-20127000,213982000,-23897000,3226297000,0.36
3589,8891,2023-03-01,-3860772000,1029808000,3346072000,-114843000,3741406000,-16.93
3489,8891,2024-03-01,-3040049000,58590000,2282799000,-46387000,3042746000,-10.45
3635,8891,2025-03-01,4266901000,-30472000,-4223162000,-86848000,3056012000,14.03

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2836,8903,2010-03-01,4105647000,540270000,-6423364000,0,2528271000,53.53
2910,8903,2011-03-01,933182000,97854000,-2591303000,-110000,968004000,7.39
2993,8903,2012-03-01,3538688000,-103494000,-3278609000,-4600000,1124589000,51.57
3087,8903,2013-03-01,1156138000,-81854000,-488853000,-4546000,1710020000,14.23
3175,8903,2014-03-01,-1067969000,-35188000,1383804000,-5898000,1990667000,-12.03
3264,8903,2015-03-01,-1121032000,65408000,1004906000,-6188000,1939949000,-12.24
3358,8903,2016-03-01,414373000,-20816000,-894464000,-3914000,1439041000,4.65
3468,8903,2017-03-01,-2424034000,260620000,2280225000,-5834000,1555853000,-35.86
3559,8903,2018-03-01,-4803973000,-1230676000,5432068000,-1278098000,953271000,-42.17
3630,8903,2019-03-01,2155250000,-34469000,-1807755000,-35692000,1266296000,18.91
3667,8903,2020-03-01,127208000,-607446000,571783000,-645027000,1357842000,1.07
3682,8903,2021-03-01,845683000,-1112022000,728575000,-1095502000,1820079000,5.87
3646,8903,2022-03-01,-6394224000,-5928000,6500826000,-129161000,1920753000,-48.39
3594,8903,2023-03-01,-830643000,-79953000,1367539000,-53706000,2377695000,-4.29
3641,8903,2023-03-01,-830643000,-79953000,1367539000,-53706000,2377695000,-4.29

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3210,9914,2010-03-01,-77960000,-113358000,-50588000,0,507338000,-1.76
3288,9914,2011-03-01,-103102000,21860000,-18260000,-1018000,407836000,-1.88
3375,9914,2012-03-01,153081000,-32518000,-10028000,-30215000,518370000,2.58
3469,9914,2013-03-01,105689000,-76251000,-29561000,-43718000,518247000,1.8
3564,9914,2014-03-01,265371000,-223204000,-44628000,-18172000,515785000,4.29
3662,9914,2015-03-01,-6069000,27643000,-34922000,-9178000,502437000,-0.1
3759,9914,2016-03-01,-63682000,51223000,-47947000,-2942000,442030000,-1.11
3872,9914,2017-03-01,199816000,-21936000,-36895000,-1282000,583015000,3.21
3989,9914,2018-03-01,-130828000,-73091000,-59795000,-679000,319299000,-1.84
4091,9914,2019-03-01,-106025000,21385000,-86290000,0,148369000,-1.48
4145,9914,2020-03-01,242373000,-18234000,-58584000,-4405000,313923000,3.74
4157,9914,2021-03-01,82251000,280773000,-80506000,0,596442000,1.61
4111,9914,2022-03-01,28892000,-113476000,-18144000,-3111000,493713000,0.47
4050,9914,2023-03-01,-61219000,-23482000,-52947000,-8984000,356064000,-0.95
3941,9914,2024-03-01,716052000,43722000,-108208000,-56304000,1007630000,9.87
4100,9914,2025-03-01,-317610000,-11693000,-79690000,-6234000,598636000,-5.04

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
12,1401,2010-05-01,90127000,-59979000,15957000,-9219000,141176000,9.45
12,1401,2011-05-01,42755000,-13170000,244980000,0,370857000,3.75
14,1401,2012-05-01,29111000,-187102000,-78649000,-,93221000,2.32
14,1401,2013-05-01,55976000,-14878000,41473000,0,181983000,4.07
14,1401,2014-05-01,271780000,-164847000,77222000,-144894000,366233000,15.87
13,1401,2015-05-01,321539000,-87270000,-39528000,-56528000,562329000,17.39
13,1401,2016-05-01,-112529000,-109687000,243931000,-84020000,584089000,-5.32
13,1401,2017-05-01,492961000,-112294000,-91324000,-100180000,871759000,18.53
14,1401,2018-05-01,41840000,-60237000,-91847000,-41119000,761521000,1.39
14,1401,2019-05-01,215699000,-106722000,-85897000,-94692000,785332000,6.46
16,1401,2020-05-01,474234000,-38358000,41997000,-19261000,1263355000,14.17
18,1401,2021-05-01,-1699000,227196000,-85646000,-6480000,1403477000,-0.05
18,1401,2022-05-01,233103000,-76062000,-76726000,-67553000,1483812000,5.78
17,1401,2023-05-01,54044000,-24283000,-90022000,-22232000,1423835000,1.35
16,1401,2024-05-01,547568000,-277128000,-155817000,-70715000,1537141000,12.57
17,1401,2025-05-01,567895000,-43987000,-233686000,-100754000,1827413000,12.05

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
273,2317,2010-03-01,-303000000,-64000000,-59000000,-65000000,1407000000,-8.33
276,2317,2011-03-01,2949000000,1619000000,-5690000000,0,5088000000,7.53
283,2317,2012-03-01,2211000000,513000000,-3525000000,-,4287000000,7.22
286,2317,2013-03-01,2569000000,-626000000,-2376000000,-,3872000000,8.11
288,2317,2014-03-01,1490000000,1336000000,-1578000000,-,5135000000,4.39
290,2317,2015-03-01,2757000000,-367000000,-1651000000,-,5962000000,7.46
293,2317,2016-03-01,2719000000,-623000000,-1408000000,-,6634000000,6.37
293,2317,2017-03-01,2243000000,-464000000,-835000000,-,7593000000,4.85
296,2317,2018-03-01,4380000000,-1429000000,-1171000000,-,9357000000,8.06
298,2317,2019-03-01,7028000000,-970000000,-1247000000,-463000000,14180000000,11.76
303,2317,2020-03-01,4831000000,-640000000,-3145000000,-485000000,15221000000,7.48
334,2317,2021-03-01,7205000000,-1562000000,-1983000000,-450000000,18875000000,11.84
325,2317,2022-03-01,5544000000,-559000000,-1905000000,-578000000,21964000000,8.49
321,2317,2023-03-01,7648000000,-2016000000,-2854000000,-1067000000,24792000000,10.26
314,2317,2024-03-01,9036000000,-251000000,-3504000000,-291000000,30092000000,11.74
325,2317,2025-03-01,7979000000,-2576000000,-14024000000,-302000000,21464000000,9.54

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
285,2338,2010-02-01,-67862000,587199000,-253212000,-3016000,574022000,-1.88
288,2338,2011-02-01,-227443000,231915000,-13000000,0,565469000,-6.13
295,2338,2012-02-01,-482508000,171563000,90305000,-476000,344816000,-12.36
298,2338,2013-02-01,388480000,186641000,-257305000,-7995000,662580000,7.06
300,2338,2014-02-01,-82404000,-102691000,292821000,-21632000,770339000,-1.47
303,2338,2015-02-01,-89618000,-131770000,65989000,-16382000,614939000,-1.05
306,2338,2016-02-01,817707000,-666957000,356090000,-4302000,1121728000,8.77
306,2338,2017-02-01,-700446000,-70747000,169954000,-8781000,518390000,-14.14
309,2338,2018-02-01,-72411000,-159375000,-11320000,-119447000,274715000,-7
311,2338,2019-02-01,-443198000,-301179000,855449000,-404491000,386260000,-71.62
316,2338,2020-02-01,-279327000,-22883000,802974000,-12911000,883750000,-61.15
347,2338,2021-02-01,-272474000,-107767000,301318000,0,792815000,-110.99
338,2338,2022-02-01,-277748000,-218753000,195152000,-,507849000,-108.28
335,2338,2023-02-01,-379050000,-477408000,583365000,0,236335000,-143.42
328,2338,2024-02-01,-657388000,-128738000,681454000,-2047000,137107000,-320.3
339,2338,2025-02-01,-520781000,-11815000,531512000,-207000,136130000,-74.6

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
646,3242,2010-06-01,3635721000,28812000,-3279436000,-4285000,1391771000,34.32
658,3242,2011-06-01,-1176786000,-49627000,745773000,0,911131000,-23.41
680,3242,2012-06-01,46945000,125790000,137493000,-6797000,1221360000,0.69
687,3242,2013-06-01,-1691315000,-13321000,2497104000,-1171000,2013828000,-23.85
690,3242,2014-06-01,231491000,-770696000,638044000,-756935000,2112667000,2.21
696,3242,2015-06-01,-1245973000,-1055255000,2838857000,-884584000,2650296000,-10.46
703,3242,2016-06-01,-1366859000,-986085000,2216202000,-1057953000,2513554000,-7.72
710,3242,2017-06-01,-1747085000,-399631000,3736573000,-473661000,4103410000,-9.82
717,3242,2018-06-01,-1600548000,-1388374000,3106577000,-1387874000,4221064000,-9.95
723,3242,2019-06-01,2043178000,-167486000,-801700000,-209000000,5295056000,10.17
730,3242,2020-06-01,1143257000,-836170000,3296124000,-841000000,8898267000,5.19
774,3242,2021-06-01,-1434086000,-391975000,121106000,-392000000,7193312000,-6.84
774,3242,2022-06-01,490945000,-398360000,1199490000,-394000000,8485387000,2.5
765,3242,2023-06-01,-2836056000,-953880000,4435568000,-45000000,9131018000,-13.99
749,3242,2024-06-01,2978403000,-81878000,-3517927000,-15000000,8509615000,10.65
774,3242,2025-06-01,-7279384000,-2601752000,12770287000,-2470951000,11398766000,-21.45

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
836,3767,2010-03-01,-169189000,527610000,-706835000,-22190000,470817000,-44.85
870,3767,2011-03-01,21997000,-528000,-102144000,0,390142000,5.72

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
841,3772,2010-06-01,-91306000,4638000,-2795000,-205000,366676000,-10.98
875,3772,2011-06-01,-114528000,-43503000,-2926000,0,205718000,-18.04
906,3772,2012-06-01,-103987000,36238000,28944000,0,166914000,-20.91
931,3772,2013-03-01,-77005000,15024000,158898000,-4848000,263832000,-21.39
957,3772,2014-03-01,28088000,-731422000,1181313000,-2393000,741811000,3.36
976,3772,2015-03-01,-82069000,-47274000,-,-4393000,612468000,-6.87
986,3772,2016-03-01,359478000,102365000,-503000000,-921173000,571311000,23.47
995,3772,2017-03-01,753788000,-9442325000,8494895000,-8332663000,377670000,42.64
1002,3772,2018-03-01,1629592000,840668000,-1545352000,-30303000,1302578000,35.41
1006,3772,2019-03-01,1326295000,4938173000,-5187682000,-1886700000,2379364000,43.51
1007,3772,2020-03-01,-8916529000,-1980898000,12806137000,-43991000,4288074000,-67.44
1045,3772,2021-03-01,-3724424000,-315542000,1856782000,-6910000,2104891000,-70.14
1044,3772,2022-03-01,19281919000,-4589191000,-11232877000,-16432000,5564741000,66.42
1031,3772,2023-03-01,-3258026000,-314782000,6588077000,-334742000,8580009000,-22.01
1010,3772,2024-03-01,7030484000,-457441000,-1228635000,-151071000,13924417000,24.56
1059,3772,2025-03-01,-3078726000,-3852244000,1924138000,-466347000,8917584000,-16.81

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1029,4314,2010-12-01,93852000000,170000000,-94774000000,-47000000,19637000000,89.96
1076,4314,2011-12-01,11929000000,25000000,-21367000000,0,9758000000,35.34
1119,4314,2012-12-01,14328000000,-1989000000,-15652000000,-4000000,6375000000,98.4
1169,4314,2013-12-01,205326000000,-115000000,-203798000000,-3000000,7863000000,101.19
1219,4314,2014-12-01,115057000000,3823000000,-123487000000,0,3314000000,102.06
1244,4314,2015-12-01,1504000000,-578000000,-2047000000,-23000000,2192000000,101.97
1256,4314,2016-12-01,3529000000,-1023000000,-2632000000,-25000000,2061000000,45.83
1291,4314,2017-12-01,-87000000,-2432000000,1792000000,-91000000,1317000000,-5.05
1331,4314,2018-12-01,-295000000,-2905000000,2327000000,-674000000,445000000,-20.63
1343,4314,2019-12-01,106000000,426000000,-691000000,0,286000000,10.1
1342,4314,2020-12-01,-103000000,765000000,-744000000,0,201000000,-18.56
1377,4314,2021-12-01,-56000000,199000000,-176000000,-5000000,166000000,-15.51
1370,4314,2022-12-01,390000000,3000000,-135000000,-6000000,427000000,183.96
1353,4314,2023-12-01,5000000,-17000000,-,-17000000,428000000,2.14
1392,4314,2024-12-01,-42000000,-8000000,-,-11000000,402000000,-17.8

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1136,4584,2010-03-01,-,-,-,-,60582000,-
1183,4584,2011-03-01,-264778000,-421000,506079000,0,301462000,-242.29
1227,4584,2012-03-01,-362164000,-435000,346672000,-380000,285534000,-174.85
1278,4584,2013-03-01,-304903000,-458000,907256000,-221000,887428000,-503.69
1328,4584,2014-03-01,-729603000,-1666000,1454086000,-226000,1610244000,-242.11
1377,4584,2015-03-01,-970686000,-49995000,9908000,0,599471000,-301.78
1418,4584,2016-03-01,-607374000,-121746000,946991000,-1985000,817342000,-52.32
1469,4584,2017-03-01,-1759243000,-149902000,3471699000,0,2379896000,-161.49
1522,4584,2018-03-01,-438372000,-50252000,-,-252000,1891271000,-41.37
1542,4584,2019-03-01,-860316000,-27000,978446000,0,2009373000,-84.2
1539,4584,2020-03-01,-1325059000,-137206000,1221771000,-1935000,2032575000,-122.95
1571,4584,2021-03-01,-1267471000,-22290000,718345000,-2999000,1461158000,-127.19
1560,4584,2022-03-01,-1169561000,526509000,369083000,-160000,1187189000,-74.53
1539,4584,2023-03-01,-1421259000,-28825000,1356312000,-,1067162000,-51.19
1506,4584,2024-03-01,-453634000,-,1617883000,-,2231411000,-18.66
1580,4584,2025-03-01,936707000,65077000,-240061000,-6444000,2995435000,18.43

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1585,6072,2010-03-01,-,-,-,-,3152000,-
1637,6072,2011-03-01,22268000,-406000,51279000,0,76293000,13.45
1701,6072,2012-03-01,8396000,-15432000,186091000,-6718000,255348000,1.33
1758,6072,2013-03-01,84162000,-14442000,217089000,-14133000,542157000,6.05
1811,6072,2014-03-01,423804000,-50227000,27995000,-13082000,943730000,18.73
1862,6072,2015-03-01,-165818000,-99655000,-142359000,-85034000,537178000,-6.52
1909,6072,2016-03-01,260158000,-19720000,-142907000,-49744000,634657000,10.91
1973,6072,2017-03-01,357968000,-64720000,-147518000,-47272000,780978000,13.23
2032,6072,2018-03-01,146100000,-41617000,-173524000,-35316000,711323000,5.47
2091,6072,2019-03-01,162297000,-128586000,-1840000,-18223000,742408000,6.61
2134,6072,2020-03-01,88598000,-307972000,-49532000,-11287000,473011000,3.69
2173,6072,2021-03-01,-58171000,-23896000,161352000,-25059000,550865000,-2.92
2157,6072,2022-03-01,106394000,255675000,-18000,-22887000,918046000,4.8
2128,6072,2023-03-01,146597000,1367000,-24000,-18277000,1071881000,6.35
2077,6072,2024-03-01,-4290000,-40583000,-64166000,-16567000,963944000,-0.23
2172,6072,2025-03-01,67339000,-25415000,-187436000,-7393000,821680000,3.59

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2248,7567,2010-03-01,323003000,-25504000,-116984000,-10177000,1423586000,7.86
2318,7567,2011-03-01,-211996000,-15223000,-72046000,0,1124318000,-3.8
2396,7567,2012-03-01,185590000,-14801000,-144127000,-260000,1150981000,4
2489,7567,2013-03-01,-14870000,-14872000,106601000,-974000,1227838000,-0.39
2570,7567,2014-03-01,-915954000,701621000,-285148000,-480000,728356000,-20.85
2657,7567,2015-03-01,56885000,-974000,-66564000,0,724344000,1.17
2739,7567,2016-03-01,150624000,86158000,-190155000,-2312000,769213000,3.07
2841,7567,2017-03-01,79891000,15148000,-88580000,-320000,772618000,1.54
2930,7567,2018-03-01,109277000,87874000,-80144000,0,889718000,1.76
3000,7567,2019-03-01,87924000,-202847000,-74199000,-1255000,700690000,1.48
3044,7567,2020-03-01,206537000,-9934000,-56903000,-7993000,840244000,3.79
3078,7567,2021-03-01,207824000,-8037000,-57037000,-8759000,982749000,3.7
3057,7567,2022-03-01,243247000,181217000,-256876000,-17839000,1150537000,2.7
3016,7567,2023-03-01,473177000,-75566000,-51445000,-74423000,1494424000,4.37
2945,7567,2024-03-01,192824000,-25925000,-60944000,-24975000,1601067000,2.3
3062,7567,2025-03-01,-325961000,-67120000,-50787000,-68962000,1156490000,-5.07

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2798,8783,2010-03-01,-153009000,34650000,-7788000,-155000,595575000,-107.25
2872,8783,2011-03-01,-201487000,294115000,-7618000,0,471699000,-310.58
2955,8783,2012-03-01,-150157000,14329000,-137000,-2984000,335733000,-145.88
3049,8783,2013-03-01,-30418000,-,67961000,0,373276000,-59.25
3137,8783,2014-03-01,-368620000,922000,195432000,-3438000,201010000,-280.48
3226,8783,2015-03-01,130806000,-,83905000,0,415722000,120.61
3320,8783,2016-03-01,-102497000,-,59065000,0,372290000,-25.17
3430,8783,2017-03-01,-50853000,-1168000,6064000,-668000,326332000,-6.64
3521,8783,2018-03-01,-789381000,-876842000,1759702000,-877075000,419811000,-49.55
3592,8783,2019-03-01,141312000,-146072000,210272000,-5343000,625323000,13.05
3630,8783,2020-03-01,-93334000,-222162000,-60015000,-2239000,249811000,-3.9
3645,8783,2021-03-01,41740000,-205922000,178248000,-160390000,263878000,1.57
3609,8783,2022-03-01,-965208000,-235955000,1191338000,-92161000,254053000,-80.66
3558,8783,2023-03-01,-3314695000,-895786000,4828339000,-567086000,871910000,-140.85
3461,8783,2024-03-01,-1472146000,-625092000,1506388000,-46849000,281061000,-35.26
3604,8783,2025-03-01,-2420379000,-3425069000,5944325000,-155337000,379937000,-73.08

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
11,1400,2010-12-01,-409904000,-137846000,389655000,-1523000,76014000,-19.19
11,1400,2011-12-01,303112000,17353000,-285075000,-1513000,111405000,9.85
13,1400,2012-12-01,439712000,-89801000,-60900000,0,400416000,17.19
13,1400,2013-12-01,-10466000,-9691000,93150000,-4536000,473409000,-0.36
13,1400,2014-12-01,-52450000,238000,-,-4623000,421197000,-2.11
12,1400,2015-12-01,293912000,522160000,-,-1500000,1237270000,10.87
12,1400,2016-12-01,-300006000,-216773000,-3613000,-265000,716876000,-12.17
12,1400,2017-12-01,-57544000,19353000,49725000,-32572000,728411000,-2.44
13,1400,2018-12-01,-939387000,86824000,759411000,-7776000,635259000,-31.64
13,1400,2019-12-01,771595000,140194000,22960000,-208000,1570008000,21.45
15,1400,2020-12-01,33060000,-3519000,22735000,0,1622285000,1.26
17,1400,2021-12-01,63949000,-203292000,64289000,-372000,1547232000,2.53
17,1400,2022-12-01,-202347000,-67776000,-9321000,-201000,1267787000,-8.91
16,1400,2023-12-01,202435000,-143416000,-,-982000,1326806000,7.61
16,1400,2023-12-01,202435000,-143416000,-,-982000,1326806000,7.61

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
214,2172,2010-06-01,38492000,1035000,-11509000,-4805000,130309000,2.43
216,2172,2011-06-01,54413000,-45889000,-13095000,-4119000,125738000,3.03
223,2172,2012-06-01,-33498000,113386000,-13058000,0,192567000,-2.01
226,2172,2013-06-01,-38020000,34004000,-17185000,-3147000,171366000,-1.93
228,2172,2014-06-01,98076000,-252000,-19296000,-2198000,249894000,4.55
230,2172,2015-06-01,29810000,-179000,-18221000,-6687000,261303000,1.4
233,2172,2016-06-01,-38362000,-72238000,31387000,-60472000,182089000,-1.89
233,2172,2017-06-01,116836000,-94971000,118581000,-95800000,322535000,5.82
235,2172,2018-06-01,-198064000,46321000,90998000,-12408000,261790000,-9.51
238,2172,2019-06-01,210778000,-9799000,-53962000,-9894000,408807000,9.59
243,2172,2020-06-01,156533000,-31033000,-37762000,-19354000,496545000,6.72
271,2172,2021-06-01,-303084000,-4440000,74044000,-13928000,263065000,-15.4
264,2172,2022-06-01,216915000,-11392000,-23422000,-4906000,445165000,9.31
262,2172,2023-06-01,144616000,-1245000,-32206000,-1700000,556330000,5.26
256,2172,2024-06-01,115215000,-79732000,-128749000,-9672000,463063000,4.56
266,2172,2025-06-01,115197000,-1336000,-20099000,-38923000,556824000,4.69

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
336,2437,2010-05-01,-657896000,-19832000,360936000,-11942000,451530000,-89.15
339,2437,2011-05-01,-406446000,88439000,84000000,-2152000,213872000,-33.51
346,2437,2012-05-01,980342000,-100380000,-456411000,0,632832000,72.11
350,2437,2013-05-01,190472000,-24609000,-145300000,-8817000,661316000,15.25
352,2437,2014-05-01,-657986000,-317440000,1224550000,-301367000,928261000,-47.49
355,2437,2015-05-01,490750000,-425927000,-24764000,-280255000,971531000,16.65
358,2437,2016-05-01,279519000,-349480000,377176000,-30980000,1277375000,7.17
358,2437,2017-05-01,-1550695000,-1253805000,2134153000,-870773000,606922000,-29
361,2437,2018-05-01,756197000,67130000,-175633000,-67922000,1321150000,27.19
363,2437,2019-05-01,34191000,405652000,-995227000,-75539000,756162000,1.17
367,2437,2020-05-01,36151000,322021000,-932149000,-8076000,185883000,2.1
398,2437,2021-05-01,758679000,-16913000,-578352000,-18899000,345571000,33.22
387,2437,2022-05-01,136199000,42996000,315290000,-6977000,1185586000,4.59
382,2437,2023-05-01,1180942000,221701000,-311600000,-4908000,2273123000,33.87
373,2437,2024-05-01,-809783000,-250750000,143903000,-110926000,1341996000,-39.77
386,2437,2024-05-01,-809783000,-250750000,143903000,-110926000,1341996000,-39.77

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
816,3726,2010-09-01,37060000,-80394000,-24693000,-,945339000,1.94
850,3726,2011-09-01,-181073000,-90769000,66681000,-,740566000,-12.74
883,3726,2012-09-01,-54578000,-300000000,138306000,0,524410000,-7.46
908,3726,2013-09-01,-344605000,160558000,270292000,-8982000,510376000,-18.72
934,3726,2014-09-01,109172000,243334000,-26313000,0,836859000,8.57
953,3726,2015-09-01,-144921000,-591141000,623174000,-18347000,724983000,-6.11
963,3726,2016-09-01,244814000,3227000,133222000,-13944000,1103135000,5.68
972,3726,2017-09-01,240434000,44444000,196689000,-42961000,1586360000,9.01
979,3726,2018-09-01,93462000,166989000,-156569000,-32131000,1690241000,4.16
983,3726,2019-09-01,-186988000,-124123000,-177528000,-58754000,1201600000,-9.55
986,3726,2020-09-01,-233156000,44993000,-99786000,-27953000,969144000,-11.85
1024,3726,2021-09-01,-106129000,-8783000,-84085000,-35832000,770145000,-4.3
1024,3726,2022-09-01,-41261000,-4708000,-124800000,-3858000,599375000,-1.77
1011,3726,2023-09-01,-324387000,-102931000,317388000,-8114000,489444000,-15.18
990,3726,2024-09-01,-361105000,-50123000,708376000,-252000,786592000,-15.99
1037,3726,2024-09-01,-361105000,-50123000,708376000,-252000,786592000,-15.99

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
846,3777,2010-12-01,-261384000,-3653000,192167000,-14046000,4189000,-61.24
880,3777,2011-12-01,-165854000,2829000,306562000,-2261000,147595000,-251.1
911,3777,2012-12-01,-121585000,1000,2500000,0,28510000,-113.56
936,3777,2013-12-01,-158584000,-33570000,309950000,-4300000,146306000,-35.75
962,3777,2014-12-01,-231429000,-1140731000,1556724000,-973763000,330870000,-87.57
981,3777,2015-12-01,-369039000,-96439000,162939000,-90656000,10966000,-46.31
991,3777,2016-12-01,-781719000,59540000,1292340000,-206000,581128000,-131.78
1000,3777,2017-12-01,-739501000,-109320000,847580000,-255000,579887000,-56.99
1007,3777,2018-12-01,-548973000,80448000,-23023000,-11995000,83785000,-29.22
1011,3777,2019-12-01,271018000,-569216000,469983000,-157000,255261000,40.43
1012,3777,2020-12-01,-144988000,600000,9633000,0,120809000,-40.92
1050,3777,2021-12-01,-566339000,186553000,1156316000,0,897340000,-214.75
1049,3777,2022-12-01,-275824000,-2447000,315508000,-1398000,934576000,-36.58
1036,3777,2023-12-01,-66422000,65900000,196465000,-6536000,1130645000,-0.39
1015,3777,2024-12-01,-93062000,-31038000,23186000,-28230000,1041117000,-0.54
1064,3777,2024-12-01,-93062000,-31038000,23186000,-28230000,1041117000,-0.54

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
848,3779,2010-03-01,-54350000,10027000,64645000,-2766000,260179000,-7.79
882,3779,2011-03-01,-62282000,-20247000,-10392000,-2027000,167117000,-7.72
913,3779,2012-03-01,15927000,-2436000,-10392000,0,170369000,1.97
938,3779,2013-03-01,-12694000,19758000,-10392000,-125000,167459000,-1.99
964,3779,2014-03-01,-50167000,1255000,-10392000,-120000,109467000,-10.75
983,3779,2015-03-01,-31175000,-160000,-6942000,-167000,71600000,-9.6
993,3779,2016-03-01,-34083000,24325000,295096000,0,356447000,-10.24
1002,3779,2017-03-01,-12482000,-96750000,63754000,-1544000,310348000,-2.71
1009,3779,2018-03-01,194480000,-292790000,55369000,-1386000,267407000,12.87
1013,3779,2019-03-01,96366000,200000,-12000000,0,351973000,7.22
1014,3779,2020-03-01,81202000,-2176000,-47000000,-1000000,384000000,6.41
1052,3779,2021-03-01,30992000,-248000,-,-348000,414744000,2.94
1051,3779,2022-03-01,-18385000,-626000,-,-626000,395732000,-1.96
1038,3779,2023-03-01,-127344000,668631000,198577000,-14589000,1138308000,-7.88
1017,3779,2024-03-01,-402015000,-192270000,171100000,-59058000,747639000,-25.32
1066,3779,2025-03-01,13377000,355983000,99388000,-33211000,1196968000,1.01

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1129,4575,2010-06-01,-555221000,557738000,1417839000,-19623000,1953936000,-374.3
1176,4575,2011-06-01,-646104000,-58610000,-95000,-124971000,1188092000,-
1219,4575,2012-06-01,-1016944000,699798000,-39000,0,856548000,-
1270,4575,2013-06-01,-780401000,459000,377189000,0,463109000,-
1320,4575,2014-06-01,-250382000,-1623000,109644000,-1757000,323354000,-
1369,4575,2015-06-01,-309508000,-530000,856042000,-530000,885355000,-507.74
1410,4575,2016-06-01,-417259000,-13390000,375152000,-13390000,815110000,-396.47
1461,4575,2017-06-01,-313109000,-300000,380828000,-300000,889368000,-285.03
1514,4575,2018-06-01,-429434000,-102000,7542000,0,466277000,-390.39
1534,4575,2019-06-01,-383671000,-,683192000,-,763674000,-332.04
1531,4575,2020-06-01,-552921000,-72000,901659000,-,1112334000,-502.66
1563,4575,2021-06-01,-688572000,-,728800000,-,1154754000,-632.04
1552,4575,2022-06-01,-719814000,182000,282751000,-,737775000,-
1531,4575,2023-06-01,-1398936000,-,2272621000,-,1617795000,-
1499,4575,2024-06-01,-1280192000,-,1538270000,-,1888200000,-
1572,4575,2025-06-01,-771454000,122000,1748929000,-,2827879000,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1976,6620,2012-03-01,425000000,-184000000,-299000000,0,151000000,4.93
2062,6620,2013-03-01,395000000,-112000000,-304000000,-34000000,147000000,7.31
2140,6620,2014-03-01,482000000,85000000,0,-20000000,761000000,8.61
2207,6620,2015-03-01,-25000000,206000000,49000000,-1000000,1082000000,-1.11
2260,6620,2016-03-01,612000000,-490000000,-24000000,-42000000,1122000000,44.84
2331,6620,2017-03-01,-135000000,446000000,-25000000,0,1303000000,-10.93
2398,6620,2018-03-01,990000000,425000000,-782000000,-1000000,1954000000,73.66
2459,6620,2019-03-01,665000000,-8676000000,7476000000,-3000000,1390000000,45.39
2499,6620,2020-03-01,1013000000,-179000000,-,-3000000,2212000000,68.03
2537,6620,2021-03-01,947000000,-375000000,-,-1000000,2800000000,58.49
2514,6620,2022-03-01,539000000,-874000000,-,-1000000,2574000000,38.31
2476,6620,2023-03-01,630000000,-334000000,-199000000,-209000000,2709000000,47.76
2416,6620,2024-03-01,744000000,-258000000,-,-42000000,3261000000,65.44
2522,6620,2025-03-01,473000000,-530000000,-,-343000000,3359000000,45.92

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2832,8893,2010-03-01,4691863000,129995000,-6514341000,-4117000,631926000,20.57
2906,8893,2011-03-01,1721851000,627586000,-1658732000,-8023000,1331196000,17.68
2989,8893,2012-03-01,2560096000,2800000,-2237503000,0,1656590000,18.56
3083,8893,2013-03-01,-1631965000,13744000,880379000,-29013000,901682000,-14.98
3171,8893,2014-03-01,954771000,-21990000,-252528000,-3282000,1581935000,8.88
3260,8893,2015-03-01,3253831000,38813000,-2341932000,-5205000,2532648000,35.25
3354,8893,2016-03-01,-886518000,-86187000,1185483000,-85891000,2745425000,-9.21
3464,8893,2017-03-01,-705842000,-351175000,1192749000,-292710000,2881157000,-6.25
3555,8893,2018-03-01,-4224154000,-441460000,5499391000,-306794000,3714933000,-28.17
3626,8893,2019-03-01,-32873000,-191344000,700387000,-21658000,4191103000,-0.25
3663,8893,2020-03-01,-2030521000,-25428000,2812728000,-40744000,4947881000,-12.01
3678,8893,2021-03-01,2322971000,-139816000,-2197251000,-6559000,4933785000,14.71
3642,8893,2022-03-01,4540447000,168461000,-2612840000,-721000,7029853000,23.32
3590,8893,2023-03-01,-2932333000,-64579000,2887728000,-31312000,6920669000,-13.89
3637,8893,2023-03-01,-2932333000,-64579000,2887728000,-31312000,6920669000,-13.89

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2961,9318,2010-03-01,597538000,-496792000,-152514000,-427658000,1311381000,7.21
3036,9318,2011-03-01,-594570000,1094742000,-1455168000,-30999000,357364000,-15.84
3119,9318,2012-03-01,785961000,29292000,55077000,0,1227440000,19.57
3213,9318,2013-03-01,-372336000,-524437000,916984000,-7239000,1248251000,-14.11
3306,9318,2014-03-01,-522087000,-190339000,81522000,-8829000,617880000,-15.02
3402,9318,2015-03-01,-508437000,-12788000,1805053000,-858000,1898648000,-18.4
3497,9318,2016-03-01,-1407527000,-581648000,1245025000,-13262000,1142453000,-50.7
3609,9318,2017-03-01,-251852000,-215181000,-106799000,0,567945000,-9.38
3723,9318,2018-03-01,-1065850000,99335000,1304214000,-72165000,902034000,-338.19
3807,9318,2019-03-01,-354524000,-350544000,57860000,-395000000,232912000,-68.44
3854,9318,2020-03-01,-116762000,238766000,-82324000,-12000000,271189000,-13.49
3871,9318,2021-03-01,-1995329000,-834423000,3034992000,-9000000,474217000,-282.21
3834,9318,2022-03-01,338396000,-668387000,472057000,-135000000,624986000,31.4
3778,9318,2023-03-01,248006000,-6260000,-,-24053000,868325000,65.05
3826,9318,2025-03-01,-359690000,-53008000,105000000,-3324000,428002000,-76.51

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3083,9674,2010-03-01,202035000,-7351000,-143353000,-7531000,212144000,12.61
3161,9674,2011-03-01,-179387000,-252641000,380911000,-120000,161026000,-18.53
3248,9674,2012-03-01,671925000,1679684000,-2382394000,0,101521000,217.7
3342,9674,2013-03-01,98541000,-45445000,-59981000,-5391000,94637000,32.44
3437,9674,2014-03-01,84185000,-77260000,-47279000,-2250000,54283000,22.98
3535,9674,2015-03-01,267895000,-391593000,296016000,-,226602000,69.05
3632,9674,2016-03-01,32501000,12614000,-122765000,-2744000,126215000,5.17
3746,9674,2017-03-01,115380000,2855000,-104105000,0,140345000,12.95
3862,9674,2018-03-01,47461000,-1830000,-84793000,-4830000,101183000,5.62
3965,9674,2019-03-01,81092000,354000,-53297000,-106000000,129332000,10.1
4021,9674,2020-03-01,96776000,11163000,-122651000,-3667000,114620000,13.77
4036,9674,2021-03-01,-6471000,-8488000,229794000,-10912000,329455000,-1.09
3995,9674,2022-03-01,72129000,-144361000,-97070000,-141532000,160153000,11.21
3936,9674,2023-03-01,-6580000,-37768000,-30024000,-38788000,85778000,-1.26
3986,9674,2023-03-01,-6580000,-37768000,-30024000,-38788000,85778000,-1.26

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3147,9787,2010-02-01,7031000000,-1966000000,-4169000000,-912000000,7873000000,5.01
3225,9787,2011-02-01,6808000000,-3000000000,-1321000000,-792000000,12317000000,3.98
3312,9787,2012-02-01,9639000000,-10051000000,-2722000000,0,9179000000,4.39
3406,9787,2013-02-01,-4358000000,7086000000,-2257000000,-,9676000000,-1.75
3501,9787,2014-02-01,21359000000,-16632000000,-2475000000,-,12028000000,8.32
3599,9787,2015-02-01,17234000000,-11365000000,-2594000000,-,15476000000,6.49
3696,9787,2016-02-01,10303000000,-3255000000,-2821000000,-,19473000000,3.71
3809,9787,2017-02-01,11703000000,2233000000,-2400000000,-,31004000000,4
3926,9787,2018-02-01,13568000000,-2666000000,-3264000000,-,38722000000,4.64
4029,9787,2019-02-01,12373000000,12256000000,-19686000000,-,43437000000,4.08
4085,9787,2020-02-01,7371000000,13838000000,-3392000000,-2017000000,61151000000,2.39
4099,9787,2021-02-01,10403000000,-7325000000,-5324000000,-2480000000,58937000000,3.47
4055,9787,2022-02-01,12598000000,-386000000,-4572000000,-3588000000,67520000000,3.97
3995,9787,2023-02-01,8895000000,-10715000000,-6181000000,-3196000000,59996000000,2.93
3887,9787,2024-02-01,18518000000,-4319000000,-6922000000,-3687000000,67714000000,5.7
4045,9787,2025-02-01,13793000000,-3612000000,-7208000000,-3150000000,71204000000,4.08

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
45,1757,2010-03-01,-1262166000,-74994000,1326739000,-58800000,322315000,-245.27
47,1757,2011-03-01,-176960000,-525891000,1153787000,-631404000,773251000,-46.28
53,1757,2012-03-01,-821179000,731031000,-3611000,-563000,679491000,-275.38
56,1757,2013-03-01,-273710000,12312000,-2408000,0,415685000,-137.19
58,1757,2014-03-01,-610252000,-155943000,953516000,0,603005000,-312.61
59,1757,2015-03-01,-274582000,-211000,387000,-211000,328598000,-33.11
62,1757,2016-03-01,284235000,-377234000,1658872000,-8622000,1894472000,62.19
62,1757,2017-03-01,-1274659000,-18182000,659723000,-4404000,1261353000,-210.92
64,1757,2018-03-01,-737963000,66770000,732513000,-4804000,1322673000,-37.35
66,1757,2019-03-01,-547364000,-528959000,151608000,-10066000,397957000,-23.99
73,1757,2020-03-01,-233005000,13152000,534525000,-183085000,712629000,-10.26
86,1757,2021-03-01,-545029000,-394736000,997228000,-80319000,770092000,-41
82,1757,2022-03-01,-1196272000,-14182000,532283000,-7174000,91921000,-41.99
81,1757,2023-03-01,57566000,-20405000,-61974000,-3338000,67107000,1.34
79,1757,2024-03-01,-804304000,-497798000,1467140000,-38738000,232144000,-50.89
84,1757,2025-03-01,-1038905000,-76955000,900157000,-29352000,16439000,-58.2

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
641,3195,2011-12-01,-,-,-,-,25799000,-
658,3195,2012-12-01,37839000,-9530000,28500000,-3520000,82608000,1.33
665,3195,2013-12-01,-144431000,357000,130177000,0,68711000,-3.94
668,3195,2014-12-01,-171576000,-8022000,199010000,-7381000,88271000,-3.89
674,3195,2015-10-01,86956000,-20094000,853142000,-6842000,1009512000,2
680,3195,2016-10-01,-251490000,-9837000,2934000,-11585000,734692000,-3.87
687,3195,2017-10-01,193514000,13570000,-2439000,-14228000,954041000,2.54
694,3195,2018-10-01,-248415000,-258684000,258222000,-10597000,700146000,-2.83
701,3195,2019-10-01,-118081000,-172909000,167009000,-84000000,570889000,-1.22
709,3195,2020-10-01,764891000,-111910000,56855000,-139000000,1269690000,6.07
752,3195,2021-10-01,-432319000,-71092000,-23753000,-68955000,790354000,-3.27
751,3195,2022-10-01,177513000,-87345000,401078000,-88527000,1349618000,1.11
742,3195,2023-10-01,119283000,-319920000,-236981000,-83138000,893038000,0.79
728,3195,2024-10-01,261265000,78483000,10325000,-78304000,1206743000,1.61
751,3195,2024-10-01,261265000,78483000,10325000,-78304000,1206743000,1.61

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
643,3237,2010-03-01,-369631000,28941000,-37353000,-5418000,210315000,-258.09
655,3237,2011-03-01,956983000,7345000,-996419000,-259000,178223000,40.1
677,3237,2012-03-01,-263853000,-1157456000,1321631000,-,78545000,-15.5
684,3237,2013-03-01,-1857506000,-4657000,2048295000,0,264677000,-156.83
687,3237,2014-03-01,748783000,-20981000,-612779000,-980000,379700000,25.09
693,3237,2015-03-01,3019607000,-3255000,-2236642000,-1305000,1159409000,47.67
700,3237,2016-03-01,-2239000,-1186338000,1161938000,-7777000,1132769000,-0.1
707,3237,2017-03-01,-360228000,-972717000,1415313000,-5136000,1215137000,-13.13
714,3237,2018-03-01,1265232000,37406000,-788051000,0,1729724000,48.22
720,3237,2019-03-01,527711000,508898000,-685481000,-5890000,2080853000,19.17
727,3237,2020-03-01,-1280498000,-102172000,-80362000,-2512000,619677000,-109.03
771,3237,2021-03-01,485239000,67633000,-301981000,-36063000,871079000,41.26
770,3237,2022-03-01,1456016000,-64650000,-1031338000,-9670000,1233959000,61.92
761,3237,2023-03-01,-587342000,-148747000,-47598000,-57130000,452415000,-98.19
745,3237,2024-03-01,281367000,34536000,121995000,-15151000,890040000,21.77
770,3237,2025-03-01,-391619000,-238399000,276309000,-4012000,535806000,-47.47

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
992,3917,2012-07-01,-,-,-,-,56224000,-
1016,3917,2013-07-01,29843000,-6945000,200284000,0,279406000,11.61
1041,3917,2014-07-01,2090000,-37490000,83544000,-40449000,327551000,0.44
1061,3917,2015-07-01,106509000,-46811000,330648000,-46811000,717897000,14.3
1071,3917,2016-07-01,28573000,-92623000,2780000,-60080000,656627000,2.32
1080,3917,2017-07-01,294638000,-67498000,7477000,-67448000,891245000,19.73
1087,3917,2018-07-01,-24641000,-200741000,1371670000,-105371000,2037533000,-1.6
1091,3917,2019-03-01,193485000,-1680311000,143108000,-175492000,698706000,5.93
1090,3917,2020-03-01,298997000,-213881000,309152000,-242633000,1106909000,5.6
1128,3917,2021-03-01,508867000,-498857000,323166000,-161005000,1440086000,11.66
1126,3917,2022-03-01,198155000,-198157000,-6391000,-147906000,1433692000,3.65
1112,3917,2023-03-01,364312000,-660903000,716736000,-453962000,1853838000,6.72
1089,3917,2024-03-01,1301284000,-489241000,205852000,-358674000,2871732000,22.78
1143,3917,2025-03-01,53911000,-581951000,395235000,-529262000,2738928000,0.8

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1134,4582,2010-12-01,-753971000,-115633000,662832000,-14157000,3915765000,-52
1181,4582,2011-12-01,-2074057000,-117356000,4610820000,-12362000,6310978000,-110.17
1225,4582,2012-12-01,-1658588000,-410563000,-719000,-3048000,4240022000,-84.83
1276,4582,2013-12-01,-1677348000,-1332254000,4056658000,0,5294137000,-109.48
1326,4582,2014-12-01,-1266174000,314413000,543700000,-108596000,5092075000,-64.77
1375,4582,2015-12-01,-2271686000,1489141000,-2632000,-23781000,4261438000,-117.51
1416,4582,2016-12-01,-1960089000,-43836000,3658177000,-27912000,5719325000,-82.77
1467,4582,2017-12-01,-3816793000,-77507000,1164230000,-57021000,2947059000,-110.82
1520,4582,2018-12-01,-2324547000,-26180000,4272056000,-39769000,4821355000,-60.61
1540,4582,2019-12-01,-4350738000,-216462000,3740045000,-225773000,3910830000,-153.32
1537,4582,2020-12-01,-4122483000,-160309000,4222090000,-148932000,3848626000,-138.01
1569,4582,2021-12-01,140042000,-70849000,-71922000,-63837000,3860106000,1.7
1558,4582,2022-12-01,1614241000,-47127000,627985000,-47559000,6282554000,16.13
1537,4582,2023-12-01,-194685000,-376696000,680160000,-232797000,6517007000,-3.48
1504,4582,2024-12-01,-3416000000,-3000000,708000000,-46877000,3963580000,-139.31
1578,4582,2024-12-01,-3416518000,-3955000,708472000,-46878000,3963580000,-139.28

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1668,6027,2012-03-01,-,-,-,-,12740000,-
1723,6027,2013-03-01,-11145000,-,109968000,0,111563000,-6.99
1776,6027,2014-03-01,1063000,-17469000,30994000,-17469000,126152000,0.36
1826,6027,2015-03-01,142118000,-64976000,603837000,-51617000,807132000,20.59
1873,6027,2016-03-01,267517000,-109692000,-79707000,-63906000,885249000,23.99
1937,6027,2017-03-01,235932000,-88505000,-58418000,-91558000,974258000,14.24
1996,6027,2018-03-01,393563000,-139158000,28177000,-134934000,1256841000,16.97
2055,6027,2019-03-01,299496000,-165682000,5166000,-149464000,1395821000,9.56
2098,6027,2020-03-01,142233000,-341399000,1132000,-219912000,1197788000,3.44
2139,6027,2021-03-01,569975000,-310719000,936000,-295724000,1457980000,10.72
2123,6027,2022-03-01,1155538000,-436112000,-500929000,-409900000,1676476000,16.8
2095,6027,2023-03-01,458394000,-517219000,28940000,-464814000,1646591000,5.26
2045,6027,2024-03-01,1160249000,-2103683000,2765908000,-709004000,3469066000,10.25
2139,6027,2025-03-01,1368466000,-625133000,-41276000,-679778000,4171122000,9.72

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1684,6048,2012-08-01,-,-,-,-,82181000,-
1741,6048,2013-08-01,87304000,1446000,-852000,0,170080000,26.03
1794,6048,2014-08-01,145016000,-13161000,-852000,-7509000,301083000,26.6
1845,6048,2015-08-01,257321000,-6551000,1227377000,-7974000,1779230000,27.97
1892,6048,2016-08-01,398088000,-69108000,601000,-23664000,2108812000,26.7
1956,6048,2017-08-01,432960000,-337949000,-10651000,-6704000,2193172000,20.51
2015,6048,2018-08-01,452150000,-188505000,-10085000,-55947000,2446731000,18.5
2074,6048,2019-08-01,190370000,-237688000,489000,-11651000,2399903000,8.73
2117,6048,2020-08-01,78856000,-35647000,-37609000,-1036000,2404723000,4.1
2158,6048,2021-08-01,218333000,8106000,-66227000,-2546000,2569223000,11.89
2142,6048,2022-08-01,38513000,-58175000,-33007000,-3944000,2521777000,1.71
2114,6048,2023-08-01,136382000,-97772000,-16594000,-5427000,2544752000,5.62
2063,6048,2024-08-01,-100707000,-68787000,11412000,-2811000,2376748000,-4.45
2158,6048,2024-08-01,-100707000,-68787000,11412000,-2811000,2376748000,-4.45

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2347,7776,2010-12-01,-1125022000,-916001000,2045392000,-35388000,1019223000,-1679.76
2417,7776,2011-12-01,-1274380000,782702000,100679000,-14772000,601136000,-1479.72
2495,7776,2012-12-01,-769994000,-30043000,429065000,-9320000,239525000,-1024.54
2588,7776,2013-12-01,-499510000,7233000,2886416000,0,2688727000,-472.27
2670,7776,2014-12-01,-609144000,-1491000,838541000,-1692000,2921463000,-705.64
2757,7776,2015-12-01,-675669000,-275003000,151697000,-245132000,2067607000,-349.87
2848,7776,2016-12-01,-852027000,-342997000,232650000,-343622000,1056389000,-846.33
2957,7776,2017-12-01,-747173000,-5004000,1040707000,-5004000,1350223000,-878.4
3047,7776,2018-12-01,-306954000,-1122000,24648000,-1122000,1057893000,-29.91
3118,7776,2019-12-01,-577511000,-133274000,721248000,-14952000,1065072000,-209.38
3161,7776,2020-12-01,-700678000,-12615000,1102928000,-16850000,1460867000,-351.28
3190,7776,2021-12-01,-817152000,-110439000,396885000,-96359000,930945000,-505.44
3166,7776,2022-12-01,-718006000,61728000,881814000,-4054000,1072210000,-567.92
3125,7776,2023-12-01,-779435000,56315000,1814201000,-21632000,2163292000,-409.94
3051,7776,2024-12-01,-866000000,-18000000,855000000,-18367000,2134299000,-448.7
3171,7776,2024-12-01,-866104000,-18367000,855479000,-18367000,2134299000,-448.12

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2811,8836,2010-03-01,1164000000,77000000,-461000000,-1000000,1082000000,56.59
2885,8836,2011-03-01,145000000,-46000000,-400000000,-54000000,781000000,25.71
2968,8836,2012-03-01,55000000,-4000000,-220000000,-3000000,612000000,14.47
3062,8836,2013-03-01,426000000,8000000,-37000000,0,1009000000,76.07
3150,8836,2014-03-01,389000000,-14000000,-232000000,-1000000,1151000000,65.71
3239,8836,2015-03-01,141000000,-15000000,-32000000,0,1244000000,33.25
3333,8836,2016-03-01,-35000000,9000000,-32000000,0,1186000000,-7.83
3443,8836,2017-03-01,-72000000,38000000,-717000000,-5000000,435000000,-29.27
3534,8836,2018-03-01,243000000,1204000000,-667000000,0,1215000000,47.18
3605,8836,2019-03-01,-146000000,-14000000,-32000000,-4000000,1022000000,-103.55
3643,8836,2020-03-01,206000000,-392000000,-192000000,-646000000,644000000,70.07
3658,8836,2021-03-01,81000000,86000000,-32000000,0,780000000,22.5
3622,8836,2022-03-01,-30000000,35000000,-32000000,-,752000000,-8.29
3571,8836,2023-03-01,12000000,146000000,-32000000,-,879000000,3.54
3473,8836,2024-03-01,-18000000,58000000,-32000000,-2000000,886000000,-5.16
3617,8836,2025-03-01,58000000,8000000,-491000000,-2000000,462000000,15.14

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3156,9810,2010-03-01,18708000000,-2924000000,-40232000000,-,16297000000,2.03
3234,9810,2011-03-01,3158000000,-1562000000,3092000000,-,20305000000,0.29
3321,9810,2012-03-01,19859000000,-2363000000,-18391000000,-,19621000000,1.83
3415,9810,2013-03-01,3891000000,97000000,-7473000000,0,19030000000,0.38
3510,9810,2014-03-01,-15463000000,-9088000000,18650000000,-6692000000,26027000000,-1.07
3608,9810,2015-03-01,5234000000,-11568000000,4027000000,-6631000000,27359000000,0.25
3705,9810,2016-03-01,146000000,-3054000000,-4855000000,-4099000000,18904000000,0.01
3818,9810,2017-03-01,22282000000,-4043000000,-14788000000,-4297000000,21889000000,1.21
3935,9810,2018-03-01,-29528000000,-8842000000,44064000000,-5279000000,27879000000,-1.43
4038,9810,2019-03-01,9386000000,-76339000000,63812000000,-6300000000,24063000000,0.37
4094,9810,2020-03-01,39732000000,-5736000000,-32679000000,-8000000000,25314000000,1.6
4106,9810,2021-03-01,47255000000,-6451000000,-9993000000,-6000000000,55881000000,3.72
4062,9810,2022-03-01,-113001000000,-5327000000,100633000000,-5300000000,28818000000,-6.06
4002,9810,2023-03-01,6959000000,-2218000000,-9443000000,-5427000000,26583000000,0.33
4052,9810,2023-03-01,6959000000,-2218000000,-9443000000,-5427000000,26583000000,0.33

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3220,9941,2010-09-01,-2860091000,166346000,2869820000,-8975000,868083000,-7.07
3298,9941,2011-09-01,3038483000,254334000,-1089421000,-55384000,3064085000,10.7
3385,9941,2012-09-01,526958000,244274000,-807929000,-55298000,3022555000,2.74
3479,9941,2013-09-01,413554000,120490000,-106321000,0,3449984000,2.05
3574,9941,2014-09-01,-2617108000,29262000,-306942000,-14418000,558143000,-11.13
3672,9941,2015-09-01,2334269000,78559000,-306918000,-12377000,2663185000,9.52
3769,9941,2016-09-01,191936000,57173000,-215744000,-8328000,2686871000,0.95
3882,9941,2017-09-01,-325996000,-4096000,-182926000,-8497000,2175029000,-1.37
3999,9941,2018-09-01,1439931000,-7251000,-424596000,-9917000,3183573000,7.18
4101,9941,2019-09-01,636396000,7404000,-980804000,-7339000,2846384000,3.26
4155,9941,2020-09-01,-547123000,-21642000,-806864000,-14342000,1470162000,-3.7
4167,9941,2021-09-01,648187000,6072000,-243066000,-16302000,1881724000,3.95
4121,9941,2022-09-01,-1677019000,-5772000,121193000,-160000,320126000,-7.97
4060,9941,2023-09-01,602773000,-71415000,-180374000,-669000,673149000,3.01
3950,9941,2024-09-01,51456000,-20233000,-356900000,-16928000,346864000,0.27
4110,9941,2024-09-01,51456000,-20233000,-356900000,-16928000,346864000,0.27

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
280,2330,2010-12-01,478517000,-15501000,-120287000,-149041000,5200083000,11.92
283,2330,2011-12-01,-875381000,-164046000,-270338000,-223297000,3912631000,-72.24
290,2330,2012-12-01,-755698000,-251692000,-5958000,-292976000,2901360000,-167.89
293,2330,2013-12-01,-1327668000,-316466000,-4323000,-306927000,1317851000,-287.63
295,2330,2014-12-01,-816346000,-211978000,-5544000,0,285661000,-168.84
297,2330,2015-12-01,-355666000,-134902000,589692000,-72767000,382203000,-46.99
300,2330,2016-12-01,107994000,-567803000,412284000,-88713000,334886000,11.54
300,2330,2017-12-01,-26484000,-72472000,80647000,-44231000,447891000,-0.86
303,2330,2018-12-01,24339000,-875386000,895253000,-412804000,489140000,0.62
305,2330,2019-12-01,8567000,230496000,-262210000,-19297000,466799000,0.21
310,2330,2020-12-01,112497000,187236000,282474000,-36371000,1046859000,2.79
341,2330,2021-12-01,180881000,-163985000,194973000,-35781000,1263904000,3.7
332,2330,2022-12-01,-329264000,124391000,-120040000,-16200000,941845000,-6.6
329,2330,2023-12-01,115170000,-61643000,192471000,-63767000,1190615000,2.39
322,2330,2024-12-01,163900000,-596922000,639926000,-34864000,1404029000,3.07
333,2330,2024-12-01,163900000,-596922000,639926000,-36318000,1404029000,3.07

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
311,2391,2010-07-01,559457000,-307017000,-138925000,-43004000,1102294000,21.98
314,2391,2011-07-01,570485000,-179705000,-185175000,-59000,1307899000,21.74
321,2391,2012-07-01,586791000,-11104000,-198645000,-7752000,1684941000,21.93
324,2391,2013-07-01,525612000,-191283000,-205089000,-247000,1814180000,19.52
326,2391,2014-07-01,656032000,-350408000,-231881000,0,1887923000,23.91
329,2391,2015-07-01,613505000,-20377000,-245392000,-19131000,2235658000,21.79
332,2391,2016-07-01,603131000,-629645000,-252050000,-2328000,1957094000,20.78
332,2391,2017-07-01,713932000,-627724000,-251926000,0,1791375000,24
335,2391,2018-07-01,699167000,-459603000,-267217000,-17591000,1763722000,23.32
337,2391,2019-07-01,771683000,-195853000,-265421000,-56424000,2074130000,25.5
342,2391,2020-07-01,721800000,-292049000,-268683000,-159786000,2235197000,23.65
372,2391,2021-07-01,779947000,-243428000,-275199000,-184221000,2496518000,25.43
363,2391,2022-07-01,689046000,-214835000,-278770000,-289074000,2691958000,22.01
359,2391,2023-07-01,632219000,-470435000,-278492000,-355959000,2575250000,20.19
351,2391,2024-07-01,625487000,-267729000,-285104000,-1915000,2647903000,19.72
363,2391,2025-07-01,532000000,-19000000,-285000000,-2880000,2876065000,16.82

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
656,3261,2010-12-01,33810000,-8309000,-41484000,-,135451000,5.8
668,3261,2011-12-01,-5592000,-26643000,62936000,-,166151000,-0.85
690,3261,2012-12-01,69464000,19110000,126794000,-,381521000,5.88
697,3261,2013-12-01,-7767000,10354000,12905000,-,397012000,-0.52
700,3261,2014-12-01,549652000,772000,26396000,0,973834000,24.94
706,3261,2015-12-01,-12370000,-256444000,-17254000,-725000,687765000,-0.73
713,3261,2016-12-01,-247720000,249254000,83929000,-2155000,773228000,-12.75
720,3261,2017-12-01,-799341000,48399000,654279000,-533000,676566000,-36
727,3261,2018-12-01,-864744000,-7410000,928902000,-3499000,733313000,-35.53
733,3261,2019-12-01,-250620000,-2700000,251756000,-3368000,731749000,-9.68
740,3261,2020-12-01,-55581000,-23280000,177803000,-6305000,830690000,-3.14
783,3261,2021-12-01,845689000,-29915000,-943351000,-5042000,703113000,30.12
785,3261,2022-12-01,685810000,362439000,-107335000,-268000,1644027000,25.77
776,3261,2023-12-01,-221879000,125495000,-377329000,-8039000,1170313000,-4.82
758,3261,2024-12-01,176000000,-17000000,279000000,-10999000,1608667000,4.16
785,3261,2024-12-01,176663000,-17392000,279082000,-10999000,1608667000,4.18

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
797,3464,2013-03-01,-,-,-,-,902103000,-
804,3464,2014-03-01,-1036218000,-222670000,1198710000,0,841924000,-12.42
811,3464,2015-03-01,-2901759000,82811000,3074394000,-13325000,1097370000,-33.49
820,3464,2016-03-01,-593061000,128802000,1028909000,-28247000,1662021000,-6.28
827,3464,2017-03-01,-1964631000,22291000,2651174000,-37337000,2370856000,-16.15
834,3464,2018-03-01,-1653959000,-131315000,1794676000,-9605000,2380258000,-8.61
839,3464,2019-03-01,-2664496000,-108291000,4229598000,-17400000,3837068000,-12.37
845,3464,2020-03-01,160101000,-175845000,878975000,-18553000,4700299000,0.71
886,3464,2021-03-01,236662000,-578202000,823213000,-149336000,5181973000,0.86
888,3464,2022-03-01,127485000,28187000,2560367000,-16217000,7898014000,0.36
877,3464,2023-03-01,-9307351000,-285833000,8504176000,-21820000,6809005000,-24.98
895,3464,2023-03-01,-9307351000,-285833000,8504176000,-21820000,6809005000,-24.98

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
799,3467,2013-03-01,-,-,-,-,719270000,-
806,3467,2014-03-01,861827000,-9065000,-553902000,0,1018130000,15.7
813,3467,2015-03-01,-1339063000,-4517000,1476885000,-1376000,1151435000,-21.96
822,3467,2016-03-01,4535000,370000,627341000,-2696000,1783683000,0.05
829,3467,2017-03-01,-2125156000,-28030000,2638798000,-14223000,2269294000,-19.09
836,3467,2018-03-01,-1183679000,-30180000,1143807000,-22391000,2199242000,-8.21
841,3467,2019-03-01,-1533236000,-6622000,1791598000,-10506000,2450981000,-9.76
847,3467,2020-03-01,1368341000,-59113000,-1358690000,-33576000,2401519000,7.54
888,3467,2021-03-01,2013304000,9064000,140762000,-40263000,4564651000,9.83
890,3467,2022-03-01,-1645160000,-64490000,3157609000,-23987000,6012610000,-6.92
879,3467,2023-03-01,-2689331000,-52056000,2696591000,-81343000,5967813000,-10.4
859,3467,2024-03-01,-588499000,-493471000,1361898000,-2547000,6247740000,-2.13
897,3467,2025-03-01,-4555549000,37902000,5441216000,-13057000,7171310000,-14.82

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
802,3475,2013-10-01,-,-,-,-,375473000,-
809,3475,2014-10-01,-747302000,-10570000,1522710000,0,1140310000,-13.32
816,3475,2015-10-01,-821564000,-34005000,1295861000,-5864000,1580602000,-10.5
825,3475,2016-10-01,680337000,-16101000,-850928000,-7070000,1392252000,9.2
832,3475,2017-10-01,-5501731000,80818000,6546089000,-845000,2519052000,-55.94
839,3475,2018-10-01,5165529000,-25958000,-1843823000,0,5814176000,30.71
844,3475,2019-10-01,-2642610000,-56829000,1845236000,-40050000,4959562000,-11.3
850,3475,2020-10-01,-6112104000,-582067000,8312870000,-34100000,6578325000,-23.22
891,3475,2021-10-01,9700312000,-90794000,-8234730000,-40471000,7953516000,28.35
893,3475,2022-10-01,3482922000,-255879000,455810000,-4362000,11656753000,8.7
882,3475,2023-10-01,-33170999000,-53660000,29446035000,-31573000,8040953000,-149.48
862,3475,2024-10-01,25861747000,-701073000,-21560328000,-17504000,11641964000,43.28
900,3475,2024-10-01,25861747000,-701073000,-21560328000,-17504000,11641964000,43.28

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1056,4351,2010-12-01,-1423244000,366169000,1382055000,-1060000,957852000,-58.4
1103,4351,2011-12-01,-98671000,134455000,-213958000,-350000,662542000,-4.53
1146,4351,2012-12-01,1235465000,599512000,-957226000,-2916000,1540293000,54.47
1196,4351,2013-12-01,-1585846000,120394000,1486631000,-25680000,1561472000,-116.12
1246,4351,2014-12-01,-1319727000,54205000,729012000,0,1024963000,-40.63
1271,4351,2015-12-01,-172237000,-71678000,582050000,-226000,1363098000,-6.47
1283,4351,2016-12-01,942811000,35770000,-474918000,-3259000,1866761000,35.48
1318,4351,2017-12-01,4368951000,-42166000,-4176237000,-23808000,1837840000,209.18
1358,4351,2018-12-01,-548223000,9679000,-80452000,-12000000,1215646000,-26.89
1370,4351,2019-12-01,-955065000,-966766000,1733830000,-14179000,1027644000,-44.33
1369,4351,2020-12-01,-757910000,1189893000,61347000,-25916000,1520974000,-36.17
1403,4351,2021-12-01,-416256000,411413000,-255226000,-36932000,1260905000,-19.02
1394,4351,2022-12-01,394232000,69836000,-1067443000,-29250000,657530000,16.5
1376,4351,2023-12-01,-1797089000,173908000,1575767000,-90881000,610117000,-72.37
1346,4351,2024-12-01,637426000,-11106000,-428219000,-16462000,808217000,27.84
1416,4351,2024-12-01,637426000,-11106000,-428219000,-28839000,808217000,27.83

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1682,6045,2012-03-01,-,-,-,-,99246000,-
1738,6045,2013-03-01,65960000,-5901000,34674000,-2583000,194222000,7.13
1791,6045,2014-03-01,182252000,-,-52620000,0,324002000,8.57
1842,6045,2015-03-01,317416000,-5279000,-72022000,-1022000,564347000,8.76
1889,6045,2016-03-01,62441000,-200000000,658624000,0,1084998000,0.99
1953,6045,2017-03-01,402247000,-10335000,-28690000,0,1448095000,5.3
2012,6045,2018-03-01,208521000,-12075000,-38571000,-9181000,1599837000,2.5
2071,6045,2019-03-01,420650000,-313783000,646508000,-995000,2352612000,4.04
2114,6045,2020-03-01,-237681000,-281147000,-75021000,-25392000,1741661000,-2.5
2155,6045,2021-03-01,484706000,-31895000,363781000,-21436000,2600478000,3.92
2139,6045,2022-03-01,-84568000,-55936000,282118000,-7239000,2754168000,-3.44
2111,6045,2023-03-01,-298553000,-178196000,1017000000,-84506000,3287853000,-9.06
2060,6045,2024-03-01,626073000,-27264000,915253000,-6520000,4801435000,19
2155,6045,2025-03-01,1579167000,-87548000,-196521000,-9231000,6097636000,40.88

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2286,7624,2010-02-01,1801000000,-1614000000,-1499000000,-25000000,263000000,6.86
2356,7624,2011-02-01,-228000000,294000000,-18000000,-3000000,310000000,-0.65
2434,7624,2012-02-01,510000000,-753000000,310000000,-44000000,378000000,1.38
2527,7624,2013-02-01,365000000,175000000,-654000000,-7000000,265000000,1.01
2608,7624,2014-02-01,223000000,1283000000,-1179000000,0,599000000,0.61
2695,7624,2015-02-01,-755000000,428000000,139000000,-11000000,412000000,-1.85
2777,7624,2016-02-01,409000000,146000000,-674000000,-19000000,293000000,0.94
2879,7624,2017-02-01,466000000,-68000000,-392000000,-22000000,297000000,1.07
2968,7624,2018-02-01,48000000,-24000000,-100000000,-16000000,221000000,0.1
3038,7624,2019-02-01,-362000000,-166000000,525000000,-108000000,217000000,-0.72
3080,7624,2020-02-01,1129000000,-377000000,-782000000,-364000000,186000000,2.43
3111,7624,2021-02-01,1848000000,-579000000,-1275000000,-557000000,179000000,4.72
3089,7624,2022-02-01,92000000,-238000000,141000000,-227000000,176000000,0.21
3048,7624,2023-02-01,442000000,72000000,-518000000,-122000000,174000000,0.99
2976,7624,2024-02-01,101000000,-452000000,300000000,-394000000,125000000,0.23
3094,7624,2025-02-01,1158000000,-158000000,-1022000000,-154000000,101000000,2.66

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3180,9467,2012-03-01,-,-,-,-,348002000,-
3274,9467,2013-03-01,65456000,5359000,-31394000,-,388809000,4.5
3368,9467,2014-03-01,324079000,-2901000,2265000,0,712252000,15.84
3465,9467,2015-03-01,143121000,-53092000,1673101000,-14627000,2475383000,5.37
3561,9467,2016-03-01,379747000,-251628000,-31038000,-204464000,2572464000,11.35
3675,9467,2017-03-01,26202000,-87404000,-33228000,-94582000,2478034000,0.82
3790,9467,2018-03-01,731293000,-12567000,-43822000,-16773000,3152938000,17.36
3881,9467,2019-03-01,1052884000,-1664000,9462000,-1050000,4213620000,21.15
3937,9467,2020-03-01,437667000,-116394000,11238000,-39247000,4546132000,7.77
3953,9467,2021-03-01,1638939000,-74934000,-21668000,-19060000,6088469000,21.19
3915,9467,2022-03-01,1073594000,-37863000,-21605000,-37863000,7102594000,11.81
3856,9467,2023-03-01,1618854000,25848000,24442000,-4849000,8771740000,17.43
3752,9467,2024-03-01,1248069000,-286506000,-25963000,-73230000,9707339000,12.08
3906,9467,2025-03-01,1994440000,-162727000,28218000,-5774000,11567271000,14.64

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3080,9664,2010-03-01,-168000000,564000000,-311000000,-11546000,638000000,-3.48
3158,9664,2011-03-01,-332000000,86000000,8000000,-17835000,400000000,-7.84
3245,9664,2012-03-01,-217000000,289000000,-117000000,-1680000,355000000,-5.62
3339,9664,2013-03-01,103000000,4000000,-11000000,-2703000,451000000,2.43
3434,9664,2014-03-01,-1106000000,1732000000,-821000000,0,256000000,-179.84
3532,9664,2015-03-01,-24000000,11000000,-4000000,-,239000000,-5
3629,9664,2016-03-01,-56000000,-663000,-2000000,0,181000000,-7.53
3743,9664,2017-03-01,19000000,-724000,-1000000,-1985659000,199000000,3.69
3859,9664,2018-03-01,-127000000,-1735000000,2294000000,-4092353000,630000000,-25.3
3962,9664,2019-03-01,969000000,-189000000,-204000000,-192626000,1205000000,19.18
4018,9664,2020-03-01,-95000000,-17000000,-208000000,-17163000,884000000,-3.2
4034,9664,2021-03-01,-494000000,-747000,-148000000,-1743000,240000000,-52.61
3993,9664,2022-03-01,410000000,1000000,-214000000,-490000,438007000,19.98
3934,9664,2023-03-01,624713000,-82000,-238651000,-670000,823987000,22.89
3829,9664,2024-03-01,532000000,-41000000,-233000000,-11363000,1081874000,14.74
3984,9664,2025-03-01,-79665000,-41000000,-161015000,-44924000,799636000,-3.15

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
827,3753,2010-03-01,-136946,29041,-332399,-3016000,129242,-5.45
861,3753,2011-03-01,-308704000,72162000,818691000,-7128000,711391000,-22.49
893,3753,2012-03-01,-367892000,-16571000,-58831000,-276000,315938000,-40.22
918,3753,2013-03-01,-125825000,92336000,482112000,-,587173000,-12.62
944,3753,2014-03-01,166486000,8176000,208556000,-,974563000,8.71
963,3753,2015-03-01,-200092000,-10128000,-73237000,0,704845000,-12.56
973,3753,2016-03-01,-118127000,-66839000,-81708000,-59626000,436626000,-6.04
982,3753,2017-03-01,505547000,94768000,-213165000,-27047000,811488000,16.03
989,3753,2018-03-01,-20092000,-37650000,-129347000,-18836000,588860000,-0.95
993,3753,2019-03-01,-213914000,-37376000,-2351000,-33000000,332591000,-15.04
996,3753,2020-03-01,1101238000,-76007000,217297000,-66000000,1575694000,24.38
1034,3753,2021-03-01,-1490676000,-35108000,326918000,-22000000,375721000,-43.78
1033,3753,2022-03-01,552874000,-39492000,-214467000,-39000000,676235000,17.01
1020,3753,2023-03-01,110856000,-127632000,133382000,-141000000,788139000,3.68
999,3753,2024-03-01,62496000,-297945000,-2788000,-358000000,550443000,1.95
1048,3753,2025-03-01,-75631000,-349330000,331626000,-349330000,453606000,-2.47

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1038,3940,2013-12-01,-,-,-,-,923123000,-
1063,3940,2014-12-01,211504000,-299380000,-,-1420000,835248000,10.09
1083,3940,2015-12-01,99850000,329040000,-,0,1264137000,4.4
1094,3940,2016-12-01,197826000,-9614000,376435000,-13780000,1828785000,8.1
1103,3940,2017-12-01,361828000,-4598000,-170603000,-4598000,2015412000,14.28
1110,3940,2018-12-01,230685000,-405121000,-105999000,0,1734978000,9.08
1114,3940,2019-12-01,187172000,-24923000,-137331000,0,1759895000,7.76
1112,3940,2020-12-01,206819000,-549000,-118804000,-549000,1847362000,8.14
1150,3940,2021-12-01,159651000,-8968000,-150014000,-11670000,1848030000,5.72
1148,3940,2022-12-01,445841000,-77359000,-147702000,-57164000,2068810000,16.54
1133,3940,2023-12-01,349792000,456740000,-209456000,-3436000,2665886000,11.87
1110,3940,2024-12-01,420000000,-9000000,-223000000,-7964000,2854150000,12.82
1165,3940,2024-12-01,420117000,-8889000,-222964000,-7964000,2854150000,12.83

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1105,3997,2014-12-01,-,-,-,-,321301000,-
1129,3997,2015-12-01,113936000,6542000,11634000,0,453415000,12.54
1140,3997,2016-12-01,111000000,-15121000,-43573000,-4662000,505720000,9.45
1150,3997,2017-12-01,108049000,50477000,436428000,-3871000,1100675000,7.8
1157,3997,2018-12-01,426489000,-102201000,-105687000,-3430000,1319276000,21.2
1161,3997,2019-12-01,-451979000,-448385000,3355000,-402353000,422266000,-22.72
1160,3997,2020-12-01,477776000,-54838000,-9208000,-54669000,835997000,22.64
1197,3997,2021-12-01,53228000,-78583000,-8095000,-29014000,802547000,2.08
1192,3997,2022-12-01,399769000,-252604000,-261419000,-5434000,688292000,12.22
1177,3997,2023-12-01,-207108000,-404751000,514612000,-264605000,591045000,-5.52
1154,3997,2024-12-01,278000000,-397000000,307000000,-414686000,780141000,6.06
1209,3997,2024-12-01,278455000,-397299000,307939000,-157329000,780141000,6.06

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1409,5386,2010-03-01,914821000,-157485000,-592777000,-131385000,922172000,9.21
1458,5386,2011-03-01,1118470000,-145272000,-952801000,-5244000,942569000,10.51
1506,5386,2012-03-01,1774103000,-142196000,-1146822000,-25865000,1427654000,15.19
1560,5386,2013-03-01,1286925000,-276129000,-841115000,-41326000,1597334000,12.21
1612,5386,2014-03-01,855473000,-399825000,-706361000,-490000,1346620000,7.28
1661,5386,2015-03-01,-28663000,-400721000,383455000,0,1300690000,-0.31
1708,5386,2016-03-01,522436000,-112309000,-346030000,-,1364787000,5.79
1771,5386,2017-03-01,1233144000,-144682000,-717096000,-,1736152000,13.74
1829,5386,2018-03-01,658883000,-44960000,-543114000,-,1806961000,8.17
1887,5386,2019-03-01,597828000,-26499000,-576019000,-26000000,1802270000,7.2
1893,5386,2020-03-01,426867000,-45987000,-590160000,-72000000,1592989000,5.14
1923,5386,2021-03-01,494665000,-52527000,-101640000,-83000000,1933487000,6.79
1908,5386,2022-03-01,216815000,-144508000,-390613000,-242000000,1615180000,2.8
1885,5386,2023-03-01,-52289000,-335731000,-55573000,-270000000,1171585000,-0.73
1837,5386,2024-03-01,661417000,-156243000,-38373000,-80000000,1638385000,10.38
1927,5386,2025-03-01,576047000,-439911000,-334362000,-191000000,1440158000,8.45

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1836,6194,2013-09-01,-,-,-,-,154310000,-
1893,6194,2014-09-01,120895000,-15570000,623000,-14023000,260259000,21.47
1944,6194,2015-09-01,91530000,-3481000,-33026000,0,315281000,10.93
1992,6194,2016-09-01,348081000,-24527000,624947000,0,1263783000,26.52
2056,6194,2017-09-01,450811000,-98538000,1304000,-98537000,1617360000,24.63
2115,6194,2018-09-01,506958000,-25113000,1278713000,-25113000,3377918000,21.98
2173,6194,2019-09-01,665374000,-28823000,4114000,-18823000,4018583000,20.6
2214,6194,2020-09-01,401149000,-554350000,1245000,-238062000,3866628000,11.69
2252,6194,2021-09-01,1091757000,-173938000,540000,-35513000,4834986000,24.46
2235,6194,2022-09-01,704683000,-587878000,-2030000,-27642000,4949761000,10.7
2203,6194,2023-09-01,944232000,-163749000,-1006248000,-11184000,4725309000,12.17
2148,6194,2024-09-01,1283690000,-836996000,-809791000,-8248000,4362212000,14.93
2247,6194,2024-09-01,1283690000,-836996000,-809791000,-8248000,4362212000,14.93

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3135,9761,2010-03-01,769438000,-456608000,-1632774000,-,1163006000,7.2
3213,9761,2011-03-01,303421000,-950748000,716234000,-,1208641000,3.09
3300,9761,2012-03-01,2749542000,-1958301000,1504961000,-24649000,3504842000,18.86
3394,9761,2013-03-01,110341000,-1363615000,-834059000,-110472000,1455916000,0.85
3489,9761,2014-03-01,1074330000,-1328850000,187132000,-26005000,1448998000,8.68
3587,9761,2015-03-01,2143197000,-1379476000,-351703000,0,1905226000,15.52
3684,9761,2016-03-01,819705000,-1490690000,363566000,-,1565427000,5.93
3797,9761,2017-03-01,845677000,-2066048000,888565000,-,1186493000,5.95
3914,9761,2018-03-01,2755338000,-2053432000,157617000,-,2054514000,18.42
4017,9761,2019-03-01,521959000,-2680346000,1665741000,-2358000000,1538389000,3.56
4073,9761,2020-03-01,1863011000,-2367215000,809358000,-2813000000,1839247000,12.9
4087,9761,2021-03-01,2103636000,-1970583000,-362417000,-1900000000,1613309000,13.94
4043,9761,2022-03-01,2421644000,-1020178000,-624123000,-2228000000,2449172000,14.75
3983,9761,2023-03-01,2402918000,-1927903000,-388617000,-1965000000,2567886000,15.27
3875,9761,2024-03-01,1191335000,-3589942000,1588300000,-2974000000,1792623000,6.94
4033,9761,2025-03-01,1028372000,-1822460000,958491000,-2416000000,1972101000,5.59

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
817,3727,2010-12-01,1396846000,542878000,-30082000,-984050000,9578874000,14.79
851,3727,2011-12-01,1998724000,-2690776000,-9516000,-773073000,8808019000,19.03
884,3727,2012-12-01,-350607000,-2233091000,-27698000,-1207445000,6309224000,-4.67
909,3727,2013-12-01,-691777000,-1107003000,-50327000,-1346891000,4687666000,-11.98
935,3727,2014-12-01,-1019280000,-118033000,-40516000,-675152000,3715028000,-46.92
954,3727,2015-12-01,-2416870000,-158998000,290884000,-48262000,1427438000,-157.67
964,3727,2016-12-01,-1203149000,24760000,873215000,0,1103982000,-78.81
973,3727,2017-12-01,-363908000,91438000,-14594000,-,811196000,-65.26
980,3727,2018-12-01,-491136000,3132000,709381000,0,1030568000,-145.79
984,3727,2019-12-01,106232000,-8386000,138130000,-811000,1413246000,12.59
987,3727,2020-12-01,-285901000,-14004000,197769000,-2502000,1307194000,-8.45
1025,3727,2021-12-01,59862000,-34746000,3064000,-16849000,1341244000,1.71
1025,3727,2022-12-01,251808000,-17864000,-111895000,-235000,1471564000,7.2
1012,3727,2023-12-01,435028000,-82685000,-17843000,-2605000,1807658000,11.57
991,3727,2024-12-01,316586000,-1059146000,258594000,-776000,1323558000,8.54
1038,3727,2024-12-01,316586000,-1059146000,258594000,-776000,1323558000,8.54

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1081,3963,2014-03-01,-,-,-,-,209032000,-
1101,3963,2015-03-01,119015000,-12609000,-,-,315438000,18.31
1112,3963,2016-03-01,261429000,-4849000,-,0,572017000,30.79
1121,3963,2017-03-01,370128000,7890000,949371000,-205000,1899409000,35.17
1128,3963,2018-03-01,444221000,-153081000,-17002000,-4947000,2173546000,32.25
1132,3963,2019-03-01,449774000,-103239000,-198857000,-7237000,2321224000,25.16
1131,3963,2020-03-01,397592000,-67400000,7470000,-39336000,2658887000,19.74
1169,3963,2021-03-01,-405977000,-28039000,-51147000,-4000000,2173723000,-34.16
1165,3963,2022-03-01,744386000,119742000,-,-312000,3037851000,38.01
1150,3963,2023-03-01,850374000,-4719000,-,-18605000,3883507000,29.02
1127,3963,2024-03-01,742197000,-530536000,49067000,-20394000,4144235000,20.6
1182,3963,2025-03-01,439092000,-10584000,374951000,-2258000,4947696000,11.11

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1096,3986,2014-06-01,-,-,-,-,269122000,-
1118,3986,2015-06-01,27184000,490000,-3031000,-,293765000,3.08
1129,3986,2016-06-01,93463000,-40258000,-2755000,0,344215000,9.12
1139,3986,2017-06-01,111770000,269000,419914000,-9718000,876168000,10.13
1146,3986,2018-06-01,96281000,29995000,30030000,0,1032474000,8.5
1150,3986,2019-06-01,184215000,-1240000,-18337000,-280000,1197112000,16.32
1149,3986,2020-06-01,146657000,-5000,-18593000,0,1325171000,12.68
1186,3986,2021-06-01,112769000,-5000,-18526000,-,1419408000,9.67
1181,3986,2022-06-01,194969000,-1000,-18483000,-,1595894000,15.43
1166,3986,2023-06-01,159962000,-41508000,-42202000,0,1672146000,11.6
1143,3986,2024-06-01,239850000,-38926000,-18217000,-63101000,1854853000,17.24
1198,3986,2025-06-01,115000000,-1493000000,-23000000,-3340000,454049000,8.35

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2193,6579,2015-03-01,-,-,-,-,74922000,-
2245,6579,2016-03-01,-55193000,-126046000,407642000,0,301324000,-13.59
2313,6579,2017-03-01,44632000,88608000,-1008000,-11816000,437658000,4.89
2378,6579,2018-03-01,275766000,-1419000,-44000,-1419000,711960000,17.18
2438,6579,2019-03-01,195044000,-99552000,543970000,-40324000,1351421000,8.22
2480,6579,2020-03-01,107835000,-336411000,396362000,-122938000,1519207000,3.98
2518,6579,2021-03-01,241691000,-55042000,-107288000,-3637000,1629249000,6.1
2495,6579,2022-03-01,-195596000,-625807000,559270000,-937000,1367115000,-7.29
2458,6579,2023-03-01,207741000,636000,-254520000,-2664000,1320972000,7.72
2398,6579,2024-03-01,-112609000,-11134000,-187631000,-11134000,1009597000,-5.48
2503,6579,2025-03-01,-131493000,27061000,-160198000,-14665000,744968000,-8.19

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1885,6721,2010-07-01,-217565000,-31167000,-,-38021000,502419000,-30.41
1954,6721,2011-07-01,-298012000,67266000,139120000,-15062000,411368000,-51.09
2029,6721,2012-07-01,-273826000,8376000,-15173000,-810000,132413000,-40.66
2116,6721,2013-07-01,112375000,-72147000,-18468000,-1580000,159267000,83.15
2194,6721,2014-07-01,-487975000,301808000,214971000,-17305000,187975000,-121.15
2263,6721,2015-07-01,-28998000,-10716000,321432000,-9935000,473958000,-9.26
2316,6721,2016-07-01,-107031000,-15310000,43637000,0,387819000,-50.17
2387,6721,2017-07-01,-247577000,-65559000,660523000,-9849000,739892000,-107.77
2455,6721,2018-07-01,-254790000,50512000,39494000,0,621311000,-59.8
2516,6721,2019-07-01,-268348000,-240388000,-19476000,-12114000,93098000,-62.41
2555,6721,2020-12-01,-384256000,-29144000,-3695000,-25204000,925783000,-47.73
2593,6721,2021-12-01,-856085000,21852000,68617000,-2220000,219109000,-278.33
2568,6721,2022-12-01,-613481000,3880000,667984000,0,278480000,-291.7
2529,6721,2023-12-01,-558267000,-300000,641025000,-300000,361665000,-137.02
2468,6721,2024-12-01,-662000000,-1000000,171000000,-1906000,90703000,-158.75
2575,6721,2024-12-01,-662304000,-1906000,171221000,-1906000,90703000,-158.79

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2020,6944,2010-03-01,157148000,5800000,-280602000,-8742000,548400000,3.87
2090,6944,2011-03-01,122593000,-8788000,-263324000,-959000,398881000,3.37
2165,6944,2012-03-01,-5184000,22573000,-163324000,-1353000,252947000,-0.15
2252,6944,2013-03-01,92294000,-144907000,98051000,-1833000,298386000,2.64
2330,6944,2014-03-01,171973000,7913000,49957000,-110000,528231000,4.61
2399,6944,2015-03-01,88497000,101957000,-35000,-511000,718650000,2.49
2452,6944,2016-03-01,-153718000,14925000,-,0,579857000,-4.88
2523,6944,2017-03-01,301834000,2494000,-75000,-254000,884111000,9.09
2591,6944,2018-03-01,365477000,-9318000,16000,-10735000,1240287000,11.01
2648,6944,2019-03-01,253650000,1741000,-231302000,-2327000,1264376000,8
2686,6944,2020-03-01,297888000,-4237000,-577799000,0,980227000,10.02

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2446,7034,2015-10-01,-,-,-,-,167765000,-
2500,7034,2016-10-01,-21743000,6868000,95549000,0,248439000,-4.22
2571,7034,2017-10-01,360333000,4237000,-48191000,-3862000,564212000,35.55
2639,7034,2018-10-01,448962000,-491557000,2201320000,-12290000,2722937000,27.18
2695,7034,2019-10-01,747034000,297065000,387687000,-25690000,4154725000,28.28
2733,7034,2020-10-01,596939000,-760786000,1855263000,-44428000,5846141000,18.25
2767,7034,2021-10-01,307976000,-2679375000,985380000,-366071000,4566793000,8.44
2740,7034,2022-10-01,-186908000,-1109395000,1459284000,-524667000,4729774000,-6.88
2700,7034,2023-10-01,-579464000,3250272000,-1996149000,-3683000,5404432000,-21.34
2633,7034,2024-10-01,-231897000,424585000,-77754000,-4817000,5519365000,-7.24
2746,7034,2024-10-01,-99569000,292257000,-77754000,-4817000,5519365000,-2.09

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2499,7781,2012-06-01,-,-,-,-,1153987000,-
2592,7781,2013-06-01,328445000,-228910000,41662000,-3457000,1295185000,4.43
2674,7781,2014-06-01,258683000,61308000,487203000,-24457000,2102380000,3.14
2761,7781,2015-06-01,317603000,-102404000,-320301000,-15879000,1997278000,3.53
2852,7781,2016-06-01,-160898000,159507000,343657000,0,2334007000,-1.65
2961,7781,2017-06-01,-31272000,-92033000,697008000,-127000,2928163000,-0.27
3051,7781,2018-06-01,463129000,-64287000,-363721000,-22377000,2988658000,3.41
3122,7781,2019-06-01,581843000,-137392000,-81435000,-840167000,3357940000,2.79
3165,7781,2020-06-01,499172000,-39174000,-532214000,-39774000,3280030000,2.17
3194,7781,2021-06-01,893327000,70673000,-393291000,-57891000,3848058000,3.88
3170,7781,2022-06-01,244947000,-350487000,-371241000,-185744000,3379194000,0.88
3129,7781,2023-06-01,561336000,-100292000,472729000,-72569000,4300259000,1.77
3055,7781,2024-06-01,1003372000,70141000,534189000,-127462000,5915094000,2.84
3175,7781,2025-06-01,989116000,-95195000,-764687000,-179403000,6053261000,2.73

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3001,9423,2010-03-01,-189015000,209343000,-63418000,-5893000,23314000,-29.93
3079,9423,2011-03-01,-52952000,-8812000,93005000,-1460000,54553000,-11.38
3164,9423,2012-03-01,-41884000,-16815000,20000000,-16869000,15853000,-6.61
3257,9423,2013-03-01,-16126000,-6156000,39516000,-4480000,35380000,-2.07
3351,9423,2014-03-01,-115330000,-2281000,88957000,-2450000,6726000,-20.38
3447,9423,2015-03-01,176536000,-1147000,6048000,-1157000,188165000,25.73
3542,9423,2016-03-01,8568000,-,4828000,0,201561000,0.93
3656,9423,2017-03-01,83636000,-4169000,354000,-3898000,281382000,7.3
3771,9423,2018-03-01,28433000,-15340000,-21462000,-5506000,273013000,2.22
3862,9423,2019-03-01,143745000,808000,-27344000,-5647000,390222000,9.47
3918,9423,2020-03-01,24115000,-1235000,-30761000,-2166000,382340000,1.38
3935,9423,2021-03-01,192547000,27563000,-13216000,-2465000,534750000,10.13
3897,9423,2022-03-01,-17046000,-9623000,-36244000,-10675000,471836000,-0.79
3838,9423,2023-03-01,295973000,-2254000,-35995000,-2254000,729559000,9.95
3734,9423,2024-03-01,107546000,-14279000,-52811000,-14279000,770016000,3.51
3888,9423,2025-03-01,65499000,-16515000,-57806000,-10186000,761193000,2.09

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
825,3750,2010-03-01,372284000,111248000,-808563000,-53337000,1530287000,2.67
859,3750,2011-03-01,278688000,-629826000,-539779000,-142309000,630207000,10.99
891,3750,2012-03-01,-75877000,73381000,-413471000,-249847000,211293000,-2.61
916,3750,2013-03-01,-696747000,643927000,121682000,-30914000,276072000,-30.08
942,3750,2014-03-01,-769660000,-52303000,953338000,-34365000,406244000,-21.8
961,3750,2015-03-01,56644000,196913000,464311000,-72379000,1124113000,1.39
971,3750,2016-03-01,-405395000,341544000,-248880000,-8663000,811383000,-15.1
980,3750,2017-03-01,1761032000,6046000,-278444000,0,2300018000,65.4
987,3750,2018-03-01,254425000,-1190257000,-393194000,-,970990000,48.72
991,3750,2019-03-01,-2750813000,1376474000,1936743000,-,1533395000,-142.93
994,3750,2020-03-01,531609000,-7423698000,6358358000,-12480000,999505000,45.04
1032,3750,2021-03-01,-82897000,6702000,150647000,-15959000,1069738000,-5.97
1032,3750,2022-03-01,-187784000,-216193000,35797000,-181635000,701558000,-14.06
1019,3750,2023-03-01,-39518000,-283065000,294227000,-164120000,673050000,-1.84
998,3750,2024-03-01,-1152230000,8689978000,-7172572000,-2625000,1038227000,-73.84
1047,3750,2025-03-01,-987038000,22901000,171650000,-8086000,255980000,-807.7

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1282,4380,2015-01-01,-,-,-,-,23075000,-
1294,4380,2016-01-01,-15631000,6355000,17162000,-4344000,30961000,-3.66
1329,4380,2017-01-01,95261000,-30600000,-,0,95622000,17.9
1377,4380,2018-01-01,157311000,-30000000,-,0,222933000,25.94
1390,4380,2019-01-01,95827000,-31469000,517083000,-1469000,804373000,14.62
1389,4380,2020-01-01,139524000,-32177000,-30042000,-177000,881677000,20.37
1423,4380,2021-01-01,200936000,-35815000,-24548000,-7304000,1022250000,25.84
1415,4380,2022-01-01,232635000,-29915000,-48788000,-412000,1176181000,25.76
1396,4380,2023-01-01,285339000,-38032000,-48806000,-7529000,1374682000,28.94
1366,4380,2024-01-01,426275000,-33401000,-63693000,-3897000,1703862000,36.38
1437,4380,2025-01-01,354578000,-30865000,-88013000,-865000,1939558000,27.39

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1337,4444,2016-03-01,-,-,-,-,77588000,-
1374,4444,2017-03-01,121119000,-,-24918000,0,173789000,17.07
1426,4444,2018-03-01,-65751000,-1423000,26728000,-1423000,133343000,-8.74
1446,4444,2019-03-01,151365000,-13290000,-9268000,-13290000,262149000,17.92
1444,4444,2020-03-01,-46762000,-8055000,398926000,-8055000,606257000,-6.1
1478,4444,2021-03-01,114884000,-22921000,67341000,-7693000,765562000,11.72
1470,4444,2022-03-01,23572000,-550204000,328167000,-21016000,567098000,1.36
1451,4444,2023-03-01,226129000,-45973000,-131823000,-44554000,615430000,13.34
1420,4444,2024-03-01,123528000,-118176000,-121564000,-77373000,499217000,6.99
1492,4444,2025-03-01,220453000,-426589000,292183000,-227147000,585264000,10.96

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1137,4585,2010-12-01,2694960000,-926582000,2014171000,-915858000,3962965000,134.75
1184,4585,2011-12-01,-849177000,-2795709000,1133492000,-2658010000,1451570000,-84.92
1228,4585,2012-12-01,-1188134000,-8741491000,12360998000,-8733149000,3882943000,-1097.84
1279,4585,2013-12-01,-3578459000,-4150619000,8113793000,-4319810000,4267657000,-3832.19
1329,4585,2014-12-01,314665000,-8719000,-2493382000,-8310000,2080221000,28.39
1378,4585,2015-12-01,-3393796000,-398425000,2554122000,-409664000,842121000,-1674.82
1419,4585,2016-12-01,-2265204000,-1842137000,4243372000,-1844137000,978152000,-3176.96
1470,4585,2017-12-01,-561723000,-50000,1729946000,0,1734272000,-539.86
1523,4585,2018-12-01,-578483000,-133539000,-3838000,-161211000,1018410000,-558.33
1543,4585,2019-12-01,-721000000,0,-3000000,0,294526000,-721

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1568,4881,2016-12-01,-,-,-,-,1102554000,-
1620,4881,2017-12-01,-308623000,-,-,0,793931000,-305.03
1673,4881,2018-12-01,-11736000,-2134000,459247000,-2134000,1239307000,-3.3
1693,4881,2019-12-01,-345895000,-1005000,-,-1005000,892406000,-114.76
1688,4881,2020-12-01,-413950000,-,3138221000,0,3616677000,-13937.71
1717,4881,2021-12-01,-887466000,-4753000,282680000,-5325000,3007138000,-699.51
1702,4881,2022-12-01,-1053151000,-19141000,245125000,-13208000,2245438000,-98702.06
1680,4881,2023-12-01,-988815000,-1055000,537810000,-1055000,1793378000,-186568.87
1641,4881,2024-12-01,-536000000,-30000000,1120000000,-864000,2346111000,-8933.33
1721,4881,2024-12-01,-536735000,-30834000,1120303000,-864000,2346111000,-8760.16

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1619,6026,2011-12-01,-,-,-,-,108989000,-
1667,6026,2012-12-01,78961000,-6600000,-20800000,-614000,160550000,7.47
1722,6026,2013-12-01,131639000,-6801000,-36554000,-4655000,248835000,5.55
1775,6026,2014-12-01,125359000,-12119000,468399000,-8537000,830474000,4.14
1825,6026,2015-12-01,286413000,-544148000,-62752000,-12708000,509987000,8.33
1872,6026,2016-12-01,-80349000,202334000,-176151000,-8707000,455820000,-2.8
1936,6026,2017-12-01,204450000,-123483000,-146000,0,536641000,7.25
1995,6026,2018-12-01,-98000000,106000000,-32000000,-15195000,512000000,-3.51
2054,6026,2019-12-01,10000000,37000000,-483000,-6391000,560000000,0.38
2097,6026,2020-12-01,-11000000,-69000000,-72000000,-136678000,407000000,-0.41
2138,6026,2021-12-01,62000000,-88000000,209000000,-380308000,590000000,1.46
2122,6026,2022-12-01,-33000000,-125000000,690000000,-18000000,1122000000,-0.6
2094,6026,2023-12-01,354000000,-135000000,-60000000,-134000000,1279000000,5.66
2044,6026,2024-12-01,402000000,-117000000,-318000000,-125000000,1264000000,5.85
2138,6026,2024-12-01,402000000,-117000000,-318000000,-162000000,1264000000,5.85

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2731,7326,2017-03-01,-,4736000000,6427000000,0,17885000000,-
2805,7326,2018-03-01,-8586000000,18650000000,-,-1457000000,27909000000,-13.81
2872,7326,2019-03-01,620000000,-9637000000,7946000000,-1702000000,26848000000,0.93
2915,7326,2020-03-01,-3559000000,1494000000,2266000000,-2065000000,27038000000,-5.05
2944,7326,2021-03-01,5953000000,1340000000,-,-1857000000,34352000000,6.87
2920,7326,2022-03-01,4641000000,-5818000000,-,-1888000000,33245000000,5.25
2879,7326,2023-03-01,4887000000,-6425000000,-,-2116000000,31945000000,5.08
2810,7326,2024-03-01,7272000000,-9396000000,-250000000,-1268000000,29545000000,6.65
2925,7326,2025-03-01,7293000000,-5423000000,-469000000,-1878000000,31026000000,18.43

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2786,8739,2010-03-01,2167000000,741000000,-1889000000,-,15270000000,27.45
2860,8739,2011-03-01,441000000,-2698000000,-3587000000,-,8659000000,6.21
2943,8739,2012-03-01,325000000,2825000000,-3705000000,-,7908000000,7.23
3037,8739,2013-03-01,112000000,2759000000,-5411000000,-,5926000000,2.97
3125,8739,2014-03-01,2448000000,724000000,117000000,-,9694000000,31.58
3214,8739,2015-03-01,1332000000,70000000,1004000000,-,12709000000,20.02
3308,8739,2016-03-01,2466000000,-965000000,-641000000,-,13070000000,28.21
3418,8739,2017-03-01,1972000000,-1658000000,914000000,0,14459000000,22.14
3509,8739,2018-03-01,7144000000,-2050000000,-763000000,-376000000,18649000000,54.01
3580,8739,2019-03-01,678000000,-709000000,-1509000000,-7000000,17152000000,6.03
3618,8739,2020-03-01,4535000000,-2581000000,-297000000,-2000000,18474000000,36.35
3633,8739,2021-03-01,6118000000,-2900000000,-1844000000,0,19935000000,42.8
3598,8739,2022-03-01,2661000000,-1180000000,-2480000000,-,19199000000,18.95
3547,8739,2023-03-01,3105000000,2001000000,-2408000000,-304000000,22028000000,23.24
3452,8739,2024-03-01,5994000000,-3126000000,-3292000000,-1629000000,22066000000,36.33
3593,8739,2025-03-01,5063000000,-2124000000,-3391000000,-668000000,21385000000,28.19

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3386,9272,2015-03-01,-,-,-,-,132526000,-
3481,9272,2016-03-01,63316000,973000,92223000,-4056000,289039000,6.81
3592,9272,2017-03-01,92682000,11114000,-20801000,0,372034000,8.33
3706,9272,2018-03-01,257854000,-2362000,-34745000,0,592780000,19.34
3788,9272,2019-03-01,109830000,-73957000,277987000,-8015000,906641000,7.65
3836,9272,2020-03-01,201194000,-34858000,-21560000,-68771000,1051416000,14.81
3853,9272,2021-03-01,130237000,-45170000,312393000,-37809000,1448876000,10.19
3816,9272,2022-03-01,878719000,-105185000,-274644000,-79478000,1947766000,42.02
3760,9272,2023-03-01,835793000,-142235000,1195873000,-129024000,3837197000,27.43
3656,9272,2024-03-01,774298000,-833213000,-660007000,-16808000,3118275000,17.54
3808,9272,2025-03-01,1592296000,-257539000,-680705000,-207495000,3772327000,30.79

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
403,2673,2010-03-01,121786000,10123000,27510000,-7595000,344235000,3.01
406,2673,2011-03-01,99056000,-23819000,-111859000,-26865000,307464000,2.68
414,2673,2012-03-01,319707000,-2737000,-58993000,-7241000,565349000,10.9
418,2673,2013-03-01,183712000,-53981000,33673000,-12905000,724280000,7.65
420,2673,2014-03-01,65575000,-389226000,156948000,-11272000,557578000,3.02
423,2673,2015-03-01,81425000,-826953000,340480000,-243079000,152531000,4.23
426,2673,2016-03-01,107382000,-6102000,-207362000,-5191000,46447000,6.45
426,2673,2017-03-01,110272000,23327000,-119152000,-1030000,60894000,12.78
429,2673,2018-03-01,56985000,-1421000,-90664000,0,25794000,12.4
432,2673,2019-03-01,-30188000,-1160000,26668000,-4946000,21113000,-5.93
434,2673,2020-03-01,1397000,-799000,-14869000,0,6842000,0.27
474,2673,2021-03-01,23677000,-859000,-20976000,-1815000,8683000,3.54
465,2673,2022-03-01,-20221000,-4861000,190591000,0,174192000,-3.65
460,2673,2023-03-01,-66046000,-5013000,-54212000,-3300000,48920000,-25.12
449,2673,2024-03-01,246985000,-161000,-260683000,-639000,35061000,45.64
467,2673,2025-03-01,-59289000,-,57435000,0,33207000,-23.6

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
780,3641,2010-03-01,282081000,-72920000,112445000,-2048000,1049990000,7.52
800,3641,2011-03-01,160944000,-352465000,150440000,-1134000,1008909000,3.99
830,3641,2012-03-01,251000000,-201000000,-75000000,-280000,990000000,5.28
854,3641,2013-03-01,550000000,-6000000,43000000,-2446000,1590000000,9.86
879,3641,2014-03-01,592000000,-180000000,5000000,-320000,2023000000,8.55
898,3641,2015-03-01,540000000,-421000000,-127000000,-1530000,2035000000,6.41
908,3641,2016-03-01,1157000000,306000000,13000000,-1000000,3537000000,11.07
917,3641,2017-03-01,1488000000,-68000000,-37000000,-63000000,4916000000,10.52
924,3641,2018-03-01,680000000,89000000,-246000000,0,5430000000,4.2
929,3641,2019-03-01,2349000000,-38000000,39000000,0,7792000000,12.26
933,3641,2020-03-01,1229000000,-10000000,-176000000,-5000000,8806000000,5.26
972,3641,2021-03-01,2431000000,-55000000,-182000000,-1000000,11041000000,10.25
973,3641,2022-03-01,-101000000,-541000000,-1183000000,0,9336000000,-0.49
960,3641,2023-03-01,-613000000,101000000,-151000000,-1000000,8742000000,-3.29
940,3641,2024-03-01,691000000,-16000000,582000000,-4000000,10242000000,4.02
981,3641,2025-03-01,-573000000,-2000000,-1213000000,-3000000,8408000000,-3.63

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
814,3723,2010-09-01,181845000,-2805000,-30225000,-2804000,1328874000,14.97
848,3723,2011-09-01,98811000,-1200000,-47035000,-1137000,1379449000,6.32
881,3723,2012-09-01,649645000,-3719000,-60781000,-13414000,1964593000,51.08
906,3723,2013-09-01,-76400000,-2095000,-50754000,-2094000,1835343000,-4.15
932,3723,2014-09-01,704789000,-3884000,-70902000,-3884000,2465346000,27.73
951,3723,2015-09-01,806934000,-117585000,-101745000,-1007000,3052949000,51.23
961,3723,2016-09-01,831552000,-324000,-71489000,-387000,3812687000,56.79
970,3723,2017-09-01,113055000,-6862000,-71377000,-6862000,3847502000,5.5
977,3723,2018-09-01,792728000,-,-81785000,0,4558444000,33.62
982,3723,2019-09-01,1131427000,-1562000,-101771000,-1562000,5586537000,46.1
985,3723,2020-09-01,1706628000,-27924000,-122985000,-7260000,7142256000,68.36
1023,3723,2021-09-01,102490000,52737000,-122768000,-63586000,7174716000,4.14
1023,3723,2022-09-01,1239550000,-1432000,-204608000,-1432000,8208226000,48.92
1010,3723,2023-09-01,903616000,-5580000,-204850000,-5580000,8901410000,36.53
989,3723,2024-09-01,848360000,-1865000,-204878000,-1865000,9543028000,33.6
1036,3723,2024-09-01,848360000,-1865000,-204878000,-1865000,9543028000,33.6

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1128,3996,2015-02-01,-,-,-,-,657594000,-
1139,3996,2016-02-01,93309000,-3106000,30284000,-2378000,778082000,6.5
1149,3996,2017-02-01,-257810000,-28326000,-71770000,-21898000,420174000,-14.96
1156,3996,2018-02-01,923069000,-21323000,380184000,0,1702105000,30.52
1160,3996,2019-02-01,-114568000,-108095000,-156634000,-94916000,1322807000,-4.27
1159,3996,2020-02-01,79860000,-510917000,126343000,-223393000,1018094000,3.76
1196,3996,2021-02-01,-601238000,-360737000,1043453000,-52000,1099571000,-29.51
1191,3996,2022-02-01,-360401000,202749000,390221000,-76774000,1332140000,-17.01
1176,3996,2023-02-01,-184572000,-1178000,169799000,-473000,1316189000,-7.17
1153,3996,2024-02-01,49217000,-26840000,41951000,-13635000,1380518000,1.68
1208,3996,2025-02-01,316796000,-16093000,27040000,-4454000,1708261000,10.48

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1227,4178,2017-12-01,-,-,-,-,16292000,-
1251,4178,2018-12-01,215784000,-328764000,220000000,0,123312000,31.9
1255,4178,2019-12-01,187007000,-336076000,333991000,-3325000,319571000,6.86
1255,4178,2020-12-01,137612000,-3231000,9000000,-1170000,462527000,3.64
1293,4178,2021-12-01,313713000,-28503000,202972000,-1243000,952377000,7.01
1287,4178,2022-12-01,96616000,-119203000,-179173000,-13998000,752219000,1.86
1271,4178,2023-12-01,64227000,-231771000,237318000,-2608000,822443000,1.27
1245,4178,2024-12-01,267000000,-4000000,1000000,-5309000,1088590000,5.17
1308,4178,2024-12-01,267565000,-4413000,1740000,-5309000,1088590000,5.18

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1135,4583,2010-03-01,4006000,-264687000,269617000,-,544029000,1.05
1182,4583,2011-03-01,-195289000,-85664000,383420000,-,646496000,-42.16
1226,4583,2012-03-01,-48867000,-3813000,419269000,-,1013086000,-7.72
1277,4583,2013-03-01,-373258000,-114786000,463473000,-,988535000,-115.16
1327,4583,2014-12-01,-789326000,-618833000,2130818000,-118946000,5075925000,-284.18
1376,4583,2015-12-01,-1245325000,-1780059000,124262000,-168054000,2100626000,-444.58
1417,4583,2016-12-01,-969906000,1988626000,1433831000,-10955000,4553178000,-384.56
1468,4583,2017-12-01,-867201000,-137113000,478603000,-4975000,4027466000,-333.67
1521,4583,2018-12-01,-1688713000,-,-10239000,0,2328513000,-793.38
1541,4583,2019-12-01,-1537360000,-26423000,1341245000,-,2105976000,-343.49
1538,4583,2020-12-01,-1360143000,-3519000,1944005000,-,2686318000,-282.86
1570,4583,2021-12-01,-1131291000,-35384000,271345000,-,1790988000,-158.68
1559,4583,2022-12-01,-1191009000,-,1127291000,-,1727270000,-188.8
1538,4583,2023-12-01,-1069192000,173000,667303000,-,1325554000,-156.67
1505,4583,2024-12-01,-1000695000,-,1738421000,-,2063280000,-128.16
1579,4583,2024-12-01,-1000695000,-,1738421000,-,2063280000,-128.16

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1430,4598,2016-03-01,-,-,-,-,653277000,-
1481,4598,2017-03-01,-251582000,-1020000,-6792000,-255000,387885000,-27.89
1534,4598,2018-03-01,100042000,-,292724000,0,781250000,66.69
1554,4598,2019-03-01,-585385000,-3544000,3316882000,-1000000,3508437000,-
1550,4598,2020-03-01,-1649277000,-13265000,99920000,-13000000,1943908000,-1649.28
1582,4598,2021-03-01,-726649000,-505000,875313000,-505000,2088612000,-242.22
1571,4598,2022-03-01,-940399000,-,119857000,0,1268492000,-313.47
1550,4598,2023-03-01,-1303049000,-326000,882617000,-321000,844341000,-
1517,4598,2024-03-01,-1279615000,207000,1853195000,-1132000,1417062000,-
1591,4598,2025-03-01,-1834577000,-206000,756696000,-116000,338829000,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1431,4599,2016-07-01,-,-,-,-,1190037000,-
1482,4599,2017-07-01,-285347000,-403000,-,-,904319000,-95.12
1535,4599,2018-07-01,-260976000,-,1200057000,0,1843404000,-130.49
1555,4599,2019-07-01,-777789000,-6553000,1437374000,-6048000,2496422000,-777.79
1551,4599,2020-07-01,575413000,-153711000,7757140000,-226721000,10675242000,27.4
1583,4599,2021-07-01,-519649000,-92715000,109317000,-137857000,10172222000,-37.12
1572,4599,2022-07-01,-1404565000,-330000,112859000,-332000,8880191000,-6113.18
1551,4599,2023-07-01,1135315000,-344000,202602000,-350000,10217764000,48.31
1518,4599,2024-07-01,-1881497000,-4784000,78966000,-4842000,8410449000,-
1592,4599,2025-07-01,-1414000000,-42000000,41000000,-43858000,6994592000,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1466,5721,2010-03-01,-332998000,362631000,-50473000,-13171000,1417853000,-13.86
1515,5721,2011-03-01,-819817000,19268000,-51324000,-19855000,565979000,-35.27
1563,5721,2012-03-01,-260955000,183410000,-51413000,-17918000,437021000,-12.42
1618,5721,2013-03-01,-265893000,194142000,-53287000,-3091000,311983000,-14.81
1671,5721,2014-03-01,-350929000,976727000,-55183000,-57277000,882599000,-24.13
1721,5721,2015-03-01,-286523000,11180000,-104947000,-6813000,502308000,-25.57
1768,5721,2016-03-01,851906000,-43951000,-450013000,-13705000,860250000,42.65
1832,5721,2017-03-01,-90210000,62211000,-4014000,-1224000,828236000,-6.9
1890,5721,2018-03-01,-100433000,89313000,-50790000,0,766326000,-9.61
1948,5721,2019-03-01,-318719000,-50892000,-266000,-15609000,396448000,-29.39
1980,5721,2020-03-01,-129622000,641227000,-63000,-370000,907990000,-22.06
2014,5721,2021-03-01,-76126000,-43812000,2650000,0,790701000,-7.04
1998,5721,2022-03-01,-214955000,-76692000,1221100000,-239503000,1720154000,-18.6
1973,5721,2023-03-01,-142414000,-289195000,-10000,-373000,1288533000,-10.47
1924,5721,2024-03-01,-149738000,1093890000,-13000,-227000,2232672000,-9.7
2016,5721,2025-03-01,-253412000,259713000,-22000,-878000,2160848000,-39.94

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2448,7036,2015-12-01,-,-,-,-,387945000,-
2502,7036,2016-12-01,194470000,-4228000,-100734000,-,477452000,3.68
2573,7036,2017-12-01,-9113000,-7030000,-42458000,-,418850000,-0.15
2641,7036,2018-12-01,188375000,-6353000,189481000,0,790353000,2.73
2697,7036,2019-12-01,189763000,-96632000,-40623000,-3906000,842860000,2.42
2735,7036,2020-12-01,351147000,98778000,-29368000,-6124000,1263417000,3.77
2769,7036,2021-12-01,385588000,-23347000,-54901000,-11372000,1570757000,3.61
2742,7036,2022-12-01,-118912000,-33307000,-212338000,-12674000,1206199000,-8.11
2702,7036,2023-12-01,344370000,-17623000,-116933000,-1343000,1416013000,25.14
2635,7036,2024-12-01,-115000000,-228000000,-109000000,-3986000,962361000,-8.65
2748,7036,2024-12-01,-115888000,-228276000,-109487000,-3986000,962361000,-8.72

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2211,7506,2010-03-01,635150000,-162949000,-502535000,-,1327704000,4.44
2281,7506,2011-03-01,574550000,38581000,-425074000,-,1515762000,4.06
2359,7506,2012-03-01,298085000,-144009000,-333349000,-,1336488000,2.06
2453,7506,2013-03-01,35003000,305333000,-329653000,-,1347172000,0.24
2534,7506,2014-03-01,22064000,70989000,-265307000,-,1174919000,0.15
2621,7506,2015-03-01,593666000,-4723000,-265192000,-,1498670000,4.41
2703,7506,2016-03-01,368521000,172817000,-251042000,-,1788966000,2.65
2805,7506,2017-03-01,193085000,42637000,-273219000,-,1751469000,1.42
2894,7506,2018-03-01,211654000,125916000,-278970000,0,1810070000,1.51
2964,7506,2019-03-01,402744000,-1846000,-341313000,-30973000,1869654000,2.89
3008,7506,2020-03-01,-450330000,56959000,-347830000,-59249000,1128452000,-3.55
3042,7506,2021-03-01,690666000,3115000,828831000,-13859000,2651066000,6.47
3021,7506,2022-03-01,310158000,392198000,-760266000,-10007000,2593157000,2.75
2981,7506,2023-03-01,322863000,583645000,-628977000,-31499000,2870688000,2.71
2910,7506,2024-03-01,490065000,-194390000,-449577000,-18403000,2716785000,4.09
3027,7506,2025-03-01,63389000,2137000,-182438000,-31883000,2599873000,0.55

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2848,8925,2010-07-01,5193825000,163029000,-4819254000,-1028000,1200717000,62.15
2922,8925,2011-07-01,2041707000,-241733000,-2902086000,-154000,98604000,42.88
3005,8925,2012-07-01,2203268000,468180000,-2558923000,-,211130000,68
3099,8925,2013-07-01,1856439000,228653000,-1518890000,-,777333000,58.87
3187,8925,2014-07-01,201598000,-53969000,1684092000,-1950000,2609054000,1.94
3277,8925,2015-07-01,-7237730000,-156837000,9727001000,-13735000,4941488000,-61.93
3371,8925,2016-07-01,258704000,-1755394000,-488732000,-3176000,2956066000,0.94
3481,8925,2017-07-01,-13992935000,1108504000,5261143000,-575000,2151279000,-180.93
3572,8925,2018-07-01,-3633038000,-151355000,2350121000,0,717284000,-31.61
3643,8925,2019-07-01,11235792000,87633000,-9953830000,-1027000,2086880000,70.43
3680,8925,2020-07-01,7561384000,55344000,-7783483000,0,1715395000,35.33
3695,8925,2021-07-01,2084270000,-735797000,-1554695000,-1497000,1509173000,11.4
3657,8925,2022-07-01,2125994000,205687000,-1087516000,-5771000,2753338000,9.4
3605,8925,2023-07-01,-1121500000,-1010980000,3206559000,-72510000,3827407000,-5.45
3652,8925,2023-07-01,-1121500000,-1010980000,3206559000,-72510000,3827407000,-5.45

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1263,4195,2018-03-01,-,-,-,-,175941000,-
1268,4195,2019-03-01,130797000,-2300000,-19458000,0,285001000,9.91
1268,4195,2020-03-01,42834000,-7364000,-33592000,-5370000,287061000,2.86

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1360,4493,2016-12-01,-,-,-,-,15365000,-
1405,4493,2017-12-01,-8000000,-13177000,130161000,-5374000,124349000,-3.24
1458,4493,2018-12-01,6696000,-25507000,98612000,-13586000,204151000,1.37
1478,4493,2019-12-01,171359000,-,-18596000,0,356914000,20.99
1476,4493,2020-12-01,133920000,-242522000,650737000,-1272000,899050000,11.22
1510,4493,2021-12-01,382044000,-59020000,-169894000,-7138000,1052180000,21.02
1502,4493,2022-12-01,353632000,-114240000,40603000,-81357000,1330154000,15.54
1483,4493,2023-12-01,578460000,-106150000,-93260000,-106150000,1754945000,18.9
1452,4493,2024-12-01,633000000,-175000000,-595000000,-43668000,1667410000,16.41
1524,4493,2024-12-01,633515000,-175923000,-595267000,-43669000,1667410000,16.42

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1125,4570,2010-03-01,-173795000,-16940000,-21114000,-47174000,83417000,-16.4
1172,4570,2011-03-01,131159000,54740000,51273000,-37286000,321684000,12.38
1215,4570,2012-03-01,125672000,-3836000,-32514000,-27753000,411943000,13.73
1266,4570,2013-03-01,228703000,-34362000,185664000,-27542000,793694000,28.58
1316,4570,2014-03-01,12161000,-136903000,464540000,-60819000,1135786000,1.81
1365,4570,2015-03-01,-108999000,21835000,163736000,-71093000,1232210000,-14.95
1406,4570,2016-03-01,-16984000,-607709000,286671000,-697730000,891915000,-2.37
1457,4570,2017-03-01,-55886000,-458490000,2145528000,-401897000,2522102000,-7.54
1510,4570,2018-03-01,73847000,-6278000,-138300000,-900000,2450875000,9.74
1530,4570,2019-03-01,-243935000,-593279000,-126320000,0,1491808000,-31.23
1527,4570,2020-03-01,-608746000,10818000,81195000,0,974456000,-105.56
1559,4570,2021-03-01,-194145000,-17233000,-216000000,-13460000,552022000,-32.21
1548,4570,2022-03-01,-93204000,-155629000,143998000,0,449184000,-14.39
1527,4570,2023-03-01,26458000,30036000,991000,0,561997000,3.33
1495,4570,2024-03-01,133775000,-24496000,991000,-22958000,674969000,16.38
1568,4570,2025-03-01,183495000,-53660000,-31755000,-70259000,770563000,18.93

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1130,4576,2010-12-01,-406442000,-3596000,90000,-3871000,262712000,-
1177,4576,2011-12-01,-343707000,398496000,22795000,-1313000,340276000,-1718.54
1220,4576,2012-12-01,-264479000,99140000,68838000,-1100000,243823000,-235.09
1271,4576,2013-12-01,-199750000,-1002991000,2026131000,-1841000,1067316000,-249.69
1321,4576,2014-12-01,-223527000,286502000,36961000,-3130000,1167335000,-279.32
1370,4576,2015-12-01,-322675000,834584000,87912000,-2565000,1767157000,-521.98
1411,4576,2016-12-01,-333558000,-230797000,1066537000,-37769000,2291934000,-198.54
1462,4576,2017-12-01,-797215000,-763123000,1406969000,-4301000,2132677000,-313.83
1515,4576,2018-12-01,-540333000,-7775000,-,-10610000,1584282000,-184.46
1535,4576,2019-12-01,175651000,-100000000,-120000000,0,1540784000,30.26
1532,4576,2020-12-01,-216284000,-13465000,1004126000,-5126000,2308210000,-60.82
1564,4576,2021-12-01,-176306000,-111150000,-104459000,-2899000,1933743000,-42.54
1553,4576,2022-12-01,-354770000,-139890000,867297000,-9814000,2334668000,-79.17
1532,4576,2023-12-01,-586821000,-15254000,134466000,-14938000,1867264000,-136.99
1500,4576,2024-12-01,-1299118000,-10005000,567628000,-10125000,1126035000,-275.82
1573,4576,2024-12-01,-1299118000,-10005000,567628000,-10125000,1126035000,-275.48

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1951,6836,2010-03-01,-648235000,-5854000,-,-12061000,771205000,-42.53
2021,6836,2011-03-01,-233578000,1549560000,-,-2701000,2086095000,-16.12
2096,6836,2012-03-01,-341263000,26553000,-,-19819000,1771328000,-30.33
2183,6836,2013-03-01,-259452000,13963000,-,-12142000,1527638000,-21.06
2261,6836,2014-03-01,-181991000,60716000,-,-3784000,1407705000,-17.06
2330,6836,2015-03-01,-230355000,19971000,-31000,-2421000,1199896000,-21.68
2383,6836,2016-03-01,-278335000,34569000,-,-6680000,954997000,-27.37
2454,6836,2017-03-01,-315233000,3742000,-,-3510000,643433000,-27.8
2522,6836,2018-03-01,42506000,14438000,-,-3583000,699477000,3.27
2580,6836,2019-03-01,-247413000,-830000,-,0,451954000,-22.32
2618,6836,2020-03-01,-114442000,-2844000,-,-2000000,334170000,-10.24
2656,6836,2021-03-01,-12047000,-3400000,-,-3000000,318777000,-0.98
2631,6836,2022-03-01,-104117000,-4012000,98940000,-3000000,309931000,-8.54
2591,6836,2023-03-01,-179233000,-5760000,99922000,-6000000,225188000,-18.02
2528,6836,2024-03-01,-62766000,-4429000,-,-4000000,158524000,-6.28
2637,6836,2025-03-01,151515000,-1701000,46741000,-1701000,355023000,12.98

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2514,7049,2016-02-01,-,-,-,-,6011000,-
2585,7049,2017-02-01,22316000,-13354000,111884000,-540000,126858000,7.02
2653,7049,2018-02-01,178156000,-20343000,-10731000,-11392000,273940000,23.6
2710,7049,2019-02-01,217978000,-1999000,383946000,0,873865000,17.41
2748,7049,2020-02-01,171766000,-458950000,418974000,-95206000,1005655000,9.98
2782,7049,2021-02-01,181224000,-297546000,315483000,-43509000,1243050000,7.23
2754,7049,2022-02-01,469562000,-69877000,982763000,-32580000,2625498000,12.28
2714,7049,2023-02-01,-939726000,-148145000,1100268000,-66760000,2637895000,-21.08
2647,7049,2024-02-01,-171564000,-22834000,-90043000,-5076000,2353453000,-3.55
2760,7049,2025-02-01,168300000,113615000,-322103000,-95200000,2312580000,3.13

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2605,7077,2017-02-01,-,-,-,-,189494000,-
2673,7077,2018-02-01,61626000,749000,-,-,281079000,13.85
2731,7077,2019-02-01,203448000,-1040000,30090000,0,513669000,29.31
2770,7077,2020-02-01,129865000,67000,217772000,-516000,861316000,17.46
2804,7077,2021-02-01,310753000,-2276000,-70000,-1004000,1169505000,50.86
2776,7077,2022-02-01,179046000,-5517000,5485000,-466000,1349151000,27.56
2735,7077,2023-02-01,185009000,-2294000,-338914000,-4800000,1194559000,26.99
2668,7077,2024-02-01,132166000,-489665000,133000,-1316000,838766000,21.67
2781,7077,2025-02-01,255281000,-350467000,-,-1184000,743377000,28.73

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
23,1430,2012-05-01,-,-,-,-,52857000,-
23,1430,2013-05-01,-508368000,-13389000,494368000,-1323000,25467000,-14.86
23,1430,2014-05-01,601090000,-10508000,-451942000,-6040000,164106000,8.36
22,1430,2015-05-01,-272494000,-38471000,396210000,-5814000,249351000,-1.96
22,1430,2016-05-01,-3846643000,-26708000,5111616000,-45836000,1487615000,-23.64
22,1430,2017-05-01,3982508000,-84991000,-1660903000,-27124000,3724228000,19.01
23,1430,2018-05-01,6066798000,-1581000,-2000624000,-13846000,7788821000,29.14
23,1430,2019-05-01,-1588552000,-4997000,-2204748000,-2691000,3990522000,-8.35
25,1430,2020-05-01,-5469284000,-23230000,5593145000,0,4091153000,-23.35
29,1430,2021-05-01,2814959000,-45189000,-2584505000,-8996000,4276416000,13.46
28,1430,2022-05-01,3014173000,-71138000,-2297032000,-28571000,4922419000,9.99
27,1430,2023-05-01,-302149000,-128829000,498741000,-89354000,5062508000,-1.18
26,1430,2024-05-01,-1573804000,-92068000,720969000,-35919000,4117604000,-5.53
27,1430,2025-05-01,2094972000,-49980000,-762561000,-45013000,5400034000,4.85

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
388,2586,2012-03-01,-,-,-,-,192041000,-
392,2586,2013-03-01,-18864000,-25449000,-34069000,-10233000,114154000,-1.13
394,2586,2014-03-01,-74537000,-49484000,462919000,-47821000,453232000,-2.59
397,2586,2015-03-01,-639391000,-18320000,669044000,-15929000,506641000,-19.12
400,2586,2016-03-01,-1194879000,-3995000,956866000,-3973000,287576000,-46.48
400,2586,2017-03-01,-224902000,185000,329726000,-1036000,397418000,-13.89
403,2586,2018-03-01,-245945000,-19435000,349268000,-20925000,478933000,-25.33
406,2586,2019-03-01,-152725000,-15699000,-85650000,-12000000,225458000,-14.3
409,2586,2020-03-01,-152408000,-20236000,87532000,0,141089000,-18.78
444,2586,2021-03-01,-203920000,-11868000,788141000,-5715000,713627000,-29.45
435,2586,2022-03-01,-360974000,-674000,205012000,0,558117000,-46.27
430,2586,2023-03-01,-310775000,-744000,-240000,-,250006000,-38.61
419,2586,2024-03-01,-248809000,35659000,339447000,-,377724000,-21.89
437,2586,2025-03-01,-436553000,584912000,1358842000,-2347000,1886776000,-17.12

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
813,3482,2014-12-01,-,-,-,-,232000000,-
820,3482,2015-12-01,-1055000000,-83000000,2123000000,-9000000,1216000000,-35.26
829,3482,2016-12-01,-6944000000,41000000,6955000000,-6000000,1269000000,-149.04
836,3482,2017-12-01,-777000000,-2000000,4126000000,-3000000,4615000000,-8.84
843,3482,2018-12-01,-4398000000,-153000000,5807000000,-73000000,5871000000,-45.48
848,3482,2019-12-01,-3986000000,-31000000,5913000000,-8000000,7766000000,-26.37
854,3482,2020-12-01,-4118000000,0,3688000000,0,7331000000,-24.25
895,3482,2021-12-01,-450000000,12000000,1013000000,0,7926000000,-2.51
897,3482,2022-12-01,-1517000000,-232000000,3226000000,-156000000,9403000000,-6.42
886,3482,2023-12-01,-789000000,-1000000,3314000000,-1000000,11927000000,-2.75
866,3482,2024-12-01,-18656000000,-475000000,19858000000,-51000000,12653000000,-54.2
904,3482,2024-12-01,-18656000000,-475000000,19858000000,-51000000,12653000000,-54.2

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
767,3624,2010-09-01,46573000,5148000,87845000,-12511000,862298000,3.47
787,3624,2011-09-01,126341000,10220000,-231401000,-1008000,767459000,10.26
817,3624,2012-09-01,259977000,-113387000,-325485000,-9932000,729242000,6.69
841,3624,2013-09-01,260636000,-89786000,-27890000,-8684000,868256000,7.4
866,3624,2014-09-01,114348000,-514736000,-9275000,-3865000,458593000,3.37
885,3624,2015-09-01,115223000,269990000,91750000,-700000,935556000,3.75
895,3624,2016-09-01,-335086000,-101851000,643336000,-184874000,1141955000,-10.47
904,3624,2017-09-01,-127522000,-213079000,-36863000,-196593000,763303000,-3.85
911,3624,2018-09-01,-389648000,-377927000,745152000,-483927000,740878000,-15.8
916,3624,2019-09-01,-498798000,-274572000,1147107000,-136556000,1114615000,-17.23
920,3624,2020-09-01,-660062000,-71207000,-126598000,0,256746000,-23.7
960,3624,2021-09-01,-13593000,89125000,812117000,-,1138600000,-0.51
961,3624,2022-09-01,93535000,7461000,500000,0,1240097000,3.5
948,3624,2023-09-01,-172862000,-162208000,1012000,-102461000,906037000,-8.06
928,3624,2024-09-01,-288001000,-108306000,1200000,-51293000,510929000,-18.18
969,3624,2024-09-01,-288001000,-108306000,1200000,-51293000,510929000,-18.18

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1699,4889,2019-03-01,-,-,-,-,779279000,-
1694,4889,2020-03-01,-178313000,-380697000,380000000,0,600269000,-247.61
1724,4889,2021-03-01,-89255000,-1719000,135650000,-1010000,644944000,-42.54
1710,4889,2022-03-01,-230492000,-296000,1591662000,-1164000,2005816000,-165.43
1688,4889,2023-03-01,-284641000,232000,110371000,-2225000,1831780000,-283.1
1649,4889,2024-03-01,-230519000,-1567000,46500000,-1577000,1646193000,-118.72
1729,4889,2025-03-01,-176342000,382147000,-52182000,-799000,1799816000,-132.89

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1837,5242,2019-12-01,-,-,-,-,94958000,-
1837,5242,2020-12-01,104765000,-1000000,12295000,0,211018000,22.98
1867,5242,2021-12-01,74010000,-50198000,11028000,-27932000,245858000,12.22
1852,5242,2022-12-01,192663000,-37798000,282540000,-1326000,683264000,22.74
1829,5242,2023-12-01,-58449000,-22329000,-42381000,-17674000,560102000,-5.73
1782,5242,2024-12-01,65000000,-7000000,2000000,-5675000,620487000,6.27
1871,5242,2024-12-01,65475000,-7656000,2565000,-5676000,620487000,6.32

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3778,9164,2020-12-01,-,-,-,0,-,-
3793,9164,2021-12-01,763000000,-33021000000,33840000000,-19000000,1582000000,31.54
3755,9164,2022-12-01,3647000000,-1550000000,-1378000000,-560000000,2300000000,8.25
3700,9164,2023-12-01,7380000000,-981000000,-3222000000,-564000000,5476000000,13.99
3598,9164,2024-12-01,4055000000,-511000000,-6336000000,-69000000,2683000000,7.1
3748,9164,2024-12-01,4055000000,-511000000,-6336000000,-505000000,2683000000,7.1

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
25,1711,2010-03-01,-17055000,204270000,-200000000,-60255000,451080000,-
27,1711,2011-03-01,-313307000,71629000,-,-3706000,205821000,-39.6
33,1711,2012-03-01,-23038000,27653000,-7500000,-19758000,203356000,-1.52
36,1711,2013-03-01,-160694000,33134000,-30000000,-1084000,45330000,-9.58
38,1711,2014-03-01,523717000,-22287000,-37500000,-1000000,510626000,34.8
39,1711,2015-03-01,-436054000,-68099000,447462000,-40133000,454874000,-17.56
42,1711,2016-03-01,-230119000,53279000,-30000000,-1086000,248033000,-12.31
42,1711,2017-03-01,-495677000,120128000,319166000,-569000,282049000,-20.4
44,1711,2018-03-01,32148000,74570000,-108597000,-30837000,280098000,1.8
46,1711,2019-03-01,-387424000,45225000,253876000,-7000,191710000,-30.26
54,1711,2020-03-01,-6080000,67517000,187399000,-518000,440384000,-0.27
66,1711,2021-03-01,-515095000,41486000,145855000,0,112610000,-61
64,1711,2022-03-01,-485253000,-13168000,854891000,-12109000,469076000,-46.89
63,1711,2023-03-01,-717609000,-657523000,1287281000,-465229000,381179000,-21.09
63,1711,2024-03-01,924633000,-150120000,-552800000,-148943000,602888000,22.36
66,1711,2025-03-01,-214276000,-973331000,1004688000,-704402000,420014000,-5.31

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1043,4335,2010-06-01,85850000,-215587000,-7637000,-50817000,400938000,8.02
1090,4335,2011-06-01,-81545000,-17383000,-8656000,-18383000,293351000,-7.74
1133,4335,2012-06-01,90294000,23102000,-10067000,-44567000,396681000,7.29
1183,4335,2013-06-01,57487000,79293000,-11234000,-4953000,522227000,5.2
1233,4335,2014-06-01,-93079000,-80823000,-8284000,-28979000,340039000,-7.87
1258,4335,2015-06-01,-223359000,-15272000,81759000,-15656000,183167000,-12.99
1270,4335,2016-06-01,477119000,-9717000,-100668000,-10639000,549900000,24.27
1305,4335,2017-06-01,182752000,-79370000,-13394000,-44635000,639888000,11.17
1345,4335,2018-06-01,-18041000,-3170000,-13748000,-8427000,625334000,-0.88
1357,4335,2019-06-01,-121518000,-94076000,-13710000,-56000000,396029000,-4.68
1356,4335,2020-06-01,-30361000,-29970000,-28311000,-35000000,307386000,-1.14
1390,4335,2021-06-01,872936000,-171000,-13647000,0,1166504000,34.94
1383,4335,2022-06-01,-257866000,8285000,-121525000,-1208000,795398000,-9.45
1365,4335,2023-06-01,492783000,-10551000,-87934000,-2282000,1189695000,17.4
1335,4335,2024-06-01,-76368000,-12376000,-73617000,-18000000,1027332000,-2.44
1405,4335,2025-06-01,538811000,-250919000,-88240000,-4000000,1226984000,14.43

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1700,4896,2020-12-01,-,-,-,-,17151000,-
1730,4896,2021-12-01,-196320000,-250000,368201000,0,188782000,-
1716,4896,2022-12-01,-363482000,-32737000,1544285000,-31073000,1336847000,-
1694,4896,2023-12-01,454425000,-11099000,1486235000,-51457000,3266408000,45.44
1655,4896,2024-12-01,-983000000,-14000000,-,-14490000,2268198000,-
1735,4896,2024-12-01,-983719000,-14490000,-,-7861000,2268198000,-

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1933,5574,2020-08-01,-,-,-,-,1892964000,-
1963,5574,2021-08-01,-152760000,405343000,-37413000,0,2108133000,-12.13
1948,5574,2022-08-01,-253494000,-14061000,3958000,-14061000,1844536000,-12.81
1924,5574,2023-08-01,460532000,-5638000,1241104000,-640000,3540535000,16.59
1875,5574,2024-08-01,-760011000,-28569000,116955000,-33594000,2868910000,-27.47
1967,5574,2024-08-01,-760011000,-28569000,116955000,-33594000,2868910000,-27.47

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1571,6054,2010-12-01,77409000,-31385000,-,-30137000,281315000,12.15
1623,6054,2011-12-01,432152000,-54558000,400717000,-31195000,1059625000,38.09
1687,6054,2012-12-01,791379000,-143168000,-21929000,-19988000,1685906000,34.95
1744,6054,2013-12-01,1018990000,-166626000,3183000,-161070000,2541453000,23.94
1797,6054,2014-12-01,10646000,-131466000,8287000,-37941000,2434267000,0.25
1848,6054,2015-12-01,-89331000,-402124000,1418000,-117833000,1944166000,-1.76
1895,6054,2016-12-01,879205000,-105359000,6259000,-81134000,2724272000,16.38
1959,6054,2017-12-01,450006000,-101105000,820000,-101348000,3073994000,7.09
2018,6054,2018-12-01,135677000,-53319000,79129000,-15914000,3235481000,2
2077,6054,2019-12-01,255854000,1726749000,14786000,-16229000,5232871000,4.13
2120,6054,2020-12-01,-1991096000,-12457000,-197574000,-8162000,3031742000,-48.81
2161,6054,2021-12-01,-361009000,19345000,15002000,0,2705081000,-8.64
2145,6054,2022-12-01,731034000,128835000,-4900000,0,3560051000,15.36
2117,6054,2023-12-01,3292000,88785000,-4900000,-9144000,3647229000,0.06
2066,6054,2024-12-01,264488000,23760000,-9800000,0,3925678000,4.18
2161,6054,2024-12-01,264488000,23760000,-9800000,0,3925678000,4.18

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2763,8617,2010-03-01,1076000000,291000000,-194000000,-111000000,9349000000,121.31
2836,8617,2011-03-01,-2492000000,-14000000,-215000000,-12000000,6626000000,-320.31
2919,8617,2012-03-01,81000000,238000000,-3000000,-109000000,6943000000,12.6
3013,8617,2013-03-01,-1299000000,815000000,-136000000,-16000000,6322000000,-66.89
3101,8617,2014-03-01,548000000,-240000000,-472000000,-17000000,6157000000,34.06
3190,8617,2015-03-01,1597000000,72000000,-467000000,-1000000,7360000000,92.85
3284,8617,2016-03-01,-464000000,-155000000,-564000000,-23000000,6176000000,-47.59
3394,8617,2017-03-01,381000000,-504000000,-450000000,-102000000,5603000000,50.33
3485,8617,2018-03-01,1341000000,-95000000,-285000000,-8000000,6563000000,107.71
3556,8617,2019-03-01,375000000,-44000000,-284000000,-1000000,6610000000,58.69
3595,8617,2020-03-01,748000000,-69000000,-132000000,-14000000,7157000000,117.24
3612,8617,2021-03-01,557000000,-621000000,-69000000,0,7024000000,50.14
3577,8617,2022-03-01,-1092000000,205000000,-123000000,-6000000,6013000000,-243.75
3526,8617,2023-03-01,383000000,-160000000,-48000000,-13000000,6188000000,87.84
3432,8617,2024-03-01,831000000,-419000000,-47000000,-61000000,6553000000,55.47
3572,8617,2025-03-01,-1693000000,-487000000,-160000000,-4000000,4211000000,-302.86

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3801,9225,2020-09-01,2463000,-,196636000,-,430931000,0.37
3817,9225,2021-09-01,141109000,-16284000,-38906000,0,516850000,14.54
3780,9225,2022-09-01,13713000,-7706000,131093000,-17701000,653951000,1.08
3724,9225,2023-09-01,207229000,-15054000,134762000,-215000,980888000,12.52
3621,9225,2024-09-01,185973000,-17854000,55478000,-1744000,1204485000,9.22
3772,9225,2024-09-01,185973000,-17854000,55478000,-1744000,1204485000,9.22

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3772,9253,2019-02-01,-,-,-,-,749067000,-
3820,9253,2020-02-01,-30238000,-32432000,184085000,-31104000,870481000,-2.07
3837,9253,2021-02-01,4185000,1743000,-51010000,0,825400000,0.32
3801,9253,2022-02-01,441806000,56253000,493943000,-2521000,1817404000,31.15
3745,9253,2023-02-01,-63106000,-82862000,-14672000,-15862000,1656762000,-4.29
3642,9253,2024-02-01,115716000,-55439000,-67003000,-5434000,1650036000,8.16
3793,9253,2025-02-01,175598000,-34313000,-47478000,-9453000,1743841000,13.01

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3200,9898,2010-03-01,-399000000,-175000000,591000000,-234000000,82000000,-40.84
3278,9898,2011-03-01,-247000000,-104000000,298000000,-162000000,23000000,-13
3365,9898,2012-03-01,-1366000000,-702000000,3039000000,-403000000,994000000,-58.63
3459,9898,2013-03-01,-461000000,-43000000,119000000,-75000000,683000000,-15.45
3554,9898,2014-03-01,-341000000,-14000000,-15000000,-9000000,335000000,-9.81
3652,9898,2015-03-01,-163000000,-,-10000000,-1000000,164000000,-5.04
3749,9898,2016-03-01,397000000,-,187000000,-2000000,708000000,11.7
3862,9898,2017-03-01,-313000000,-170000000,-45000000,-3000000,186000000,-23.01
3979,9898,2018-03-01,70000000,-39000000,-7000000,-26000000,205000000,15.25
4081,9898,2019-03-01,-635000000,812000000,-99000000,-44000000,283000000,-2351.85
4136,9898,2020-03-01,-136000000,-15000000,-,-3000000,130000000,-647.62
4148,9898,2021-03-01,-51000000,0,-,0,77000000,-221.74
4103,9898,2022-03-01,-91000000,7000000,15000000,0,8000000,-413.64

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
288,219A,2021-10-01,-,-,-,-,5930488000,-
280,219A,2022-10-01,-1921746000,-994000,-22164000,0,3988069000,-385.07
276,219A,2023-10-01,-797930000,-425695000,1848248000,-327839000,4588118000,-231.47
270,219A,2024-10-01,-1343039000,-67130000,2118845000,-14022000,5297166000,-153.73
280,219A,2024-10-01,-1343039000,-67130000,2118845000,-14022000,5297166000,-153.73

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
490,269A,2021-09-01,-,-,-,-,6879000,-
480,269A,2022-09-01,-75728000,-,246880000,0,178031000,-25.24
476,269A,2023-09-01,-177148000,-31753000,187223000,-6650000,156352000,-42.06
465,269A,2024-09-01,-31907000,-99664000,195448000,-9830000,220228000,-5.03
483,269A,2024-09-01,-31907000,-99664000,195448000,-99664000,220228000,-5.03

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
951,3912,2011-12-01,-,-,-,-,456337000,-
987,3912,2012-12-01,186826000,-111734000,-,-112285000,531429000,16.2
1011,3912,2013-12-01,217963000,-180839000,-,-156482000,568553000,14.03
1036,3912,2014-12-01,181200000,-124946000,-,-127717000,624806000,11.76
1056,3912,2015-12-01,216682000,-93668000,368216000,-93668000,1116036000,12.37
1066,3912,2016-12-01,437465000,-77550000,-43440000,-72730000,1432511000,21.11
1075,3912,2017-12-01,544318000,-69419000,-134057000,-69419000,1773352000,22.33
1082,3912,2018-12-01,940225000,-11921000,-559138000,-8695000,2142518000,31.56
1086,3912,2019-12-01,924656000,-94342000,-494165000,-62875000,2478668000,28.98
1085,3912,2020-12-01,466912000,-150503000,-473829000,-86128000,2321248000,16.35
1123,3912,2021-12-01,656046000,-10956000,-300573000,-40719000,2665764000,22.64
1121,3912,2022-12-01,560397000,-48513000,-392768000,0,2784879000,17.82
1107,3912,2023-12-01,761288000,-565153000,-185395000,-2000000,2795619000,22.59
1084,3912,2024-12-01,658572000,-29358000,-313077000,0,3111756000,19.85
1138,3912,2024-12-01,658572000,-29358000,-313077000,0,3111756000,19.85

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1338,4597,2014-12-01,-631000000,-149000000,835000000,-,501000000,-5736.36
1388,4597,2015-12-01,-699000000,-633000000,2933000000,-,2099000000,-305.24
1429,4597,2016-12-01,-464000000,-557000000,-33000000,-,1038000000,-92.61
1480,4597,2017-12-01,-911000000,-537000000,3781000000,-,3370000000,-222.2
1533,4597,2018-12-01,-2323000000,-256000000,3260000000,-52000000,4046000000,-730.5
1553,4597,2019-12-01,-828000000,-735000000,1641000000,-2000000,4116000000,-63.21
1549,4597,2020-12-01,-2789000000,-171000000,1829000000,-10000000,2964000000,-614.32
1581,4597,2021-12-01,-2473000000,-164000000,361000000,-2000000,714000000,-442.4
1570,4597,2022-12-01,-2074000000,-418000000,2571000000,0,803000000,-189.93
1549,4597,2023-12-01,-359000000,-,275000000,0,728000000,-58.18
1516,4597,2024-12-01,-1033000000,-,1180000000,-1000000,886000000,-326.9
1590,4597,2024-12-01,-1033000000,-,1180000000,-1000000,886000000,-326.9

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1787,5075,2020-01-01,-,-,-,-,604956000,-
1817,5075,2021-01-01,360200000,-102494000,-6991000,-2494000,855670000,39.39
1801,5075,2022-01-01,-170782000,-150000000,-15592000,0,519295000,-25.36
1776,5075,2023-01-01,263982000,47794000,110516000,-2205000,941589000,28.78
1733,5075,2024-01-01,-25862000,-37736000,-22284000,-15347000,855705000,-3.03
1818,5075,2025-01-01,334260000,-98271000,-15956000,-1959000,1075736000,27.98

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1836,5241,2019-12-01,39865000,-23964000,-22123000,-,348461000,1.73
1836,5241,2020-12-01,65398000,-10571000,192584000,-,595873000,2.86
1866,5241,2021-12-01,-92789000,-11708000,127958000,-,619333000,-3.62
1851,5241,2022-12-01,88533000,-7677000,-65332000,0,634857000,3.68
1828,5241,2023-12-01,94181000,-52060000,68064000,-23310000,745042000,3.45
1781,5241,2024-12-01,127000000,-10000000,-203000000,-3380000,658231000,4.31
1870,5241,2024-12-01,127760000,-10947000,-203624000,-2180000,658231000,4.33

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1934,5575,2020-05-01,-,-,-,-,159408000,-
1964,5575,2021-05-01,38111000,-1076000,83161000,-1076000,279604000,9.26
1949,5575,2022-05-01,226335000,-,-55552000,0,450388000,31.91
1925,5575,2023-05-01,270025000,-124743000,-46656000,-124792000,549013000,28.49
1876,5575,2024-05-01,387448000,-154367000,245169000,-164314000,1027264000,30.06
1968,5575,2025-05-01,387000000,-213000000,-46000000,-193576000,1151883000,23.64

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2006,5842,2020-12-01,-,-,-,-,2086206000,-
2040,5842,2021-12-01,-1717586000,-21637000,1962359000,-16606000,2309342000,-44.46
2025,5842,2022-12-01,383049000,-684000,-382114000,0,2309000000,7.05
2000,5842,2023-12-01,5626000000,-5000000,10992000000,-5908000,18922000000,39.95
1950,5842,2024-12-01,5818000000,-102000000,-2501000000,-11000000,22137000000,18.63
2043,5842,2024-12-01,5818000000,-102000000,-2501000000,-12000000,22137000000,18.63

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2580,8143,2010-03-01,474045000,489209000,29469000,-34510000,2458541000,3.75
2652,8143,2011-03-01,948248000,160570000,-977819000,-71162000,2589540000,7.45
2735,8143,2012-03-01,390924000,-193358000,-228325000,-147297000,2558780000,3.22
2829,8143,2013-02-01,224907000,-175230000,-1169676000,-239887000,1438780000,2.01
2917,8143,2014-02-01,272403000,-67247000,-382207000,-159800000,1261729000,2.37
3006,8143,2015-02-01,207933000,-36085000,-71746000,-72994000,1361831000,1.83
3100,8143,2016-02-01,-101209000,731921000,-788003000,-123135000,1204540000,-0.94
3210,8143,2017-02-01,-768077000,-3351000,414691000,-62131000,847803000,-7.73
3301,8143,2018-02-01,76238000,-17096000,-54946000,-54877000,851998000,0.77
3374,8143,2019-02-01,-516455000,2446130000,-1335537000,-320251000,1446135000,-5.51
3416,8143,2020-02-01,-506588000,-4672000,-95081000,-73000000,839793000,-5.85
3439,8143,2021-02-01,-910593000,308194000,994214000,-55000000,1231609000,-17.42
3410,8143,2022-02-01,357660000,-26041000,-3000000,0,1560226000,8.18
3365,8143,2023-02-01,361058000,9457000,157390000,0,2088134000,10.94
3283,8143,2024-02-01,-660702000,19221000,-167535000,-3380000,1279117000,-28.21
3411,8143,2025-02-01,-452002000,-6101000,-60351000,-14309000,760662000,-22.12

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3863,9333,2020-12-01,-,-,-,-,468000000,-
3880,9333,2021-12-01,613000000,-61000000,-130000000,-24000000,889000000,22.08
3843,9333,2022-12-01,754000000,4000000,-325000000,0,1323000000,22.64

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2998,9419,2010-12-01,300868000,62275000,76104000,-7721000,475739000,26.06
3076,9419,2011-12-01,343987000,-68887000,-,-68887000,750838000,10
3161,9419,2012-12-01,735980000,-238294000,381660000,-27217000,1630186000,13.38
3254,9419,2013-12-01,816352000,-10891000,45966000,-10890000,2481613000,11.57
3348,9419,2014-12-01,277892000,-435791000,-289252000,-426241000,2034464000,3.05
3444,9419,2015-12-01,880719000,-1867650000,927385000,-98141000,1974915000,7.79
3539,9419,2016-12-01,916568000,-597773000,-378747000,-98913000,1914944000,7.49
3653,9419,2017-12-01,683088000,-525530000,-378874000,-148580000,1693614000,5.77
3768,9419,2018-12-01,-690451000,-218018000,-1782000,-114883000,783361000,-6.05
3859,9419,2019-12-01,239029000,-56894000,321588000,-74926000,1287084000,2.11
3915,9419,2020-12-01,239629000,-107399000,-270854000,-84511000,1148460000,2.23
3932,9419,2021-12-01,297306000,234643000,657432000,-37414000,1360954000,3.04
3894,9419,2022-12-01,183978000,4648000,-100008000,0,1449572000,2.16
3836,9419,2023-12-01,424231000,-3081000,-91634000,-3081000,1779088000,5
3732,9419,2024-12-01,229000000,21000000,-200000000,-1292000,1829793000,2.71
3886,9419,2024-12-01,229070000,21634000,-200000000,-1292000,1829793000,2.71

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
10,137A,2021-05-01,-,-,-,-,73496000,-
10,137A,2022-05-01,47152000,-1095000,10330000,-1095000,129883000,8.46
9,137A,2023-05-01,120306000,-,-11075000,0,239114000,15.09
9,137A,2024-05-01,157505000,-288000,245640000,-288000,641972000,15.33
9,137A,2025-05-01,221406000,-,15107000,0,878485000,17.01

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
357,2484,2010-08-01,157429000,-117651000,-55274000,-217650000,403487000,13.6
360,2484,2011-08-01,249190000,185676000,-46263000,-312112000,792090000,19.79
367,2484,2012-08-01,259062000,-354148000,-45751000,-238982000,651144000,19.05
371,2484,2013-08-01,317580000,206882000,72028000,-111525000,1247685000,15.22
373,2484,2014-08-01,481194000,-390772000,-169640000,-74493000,1199589000,13.52
376,2484,2015-08-01,593576000,-312590000,-106498000,-214237000,1371941000,16.21
379,2484,2016-08-01,673461000,-144678000,-194471000,-283854000,1719798000,16.21
379,2484,2017-08-01,1044682000,-298125000,-204551000,-283794000,2262804000,21.13
382,2484,2018-08-01,433133000,-353089000,591246000,-343590000,2928218000,7.98
384,2484,2019-08-01,98000000,-501000000,-338000000,-431267000,2185000000,1.47
388,2484,2020-08-01,-1498000000,-449000000,28728000000,-538312000,28966000000,-14.52
422,2484,2021-08-01,-16419000000,-2346000000,-3000000,-2510198000,10196000000,-56.71
412,2484,2022-08-01,-39986000000,50000000,83001000000,-170000000,53262000000,-84.51
407,2484,2023-08-01,-12290000000,-64000000,-,0,40906000000,-23.9
397,2484,2024-08-01,-4582000000,2187000000,-3999000000,-,34511000000,-9.09
411,2484,2024-08-01,-4582000000,2187000000,-3999000000,-,34511000000,-9.09

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1704,4937,2018-09-01,-,-,-,-,576085000,-
1727,4937,2019-09-01,-985906000,-20079000,829099000,-20079000,399199000,-29.12
1725,4937,2020-09-01,88365000,2314000,-15814000,-1140000,474065000,1.96
1755,4937,2021-09-01,-128483000,-6377000,703488000,-9577000,1042693000,-2.74
1741,4937,2022-09-01,168547000,-175850000,-129166000,-,906224000,6.17
1719,4937,2023-09-01,455850000,-49057000,-7991000,0,1305025000,26.41
1679,4937,2024-09-01,48657000,-75557000,112147000,-80255000,1505331000,2.5
1760,4937,2024-09-01,48657000,-75557000,112147000,-80255000,1505331000,2.5

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1800,5126,2019-12-01,-,-,-,-,530694000,-
1799,5126,2020-12-01,84000000,-13000000,-49000000,-11102000,545000000,8.22
1829,5126,2021-12-01,193000000,-14000000,-49000000,-9570000,682000000,17.55
1814,5126,2022-12-01,285000000,-41000000,9000000,-23804000,937000000,22.09
1789,5126,2023-12-01,298000000,-83000000,-41000000,0,1112000000,18.78
1745,5126,2024-12-01,-88000000,-244000000,1000000,-199000000,821000000,-4.58
1831,5126,2024-12-01,-88000000,-244000000,1000000,-199000000,821000000,-4.58

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1957,5616,2020-12-01,-,-,-,-,936252000,-
1990,5616,2021-12-01,-615978000,-1415000,3332000,-1414000,322190000,-138.33
1975,5616,2022-12-01,-313414000,-11905000,403297000,-6453000,400167000,-49.28
1950,5616,2023-12-01,-241762000,2214000,722350000,0,882969000,-25.28
1901,5616,2024-12-01,-250000000,-89000000,-60000,-5644000,543391000,-24.61
1993,5616,2024-12-01,-250018000,-89499000,-60000,-5644000,543391000,-24.47

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2236,7544,2010-02-01,969000000,-788000000,388000000,-714000000,1617000000,3.66
2306,7544,2011-02-01,1289000000,-481000000,-1664000000,-396000000,760000000,4.78
2384,7544,2012-02-01,2127000000,-583000000,-703000000,-420000000,1601000000,7.9
2477,7544,2013-02-01,0,-638000000,-394000000,-642000000,568000000,0
2558,7544,2014-02-01,924000000,-227000000,-481000000,-380000000,785000000,4.12
2645,7544,2015-02-01,1435000000,-228000000,-691000000,-449000000,1300000000,6.84
2727,7544,2016-02-01,453000000,-579000000,-323000000,-722000000,850000000,2.38
2829,7544,2017-02-01,-2634000000,3614000000,775000000,-112000000,2605000000,-16.06
2918,7544,2018-02-01,-6081000000,10113000000,-1774000000,-244000000,4863000000,-48.36
2988,7544,2019-02-01,-1087000000,78000000,-241000000,-101000000,3612000000,-9.06
3032,7544,2020-02-01,485000000,-63000000,-22000000,-87000000,4011000000,3.74
3066,7544,2021-02-01,41000000,-49000000,-247000000,-59000000,3756000000,0.33
3045,7544,2022-02-01,331000000,22000000,-269000000,-8000000,3841000000,2.7
3004,7544,2023-02-01,38000000,11000000,-483000000,0,3407000000,0.29
2933,7544,2024-02-01,818000000,35000000,-185000000,-,4075000000,5.9
3050,7544,2025-02-01,519000000,-40000000,-397000000,-48000000,4157000000,3.73

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
225,2186,2010-02-01,-218420000,7860000,-138617000,-13314000,903971000,-3.79
227,2186,2011-02-01,344599000,-16468000,-15287000,-11944000,1216815000,5.89
234,2186,2012-02-01,114933000,29666000,-43257000,-28807000,1318157000,1.88
237,2186,2013-02-01,343284000,-123082000,-68687000,-4347000,1469672000,5.34
239,2186,2014-02-01,284636000,-204234000,-73068000,-4991000,1477005000,4.3
241,2186,2015-02-01,700583000,-246026000,-248374000,-57129000,1683187000,10.12
244,2186,2016-02-01,145106000,152973000,-577631000,-28556000,1403635000,1.88
244,2186,2017-02-01,219687000,94625000,-327661000,-6965000,1390286000,2.78
246,2186,2018-02-01,540058000,-13546000,-183025000,-3645000,1733773000,6.57
249,2186,2019-02-01,343875000,-6686000,-207578000,-7098000,1863383000,4.2
254,2186,2020-02-01,909887000,-21098000,-573264000,-4000,2178908000,10.9
281,2186,2021-02-01,369439000,-13375000,-242808000,-11000000,2292163000,4.91
274,2186,2022-02-01,430859000,-10716000,-250549000,-6000000,2461756000,5.28
270,2186,2023-02-01,525461000,400460000,-262372000,-26000000,3125306000,6.44
264,2186,2024-02-01,95987000,-17268000,-258633000,0,2945391000,1.17
274,2186,2025-02-01,844105000,270673000,-259136000,-19000000,3801033000,9.72

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
272,2315,2010-03-01,966099000,-1095906000,3915521000,-94560000,3878586000,4.39
275,2315,2011-03-01,-908433000,-74158000,387431000,-328334000,3143367000,-5.1
282,2315,2012-03-01,3083299000,120700000,2347959000,-101233000,9182012000,14.83
285,2315,2013-03-01,4361117000,-7829319000,7525150000,-3468696000,14925604000,14.88
287,2315,2014-03-01,-9633601000,4342432000,-3100301000,-321667000,7727093000,-36.66
289,2315,2015-10-01,-1166005000,2609069000,-271367000,-50143000,2129032000,-28.26
292,2315,2016-10-01,-270144000,454144000,-1606696000,-4600000,704732000,-5.06
292,2315,2017-10-01,233755000,-641153000,1774396000,-55869000,2071760000,4.41
295,2315,2018-10-01,373218000,-4168880000,4206758000,-130856000,2482857000,4.88
297,2315,2019-10-01,-232601000,-1203222000,1173921000,-659207000,2564276000,-3.06
302,2315,2020-10-01,-591209000,446550000,2540213000,-104796000,4960433000,-9.85
333,2315,2021-10-01,-2069201000,-187484000,1544959000,-163561000,4248977000,-34.8
324,2315,2022-10-01,-1144092000,-212310000,-229679000,-292248000,2671569000,-17.76
320,2315,2023-10-01,-1749931000,-572748000,701463000,-16952000,1049489000,-30.81
313,2315,2024-10-01,282852000,-386873000,-246486000,0,698977000,5.04
324,2315,2024-10-01,282852000,-386873000,-246486000,0,698977000,5.04

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
617,3137,2012-03-01,-,-,-,-,74263000,-
623,3137,2013-03-01,202464000,-9346000,11680000,-6889000,279062000,9.76
625,3137,2014-03-01,181354000,-13427000,53222000,-3003000,500211000,7.34
630,3137,2015-03-01,428817000,-8909000,-32512000,-5465000,887606000,16.07
637,3137,2016-03-01,237966000,-8848000,201140000,-4738000,1317865000,7.89
643,3137,2017-03-01,402253000,-11647000,6030000,-9474000,1714500000,12.46
650,3137,2018-03-01,423633000,-10404000,438000,-10403000,2128168000,12.81
658,3137,2019-03-01,299988000,-1614470000,1136407000,-1604398000,1950093000,8.84
666,3137,2020-03-01,205892000,-4092457000,3859527000,-4344118000,1923057000,6.15
711,3137,2021-03-01,-278719000,-667007000,-308855000,-467963000,668474000,-9.1
710,3137,2022-03-01,738474000,-50693000,-289415000,-371000,1066839000,23.64
701,3137,2023-03-01,189153000,-694000,-279515000,-502000,975782000,6.73
687,3137,2024-03-01,71343000,3091000,-268680000,0,781536000,2.7
710,3137,2025-03-01,249143000,-1437000,-270360000,-1395000,758883000,10.11

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
806,3680,2010-12-01,-,-,-,-,110129000,-
829,3680,2011-12-01,140308000,-96493000,-94992000,-67572000,58952000,27.82
860,3680,2012-12-01,120525000,-292960000,300341000,-35347000,226101000,18.83
885,3680,2013-12-01,208382000,-63161000,577442000,-62185000,949205000,22.08
911,3680,2014-12-01,167046000,-78302000,1706324000,-78386000,2772545000,16.25
930,3680,2015-12-01,280384000,-3129251000,710663000,-,611611000,11.49
940,3680,2016-12-01,308569000,-405744000,429188000,-,940971000,14.11
949,3680,2017-12-01,470401000,-389976000,80340000,-,1074751000,18.21
956,3680,2018-12-01,222408000,-104809000,790303000,-670000,1976005000,6.86
961,3680,2019-12-01,-379588000,-538085000,648236000,-458000000,1700469000,-10.27
965,3680,2020-12-01,466430000,-342142000,255899000,-285000000,2067077000,10.64
1004,3680,2021-12-01,678714000,-536012000,307868000,-274000000,2598630000,10.33
1004,3680,2022-12-01,793560000,-291056000,375775000,-315000000,3596782000,10.04
991,3680,2023-12-01,698108000,-716182000,-154515000,-382000000,3495505000,14.73
970,3680,2024-12-01,295595000,-432910000,-193110000,0,3301684000,6.93
1015,3680,2024-12-01,295595000,-432910000,-193110000,-403000000,3301684000,6.93

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
865,3808,2010-06-01,403978000,-221353000,2800000,-319790000,1191620000,28.72
898,3808,2011-06-01,353829000,-144455000,200000,-157474000,1389208000,22.07
929,3808,2012-06-01,286412000,-219226000,-24129000,-245970000,1430637000,18.7
954,3808,2013-06-01,106077000,-426704000,-14410000,-387112000,1119400000,3.93
980,3808,2014-06-01,-100919000,-344154000,-23050000,-248613000,654833000,-3.11
999,3808,2015-06-01,206069000,18430000,-27749000,-123852000,862630000,7.53
1009,3808,2016-06-01,239827000,-225235000,-1218000,-83546000,874835000,9.95
1018,3808,2017-06-01,152844000,-212198000,-5741000,-127603000,799481000,6.34
1025,3808,2018-06-01,926255000,-250139000,101937000,-217391000,1578700000,24.46
1029,3808,2019-06-01,82375000,-3597203000,3629689000,-2521343000,1658322000,1.68
1029,3808,2020-06-01,864939000,-1895206000,255278000,-357091000,883966000,18.04
1067,3808,2021-06-01,-414302000,9373795000,-709328000,-101282000,9153731000,-18.86
1066,3808,2022-06-01,-2993522000,-4091439000,-1655361000,-22163000,460508000,-359.59
1053,3808,2023-06-01,-523180000,60312000,459670000,-12208000,155662000,-356.98
1030,3808,2024-06-01,-367634000,-1309000,486511000,0,273052000,-240.63
1082,3808,2025-06-01,64000000,-82000000,287000000,-,542309000,27.35

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1266,4833,2010-03-01,235434000,-109636000,297932000,-116999000,1481592000,2.69
1313,4833,2011-03-01,-186505000,-185842000,132900000,-196182000,1242144000,-2.26
1360,4833,2012-03-01,67941000,-158476000,65129000,-83775000,1216738000,0.86
1412,4833,2013-03-01,246878000,-127585000,34202000,-153865000,1370233000,3.04
1464,4833,2014-03-01,179635000,-19619000,-46940000,-37123000,1483308000,2.16
1514,4833,2015-03-01,-140993000,-54506000,20920000,-49560000,1308729000,-1.78
1557,4833,2016-03-01,-185445000,444575000,-113107000,-48362000,1454750000,-2.46
1609,4833,2017-03-01,-283392000,210331000,817337000,-37003000,2196893000,-4.05
1662,4833,2018-03-01,-83988000,-140695000,-209509000,-113159000,1762699000,-1.17
1682,4833,2019-03-01,-105125000,-289775000,-174608000,-435267000,1954352000,-1.31
1677,4833,2020-03-01,-248039000,44307000,-278053000,-47308000,1472566000,-2.28
1706,4833,2021-03-01,-731383000,731860000,913020000,-42869000,1816026000,-40.03
1691,4833,2022-03-01,-593066000,-349142000,-38170000,-4774000,891440000,-38.09
1669,4833,2023-03-01,-421759000,27397000,-11027000,-2216000,486051000,-67.98
1631,4833,2024-03-01,-266332000,-60357000,496820000,0,656181000,-50.03
1710,4833,2025-03-01,-441955000,-31207000,-,-41653000,183018000,-71.32

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
343,2459,2010-05-01,45854000,-55666000,-80324000,-43206000,858762000,1.66
346,2459,2011-05-01,-127500000,-57393000,-23624000,-30098000,646697000,-6.06
353,2459,2012-05-01,-116043000,30231000,-9506000,-4011000,530755000,-7.94
357,2459,2013-05-01,-56354000,18052000,-12265000,-3500000,559535000,-4.02
359,2459,2014-05-01,6110000,20022000,1391000,-11331000,590966000,0.36
362,2459,2015-05-01,38696000,-23469000,-1501000,-74486000,621074000,2.39
365,2459,2016-05-01,106425000,-220056000,-555000,-136560000,480531000,5.72
365,2459,2017-05-01,-22493000,-16509000,-141000,-20013000,442612000,-1.17
368,2459,2018-05-01,-16609000,19892000,-109000,-4500000,444801000,-0.88
370,2459,2019-05-01,54438000,-56708000,167649000,-1971000,608627000,2.9
374,2459,2020-05-01,6865000,-42986000,-46462000,-57790000,523130000,0.36
406,2459,2021-05-01,-188077000,101469000,9229000,-8019000,459546000,-18.21
395,2459,2022-05-01,-21026000,40818000,60094000,-250000,566932000,-4.2
390,2459,2023-05-01,-91677000,28159000,25920000,-1914000,545518000,-20.17
380,2459,2024-05-01,-121943000,39777000,27226000,-3950000,506331000,-27.62
394,2459,2025-05-01,-47444000,1849000,-16979000,0,442955000,-17.52

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1252,4179,2018-03-01,-,-,-,-,31301000,-
1256,4179,2019-03-01,-137098000,-2904000,123063000,-230000,14479000,-27.13
1256,4179,2020-03-01,-119604000,-2210000,233095000,-219000,125657000,-22.51
1294,4179,2021-03-01,151263000,-1676000,701362000,-7302000,974381000,17.33
1288,4179,2022-03-01,-460583000,-55572000,64923000,-23259000,523844000,-93.02
1272,4179,2023-03-01,-54299000,-19219000,-31352000,-11913000,411302000,-8.39
1246,4179,2024-03-01,-57994000,1174000,-36200000,-1638000,318282000,-9.5
1309,4179,2025-03-01,-233992000,-,329973000,0,414263000,-33.83

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1921,6778,2010-07-01,-731478000,-54454000,-316844000,-60734000,2136952000,-36.99
1991,6778,2011-07-01,-315189000,-38587000,-347000,-37817000,1780021000,-27.06
2066,6778,2012-07-01,163508000,-172828000,-1120000,-5207000,1767917000,9.09
2153,6778,2013-07-01,-68732000,182864000,-940000,-24515000,1904228000,-6.46
2231,6778,2014-07-01,276765000,-495072000,-945000,-39420000,1686905000,10.29
2300,6778,2015-07-01,1042646000,-263038000,-40435000,-21425000,2440110000,37.04
2353,6778,2016-07-01,294586000,-64803000,-80682000,-215071000,2570283000,13.09
2424,6778,2017-07-01,-248514000,-132428000,-3192000,-126205000,2188984000,-12.48
2492,6778,2018-07-01,-921780000,-196188000,28715000,-295881000,1091752000,-39.46
2551,6778,2019-07-01,56903000,-264645000,1068524000,-240576000,1947516000,2.16
2589,6778,2020-07-01,632821000,-36988000,357644000,-173010000,2898958000,19.58
2627,6778,2021-07-01,1873203000,-529782000,1995035000,-597161000,6241890000,46.24
2602,6778,2022-07-01,826984000,-201517000,-130392000,-134658000,6743778000,18.2
2563,6778,2023-07-01,233226000,100837000,-258799000,-100756000,6820325000,5.67
2502,6778,2024-07-01,226760000,-59619000,-532090000,-18976000,6455131000,8.04
2609,6778,2025-07-01,398000000,-4133000000,-594000000,0,2126175000,14.85

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2511,7046,2016-03-01,-,-,-,-,326998000,-
2582,7046,2017-03-01,46586000,-662000,-18750000,-750000,373646000,5.69
2650,7046,2018-03-01,53723000,-2547000,107250000,-1176000,531766000,5.27
2707,7046,2019-03-01,168519000,-73177000,543430000,-17987000,1170539000,12.47
2745,7046,2020-03-01,75420000,-818088000,479553000,-7047000,907425000,5.48
2779,7046,2021-03-01,47336000,1008996000,-520496000,-11291000,1443262000,3.58
2751,7046,2022-03-01,224141000,-13129000,-40763000,-11104000,1613509000,13
2711,7046,2023-03-01,195389000,-12796000,-20530000,-5309000,1775572000,8.09
2644,7046,2024-03-01,107179000,-68652000,-21666000,-66493000,1792432000,4.25
2757,7046,2025-03-01,197348000,-11700000,-22064000,0,1955492000,7.31

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2521,7063,2016-06-01,-,-,-,-,127194000,-
2593,7063,2017-06-01,10161000,-43934000,72281000,-1320000,165701000,1.23
2661,7063,2018-06-01,78414000,2248000,37895000,-7347000,293425000,5.4
2718,7063,2019-06-01,88088000,-148836000,560856000,-58585000,793065000,4.13
2756,7063,2020-06-01,-418068000,-325881000,654486000,-55715000,615125000,-19.71
2790,7063,2021-06-01,-123214000,-60753000,79311000,-21124000,495888000,-7.01
2762,7063,2022-06-01,70071000,-36680000,176200000,-3648000,705479000,2.08
2722,7063,2023-06-01,-157299000,35737000,612938000,-9983000,1196856000,-3.51
2655,7063,2024-06-01,-2122786000,51404000,990369000,-2099000,115844000,-101.79
2768,7063,2025-06-01,-296053000,18503000,1889904000,0,1728198000,-92.79

----------------------- Ë≤°ÂãôCF -----------------------

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1806,6489,2010-05-01,69000000,-304000000,0,-403000000,4038000000,0.22
1871,6489,2011-05-01,801000000,-310000000,2542000000,-367000000,7133000000,3.04
1945,6489,2012-05-01,1139000000,565000000,238000000,-448000000,9077000000,4.36
2024,6489,2013-05-01,1487000000,-35000000,-530000000,-391000000,9999000000,5.38
2082,6489,2014-05-01,-1190000000,-254000000,702000000,-435000000,9257000000,-4.38
2134,6489,2015-05-01,2355000000,-363000000,-905000000,-307000000,10343000000,8.11
2182,6489,2016-05-01,-645000000,-311000000,844000000,-320000000,10229000000,-2.24
2248,6489,2017-05-01,809000000,-377000000,-2555000000,-374000000,8105000000,3.09
2309,6489,2018-05-01,249000000,-611000000,-878000000,-605000000,6863000000,0.87
2368,6489,2019-05-01,1053000000,-509000000,17000000,-544000000,7397000000,3.5
2409,6489,2020-05-01,843000000,-495000000,-395000000,-493000000,7349000000,2.82
2448,6489,2021-05-01,3400000000,-587000000,-570000000,-563000000,9591000000,10.69
2427,6489,2022-05-01,2316000000,-441000000,-1278000000,-486000000,10188000000,7.49
2391,6489,2023-05-01,2599000000,-714000000,-606000000,-742000000,11467000000,8.03
2334,6489,2024-05-01,765000000,-826000000,-946000000,-573000000,10459000000,2.1
2436,6489,2025-05-01,5546000000,-4565000000,-1135000000,-1688000000,10305000000,14.79

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2743,8562,2010-03-01,8853000000,-5288000000,-250000000,-2012000000,35330000000,48.32
2815,8562,2011-03-01,12672000000,-20329000000,-230000000,-392000000,27443000000,78.7
2898,8562,2012-03-01,46926000000,-53993000000,0,-495000000,20375000000,286.61
2992,8562,2013-03-01,23395000000,-30135000000,769000000,-388000000,14404000000,149.29
3080,8562,2014-03-01,18698000000,-11739000000,1269000000,-558000000,22632000000,118
3169,8562,2015-03-01,26020000000,-14975000000,-4045000000,-344000000,29632000000,142.13
3263,8562,2016-03-01,-11250000000,70193000000,-340000000,-187000000,88477000000,-62.62
3373,8562,2017-03-01,-11859000000,4047000000,-461000000,-359000000,80204000000,-81.8
3464,8562,2018-03-01,-19942000000,1057000000,-1961000000,-272000000,59359000000,-146.44
3535,8562,2019-03-01,25292000000,14227000000,-1501000000,-355000000,97377000000,197.24
3574,8562,2020-03-01,-39120000000,15236000000,1063000000,-339000000,74555000000,-290.32
3592,8562,2021-03-01,39072000000,-23078000000,-113000000,-383000000,90436000000,293.47
3558,8562,2022-03-01,13184000000,-14219000000,-1000000,-396000000,89400000000,100.04
3507,8562,2023-03-01,-7431000000,-6454000000,-140000000,-238000000,75373000000,-55.91
3413,8562,2024-03-01,1184000000,1489000000,-140000000,-754000000,77907000000,8.9
3553,8562,2025-03-01,-15199000000,-9516000000,1770000000,-1349000000,54961000000,-113.28

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2084,7217,2010-03-01,729578000,-44198000,-57379000,-48806000,1305634000,23.66
2156,7217,2011-03-01,218948000,-46442000,-55727000,-6593000,1410000000,7.59
2234,7217,2012-03-01,170051000,70419000,-14000,-39913000,1651800000,6.1
2329,7217,2013-03-01,165523000,-1262753000,0,-1257943000,583841000,5.98
2409,7217,2014-03-01,202620000,-776327000,1449019000,-763956000,1560917000,6.24
2493,7217,2015-03-01,204675000,-729131000,-78816000,-695478000,1026738000,6.08
2575,7217,2016-03-01,108116000,-318555000,-174412000,-298099000,595146000,2.61
2664,7217,2017-03-01,190588000,-207602000,124752000,-200030000,695069000,4.74
2736,7217,2018-03-01,121643000,-216432000,14575000,-219774000,623306000,3.08
2802,7217,2019-03-01,743704000,-408698000,-88272000,-401000000,865938000,17.9
2845,7217,2020-03-01,817013000,-240497000,-285788000,-227000000,1117771000,19.32
2880,7217,2021-03-01,1076788000,-389940000,-263636000,-374000000,1597168000,22.81
2856,7217,2022-03-01,366187000,-552634000,-51929000,-539000000,1439899000,7.37
2815,7217,2023-03-01,1074344000,-418678000,-613226000,-374000000,1512574000,20.49
2748,7217,2024-03-01,583432000,-289745000,-456881000,-292000000,1414226000,11.99
2861,7217,2025-03-01,686805000,-266617000,-557595000,-269000000,1272479000,12.92

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
21,1515,2010-03-01,4881000000,-1928000000,-3746000000,-2518000000,14295000000,5.21
23,1515,2011-03-01,7932000000,-3768000000,-6627000000,-3662000000,11721000000,7.36
29,1515,2012-03-01,10195000000,-3696000000,-3988000000,-3665000000,14237000000,10.04
32,1515,2013-03-01,11838000000,-8674000000,-2341000000,-8508000000,15467000000,11.51
33,1515,2014-03-01,5742000000,-10186000000,0,-5779000000,11539000000,5.02
34,1515,2015-03-01,19811000000,-4289000000,-3832000000,-6079000000,23717000000,15.79
37,1515,2016-03-01,11070000000,-4993000000,-3675000000,-4829000000,25973000000,9.7
37,1515,2017-03-01,12079000000,-6070000000,-6194000000,-6157000000,25686000000,11.25
39,1515,2018-03-01,12161000000,-4611000000,-3089000000,-4472000000,29911000000,10.24
41,1515,2019-03-01,13465000000,-6077000000,-4025000000,-8044000000,33514000000,10.91
47,1515,2020-03-01,9242000000,-7714000000,-1454000000,-8825000000,33484000000,7.87
54,1515,2021-03-01,9414000000,-6539000000,-999000000,-7461000000,35236000000,7.9
52,1515,2022-03-01,8539000000,-7256000000,-4759000000,-9577000000,32949000000,5.73
51,1515,2023-03-01,15818000000,-5507000000,-4920000000,-8572000000,39729000000,9.64
50,1515,2024-03-01,8951000000,-6326000000,-5840000000,-6734000000,37056000000,5.36
51,1515,2025-03-01,17713000000,-12259000000,-6477000000,-21272000000,37789000000,9

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1976,6620,2012-03-01,425000000,-184000000,-299000000,0,151000000,4.93
2062,6620,2013-03-01,395000000,-112000000,-304000000,-34000000,147000000,7.31
2140,6620,2014-03-01,482000000,85000000,0,-20000000,761000000,8.61
2207,6620,2015-03-01,-25000000,206000000,49000000,-1000000,1082000000,-1.11
2260,6620,2016-03-01,612000000,-490000000,-24000000,-42000000,1122000000,44.84
2331,6620,2017-03-01,-135000000,446000000,-25000000,0,1303000000,-10.93
2398,6620,2018-03-01,990000000,425000000,-782000000,-1000000,1954000000,73.66
2459,6620,2019-03-01,665000000,-8676000000,7476000000,-3000000,1390000000,45.39
2499,6620,2020-03-01,1013000000,-179000000,-,-3000000,2212000000,68.03
2537,6620,2021-03-01,947000000,-375000000,-,-1000000,2800000000,58.49
2514,6620,2022-03-01,539000000,-874000000,-,-1000000,2574000000,38.31
2476,6620,2023-03-01,630000000,-334000000,-199000000,-209000000,2709000000,47.76
2416,6620,2024-03-01,744000000,-258000000,-,-42000000,3261000000,65.44
2522,6620,2025-03-01,473000000,-530000000,-,-343000000,3359000000,45.92

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
3171,9836,2010-11-01,-1430000000,5011000000,-86000000,-145000000,3660000000,-10.86
3249,9836,2011-11-01,-1231000000,-337000000,-87000000,-78000000,2002000000,-13.39
3336,9836,2012-11-01,578000000,-31000000,-72000000,-24000000,2476000000,6.01
3430,9836,2013-11-01,-632000000,-30000000,-40000000,-42000000,1772000000,-6.75
3525,9836,2014-11-01,-1261000000,74000000,0,-71000000,527000000,-11.67
3623,9836,2015-11-01,-33000000,-85000000,324000000,-51000000,732000000,-0.28
3720,9836,2016-11-01,-107000000,224000000,-78000000,-48000000,771000000,-0.87
3833,9836,2017-11-01,838000000,-285000000,-248000000,-197000000,1075000000,6.44
3950,9836,2018-11-01,98000000,-232000000,-14000000,-179000000,926000000,0.68

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
2921,9078,2010-03-01,2552000000,-508000000,-1787000000,-947000000,2453000000,6.58
2995,9078,2011-03-01,1770000000,-1392000000,-262000000,-1422000000,2568000000,4.28
3078,9078,2012-03-01,1015000000,-1353000000,-506000000,-1473000000,1724000000,2.51
3172,9078,2013-03-01,1917000000,-1054000000,-571000000,-966000000,2015000000,4.78
3260,9078,2014-03-01,2137000000,-1500000000,89000000,-1499000000,2741000000,4.94
3350,9078,2015-03-01,2424000000,-1740000000,0,-2587000000,3425000000,5.47
3444,9078,2016-03-01,2232000000,-1698000000,-527000000,-1898000000,3051000000,5.04
3554,9078,2017-03-01,2021000000,-2114000000,4000000,-2293000000,2963000000,4.54
3645,9078,2018-03-01,2773000000,-1377000000,-350000000,-1404000000,4009000000,5.92
3716,9078,2019-03-01,2600000000,-3566000000,1388000000,-3790000000,4432000000,5.29
3752,9078,2020-03-01,2283000000,791000000,-541000000,-3761000000,6965000000,4.66
3767,9078,2021-03-01,2722000000,-4161000000,-1590000000,-4606000000,3934000000,5.7
3728,9078,2022-03-01,2729000000,-3628000000,788000000,-2909000000,3824000000,5.66
3674,9078,2023-03-01,2180000000,-109000000,-1338000000,-1912000000,4556000000,4.54
3572,9078,2024-03-01,2203000000,-1998000000,-1285000000,-1656000000,3475000000,4.43
3721,9078,2024-03-01,2203000000,-1998000000,-1285000000,-1656000000,3475000000,4.43

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
899,3858,2010-03-01,469525000,-430000000,-60074000,-94396000,418280000,40.49
932,3858,2011-03-01,457890000,558013000,57839000,-104790000,1492023000,32.19
963,3858,2012-03-01,-49512000,-393939000,-76515000,-148361000,972056000,-5.41
987,3858,2013-03-01,214766000,-829140000,110185000,-232842000,467868000,24.07
1012,3858,2014-03-01,-178906000,177749000,71275000,-72918000,537986000,-23.4
1032,3858,2015-03-01,-170152000,32719000,296607000,-32292000,697161000,-19.21
1042,3858,2016-03-01,-124076000,-593364000,1384230000,-62219000,1363950000,-12.79
1051,3858,2017-03-01,94210000,622788000,-48813000,-20178000,2029002000,8.38
1058,3858,2018-03-01,10366000,-1089960000,5908000,-27154000,954957000,0.44
1062,3858,2019-03-01,118309000,70458000,15655000,-81406000,1159343000,4.92
1061,3858,2020-03-01,217650000,357232000,1010000,-15358000,1734808000,9.27
1099,3858,2021-03-01,-24882000,-80635000,-68000,-50635000,1628769000,-1.31
1098,3858,2022-03-01,221543000,-149187000,0,-24156000,1705449000,10.76
1084,3858,2023-03-01,-87283000,-104306000,0,-78908000,1514932000,-4.5
1061,3858,2024-03-01,188198000,11719000,-318873000,-21708000,1401217000,5.41
1113,3858,2025-03-01,137876000,23157000,-220915000,-36693000,1341054000,3.33

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1807,5137,2019-09-01,-,-,-,-,945983000,-
1806,5137,2020-09-01,-665258000,-34873000,207700000,-51496000,454051000,-166.92
1836,5137,2021-09-01,-268266000,3333000,1116985000,-4600000,1307149000,-32.41
1821,5137,2022-09-01,-445965000,-16591000,0,-15591000,844922000,-35.54
1798,5137,2023-09-01,-107325000,-113325000,347243000,-113583000,971167000,-6.28
1752,5137,2024-09-01,46024000,-231481000,23588000,-201616000,807170000,2.12
1840,5137,2024-09-01,46024000,-231481000,23588000,-201616000,807170000,2.12

,„Ç≥„Éº„Éâ,Âπ¥Â∫¶,Âñ∂Ê•≠CF,ÊäïË≥áCF,Ë≤°ÂãôCF,Ë®≠ÂÇôÊäïË≥á,ÁèæÈáëÂêåÁ≠âÁâ©,Âñ∂Ê•≠CF„Éû„Éº„Ç∏„É≥
1740,6047,2013-05-01,-29330000,-2430000,74577000,-430000,42967000,-7033.57
1793,6047,2014-05-01,-1512000000,-20000000,1952000000,-6952000,462000000,-421.17
1844,6047,2015-05-01,361000000,-164000000,5650000000,-46522000,6311000000,11.41
1891,6047,2016-05-01,532000000,-1275000000,-191000000,-13395000,5369000000,11.57
1955,6047,2017-05-01,1698000000,-562000000,70000000,-116000000,6576000000,21.94
2014,6047,2018-05-01,2392000000,-329000000,127000000,-24000000,8767000000,21.36
2073,6047,2019-05-01,2067000000,130000000,192000000,-24000000,11157000000,13.76
2116,6047,2020-05-01,-631000000,-986000000,-459000000,-623000000,9075000000,-4.51
2157,6047,2021-05-01,983000000,-1079000000,-1000000,-66000000,8952000000,11.03
2141,6047,2022-05-01,-33000000,-4064000000,9000000,-15000000,4947000000,-0.37
2113,6047,2023-05-01,-433000000,604000000,0,-2000000,5100000000,-5.38
2062,6047,2024-05-01,-206000000,271000000,-103000000,-4000000,5090000000,-2.81
2157,6047,2025-05-01,-26000000,-1142000000,55000000,-3000000,3991000000,-0.43

### „Éá„Éº„ÇøÂûã„ÅÆÊï¥ÂêàÊÄßÁ¢∫Ë™ç

<details>
<summary><b>ÁµêÊûú</b></summary>

</details>

### ÂàùÊúüÂìÅË≥™„ÅÆÁ¢∫Ë™ç

<details>
<summary><b>ÁµêÊûú</b></summary>

</details>

In [ ]:
# Ë≤°Âãô„Éá„Éº„Çø ÁµêÂêàÂâç
pd.set_option('display.max_rows', None)
#pd.set_option('display.max_rows', 60)

def get_file_info(df_datas_by_all_files):
    df_file_info = pd.DataFrame(columns=["file","year","code_counts","year_counts","column_counts"])
    for file, year in df_datas_by_all_files.keys():
        df = df_datas_by_all_files[(file,year)]
        # len(df_file_info)„ÇíÊ¨°„ÅÆÊñ∞„Åó„ÅÑË°å„ÅÆ„Ç§„É≥„Éá„ÉÉ„ÇØ„Çπ„Å®„Åó„Å¶ÊòéÁ§∫ÁöÑ„Å´ÊåáÂÆö„Åó„Åæ„Åô„ÄÇ
        df_file_info.loc[len(df_file_info)] = [
            file, year, df["„Ç≥„Éº„Éâ"].nunique(), df["Âπ¥Â∫¶"].nunique(),df.columns.nunique()
        ]
    return df_file_info

print("")
print("„Éï„Ç°„Ç§„É´ÊØé„Å´„Éá„Éº„Çø„ÇíÂèñÂæó„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.load_data_by_files(
    settings["data_path"]["raw"],settings["years"],settings["files"]["raw"],["-","","0"]
)
#display(df_DATAs_BY_ALL_FILEs)

print("")
print("‰ºÅÊ•≠„Ç≥„Éº„ÉâÊï∞„ÄÅ„Ç®„É≥„Éâ„ÅÆÊï∞„ÄÅÂàóÊï∞„Çí„Éï„Ç°„Ç§„É´„Åî„Å®„Å´„Åæ„Å®„ÇÅ„Åæ„Åô„ÄÇ")
df_file_info = get_file_info(df_DATAs_BY_ALL_FILEs)
#display(df_file_info)

print("")
print("ÂêÑ„Éï„Ç°„Ç§„É´„ÅÆÂπ¥Êé®Áßª„ÇíÂèØË¶ñÂåñ„Åó„Åæ„Åô„ÄÇ")
"""fig = px.line(df_file_info,x="year",y="code_counts",color="file")
fig.show()
fig = px.line(df_file_info,x="year",y="year_counts",color="file")
fig.show()
fig = px.line(df_file_info,x="year",y="column_counts",color="file")
fig.show()"""

print("")
print("ÂàóÊï∞„ÅØOK„Åß„Åô")
print("ÊúÄÊñ∞Âπ¥„ÅÆ„Éï„Ç°„Ç§„É´„Å´ÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„ÇãÂπ¥Â∫¶„ÇíË°®Á§∫„Åó„Åæ„Åô„ÄÇ")
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2025)]
#display(df["Âπ¥Â∫¶"].unique())

print("")
print("ÊúÄÊñ∞Âπ¥„ÅÆ„Éï„Ç°„Ç§„É´„Å´ÈÅéÂéª„ÅÆ„Éá„Éº„Çø„Åå„ÅÇ„Çä„Åæ„Åô„ÄÇ")
print("ÊúÄÊñ∞Âπ¥„Å´ÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„ÇãÈÅéÂéª„ÅÆÂπ¥Â∫¶„Å®ÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÅåÂêå„Åò„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô")
print("„Åæ„Åö„ÅØ„ÄÅÂπ¥Â∫¶„ÇíÈôêÂÆö„Åó„Å¶„ÄÅ„Ç≥„Éº„Éâ„ÅÆ‰∏ÄË¶ß„ÇíË¶ã„Åæ„Åô")
#display(df[df["Âπ¥Â∫¶"]=="2024/12"])

print("")
print("„Ç≥„Éº„Éâ„ÇíÈôêÂÆö„ÅóÂêå„Åò„Åã„Å©„ÅÜ„ÅãË™ø„Åπ„Åæ„Åô„ÄÇ")
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2025)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2024)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])

print("")
print("ÈÅï„Å£„Å¶„ÅÑ„Åæ„Åô„ÄÇ„Åì„Çå„ÅØÊõ¥Êñ∞„Éá„Éº„Çø„Å®ÊÄù„Çè„Çå„Åæ„Åô„ÄÇ")
print("ÊúÄÊñ∞Âπ¥Â∫¶„Å´„ÅÇ„ÇãÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÇíÂèñÂæó„Åó„ÄÅÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÇíÊõ¥Êñ∞„Åó„Åæ„Åô")
df_DATAs_BY_ALL_FILEs = dl.update_duplicated(df_DATAs_BY_ALL_FILEs, 2025)
#display(df_DATAs_BY_ALL_FILEs)

print("")
print("Ê≠£„Åó„ÅèÂá¶ÁêÜ„ÅåË°å„Çè„Çå„ÄÅÊúÄÊñ∞Âπ¥„Å´ÁôªÈå≤„Åï„Çå„Å¶„ÅÑ„ÇãÈÅéÂéª„ÅÆÂπ¥Â∫¶„Å®ÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÅåÂêå„Åò„ÅãÁ¢∫Ë™ç„Åó„Åæ„Åô„ÄÇ")
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2025)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])
df = df_DATAs_BY_ALL_FILEs[(settings["files"]["raw"][0],2024)]
#display(df[df["„Ç≥„Éº„Éâ"]=="130A"])

print("")
print("ÊúÄÂæå„Å´ÊúÄÊñ∞Âπ¥Â∫¶„Å´„ÅÇ„ÇãÈÅéÂéª„ÅÆ„Éá„Éº„Çø„ÇíÊ∂àÂéª„Åó„Åæ„Åô„ÄÇ")
cutoff_date = pd.to_datetime("2025-01-01")
for file, year in df_DATAs_BY_ALL_FILEs.keys():
    if year == 2025:
        df = df_DATAs_BY_ALL_FILEs[(file,year)]
        df = df[df["Âπ¥Â∫¶"] >= cutoff_date]
        df_DATAs_BY_ALL_FILEs[(file,year)] = df
print("")
print("ÂêÑ„Éï„Ç°„Ç§„É´„ÅÆÂπ¥Êé®Áßª„Çí„ÇÇ„ÅÜ‰∏ÄÂ∫¶ÂèØË¶ñÂåñ„Åó„ÄÅÊîπÂñÑ„Åó„Å¶„ÅÑ„Çã„Åì„Å®„ÇíÁ¢∫„Åã„ÇÅ„Åæ„Åô„ÄÇ") 
df_file_info_after = get_file_info(df_DATAs_BY_ALL_FILEs)
df_file_info_after["Âå∫ÂàÜ"] = "Âá¶ÁêÜÂæå"
df_file_info_after = df_file_info_after.set_index(["file", "year"]).sort_index()
df_file_info["Âå∫ÂàÜ"] = "Âá¶ÁêÜÂâç"
df_file_info = df_file_info.set_index(["file", "year"]).sort_index()
df_compare = pd.concat([df_file_info,df_file_info_after]).sort_index().reset_index()
#display(df_compare)
fig = px.line(df_compare,x="year",y="code_counts",color="Âå∫ÂàÜ")
fig.show()

In [ ]:
# Ë≤°Âãô„Éá„Éº„Çø „Éï„Ç°„Ç§„É´„Åî„Å®„ÅÆÁµêÂêà
df_DATAs_BY_FILEs = dl.load_yearly_data(settings["data_path"], settings["years"], settings["files"],)
target_file = settings["files"][0]
display(df_DATAs_BY_FILEs[target_file][df_DATAs_BY_FILEs[target_file]["„Ç≥„Éº„Éâ"]=="130A"])

In [ ]:
# Ë≤°Âãô„Éá„Éº„Çø„ÄÄÂÖ®ÁµêÂêà
df_ALL_DATAs = dl.merge_all_data(df_DATAs_BY_FILEs)
print(df_ALL_DATAs.shape)
#display(df_ALL_DATAs)
display(df_ALL_DATAs["„Ç≥„Éº„Éâ"].unique())
display(df_ALL_DATAs["Âπ¥Â∫¶"].nunique())

In [ ]:
# ‰∏äÂ†¥‰ºÅÊ•≠„ÅÆÊÉÖÂ†±
df = dl.load_code_list_info(settings["data_path"], settings["files_reference"][0])
print(settings["files_reference"][0], df.shape)
display(df)

### „Éá„Éº„ÇøÂûã„ÅÆÊï¥ÂêàÊÄß„ÉÅ„Çß„ÉÉ„ÇØ

### ÂàùÊúüÂìÅË≥™„ÅÆÊ¶ÇË¶ÅÊääÊè°